<section class="main account" id="account-settings">
  <header class="secondary-header hide-on-mobile c">
    <h2 class="linefit">{{ _('Account Settings') }}</h2>
  </header>

  {% set current_page = 'settings' %}

  <form class="form-grid account-settings"{{ ' novalidate' if not user.logged_in() }}>
    <div class="simple-field c only-logged-in">
      <div class="form-label label">
        <label for="email">{{ _('Email') }}</label>
      </div>
      <div class="form-col">
        <input type="email" name="email" id="email" readonly value="{{ user.get_setting('email') }}">
      </div>
    </div>

    <div class="brform simple-field c only-logged-in">
      <div class="form-label">
        <label for="display_name">{{ _('Display Name') }}</label>
      </div>
      <div class="form-col">
        <input name="display_name" id="display_name" pattern="[^\s].*|\s+\S.+" value="{{ user.get_setting('display_name') }}" maxlength="50" type="text" required>
      </div>
    </div>

    <div class="simple-field c">
      <div class="form-label">
        <label>{{ _('Region') }}</label>
      </div>
      <div class="form-col">
        <span class="region region-{{ user_helpers.region('restofworld') }}">
          {{ REGIONS[user_helpers.region('restofworld')] }}</span>
      </div>
    </div>

    <footer>
      <p class="only-logged-in inline"><button type="submit" class="button action">{{ _('Save Changes') }}</button></p>
      {% if capabilities.fallbackFxA() %}
        <p class="only-logged-out extras">
          <a href="#" class="button persona register only-logged-out">{{ _('Register') }}</a>
        </p>
        <p class="only-logged-out extras">
          <a href="#" class="button persona only-logged-out">{{ _('Sign In') }}</a>
        </p>
      {% else %}
        <p class="only-logged-out extras">
          <a href="#" class="button persona only-logged-out">{{ _('Sign In / Sign Up') }}</a>
        </p>
      {% endif %}
      <p class="extras only-logged-in">
        <a href="#" class="button logout only-logged-in">{{ _('Sign Out') }}</a>
      </p>
      <p class="extras terms">
        <a href="{{ url('privacy')  }}" class="button support">{{ _('Privacy Policy') }}</a>
      </p>
      <p class="extras terms">
        <a href="{{ url('terms') }}" class="button support">{{ _('Terms of Use') }}</a>
      </p>
      {% if user.get_permission('reviewer') %}
        <p class="extras reviewer-tools">
          <a href="/reviewers/apps/queue/" class="button action only-logged-in" rel="external">{{ _('Reviewer Tools') }}</a>
        </p>
      {% endif %}
    </footer>
  </form>

</section>
