{% include "_macros/emaillink.html" %}
{% include "_macros/market_tile.html" %}
{% include "_macros/rating.html" %}
{% include "_macros/stars.html" %}

{% set endpoint = api('app', [slug]) %}

<div class="detail" itemscope itemtype="http://schema.org/SoftwareApplication">
<section class="main product-details listing expanded c">
  {% defer (url=endpoint, as='app', key=slug, id='app-data') %}
    {{ market_tile(this, src='detail', rating_link=True) }}
  {% placeholder %}
    <div class="product mkt-tile">
      <div class="info">
        <h3>{{ _('Loading...') }}</h3>
        <div class="price vital">{{ _('Loading...') }}</div>
        <div class="rating vital unrated">
          {{ stars(0) }}
        </div>
      </div>
    </div>
    <div class="tray previews full"></div>
  {% except %}
    <div class="detailed-error">
      <h2>{{ _('Oh no!') }}</h2>
      {% if error == 403 %}
        <p>{{ _('The app requested is not public.') }}</p>
      {% elif error == 404 %}
        <p>{{ _('The app requested was not found.') }}</p>
      {% elif error == 451 %}
        <p>{{ _('The app requested is not available for your region.') }}</p>
        <p>{{ _('You may wish to contact the developer if you would like to see a version of this app for your region.') }}</p>
      {% else %}
        <p>{{ _('A server error occurred. Please try again later.') }}</p>
      {% endif %}
    </div>
  {% end %}
</section>

<section class="main" id="installed">
  <div>
    <p class="installed">
      {{ _('Installed!') }}
    </p>
    <p class="how mac">
      {{ _('Launch this app from your <b>Applications</b> directory.') }}
    </p>
    <p class="how windows">
      {{ _('Launch this app from your <b>Windows desktop</b> or <b>Start &#9658; All Programs</b>.') }}
    </p>
    <p class="how linux">
      {{ _('Launch this app from your <b>dash</b>, <b>Application picker</b>, or <b>Applications menu</b>.') }}
    </p>
  </div>
</section>
<div id="purchased-message"></div>

{% defer (url=endpoint, as='app', key=slug) %}
  {% if this.banner_regions and this.banner_message and this.banner_regions.indexOf(user_helpers.region()) != -1 %}
    <section class="main infobox regionbanner">
      <div> {{ this.banner_message|translate(this)|safe }} </div>
    </section>
  {% endif %}
  {% if this.release_notes %}
    <section class="main blurbs prose infobox releasenotes">
      <div>
        <h3>{{ _('Updates') }}</h3>
        <div class="truncated-wrapper truncated">
          <p class="releasenotes">
            {{ this.release_notes|translate(this)|nl2br }}
          </p>
        </div>
        <a href="#" class="show-toggle" data-toggle-text="{{ _('Less&hellip;') }}">{{ _('More&hellip;') }}</a>
      </div>
    </section>
  {% endif %}
{# No placeholder, the block below already supplies one #}
{% except %}
{% end %}

{% defer (url=endpoint, as='app', key=slug) %}
<section class="main blurbs prose infobox">
  <div>
      <h3>{{ _('Description') }}</h3>
      <div class="truncated-wrapper description-wrapper truncated">
        <p class="description" itemprop="description">
          {{ this.description|translate(this)|nl2br }}
        </p>
      </div>
      <a href="#" class="show-toggle" data-toggle-text="{{ _('Less&hellip;') }}">{{ _('More&hellip;') }}</a>

      {% if this.is_packaged %}
        <h3>{{ _('Version') }}</h3>
        <div class="package-version">
          {{ _('Latest version: {version}',
               version=this.current_version) }}
        </div>
      {% endif %}
  </div>
</section>
{% placeholder %}
<section class="main blurbs prose infobox">
  <p class="spinner alt"></p>
</section>
{% except %}
{% end %}

{% defer (url=endpoint, as='app', key=slug) %}
  {% if user.has_developed(this.id) or user.get_permission('reviewer') %}
    <section class="main actions infobox">
      <div>
        <p class="split"><a href="/developers/app/{{ slug }}/edit" class="button manage" rel="external">
          {{ _('Edit Listing') }}</a></p>
        {% if user.get_permission('reviewer') %}
          <p class="split"><a href="/reviewers/apps/review/{{ slug }}" class="button good reviewer" rel="external">
            {{ _('Approve / Reject') if this.status == 2 or this.status == 13 else _('Review History') }}</a></p>
        {% endif %}
      </div>
    </section>
  {% endif %}
{% except %}
{% end %}

<section class="main reviews-wrapper c">
  {% defer (url=apiParams('reviews', {'app': slug}), id='ratings') %}
    <div class="reviews">
      <h3>{{ _('Reviews') }}</h3>
      {% set has_second_button = this.user.can_rate or not user.logged_in() or this.user.has_rated %}
      {% if this.meta.total_count %}
        <ul class="ratings-placeholder-inner">
          {% for rat in this.objects.slice(0, 2) %}
            {{ rating(rat, detailpage=true, current_version=this.info.current_version) }}
          {% endfor %}
        </ul>
        <div class="{{ 'split' if has_second_button else 'full' }}">
          <a class="button alt average-rating" href="{{ url('app/ratings', [slug]) }}">
            <span>
              {{ _plural('{n} Review', '{n} Reviews',
                         n=this.meta.total_count) }}
            </span>
            {{ stars(this.info.average, detailpage=true) }}
          </a>
        </div>
      {% else %}
        <p class="not-rated">
          {{ _('App not yet reviewed') }}
        </p>
      {% endif %}
      {% if has_second_button %}
        <div class="{{ 'split' if this.objects.length else ' full' }}">
          {% if user.logged_in() and this.user.has_rated %}
            <a class="button write-review alt" id="edit-review" href="{{ url('app/ratings/edit', [slug]) }}"
               data-app="{{ slug }}">
              {{ _('Edit Your Review') }}</a>
          {% else %}
            <a class="button write-review alt" id="add-review" href="{{ url('app/ratings/add', [slug]) }}"
               data-app="{{ slug }}">
               {{ _('Write a Review') if user.logged_in() else _('Sign in to Review') }}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% placeholder %}
    <p class="spinner alt padded"></p>
  {% except %}
  {% end %}
</section>

{% defer (url=endpoint, as='app', key=slug) %}
<section class="main infobox support c">
  <div>
    <ul class="c">
      {% if this.support_email %}
        <li class="support-email" data-tracking="Support email">
          {{ emaillink(this.support_email, _('Support Email'), class='button alt') }}
        </li>
      {% endif %}
      {% if this.support_url %}
        <li class="support-url" data-tracking="Support site">
          <a class="button alt" rel="external" {{ this.support_url|external_href }}>
            {{ _('Support Site') }}</a>
        </li>
      {% endif %}
      {% if this.homepage %}
        <li class="homepage" data-tracking="Homepage">
          <a class="button alt" rel="external" {{ this.homepage|external_href }}>{{ _('Homepage') }}</a>
        </li>
      {% endif %}
      {% if this.privacy_policy %}
        <li class="privacy-policy" data-tracking="Privacy policy">
          <a class="button alt" href="{{ url('app/privacy', [slug]) }}">
          {{ _('Privacy Policy') }}</a>
        </li>
      {% endif %}
      {% if this.public_stats or user.has_developed(this.id) %}
        <li class="statistics" data-tracking="Statistics">
          <a class="button alt view-stats" rel="external" href="/statistics/app/{{ slug }}">
          {{ _('Statistics') }}</a>
        </li>
      {% endif %}
      <li class="abuse" data-tracking="Report abuse">
        <a class="button alt" href="{{ url('app/abuse', [slug]) }}">
        {{ _('Report Abuse') }}</a>
      </li>
    </ul>
  </div>
</section>
{% if settings.payments_enabled and settings.upsell_enabled and this.upsell %}
  <section class="main upsell-wrapper c">
    <div>
      <a class="upsell" href="{{ url('app', [this.upsell.app_slug])|urlparams(src='mkt-detail-upsell') }}">
        <img class="icon" src="{{ this.upsell.icon_url }}">
        <div>
          <span class="avail">{{ _('Premium version available') }}</span>
          <span class="name">{{ this.upsell.name }}</span>
        </div>
      </a>
    </div>
  </section>
{% endif %}

{% except %}
{% end %}

{% include "detail/content_ratings.html" %}

</div>
