{% macro review_prompt(slug, isModal) %}
  <mkt-prompt {% if isModal %}data-modal="review"{% endif %}>
    <section>
      <form class="add-review-form">
        {% if isModal %}<h3>{{ _('Leave a Review') }}</h3>{% endif %}
        <p class="simple-field rating">
          <label for="review-rating">{{ _('Rate:') }}</label>
          <select id="review-rating" name="rating" required>
            {% for i in range(1, 6) %}
              <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
        </p>
        <p>
          <textarea id="review-body" rows="2" cols="40" name="body"
                    placeholder="{{ _('Tell us what you love about this app!') }}"
                    required maxlength="150"></textarea>
          <div class="char-count" data-for="review-body"></div>
          <input type="hidden" name="app" value="{{ slug }}">
        </p>
        <footer class="form-footer c only-logged-out">
          <p>{{ _('Only logged in users may edit reviews.') }}</p>
        </footer>
        <div>
          <button>{{ _('Cancel') }}</button>
          <button>{{ _('Submit Review') }}</button>
        </div>
      </form>
    </section>
  </mkt-prompt>
{% endmacro %}

<div class="main add-review">
  <header class="secondary-header">
    <h2>{{ _('Leave a Review') }}</h2>
  </header>
  {{ review_prompt(slug) }}
</div>
