{% include "_macros/market_tile.html" %}
{% include "_macros/more_button.html" %}
{% include "_macros/rating.html" %}

<section class="main c">
  <header class="secondary-header c">
    <h2>{{ _('Reviews') }}</h2>
  </header>
  <a href="{{ url('app', [slug]) }}" class="back-to-app">{{ _('Back to app') }}</a>
  {% defer (url=apiParams('reviews', {'app': slug}), pluck='objects', id='ratings', paginate='.ratings-placeholder-inner') %}
    <p id="add-review" class="primary-button">
      {% if (response.user.can_rate or not user.logged_in()) or response.user.has_rated %}
        {% if user.logged_in() and response.user.has_rated %}
          <a class="button cta write-review" id="edit-review" href="{{ url('app/ratings/edit', [slug]) }}"
             data-app="{{ slug }}">
             {{ _('Edit Review') }}</a>
        {% else %}
          <a class="button cta write-review" id="write-review" href="{{ url('app/ratings/add', [slug]) }}"
             data-app="{{ slug }}">
             {{ _('Write a Review') if user.logged_in() else _('Sign in to Review') }}</a>
        {% endif %}
      {% endif %}
    </p>
    <div class="reviews reviews-listing">
      <ul class="ratings-placeholder-inner">
        {% for rat in this %}
          {{ rating(rat, current_version=this.info.current_version) }}
        {% endfor %}

        {# Render the more button if there's another page of results #}
        {% if response.meta.next %}
          {{ more_button(response.meta.next) }}
        {% endif %}
      </ul>
    </div>
  {% empty %}
    <p class="no-results">
      {{ _('This app has no reviews.') }}
    </p>
  {% end %}
</section>
