{% include "_macros/more_button.html" %}
{% from "_macros/stars.html" import stars %}
{% from "_macros/review.html" import review %}

{% set app_endpoint = api('app', [slug]) %}

{% include "_includes/back_to_app.html" %}

<section class="main full detail app-reviews reviews-listing"
         data-slug="{{ slug }}">
  <div>
    {% defer (url=apiParams('reviews', {'app': slug}), pluck='objects',
              id='ratings', paginate='.reviews-wrapper') %}
      <div class="detail-flex-wrap">
        <div class="detail-left-side">
          <h3>{{ _('Reviews') }}</h3>
          {% include "_includes/reviews_summary.html" %}

          <ul class="reviews-wrapper">
            {% for _review in this %}
              {{ review(_review, slug=slug,
                        current_version=response.info.current_version) }}
            {% endfor %}

            {% if response.meta.next %}
              {{ more_button(response.meta.next) }}
            {% endif %}
          </ul>
        </div>

        <div class="detail-right-side">
          {% set is_review_listing = true %}
          {% include "_includes/reviews_sidebar.html" %}
        </div>
      </div>
    {% placeholder %}
      <p class="spinner alt padded"></p>
    {% empty %}
      <p class="no-results">
        {{ _('This app has no reviews.') }}
      </p>
    {% end %}
  </div>
</section>

{% include "_includes/back_to_app.html" %}
