*.egg-info
*.elc
*.less.css
*.po.js
*.pyc
*.styl.css
*.sw*
*~
.#*
.DS_Store
.buildout
.emacs.d/.autosaves
.emacs.d/.emacs-places
.emacs.d/history
.emacs.d/site/nxhtml
.emacs.d/tramp
.emacs.desktop
.ipython
.virtualenvs
.zsh/cache
TAGS
build
dist
Marketplace_*
node_modules
npm-debug.log
package/archives/*
settings_local.js
smokealarm/captures/
tags
yulelog_*
.node-version
settings_local.py
TMP

hearth/locales/*
hearth/media/build_id.txt
hearth/media/locales/*
hearth/media/css/include.css
hearth/media/css/splash.css
hearth/media/imgurls.txt
hearth/media/include.css
hearth/media/include.js
hearth/media/js/include.js
hearth/templates.js
