*.egg-info
*.elc
*.less.css
*.po.js
*.pyc
*.styl.css
*.swp
*~
.#*
.DS_Store
.buildout
.emacs.d/.autosaves
.emacs.d/.emacs-places
.emacs.d/history
.emacs.d/site/nxhtml
.emacs.d/tramp
.emacs.desktop
.ipython
.virtualenvs
.zsh/cache
TAGS
build
dist
hearth/locales/*.js
hearth/media/css/include.css
hearth/media/include.css
hearth/media/include.js
hearth/media/js/include.js
hearth/templates.js
node_modules
npm-debug.log
settings_local.js
smokealarm/captures/
tags
yulelog_*
.node-version
settings_local.py
