{% include "_macros/market_tile.html" %}
{% include "_macros/more_button.html" %}

<section class="main account purchases c" id="account-settings">
  {% set current_page = 'purchases' %}

  {% if user.logged_in() %}
    {% defer (url=api('installed'), pluck='objects', as='app', paginate='ol.listing') %}
      <header class="secondary-header hide-on-mobile c">
        <h2>
          {{ _('My Apps') }}
          <span class="subtitle">{{ _('Showing <b>1</b>&ndash;<b class="total-results">{total}</b>', total=len(this)) }}</span>
        </h2>
        <a href="#" class="expand-toggle" title="{{ _('Expand') }}"></a>
      </header>
      <ol class="container listing only-logged-in c">
        {% for result in this %}
          <li class="item result app c">
            {{ market_tile(result, link=true) }}
          </li>
        {% endfor %}

        {% if response.meta.next %}
          {{ more_button(response.meta.next) }}
        {% endif %}
      </ol>
    {% placeholder %}
      <p class="spinner alt spaced"></p>
    {% empty %}
      <header class="secondary-header hide-on-mobile c">
        <h2>{{ _('My Apps') }}</h2>
      </header>
      <p class="no-results only-logged-in">
        {{ _('You have no apps') }}
      </p>
    {% except %}
      <div class="detailed-error">
        <h2>{{ _('Oh no!') }}</h2>
        <p>{{ _('An internal server error occurred. Please try again later.') }}</p>
      </div>
    {% end %}
  {% else %}
    <header class="secondary-header hide-on-mobile c">
      <h2>{{ _('My Apps') }}</h2>
    </header>
  {% endif %}
  <footer class="only-logged-out">
    <article class="extras">
      <p class="notice">{{ _('You must be signed in to view your apps.') }}</p>
      <a class="button full persona" href="#">{{ _('Sign in / Sign up') }}</a>
    </article>
  </footer>
</section>
