{% defer (url=apiParams('reviews', app=slug, user='mine')) %}
  {% set this = this.objects[0] %}
  <form class="friendly main c edit-review-form" data-uri="{{ this.resource_uri }}" data-slug="{{ slug }}">
    <p class="brform simple-field rating c">
      <label for="id_rating">{{ _('Rate:') }}</label>
      <select name="rating" id="id_rating" required>
        {% for i in range(1, 6) %}
          <option value="{{ i }}"{{ ' selected' if i == this.rating }}>{{ i }}</option>
        {% endfor %}
      </select>
    </p>
    <p class="brform simple-field c">
      <textarea id="id_body" rows="2" cols="40" name="body" required>{{ this.body }}</textarea>
    </p>
    <footer class="form-footer c only-logged-in">
      <button type="submit">{{ _('Save Changes') }}</button>
      <div class="char-count" data-maxlength="150" data-for="id_body"></div>
    </footer>
    <footer class="form-footer c only-logged-out">
      <p>{{ _('Only logged in users may edit reviews.') }}</p>
    </footer>
  </form>
{% placeholder %}
  <p class="spinner alt"></p>
{% end %}
