{% include "_macros/market_tile.html" %}
{% include "_macros/more_button.html" %}
{% include "_macros/rating.html" %}

<section class="main c" id="reviews">
  {% defer (url=api('ratings', [slug]), pluck='ratings', id='ratings', paginate='#review-list') %}

    <a class="button only-logged-in" id="write-review" href="{{ writeUrl }}">{{ _('Write a Review') }}</a>

    <ul id="review-list" cla>
      {% for rat in this %}
        {{ rating(rat) }}
      {% endfor %}

      {# Render the more button if there's another page of results #}
      {% if response.meta.next %}
        {{ more_button(response.meta.next) }}
      {% endif %}
    </ul>
  {% empty %}
    <p class="no-results">
      {{ _('No results found') }}
    </p>
  {% end %}
  </ul>
</section>
