<div class="overlay" id="flag-review">
  <section>
    <h3>{{ _('Please select a reason:') }}</h3>
    <ul class="menu alt">
      <li>
        <a class="button alt" href="#review_flag_reason_spam">
          {{ _('Spam or otherwise non-review content') }}
        </a>
      </li>
      <li>
        <a class="button alt" href="#review_flag_reason_language">
          {{ _('Inappropriate language/dialog') }}
        </a>
      </li>
      <li>
        <a class="button alt" href="#review_flag_reason_bug_support">
          {{ _('Misplaced bug report or support request') }}
        </a>
      </li>
    </ul>
    <footer>
      <button class="button cancel fat">{{ _('Cancel') }}</button>
    </footer>
  </section>
</div>
