<div class="main compose-review modal">
  <header class="secondary-header">
    <h2>{{ _('Write a Review') }}</h2>
    <a href="#" class="close btn-cancel">{{ _('Cancel') }}</a>
  </header>
  <form class="add-review-form form-modal" data-app="{{ slug }}">
    <p class="brform simple-field rating c">
      <label for="id_rating">{{ _('Rate:') }}</label>
      <select name="rating" id="id_rating" required>
        {% for i in range(1, 6) %}
          <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
    </p>
    <p class="brform simple-field c">
      <textarea id="id_body" rows="2" cols="40" name="body" required maxlength="150"></textarea>
      <div class="char-count" data-for="id_body"></div>
    </p>
    <footer class="form-footer buttons c only-logged-in">
      <div class="two-up"><a href="#" class="alt cancel button">{{ _('Cancel') }}</a></div>
      <div class="two-up"><button type="submit">{{ _('Submit') }}</button></div>
    </footer>
    <footer class="form-footer c only-logged-out">
      <p>{{ _('Only logged in users may edit reviews.') }}</p>
    </footer>
  </form>
</div>
