{% include '_macros/feed_item.html' %}
{% include '_macros/market_tile.html' %}
{% include '_macros/more_button.html' %}

{% set search_url = api('search')|urlparams(sort=sort) if sort else api('search') %}

<section class="feed c">
  <section class="feed-layout-list multi-app-tile mkt-tile c">
    <img src="" alt="" class="brand icon" style="border: 1px solid #ddd;">
    <div class="info">
      <h1 class="feed-tile-header">{{ title }}</h1>
    </div>

    {% defer (url=search_url, pluck='objects', as='app', paginate='ol.listing') %}
      <ul class="app-list grid-if-desktop c">
        {% for app in this %}
          {{ mini_tile(app) }}
        {% endfor %}

        {# Render the more button if there's another page of results #}
        {% if response.meta.next %}
          {{ more_button(response.meta.next) }}
        {% endif %}
      </ol>
    {% placeholder %}
      <p class="spinner padded alt"></p>
    {% empty %}
      <p class="no-results">
        {{ _('No apps found') }}
      </p>
    {% except %}
      <p class="no-results">
        {% if error == 400 or error == 404 %}
          {{ _('No apps found.') }}
        {% elif error == 500 %}
          {{ _('An internal server error occurred. Please try again later.') }}
        {% endif %}
      </p>
    {% end %}
  </section>
</section>
