<div class="full-screen-overlay above cat-menu-overlay">
  <ul class="app-categories">
    <li class="cat-menu-all">
      <a href="{{ url('popular_apps') }}">{{ _('Categories') }}</a>
    </li>
    {% for cat in categories %}
      <li>
        <a href="{{ url('category', [cat.slug]) }}">{{ cat.name }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul class="site-categories">
    <li class="cat-menu-all">
      <a href="{{ url('popular_websites') }}">{{ _('Categories') }}</a>
    </li>
    {% for cat in categories %}
      <li>
        <a href="{{ url('category_websites', [cat.slug]) }}">{{ cat.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
