<div class="compat-filter">
  <form>
    <div class="pretty-select-wrapper">
      <label for="compatibility_filtering">{{ _('Show') }}</label>
      <input type="hidden" id="compatibility_filtering_endpoint_name" value="{{ endpoint_name }}">
      <div class="compat-select-wrapper pretty-select">
        <select autocomplete="off" name="compatibility_filtering"
                id="compatibility_filtering">
          <optgroup>

          <option value="all"{% if compatibility_filtering.is_preference_selected(endpoint_name, 'all') %} selected{% endif %}>{{ _('All apps') }}</option>

          {% if capabilities.firefoxOS or capabilities.firefoxAndroid %}
            <option value="{{ compatibility_filtering.device_filter_name }}"{% if compatibility_filtering.is_preference_selected(endpoint_name, compatibility_filtering.device_filter_name) %} selected{% endif %}>{{ _('Apps for My Device') }}</option>
          {% else %}

            <option value="desktop"{% if compatibility_filtering.is_preference_selected(endpoint_name, 'desktop') %} selected{% endif %}>{{ _('Desktop Apps') }}</option>

            <option value="firefoxos"{% if compatibility_filtering.is_preference_selected(endpoint_name, 'firefoxos') %} selected{% endif %}>{{ _('Firefox OS Apps') }}</option>

            <option value="android-mobile"{% if compatibility_filtering.is_preference_selected(endpoint_name, 'android-mobile') %} selected{% endif %}>{{ _('Android Mobile Apps') }}</option>

            <option value="android-tablet"{% if compatibility_filtering.is_preference_selected(endpoint_name, 'android-tablet') %} selected{% endif %}>{{ _('Android Tablet Apps') }}</option>
          {% endif %}

          </optgroup>
        </select>
      </div>
    </div>
  </form>
</div>
