<section class="main">
  <div class="subheader">
    <h1>
      {{ _('Credits') }}
    </h1>
  </div>
</section>

<section class="standalone main full">
  <div>
    <ul>
      <li><a href="https://github.com/21echoes">21echoes</a> (David Kettler)</li>
      <li><a href="https://github.com/alexmiog">alexmiog</a> (alco)</li>
      <li><a href="https://github.com/almossawi">almossawi</a> (Ali Almossawi)</li>
      <li><a href="https://github.com/ametaireau">ametaireau</a> (Alexis Metaireau)</li>
      <li><a href="https://github.com/andymckay">andymckay</a> (Andy McKay)</li>
      <li><a href="https://github.com/arbi316">arbi316</a> (Seong-wook Gong)</li>
      <li><a href="https://github.com/arjun024">arjun024</a> (Arjun Sreedharan)</li>
      <li><a href="https://github.com/atsay">atsay</li>
      <li><a href="https://github.com/AutomatedTester">AutomatedTester</a> (David Burns)</li>
      <li><a href="https://github.com/auzelac91">auzelac91</a> (Aleksandra Uzelac)</li>
      <li><a href="https://github.com/bebef1987">bebef1987</a> (Florin Strugariu)</li>
      <li><a href="https://github.com/benoit-l">benoit-l</li>
      <li><a href="https://github.com/billrest">billrest</li>
      <li><a href="https://github.com/brandonsavage">brandonsavage</li>
      <li><a href="https://github.com/bsmedberg">bsmedberg</a> (Benjamin Smedberg)</li>
      <li><a href="https://github.com/Callek">Callek</a> (Justin Wood (Callek))</li>
      <li><a href="https://github.com/canuckistani">canuckistani</a> (Jeff Griffiths)</li>
      <li><a href="https://github.com/chenba">chenba</li>
      <li><a href="https://github.com/Chengings">Chengings</li>
      <li><a href="https://github.com/chenzihui">chenzihui</a> (Chen Zihui)</li>
      <li><a href="https://github.com/chilyashev">chilyashev</a> (Mihail Chilyashev)</li>
      <li><a href="https://github.com/chowse">chowse</a> (Chris Howse)</li>
      <li><a href="https://github.com/chuckharmston">chuckharmston</a> (Chuck Harmston)</li>
      <li><a href="https://github.com/clouserw">clouserw</a> (Wil Clouser)</li>
      <li><a href="https://github.com/colons">colons</a> (Iain Dawson)</li>
      <li><a href="https://github.com/CorneliuRusu">CorneliuRusu</li>
      <li><a href="https://github.com/craigcook">craigcook</a> (Craig Cook)</li>
      <li><a href="https://github.com/crankycoder">crankycoder</a> (Victor Ng)</li>
      <li><a href="https://github.com/cvan">cvan</a> (Christopher Van)</li>
      <li><a href="https://github.com/darktrojan">darktrojan</a> (Geoff Lankow)</li>
      <li><a href="https://github.com/darkwing">darkwing</a> (David Walsh)</li>
      <li><a href="https://github.com/dash1291">dash1291</a> (Ashish Dubey)</li>
      <li><a href="https://github.com/davedash">davedash</a> (Dave Dash)</li>
      <li><a href="https://github.com/davidbgk">davidbgk</a> (David Larlet)</li>
      <li><a href="https://github.com/dchan">dchan</a> (David Chan)</li>
      <li><a href="https://github.com/dethe">dethe</a> (Dethe Elza)</li>
      <li><a href="https://github.com/diox">diox</a> (Mathieu Pillard)</li>
      <li><a href="https://github.com/DronRathore">DronRathore</a> (Dron Rathore)</li>
      <li><a href="https://github.com/ednapiranha">ednapiranha</a> (Jen Fong-Adwent)</li>
      <li><a href="https://github.com/ehsan">ehsan</a> (Ehsan Akhgari)</li>
      <li><a href="https://github.com/erikrose">erikrose</a> (Erik Rose)</li>
      <li><a href="https://github.com/eviljeff">eviljeff</li>
      <li><a href="https://github.com/ferjm">ferjm</a> (Fernando Jiménez Moreno)</li>
      <li><a href="https://github.com/fligtar">fligtar</a> (Justin Scott)</li>
      <li><a href="https://github.com/flodolo">flodolo</a> (Francesco Lodolo)</li>
      <li><a href="https://github.com/fmarier">fmarier</a> (Francois Marier)</li>
      <li><a href="https://github.com/fox2mike">fox2mike</a> (Shyam Mani)</li>
      <li><a href="https://github.com/fwenzel">fwenzel</a> (Fred Wenzel)</li>
      <li><a href="https://github.com/gialloporpora">gialloporpora</a> (gialloporpora)</li>
      <li><a href="https://github.com/gkoberger">gkoberger</a> (Gregory Koberger)</li>
      <li><a href="https://github.com/glogiotatidis">glogiotatidis</a> (Giorgos Logiotatidis)</li>
      <li><a href="https://github.com/gocemitevski">gocemitevski</a> (Goce Mitevski)</li>
      <li><a href="https://github.com/gonzalodelgado">gonzalodelgado</a> (Gonzalo)</li>
      <li><a href="https://github.com/gregglind">gregglind</a> (Gregg Lind)</li>
      <li><a href="https://github.com/hannosch">hannosch</a> (Hanno Schlichting)</li>
      <li><a href="https://github.com/hardikj">hardikj</a> (Hardik Juneja)</li>
      <li><a href="https://github.com/hiikezoe">hiikezoe</li>
      <li><a href="https://github.com/holywen">holywen</li>
      <li><a href="https://github.com/hseagle2015">hseagle2015</a> (Sasa Tekovic)</li>
      <li><a href="https://github.com/hyeonseok">hyeonseok</a> (Hyeonseok Shin)</li>
      <li><a href="https://github.com/ianb">ianb</a> (Ian Bicking)</li>
      <li><a href="https://github.com/inma610">inma610</a> (Inma Barrios)</li>
      <li><a href="https://github.com/ioskar">ioskar</li>
      <li><a href="https://github.com/jaredkerim">jaredkerim</a> (Jared Kerim)</li>
      <li><a href="https://github.com/JasnaPaka">JasnaPaka</li>
      <li><a href="https://github.com/jasonthomas">jasonthomas</a> (Jason Thomas)</li>
      <li><a href="https://github.com/jbalogh">jbalogh</a> (Jeff Balogh)</li>
      <li><a href="https://github.com/jespersh">jespersh</a> (Jesper Hansen)</li>
      <li><a href="https://github.com/jlongster">jlongster</a> (James Long)</li>
      <li><a href="https://github.com/Joergen">Joergen</li>
      <li><a href="https://github.com/jrconlin">jrconlin</a> (JR Conlin)</li>
      <li><a href="https://github.com/julen">julen</a> (Julen Ruiz Aizpuru)</li>
      <li><a href="https://github.com/jvillalobos">jvillalobos</a> (Jorge Villalobos)</li>
      <li><a href="https://github.com/kelemeng">kelemeng</li>
      <li><a href="https://github.com/kkemenczy">kkemenczy</li>
      <li><a href="https://github.com/kmaglione">kmaglione</li>
      <li><a href="https://github.com/koehlermichael">koehlermichael</li>
      <li><a href="https://github.com/kscanne">kscanne</a> (Kevin Scannell)</li>
      <li><a href="https://github.com/kumar303">kumar303</a> (Kumar McMillan)</li>
      <li><a href="https://github.com/KWierso">KWierso</li>
      <li><a href="https://github.com/kyoshino">kyoshino</a> (Kohei Yoshino)</li>
      <li><a href="https://github.com/l-hedgehog">l-hedgehog</a> (Hector Zhao)</li>
      <li><a href="https://github.com/landas">landas</a> (Lars Andre Landås)</li>
      <li><a href="https://github.com/linostar">linostar</li>
      <li><a href="https://github.com/lissyx">lissyx</li>
      <li><a href="https://github.com/lmorchard">lmorchard</a> (Les Orchard)</li>
      <li><a href="https://github.com/lonnen">lonnen</a> (Chris Lonnen)</li>
      <li><a href="https://github.com/louisliutw">louisliutw</a> (Louis Liu)</li>
      <li><a href="https://github.com/magopian">magopian</a> (Mathieu Agopian)</li>
      <li><a href="https://github.com/marco-c">marco-c</a> (Marco)</li>
      <li><a href="https://github.com/Mardak">Mardak</a> (Edward Lee)</li>
      <li><a href="https://github.com/markgif">markgif</li>
      <li><a href="https://github.com/markh-bz">markh-bz</li>
      <li><a href="https://github.com/Marlena">Marlena</a> (Marlena Compton)</li>
      <li><a href="https://github.com/marsf">marsf</li>
      <li><a href="https://github.com/mathjazz">mathjazz</a> (Matjaž Horvat)</li>
      <li><a href="https://github.com/mattbasta">mattbasta</a> (Matt Basta)</li>
      <li><a href="https://github.com/maxcoder">maxcoder</a> (Selim Şumlu)</li>
      <li><a href="https://github.com/mccammos">mccammos</a> (Scott McCammon)</li>
      <li><a href="https://github.com/mikaland2">mikaland2</li>
      <li><a href="https://github.com/MikeLing">MikeLing</a> (Tiramisu 1993)</li>
      <li><a href="https://github.com/milossh">milossh</a> (Milos)</li>
      <li><a href="https://github.com/mnoorenberghe">mnoorenberghe</a> (Matt N.)</li>
      <li><a href="https://github.com/moz-verbatim">moz-verbatim</a> (Mozilla Verbatim)</li>
      <li><a href="https://github.com/mstriemer">mstriemer</a> (Mark Striemer)</li>
      <li><a href="https://github.com/muffinresearch">muffinresearch</a> (Stuart Colville)</li>
      <li><a href="https://github.com/mythmon">mythmon</a> (Mike Cooper)</li>
      <li><a href="https://github.com/nearlyfreeapps">nearlyfreeapps</a> (Andrew Halligan)</li>
      <li><a href="https://github.com/ngokevin">ngokevin</a> (Kevin Ngo)</li>
      <li><a href="https://github.com/nickdesaulniers">nickdesaulniers</a> (Nick Desaulniers)</li>
      <li><a href="https://github.com/nmaier">nmaier</a> (Nils Maier)</li>
      <li><a href="https://github.com/oremj">oremj</a> (Jeremy Orem)</li>
      <li><a href="https://github.com/Osmose">Osmose</a> (Michael Kelly)</li>
      <li><a href="https://github.com/ossreleasefeed">ossreleasefeed</a> (Schalk Neethling)</li>
      <li><a href="https://github.com/ozten">ozten</a> (Austin King)</li>
      <li><a href="https://github.com/peiying2">peiying2</li>
      <li><a href="https://github.com/pennyfx">pennyfx</a> (Arron Schaar)</li>
      <li><a href="https://github.com/peterbe">peterbe</a> (Peter Bengtsson)</li>
      <li><a href="https://github.com/petercpg">petercpg</a> (Peter Chen)</li>
      <li><a href="https://github.com/potch">potch</a> (Potch)</li>
      <li><a href="https://github.com/ppapadeas">ppapadeas</a> (Pierros Papadeas)</li>
      <li><a href="https://github.com/rctgamer3">rctgamer3</a> (rctgamer3)</li>
      <li><a href="https://github.com/rfreebern">rfreebern</a> (Ryan Freebern)</li>
      <li><a href="https://github.com/rhelmer">rhelmer</a> (Robert Helmer)</li>
      <li><a href="https://github.com/rlr">rlr</a> (ricky rosario)</li>
      <li><a href="https://github.com/robhudson">robhudson</a> (Rob Hudson)</li>
      <li><a href="https://github.com/rodin">rodin</a> (Romi Hardiyanto)</li>
      <li><a href="https://github.com/rtilder">rtilder</a> (Ryan Tilder)</li>
      <li><a href="https://github.com/samkeen-blog">samkeen-blog</li>
      <li><a href="https://github.com/Sancus">Sancus</a> (Andrei Hajdukewycz)</li>
      <li><a href="https://github.com/satdav">satdav</a> (davd Weir)</li>
      <li><a href="https://github.com/sgarrity">sgarrity</a> (Steven Garrity)</li>
      <li><a href="https://github.com/smozen">smozen</a> (Vito Smolej)</li>
      <li><a href="https://github.com/sole">sole</a> (sole)</li>
      <li><a href="https://github.com/spasovski">spasovski</a> (Davor Spasovski)</li>
      <li><a href="https://github.com/stasm">stasm</a> (Staś Małolepszy)</li>
      <li><a href="https://github.com/steekid">steekid</a> (Hao Shen)</li>
      <li><a href="https://github.com/tarekziade">tarekziade</a> (Tarek Ziade)</li>
      <li><a href="https://github.com/thedjpetersen">thedjpetersen</a> (David Petersen)</li>
      <li><a href="https://github.com/TheoChevalier">TheoChevalier</a> (Théo Chevalier)</li>
      <li><a href="https://github.com/timdream">timdream</a> (Timothy Guan-tin Chien)</li>
      <li><a href="https://github.com/tofumatt">tofumatt</a> (Matthew Riley MacPherson)</li>
      <li><a href="https://github.com/toniher">toniher</a> (Toni Hermoso Pulido)</li>
      <li><a href="https://github.com/tymofij">tymofij</a> (Tim Babych)</li>
      <li><a href="https://github.com/ujdhesa">ujdhesa</a> (Besnik)</li>
      <li><a href="https://github.com/vaidik">vaidik</a> (Vaidik Kapoor)</li>
      <li><a href="https://github.com/vinyll">vinyll</a> (Vincent Agnano)</li>
      <li><a href="https://github.com/wagnerand">wagnerand</li>
      <li><a href="https://github.com/washort">washort</li>
      <li><a href="https://github.com/wesj">wesj</a> (wes johnston)</li>
      <li><a href="https://github.com/willkg">willkg</a> (Will Kahn-Greene)</li>
      <li><a href="https://github.com/Witia1">Witia1</li>
      <li><a href="https://github.com/wladow">wladow</li>
      <li><a href="https://github.com/wraithan">wraithan</a> (Chris McDonald)</li>
      <li><a href="https://github.com/yfdyh000">yfdyh000</a> (YF)</li>
      <li><a href="https://github.com/zuzelvp">zuzelvp</a> (Zuzel Vera)</li>
    </ul>
  </div>
</section>
