<section class="main">
  <div class="subheader">
    <h1>Feature Profile Information</h1>
  </div>
</section>

{% defer (url=endpoint) %}
  <section class="debug-features main full">
    {% set features = this %}
    <div>
      <h3>
        Profile string:
        <strong>{{ profile }}</strong>
      </h3>
      <dl>
        {% for slug, feature in features %}
          {# Avoid showing private attributes. #}
          {% if slug.substr(0, 2) != '__' %}
            {% set klass = "present" if feature.present else "absent" %}
            <dt class="{{ klass }}">
              {{ feature.position }} - {{ feature.name }} ({{ slug }})
            </dd>
            <dd>{{ feature.description }}</dd>
            {% if feature.apis != "" %}
              <dd>APIs: {{ feature.apis }}</dd>
            {% endif %}
          {% endif %}
        {% endfor %}
      </dl>
    </div>
  </section>
{% end %}
