<div class="desktop-promo">
  <div class="desktop-promo-nav-left arrow-button-left">{{ _('Previous') }}</div>
  <div class="desktop-promo-items" data-action="start">
    <div class="desktop-promo-item">
      <img src="{{ media('img/promo/drive.png') }}">
      <div class="desktop-promo-item-text">
        {{ _('Games & Entertainment Apps -- Desktop Essentials') }}
      </div>
    </div>
    <div class="desktop-promo-item">
      <img src="{{ media('img/promo/dropbox.png') }}">
      <div class="desktop-promo-item-text">
        {{ _('Productivity Apps -- Desktop Essentials') }}
      </div>
    </div>
    <div class="desktop-promo-item">
      <img src="{{ media('img/promo/box.png') }}">
      <div class="desktop-promo-item-text">
        {{ _('Store and share any type of file with Box.') }}
      </div>
    </div>
    <div class="desktop-promo-item">
      <img src="{{ media('img/promo/onedrive.png') }}">
      <div class="desktop-promo-item-text">
        {{ _('Discover, share, and enjoy music with SoundCloud.') }}
      </div>
    </div>
    <div class="desktop-promo-item">
      <img src="{{ media('img/promo/evernote.png') }}">
      <div class="desktop-promo-item-text">
        {{ _('Play Hex Race -- a thrill ride from the future!') }}
      </div>
    </div>
  </div>
  <div class="desktop-promo-nav-right arrow-button-right">{{ _('Next') }}</div>
</div>
