{% from "_macros/forms.html" import potato_captcha %}

{% macro feedback_prompt(isModal) %}
  <mkt-prompt {% if isModal %}data-modal="feedback"{% endif %}>
    <form class="feedback-form">
      <h3>{{ _('We want to hear from you!') }}</h3>
      <p>{{ _('Give us your feedback. Let us know whether we are awesome or buggy.') }}</p>
      <textarea name="feedback" placeholder="{{ _('Let us know...') }}"
                required></textarea>
      {{ potato_captcha() }}
      <div>
        <button>{{ _('Cancel') }}</button>
        <button>{{ _('Submit Feedback') }}</button>
      </div>
    </form>
  </mkt-prompt>
{% endmacro %}

<div class="main feedback mobile-margined">
  <div>
    {{ feedback_prompt() }}
    <ul class="support-list">
      <li>
        {% if capabilities.firefoxOS %}
          <a href="https://support.mozilla.org/products/firefox-os/marketplace"
             class="button" target="_blank">{{ _('Get Help') }}</a>
        {% elif capabilities.firefoxAndroid %}
          <a href="https://support.mozilla.org/kb/install-android-apps-using-marketplace"
             class="button" target="_blank">{{ _('Get Help') }}</a>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
