{% include "categories.html" %}

<header id="global-header" class="global-header">
  <h1 class="site">
    <a href="{{ url('homepage') }}" class="mkt-wordmark"><span>Firefox Marketplace</span></a>
    <a href="{{ url('homepage') }}" class="mkt-site-name">Marketplace</a>
  </h1>
  <a class="header-back-btn"><b></b><b></b><b></b></a>
  <a class="header-categories-btn">
    <span class="cat-trigger-apps" data-default="{{ _('Categories') }}">
      {{ _('Categories') }}
    </span>
    <span class="cat-trigger"></span>
  </a>
  <h2 class="mkt-header--title"></h2>
  <form id="search" class="header--search-form" action="{{ url('search') }}"
        novalidate>
    <div class="header--search-content">
      <label for="search-q" class="search-empty">
        {{ _('Search Marketplace&hellip;')|safe }}
      </label>
      <a class="mkt-search-btn">{{ _('Search') }}</a>
      <input id="search-q" class="query-input header--search-input"
             type="search" name="q" title="" x-inputmode="verbatim"
             autocapitalize="off" autocomplete="off" autocorrect="off"
             required value="">
      <a class="mkt-search-clear-btn"></a>
    </div>
  </form>
</header>
<div class="desktop-search">
  <form id="desktop-search" class="desktop--search-form" action="{{ url('search') }}"
        novalidate>
    <label for="search-q-desktop" class="search-empty">
      {{ _('Search Marketplace&hellip;')|safe }}
    </label>
    <input id="search-q-desktop" class="query-input header--search-input"
           type="search" name="q" title="" x-inputmode="verbatim"
           autocapitalize="off" autocomplete="off" autocorrect="off"
           required value="">
  </form>
</div>
<div class="settings-menu-desktop">
  <ul>
    <li><a href="{{ url('settings') }}">{{ _('Settings') }}</a></li>
    <li><a href="{{ url('purchases') }}">{{ _('My Apps') }}</a></li>
    <li><a class="submit-feedback">{{ _('Feedback') }}</a></li>
    <li><a class="logout">{{ _('Sign Out') }}</a></li>
  </ul>
</div>
