{% include '_macros/feed_item.html' %}
{% include '_macros/feed_websites.html' %}
{% include '_macros/more_button.html' %}

{% defer (url=anonApi('feed')|urlparams(limit=10), id='feed-items') %}
  <div class="feed feed-items feed-home c" data-columns>
    {% if settings.meowEnabled and settings.homepageWebsitesEnabled %}
      {# If there are at least 3 featured sites, let's show the tabbed control. #}
      {% if this.websites.length >= 3 %}
        {{ website_tabs(this.websites|sliceArray(0, 3)) }}
      {% endif %}
      {# If there are at least 3 more featured sites, let's show the carousel control. #}
      {% if this.websites.length >= 6 %}
        {{ website_carousel(this.websites|sliceArray(3, 12)) }}
      {% endif %}
    {% endif %}
    {% for item in this.objects %}
      <div class="feed-item-item">{{ feed_item(item) }}</div>
    {% endfor %}
  </div>
  {% if response.meta.next %}
    {{ more_button(response.meta.next, ['feed-item-item']) }}
  {% endif %}
{% placeholder %}
  <p class="spinner padded alt"></p>
{% except %}
  <p class="no-results">
    {% if error == 400 or error == 404 %}
      {{ _('The feed is currently empty. Come back later!') }}
    {% elif error == 500 %}
      {{ _('An internal server error occurred. Please try again later.') }}
    {% endif %}
  </p>
{% end %}
