{% macro nav_item(href, title, slug, toggle) %}
  <li class="mkt-nav--item">
    <a class="mkt-nav--link mkt-nav--link-{{ slug }}" href="{{ href }}"
       title="{{ title }}" data-mkt-nav--link="{{ slug }}"
       {% if toggle %}data-toggle-subnav="{{ toggle }}"{% endif %}>
      {{ title }}
    </a>
  </li>
{% endmacro %}

<mkt-nav role="navigation" id="nav">
  <mkt-nav-root>
    {{ nav_item(url('homepage'), _('Home'), 'homepage') }}
    {{ nav_item(url('popular'), _('Popular'), 'popular') }}
    {{ nav_item(url('new'), _('New'), 'new') }}
    {{ nav_item(url('recommended'), _('Recommended'), 'recommended') }}
    {{ nav_item('#', _('Categories'), 'categories', 'categories') }}
  </mkt-nav-root>

  <mkt-nav-child id="categories" class="category-list">
    {% for category in categories %}
      {{ nav_item(url('category', [category.slug]), category.name,
                  category.slug) }}
    {% endfor %}
  </mkt-nav-child>

  <button class="mkt-nav--back" data-toggle-subnav></button>
</mkt-nav>
