{% include "_macros/act_tray.html" %}

{% macro navtab(code, name, url) %}
<li class="tab-item {{ code }}{{ ' initial-active' if path == url }}" data-tab="{{ code }}">
  <a class="tab-link" href="{{ url }}">{{ name }}</a>
</li>
{% endmacro %}

{# Actions drop-down (desktop) or settings toggle (mobile). #}
{{ act_tray(true, is_settings) }}

{# Navigation tabs (Home, New, Popular, Categories). #}
{# Uses body[data-page-type] to set active styles on the navigation tabs. #}
<div class="navbar-container">
  <ul class="navbar nav-mkt{{ ' active' if not is_settings }}">
    {# Tab name must match route name. #}
    {{ navtab('homepage', _('Home'), url('homepage')) }}
    {{ navtab('new', _('New'), url('new')) }}
    {{ navtab('popular', _('Popular'), url('popular')) }}
    {{ navtab('recommended', _('Recommended'), url('recommended')) }}
    <li class="tab-item tab-categories{{ ' initial-active' if path == url('categories') }}"
        data-tab="categories">
      <a class="tab-link mobile-cat-link" href="{{ url('categories') }}">{{ _('Categories') }}</a>
      <a class="tab-link desktop-cat-link">{{ _('Categories') }}</a>
      <div class="hovercats appear-on-hover"></div>
    </li>
  </ul>

  {# Settings tabs (My Account, My Apps, Help, Feedback). #}
  <ul class="navbar nav-settings{{ ' active' if is_settings }}">
    {# Tab name must match route name. #}
    {{ navtab('settings', _('My Account'), url('settings')) }}
    {{ navtab('purchases', _('My Apps'), url('purchases')) }}
    {{ navtab('feedback', _('Feedback'), url('feedback')) }}
  </ul>
</div>

<div class="mkt-tray{{ ' active' if is_settings }}">
  <a class="header-button icon back-to-marketplace" href="#"
     title="{{ _('Back to Marketplace') }}"></a>
</div>
