{% macro nav_item(href, title, slug, toggle) %}
  <li class="mkt-nav--item" data-mkt-nav--item="{{ slug }}">
    {% if toggle %}<mkt-nav-child-toggle for="{{ toggle }}">{% endif %}
    <a class="mkt-nav--link" href="{{ href }}" title="{{ title }}">
      {{ title }}
    </a>
    {% if toggle %}</mkt-nav-child-toggle>{% endif %}
  </li>
{% endmacro %}

{% macro nav_item_settings(href, title, slug, item_classes, link_classes) %}
  <li class="mkt-nav--item mkt-nav--item--settings {{ item_classes or '' }}"
      data-mkt-nav--item="{{ slug }}">
    <a class="mkt-nav--link {{ link_classes or ''}}" href="{{ href }}"
       title="{{ title }}">
      {{ title }}
    </a>
  </li>
{% endmacro %}

<mkt-nav role="navigation" id="nav">
  <mkt-nav-root>
    {{ nav_item(url('homepage'), _('Home'), 'homepage') }}
    {{ nav_item(url('popular'), _('Popular'), 'popular') }}
    {{ nav_item(url('new'), _('New'), 'new') }}
    {{ nav_item(url('recommended'), _('Recommended'), 'recommended') }}
    {{ nav_item('#', _('Categories'), 'categories', 'categories') }}

    <li class="mkt-nav-root--divider"></li>

    {{ nav_item_settings(url('feedback'), _('Feedback'), 'feedback') }}
    {{ nav_item_settings('#', _('Register'), 'register',
                         'nav--settings--logged-out', 'persona register') }}
    {{ nav_item_settings('#', _('Sign In'), 'login',
                         'nav--settings--logged-out', 'persona') }}
    {{ nav_item_settings(url('settings'), _('Settings'), 'settings',
                         'nav--settings--logged-in') }}
    {{ nav_item_settings(url('purchases'), _('My Apps'), 'purchases',
                         'nav--settings--logged-in') }}
    {{ nav_item_settings('#', _('Sign Out'), 'logout',
                         'nav--settings--logged-in', 'logout') }}
  </mkt-nav-root>

  <mkt-nav-child id="categories">
    <mkt-category-list></mkt-category-list>
  </mkt-nav-child>

  <mkt-nav-child-toggle>
    <button class="mkt-nav--back"></button>
  </mkt-nav-child-toggle>
</mkt-nav>
