{% include '_macros/app_tile.html' %}
{% include '_macros/more_button.html' %}

{% macro results_subheader(query, count) %}
  <section class="main">
    <div class="subheader">
      <h1 class="search-results-header search-results-header-mobile">
        {{ _plural('<b>{n}</b> Result', '<b>{n}</b> Results', n=count) }}
        <a class="app-list-filters-expand-toggle" title="{{ _('Expand') }}"></a>
      </h1>
      <h1 class="search-results-header search-results-header-desktop">
        {{ _plural('<b>"{search_query}"</b> returned {n} result',
                   '<b>"{search_query}"</b> returned {n} results',
                   search_query=query|escape,
                   n=count) }}
        <a class="app-list-filters-expand-toggle" title="{{ _('Expand') }}"></a>
      </h1>
    </div>
  </section>
{% endmacro %}

{% set api_url = anonApiParams('search', params) %}

{% if params.region %}
  {# If the user entered PotatoSearch™ `:region=<region>` then update `region`. #}
  {% set api_url = api_url|urlparams(region=params.region) %}
{% endif %}

{% if params.sort %}
  {% set api_url = api_url|urlparams(sort=params.sort) %}
{% endif %}

{% defer (url=api_url, pluck='objects', as=appOrWebsite, paginate='.app-list',
          id='searchresults') %}

  {{ results_subheader(raw_query, response.meta.total_count) }}

  <section id="search-results" class="main full app-list-page search-results">
    <div>
      <ul class="app-list {{ 'paginated' if response.meta.next }}">
        {% for result in processor(this) %}
          <li class="item result app-list-app">
            {{ app_tile(result, tray=True, src=trackingEvents.SRCS.search) }}
          </li>
        {% endfor %}

        {# Render the more button if there's another page of results #}
        {% if response.meta.next %}
          {{ more_button(response.meta.next) }}
        {% endif %}
      </ul>
    </div>
  </section>
{% placeholder %}
  <section class="main">
    <p class="spinner spaced alt"></p>
  </section>
{% empty %}
  {{ results_subheader(raw_query, 0) }}

  <section class="main search-empty app-list-page full">
    <h1 class="no-results">{{ _('No results found') }}</h1>
  </section>
{% except %}
  <section class="main">
    <div class="subheader">
      {# Handle 500s so the page isn't blank. (bug 868667) #}
      <h1>{{ _('No results found, try again later') }}</h1>
    </div>
  </section>
{% end %}
