/* Colors (marketplaceux.github.io/marketplace-style-guides/palette.html)
 * Three primary palettes: Action, Greyscale, and Collections.
 * Each with two secondary palettes:
 *     -tapped is darker for shadows and pressed states.
 *     -hover is lighter for highlights and hover states.
*/
$color--green = #64be3c;
$color--green-dark = #4d8d32;

// Action.
$action-positive = #4cb1ff;  // Blue.
$action-positive-tapped = #3d86bd;
$action-positive-hover = #42cafe;
$action-success = $color--green;  // Green.
$action-success-tapped = $color--green-dark;
$action-success-hover = #66d071;
$action-wait = #ffdc32;  // Yellow.
$action-wait-tapped = #bea434;
$action-wait-hover = #ffe26e;
$action-error = #f54b3c;  // Red.
$action-error-tapped = #b63932;
$action-error-hover = #ff6c70;
$action-neutral = #797979;
$action-neutral-tapped = #5b5b5b;
$action-neutral-hover = #9b9b9b;
$action-disabled = #cbcbcb;

// Greyscale.
$greyscale-black = #1a1a1a;
$greyscale-black-tapped = #131313;
$greyscale-black-hover = #535353;
$greyscale-dark-grey = $action-neutral;
$greyscale-dark-grey-tapped = $action-neutral-tapped;
$greyscale-dark-grey-hover = $action-neutral-hover;
$greyscale-grey = $action-disabled;
$greyscale-grey-tapped = $action-disabled;
$greyscale-grey-hover = $action-disabled;
$greyscale-light-grey = #f1f1f1;
$greyscale-light-grey-tapped = #b5b5b5;
$greyscale-light-grey-hover = #f5f5f5;
$greyscale-white = #fff;
$greyscale-white-tapped = #bfbfbf;

// From desktop refresh.
$drop-arrow = #60bffc;
$footer-border = #e5e4e5;
$page-background = $greyscale-light-grey;
$tile-border = $greyscale-light-grey;
$tile-title = #222;
$collections-grid-border = rgba(#fff, 0.4);

// From Nov 2015 nav refresh.
$menu-blue = #0092ff;

// Icons.
$icon-dark = $tile-title;

// Deprecated.
$red = #c00000;
$maroon = #800;
$green = #008200;
$black = #000;
$navy-gray = #394C58;
$text = #424f5a;
$medium-gray = #666;
$gray = #888;
$note-gray = #999;
$light-gray = #ccc;
$faint-gray = #eee;
$barely-gray = #fcfcfc;
$white = #fff;
$bg = #eff1f3;
$bg-gray = #bbb;
$bg-lite = lighten($bg, 2%);
// From Fireplace.
$flamin-hot-cheetos-orange = #ff9500;
$sailor-blue = #0099d0;
$castle-skull-gray = #333;
$london-fog-gray = #5f5f5f;
$earl-gray = #a7a7a7;
$cement-gray = #c7c7c7;
$cloud-gray = #d7d7d7;
$dark-gray = #797979;
$darker-gray = #535353;
$seavan-salt-white = #e7e7e7;
$darker-salt-white = #d4d4d4;
$salt-flat-white = #f1f1f1;
$steam-white = #fffefe;
$dark-green = #118E36;
// From Feed.
$breezy-blue = #4cb1ff;
$navbar-gray = #e0e0e0;
$hungry-text = $dark-gray;
$navbar-text = #1a1a1a;
