$feed-column-width = 320px;  // Width of a feed column including padding.
$feed-column-margin = 15px; // Margin between feed columns.
$mobile-tile-width = 300px;  // Width of a feed tile.
$mobile-tile-margin= 19px;  // Horizontal space between feed tiles in columns.

$horizontal-tile-padding = 10px;  // Inner feed tile l/r padding.
$vertical-tile-padding = 15px;  // Inner feed t/b padding.
$vertical-margin = 18px;  // Inner margin within a feed tile.
$vertical-text-margin = 10px;  // Inner margin for text within a feed tile.
$vertical-tile-margin = 10px;  // Vertical space between feed tiles.
