@import 'layout';
@import 'mixins';

hambacker($color=$icon-dark) {
    b {
        background: $color;
        border-radius: 2px;
        content: '';
        display: block;
        height: $icon-stroke;
        transition: 250ms;
    }
}
hambacker-menu() {
    b {
        margin: 5px 0;
        width: $icon-size * .75;
    }
    b:first-of-type {
        width: $icon-size;
    }
    b:last-of-type {
        width: $icon-size * .90;
    }
}
hambacker-back() {
    b:first-of-type {
        width: $icon-size * .75;

        +ltr() {
            transform: translate(0, $icon-stroke + 1) rotate(-45deg);
        }
        +rtl() {
            transform: translate($icon-size * -0.25, $icon-stroke + 1) rotate(-45deg);
        }
    }
    b {
        margin: 0;
        width: $icon-size;
        transform-origin: left;
    }
    b:last-of-type {
        width: $icon-size * .75;

        +ltr() {
            transform: translate(0, -1 * ($icon-stroke + 1)) rotate(45deg);
        }
        +rtl() {
            transform: translate($icon-size * -0.25, -1 * ($icon-stroke + 1)) rotate(45deg);
        }
    }
}
