@import 'colors';
@import 'layout';
@import 'mixins';
@import 'regions';

// Font Stacks
$primary-font-family = "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
// Deprecated.
$open-stack = "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
