@import 'buttons';
@import 'categories';
@import 'colors';
@import 'feed';
@import 'hambacker';
@import 'layout';
@import 'mixins';
@import 'typography';
@import 'spinner';

@import 'collection_colors';

desktop-h2() {
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
}
