ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

hidetext() {
    // Image replacement.
    color: transparent;  // For IE.
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

image-replacement(src, width, height) {
    background: url(src) no-repeat 0 0;
    background-size: width height;
    display: inline-block;
    height: height;
    overflow: hidden;
    text-indent: -999em;
    width: width;
}

width-calc($width) {
    width: unquote('calc(' + $width + ')');
}

ltr() {
    [dir="ltr"] & {
        {block}
    }
}
ltr-root() {
    [dir="ltr"]& {
        {block}
    }
}

rtl() {
    [dir="rtl"] & {
        {block}
    }
}
rtl-root() {
    [dir="rtl"]& {
        {block}
    }
}
