@import 'colors';

// Font Stacks
$primary-font-family = "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;
// Deprecated.
$open-stack = "Fira Sans OT", "Fira Sans", FiraSansWeb, sans-serif;

desktop_mega() {
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
}

desktop_h2() {
    color: $greyscale-black;
    font-size: 20px;
    font-weight: 300;
}

type_body($color = $greyscale-black) {
    color: $color;
    line-height: 22px;
    font-size: 15px;
    font-weight: 300;
}

_h3() {
    color: $greyscale-black;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}
