{% macro collection_tile(collection, link=false, src='') %}
  {% if link %}<a href="{{ url('collection', [collection.slug])|urlparams(src=src) }}">{% endif %}
    <section
      class="collection main {{ collection.layout_type }}"
      style="background-image:url({{ api('collection_image', [collection.slug])|urlunparam(['_user']) }})">
      <header
        style="{% if collection.background_color %}background-color:{{ collection.background_color }};{% endif %}{% if collection.text_color %}color:{{ collection.text_color }};{% endif %}">
        <h2 style="color:{{ collection.text_color }}">
          {{ collection.name|translate(collection) }}
        </h2>
        <p class="owner">{{ collection.author }}</p>
      </header>
    </section>
    {# TODO: JS handler for read more/less? Makes no sense on desktop. #}
    <p class="desc">{{ collection.description|translate(collection)|nl2br }}</p>
  {% if link %}</a>{% endif %}
{% endmacro %}
