{% macro collection_tile(collection, link=false, src='') %}
  {% if link %}<a href="{{ url('collection', [collection.slug])|urlparams(src=src) }}">{% endif %}
    <section class="collection main {{ collection.layout_type }}" style="background-image: url({{ collection.icon }})">
      <header
        style="background-color: {{ collection.background_color }};color: {{ collection.text_color }}">
        <h2 style="color: {{ collection.text_color }}">{{ collection.name }}</h2>
        <p class="owner">{{ collection.author }}</p>
      </header>
    </section>
    {# TODO: JS handler for read more/less? Makes no sense on desktop. #}
    <p class="desc">{{ collection.description|nl2br }}</p>
  {% if link %}</a>{% endif %}
{% endmacro %}
