{% include '_macros/market_tile.html' %}

{% macro feed_item(obj) %}
  {% set item = obj.collection if obj.item_type == 'collection' else obj.app %}
  {% set color = item.background_color %}
  {% set shelf = True if item.collection_type == 'shelf' else False %}
  <a href="{{ obj.resource_url }}" class="fanchor">
    {% if obj.item_type == 'collection' %}
      {# --== Collection Types (collection, operator shelf) ==-- #}
      <section class="feeditem{{ ' shelf' if shelf }}
                      {{ 'mega' if item.description and not shelf }}
                      {{ 'full' if not shelf }}"
                      {% if not item.description or not item.background_image %}
                        style="background-color: {{ color|hex2rgba('.4') }}"
                      {% else %}
                        {% if item.background_image %}
                          style="background-image: url({{ item.background_image }})"
                        {% endif %}
                     {% endif %}>
        {% if not shelf %}
          <ul class="app-icons">
            {% for appitem in item.apps %}
              <li><img src="{{ appitem.icons[64] }}" alt="{{ appitem.name }}"></li>
            {% endfor %}
          </ul>
        {% endif %}
        <div class="curve" style="background-color: {{ color|hex2rgba('.6') }}"></div>
        <div class="info">
          <h1>{{ item.name }}</h1>
          <p class="author">{{ _('by') }} {{ item.author }}</p>
        </div>
        {% if not shelf %}
          <div class="alt-curve" style="background-color: {{ color|hex2rgba('.8') }}"></div>
        {% endif %}
        <div class="desc">{{ item.description }}</div>
      </section>
    {% else %}
      {# --== FeedApp Types ==-- #}
      {% if item.feedapp_type == 'icon' or item.feedapp_type == 'image' %}
        <section class="feeditem" {% if not item.description or not item.background_image %}style="background-color: {{ color|hex2rgba('.4') }}"{% else %}{% if item.background_image %}style="background-image: url({{ item.background_image }})"{% endif %}{% endif %}>
          {% if item.feedapp_type == 'icon' %}
            <ul class="app-icons">
              <li><img src="{{ item.app.icons[64] }}" alt="{{ item.app.name }}"></li>
            </ul>
          {% endif %}
          <div class="curve" style="background-color: {{ color|hex2rgba('.6') }}"></div>
          <div class="info">
            <h1>{{ item.app.name }}</h1>
            <p class="author">{{ _('by') }} {{ item.app.author }}</p>
          </div>
          <div class="alt-curve" style="background-color: {{ color|hex2rgba('.8') }}"></div>
        </section>
      {% else %}
        {% set extras = {
          type: item.feedapp_type,
          image: item.preview.image_url,
          description: item.description,
          quote_text: item.pullquote_text,
          quote_rating: item.pullquote_rating,
          quote_source: item.pullquote_attribute
        } %}
        {{ market_tile(item.app, tray=False, classes=['feed-app'], feed_app=True, feed_extras=extras) }}
      {% endif %}
    {% endif %}
  </a>
{% endmacro %}
