{% macro feed_app_tile(feed_app) %}
  <div class="tile-footer {{ feed_app.type }}"
       {% if feed_app.type == feed.FEEDAPP_QUOTE %}style="background: {{ feed_app.background_color }};"{% endif %}>
    {% if feed_app.type == feed.FEEDAPP_DESC %}
      <p class="desc">{{ feed_app.description|translate(feed_app.description)|safe }}</p>
    {% elif feed_app.type == feed.FEEDAPP_QUOTE %}
      {% if feed_app.pullquote_rating %}
        <p class="stars large white stars-{{ feed_app.pullquote_rating }}">
          {{ feed_app.pullquote_rating }}
        </p>
      {% endif %}
      <blockquote><p>{{ feed_app.pullquote_text|translate(feed_app)|safe }}</p></blockquote>
      {% if feed_app.pullquote_attribution %}
        <p class="quote-source">
          {{ _('&mdash; {attribution}')|format(
               {attribution: feed_app.pullquote_attribution|safe}) }}
        </p>
      {% endif %}
    {% elif feed_app.type == feed.FEEDAPP_PREVIEW %}
      <p class="desc">{{ feed_app.description|translate(feed_app)|safe }}</p>
      <div class="feed-app-preview-container"
           style="background-color: {{ feed_app.background_color }};
                  background-image: url({{ feed_app.preview.image_url }});"></div>
    {% endif %}
  </div>
{% endmacro %}
