{% include '_macros/market_tile.html' %}
{% from "_macros/market_button.html" import market_button %}

{% macro mini_tile(app, hidden=False, landing=False) %}
  <li class="app mini-app {{ 'hidden' if hidden and not landing }}">
    <a href="{{ url('app', [app.slug])|urlparams(src=src) }}" class="app-link c">
      <img src="{{ app.icons[64] }}" alt="{{ app.name|translate(app) }}">
      <div class="info">
        <h2 class="app-name elliflow">{{ app.name|translate(app) }}</h2>
        <p class="author elliflow">{{ app.author }}</p>
        <div class="rating vital{{ ' unrated' if not app.ratings.count }}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          {{ stars(app.ratings.average) }}
        </div>
      </div>
      {{ market_button(app, classes=(['paid'] if app.payment_required),
                       data_attrs={'manifest_url': app.manifest_url,
                                   'slug': app.slug}) if app.slug }}
    </a>
  </li>
{% endmacro %}

{% macro feed_app(feed_app) %}
  {% set color = feed_app.background_color %}

  <a href="{{ url('app', [feed_app.app.slug]) }}" class="app-link">
    {% if indexOf([feed.FEEDAPP_ICON, feed.FEEDAPP_IMAGE], feed_app.type) != -1 %}
      <section class="feed-item"
               {% if not feed_app.description and not feed_app.background_image %}
                 style="background-color: {{ color|hex2rgba('.4') }}"
               {% elif feed_app.background_image %}
                 style="background-image: url({{ feed_app.background_image }})"
               {% endif %}>
        {% if feed_app.type == feed.FEEDAPP_ICON %}
          <ul class="app-icons">
            <li><img src="{{ feed_app.app.icons[64] }}" alt="{{ feed_app.app.name }}"></li>
          </ul>
        {% endif %}
        <div class="curve" style="background-color: {{ color|hex2rgba('.6') }}"></div>
        <div class="info">
          <h1 class="name">{{ feed_app.app.name }}</h1>
          <p class="author">{{ feed_app.app.author }}</p>
        </div>
        <div class="alt-curve" style="background-color: {{ color|hex2rgba('.8') }}"></div>
      </section>
    {% else %}
      {{ market_tile(feed_app.app,
                     classes=['feed-app'],
                     feed_app=feed_app,
                     tray=False,
                     rating_link=False) }}
    {% endif %}
  </a>

  {{ feed.cast_feed_app(feed_app, true) }}
  {{ cast_app(feed_app.app, true) }}
{% endmacro %}

{% macro feed_brand(brand) %}
  <section class="feed-brand feed-layout-{{ brand.layout }} multi-app-tile mkt-tile c">
    {# TODO: `src` based on the brand `brand.type`. Nuke inline style. #}
    <img src="" alt="" class="brand" style="border: 1px solid #ddd;">
    <div class="info">
      <h1 class="feed-tile-header">{{ feed.get_brand_name(brand) }}</h1>
    </div>
    <ul class="app-list">
      {% for app in brand.apps %}
        {# Show the first X apps, hide the rest. #}
        {{ mini_tile(app, hidden=loop.index0 >= feed.MAX_BRAND_APPS, landing=landing) }}
      {% endfor %}
    </ul>
    {% if not landing %}
      <a href="{{ url('feed/feed_brand', [brand.slug]) }}" class="view-all">
        {{ _('View all apps') }}
      </a>
    {% endif %}
  </section>

  {{ feed.cast_brand(brand, true) }}
  {{ cast_app(brand.apps, true) }}
{% endmacro %}

{% macro feed_collection(coll) %}
  {% set color = coll.background_color %}

  <a href="{{ url('feed/feed_collection', [coll.slug]) }}" class="fanchor">
    <section class="feed-item full {{ 'mega' if coll.description }}"
                    {% if not coll.description and not coll.background_image %}
                      style="background-color: {{ color|hex2rgba('.4') }}"
                    {% elif coll.background_image %}
                      style="background-image: url({{ coll.background_image }})"
                   {% endif %}>
      <ul class="app-icons">
        {% for app in coll.apps %}
          <li><img src="{{ app.icons[64] }}" alt="{{ app.name }}"></li>
        {% endfor %}
      </ul>
      <div class="curve" style="background-color: {{ color|hex2rgba('.6') }}"></div>
      <div class="info">
        <h1 class="name">{{ coll.name }}</h1>
      </div>
      <div class="alt-curve" style="background-color: {{ color|hex2rgba('.8') }}"></div>
      <div class="desc">{{ coll.description }}</div>
    </section>
  </a>

  {{ feed.cast_collection(coll, true) }}
  {{ cast_app(coll.apps, true) }}
{% endmacro %}

{% macro feed_shelf(shelf, landing) %}
  {% set color = shelf.background_color %}

  <a href="{{ url('feed/feed_shelf', [shelf.slug]) }}" class="fanchor">
    <section class="feed-item shelf {{ 'shelf-landing' if landing }}" style="background-image: url({{ shelf.background_image }})">
      <div class="curve" style="background-color: {{ color|hex2rgba('.6') }}"></div>
      <div class="info">
        <h1 class="name">{{ shelf.name }}</h1>
      </div>
    </section>
  </a>

  {{ feed.cast_shelf(shelf, true) }}
  {{ cast_app(shelf.apps, true) }}
{% endmacro %}

{% macro feed_item(obj) %}
  {% if obj.item_type == 'app' %}
    {{ feed_app(obj.app) }}

  {% elif obj.item_type == 'brand' %}
    {{ feed_brand(obj.brand) }}

  {% elif obj.item_type == 'collection' %}
    {{ feed_collection(obj.collection) }}

  {% elif obj.item_type == 'shelf' %}
    {{ feed_shelf(obj.shelf) }}
  {% endif %}
{% endmacro %}
