{% macro abuse_form(url, type, id) %}
  <form method="post" class="abuse-form" data-action="{{ url }}">
    <p class="brform simple-field c">
      <textarea rows="10" cols="40" name="text" required></textarea>
    </p>
    <p class="form-footer">
      {{ potato_captcha() }}
      <input type="hidden" name="{{ type }}" value="{{ id }}">
      <button type="submit">{{ _('Send Report') }}</button>
    </p>
  </form>
{% endmacro %}

{% macro potato_captcha() %}
  <input type="text" name="sprout" value="potato" class="potato-captcha">
  <input type="text" name="tuber" class="potato-captcha">
{% endmacro %}
