{% macro market_button(app, classes, data_attrs, apps_list) %}

  {% if app.payment_required and not app.price %}
    {# An app would otherwise cost money in another region but there is no tier in the user's region. #}
    {# L10n: This app is unavailable for purchase. #}
    {% set price = _('Unavailable') %}
  {% else %}
    {% set price = app.price_locale if app.price and app.price != '0.00' else _('Free') %}
  {% endif %}

  {% set classes = classes or [] %}
  {% set disabled = apps_list.indexOf(app.id) != -1 %}
  {% if disabled %}
    <button class="button product install disabled {{ classes|join(' ') }}" {{ data_attrs|make_data_attrs }}>
      {{ _('Recorded') }}
    </button>
  {% else %}
    <button class="button product install {{ classes|join(' ') }}" {{ data_attrs|make_data_attrs }}>
      {{ _('I am interested') }}
    </button>
  {% endif %}
{% endmacro %}
