{% include "_macros/stars.html" %}
{% include "_macros/market_button.html" %}

{% macro market_tile(app, link=False, src=None, classes=None, data_attrs=None, force_button=False) %}
  {% set tag = 'a' if link else 'div' %}
  {% set classes = classes or [] %}
  <{{ tag }} class="product mkt-tile {{ classes|join(' ') }}"
    {% if link %} href="{{ url('app', [app.slug])|urlparams(src=src) }}"{% endif %}
    {{ data_attrs|make_data_attrs }}
    {{ app|dataproduct }}>
    <img class="icon" alt="" src="{{ app.icons[64] }}" height="64" width="64">
    <div class="info">
      <h3>{{ app.name }}</h3>
      {% if app.listed_authors %}
        <div class="author lineclamp vital">{{ app.listed_authors[0].name }}</div>
      {% endif %}
      <div class="price vital">{{ app.price_locale if app.price else _('Free') }}</div>
      <div class="rating vital{{ ' unrated' if not app.ratings.count }}">
        {% if not link %}
          <a href="{{ url('app/ratings', [app.slug]) }}" class="rating_link">
        {% endif %}
        {{ stars(app.ratings.average) }}
        {% if app.ratings.count %}
          <span class="cnt">
            {{ _plural('{n} Review', '{n} Reviews', n=app.ratings.count) }}
          </span>
       {% endif %}
        {% if not link %}
          </a>
        {% endif %}
      </div>
      {% if force_button or (app.current_version and not link) %}
        {{ market_button(app, classes=classes,
                         data_attrs={'manifest_url': app.manifest_url}) }}
      {% endif %}
    </div>
    {% for notice in app.notices %}
      <div class="bad-app">{{ notice }}</div>
    {% endfor %}
  </{{ tag }}>
  <div class="tray previews full"></div>
{% endmacro %}
