{% include "_macros/stars.html" %}

{% macro rating(this, detailpage=false) %}
<li id="review-{{ this.id }}" data-rating="{{ this.rating }}"
    class="review{{ ' flagged' if this.is_flagged }} c">
  <div class="review-inner">
    {{ stars(this.rating, detailpage=detailpage) }}
    <span class="byline">
      by <strong>{{ this.user_name }}</strong>
      {% if this.for_old_version %}
        {{ _('for previous version {version}', version=this.for_old_version) }}
      {% endif %}
    </span>
    <div class="body">
      {{ this.body|nl2br }}
    </div>
    {% if not detailpage %}
      <ul class="actions">
        {% if this.is_flagged %}
          <li class="flagged">{{ _('Flagged for review') }}</li>
        {% endif %}
        {% if this.user.owns %}
          <li><a class="edit post" data-action="edit" href="#">{{ _('Edit') }}</a></li>
        {% else %}
          <li><a class="flag post" data-action="report" href="#">{{ _('Report') }}</a></li>
        {% endif %}
      </ul>
      {# TODO: If not details page. #}
      <span class="timestamp">{{ this.posted }}</span>
    {% endif %}
  </div>
</li>
{% endmacro %}
