{% include "_macros/stars.html" %}

{% macro rating(this, detailpage=false) %}
<li data-report-uri="{{ this.report_spam }}" data-rating="{{ this.rating }}"
    class="review{{ ' flagged' if this.is_flagged }} c">
  <div class="review-inner">
    {{ stars(this.rating, detailpage=detailpage) }}
    <span class="byline">
      {{ _('by <strong>{author}</strong>', author=escape(this.user.display_name)) }}
      {% if this.version and not this.version.latest %}
        {{ _('for previous version {version}', version=this.version.name) }}
      {% endif %}
    </span>
    <div class="body">
      {{ this.body|escape|nl2br }}
    </div>
    {% if not detailpage %}
      <ul class="actions only-if-logged-in">
        {% if this.is_flagged %}
          <li class="flagged">{{ _('Flagged for review') }}</li>
        {% endif %}
        {% if this.is_author %}
          <li><a class="edit"
                 href="{{ url('app/ratings/edit', [slug]) }}">{{ _('Edit') }}</a></li>
          <li><a class="delete post" data-action="delete" href="#"
                 data-href="{{ this.resource_uri }}"
                 data-app="{{ slug }}">{{ _('Delete') }}</a></li>
        {% else %}
          <li><a class="flag post" data-action="report" href="#">{{ _('Report') }}</a></li>
        {% endif %}
      </ul>
      {# TODO: Format dates with bug 867897. #}
      <time>{{ this.posted|replace(' 00:00:00', '') }}</time>
    {% endif %}
  </div>
</li>
{% endmacro %}
