{% include "_macros/stars.html" %}

{% macro rating(this, detailpage=false) %}
<li data-report-uri="{{ this.report_spam }}" data-rating="{{ this.rating }}"
    class="review{{ ' flagged' if this.is_flagged }} c">
  <div class="review-inner">
    {{ stars(this.rating, detailpage=detailpage) }}
    <span class="byline">
      {{ _('by <strong>{author}</strong>', author=this.user.display_name|safe) }}
      {% if this.version and not this.version.latest %}
        {{ _('for previous version {version}', version=this.version.name) }}
      {% endif %}
    </span>
    <div class="body">
      {{ this.body|nl2br }}
    </div>
    {% if not detailpage %}
      <ul class="actions only-if-logged-in">
        {% if this.is_flagged %}
          <li class="flagged">{{ _('Flagged for review') }}</li>
        {% endif %}
        {% if this.is_author %}
          <li><a class="edit"
                 href="{{ url('app/ratings/edit', [slug]) }}">{{ _('Edit') }}</a></li>
          <li>
            <a class="delete post" data-action="delete" href="#"
               data-href="{{ this.resource_uri }}">{{ _('Delete') }}</a></li>
        {% else %}
          <li><a class="flag post" data-action="report" href="#">{{ _('Report') }}</a></li>
        {% endif %}
      </ul>
      <time>{{ this.posted }}</time>
    {% endif %}
  </div>
</li>
{% endmacro %}
