define('settings', ['l10n', 'settings_local', 'underscore'], function(l10n, settings_local, _) {
    var gettext = l10n.gettext;

    return _.defaults(settings_local, {
        app_name: 'commonplace app',
        init_module: 'main',
        default_locale: 'en-US',
        api_url: 'http://' + window.location.hostname,  // No trailing slash, please.

        storage_version: '0',

        param_whitelist: ['q', 'sort'],
        api_param_blacklist: null,

        model_prototypes: {},

        fragment_error_template: 'errors/fragment.html',
        pagination_error_template: 'errors/pagination.html',

        tracking_id: 'UA-36116321-6',

        persona_unverified_issuer: 'login.persona.org',

        // URL of the project logo (must be HTTPS; shown when logging in via Persona).
        persona_site_logo: settings_local.media_url + '/fireplace/img/logos/128.png',

        // The URLs for the Persona ToS and Privacy Policy.
        persona_tos: null,
        persona_privacy: null,

        title_suffix: 'Commonplace App'
    });
});
