define('settings_local', [], function() {
    // Override settings here!
    return {
        /*
        api_url: 'https://marketplace-dev.allizom.org',
        media_url: 'https://marketplace-dev-cdn.allizom.org/media/'
        */
    };
});
