{% include '_macros/market_tile.html' %}
{% include '_macros/more_button.html' %}

{% set featured_url = url('featured', [category or 'all']) %}
{% set featured_url = featured_url|urlparams(src='category-featured') %}

{% set category_url = url('category', [category]) if category else url('homepage') %}

{% set popular_url = category_url|urlparams(src='category-popular') + '#gallery' %}
{% set new_url = category_url|urlparams(sort='created', src='category-new') + '#gallery' %}

{% set search_url = url('search')|urlparams(cat=category) if category else url('search') %}
{% set search_url = search_url|urlparams(sort=sort) if sort == 'created' else search_url %}

{% defer (url=endpoint, pluck='featured') %}
  <section id="featured" class="main category featured full c">
    <header class="featured-header c">
      <h3>{{ _('Featured Apps') }}</h3>
      <a href="{{ featured_url }}" class="view-all">{{ _('View All') }}</a>
    </header>
    <ol class="grid c">
      {% for result in this %}
        <li>{{ market_tile(result, link=true, src='featured') }}</li>
      {% endfor %}
    </ol>
  </section>
{% placeholder %}
{# Placeholder is empty because this section is often empty, and we already
   have a placeholder for the Popular/New sections below. #}
{% empty %}
{% end %}

{% defer (url=endpoint, pluck='objects', as='app', paginate='ol.listing') %}
  <section id="gallery" class="main category gallery full c">
    <header class="featured-header c">
      <nav class="tabs">
        <a{% if sort == 'popularity' %} class="active"{% endif %} href="{{ popular_url }}">{{ _('Popular') }}</a>
        <a{% if sort == 'created' %} class="active"{% endif %} href="{{ new_url }}">{{ _('New') }}</a>
      </nav>
      <a href="{{ search_url }}" class="view-all">{{ _('View All') }}</a>
    </header>
    <ol class="container listing grid-if-desktop c">
      {% for result in this %}
        <li class="item result app c">
          {{ market_tile(result, link=true, force_button=true, src=sort) }}
        </li>
      {% endfor %}

      {# Render the more button if there's another page of results #}
      {% if response.meta.next %}
        {{ more_button(response.meta.next) }}
      {% endif %}
    </ol>
  </section>
{% placeholder %}
  <p class="spinner spaced alt"></p>
{% empty %}
  <p class="no-results">
    {{ _('No apps in this category') }}
  </p>
{% end %}
