{% include '_macros/market_tile.html' %}
{% include '_macros/more_button.html' %}

{% set endpoint = api('category', [category]) %}

<section id="featured" class="main creatured full c">
  {% defer (url=endpoint, pluck='featured') %}
    <ol class="grid c">
      {% for result in this %}
        <li>{{ market_tile(result, link=true, src='featured') }}</li>
      {% endfor %}
    </ol>
  {% end %}
</section>
<section id="search-results" class="main full c">
  {% defer (url=endpoint, pluck='objects', as='app', paginate='ol.listing') %}
    <div class="header results-header c">
      <div>{{ _plural('<b>{n}</b> Result', '<b>{n}</b> Results', n=response.meta.total_count) }}</div>
      <a href="#" class="expand-toggle" title="{{ _('Expand') }}"></a>
    </div>

    <ol class="container listing c">
      {% for result in this %}
        <li class="item result app c">
          {{ market_tile(result, link=true, force_button=true, src='category-' + category) }}
        </li>
      {% endfor %}

      {# Render the more button if there's another page of results #}
      {% if response.meta.next %}
        {{ more_button(response.meta.next) }}
      {% endif %}
    </ol>
  {% placeholder %}
    <p class="spinner spaced alt"></p>
  {% empty %}
    <p class="no-results">
      {{ _('No apps in this category') }}
    </p>
  {% end %}
</section>
