<div class="app-list-filters">
  {% include "compatibility_filtering.html" %}
  <nav class="new-pop-tabs">
    <a{% if not sort %} class="active"{% endif %} href="{{ popular_url }}" data-preserve-scroll>{{ _('Popular') }}</a>
    {# L10n: "New" should translate to mean "Recent". Choose the shortest (space constraints) #}
    <a{% if sort == 'reviewed' %} class="active"{% endif %} href="{{ new_url }}" data-preserve-scroll>{{ _('New') }}</a>
  </nav>
  <div class="expand-wrapper">
    {{ _('Display as') }}
    <a class="expand-toggle" title="{{ _('Expand') }}"></a>
  </div>
</div>
