{% defer (url=endpoint, pluck='content_ratings') %}
  {% if this.rating %}
    <div class="content-ratings-wrapper {{ this.body }}">
      <div class="infobox-wrapper c">
        {# L10n: (es) Classificacao Indicativa. #}
        <h3 id="content-ratings-header">{{ _('Content Rating') }}</h3>
        <div class="content-ratings-left">
          <div class="content-rating c">
            {# Content rating. #}
            <img data-src="{{ iarc.rating_icons[this.body][this.rating] }}"
                 class="icon icon-body-{{ this.body }} deferred"
                 src="{{ PLACEHOLDER_ICON }}"
                 title="{{ iarc_names.ratings[this.body][this.rating] }}"
                 alt="{{ iarc_names.ratings[this.body][this.rating] }}">
          </div>

          {# Content descriptors as a list of text. #}
          {% if this.descriptors_text %}
            <ul class="content-descriptors text">
              {% for descriptor_text in this.descriptors_text %}
                <li>{{ descriptor_text }}</li>
              {% endfor %}
            </ul>
          {% else %}
            {# If not showing descriptor text, show the rating name to fill in space. #}
            <span class="rating-description">{{ iarc_names.ratings[this.body][this.rating] }}</span>
          {% endif %}
        </div>

        <div class="content-ratings-right">
          {% if this.interactives %}
            <div class="interactive-elements text">
              {% for interactive_text in this.interactives_text %}
                <p>{{ interactive_text }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>

      <div class="content-ratings-button-wrap">
        {% set rating_detail_link = iarc.detail_links[this.body] %}
        {% if rating_detail_link %}
          <a href="{{ rating_detail_link }}" class="button" target="_blank">
            {# L10n: (es) Classificacao Indicativa. Rating as in content rating. #}
            {{ _('Rating Details') }}</a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% except %}
{% end %}
