<section id="installed">
  <p class="installed">
    {{ _('Installed!') }}
  </p>
  <p class="how mac">
    {{ _('Launch this app from your <b>Applications</b> directory.') }}
  </p>
  <p class="how windows">
    {{ _('Launch this app from your <b>Windows desktop</b> or <b>Start &#9658; All Programs</b>.') }}
  </p>
  <p class="how linux">
    {{ _('Launch this app from your <b>dash</b>, <b>Application picker</b>, or <b>Applications menu</b>.') }}
  </p>
</section>
<div id="purchased-message"></div>
