<mkt-banner id="mac-install-notice" success>
  <div>
    {{ _('Your Mac settings may only allow you to install apps from the Mac App Store.') }}
  </div>
  <a href="https://support.mozilla.org/kb/mac-security-settings-firefox-marketplace" target="_blank">
    {{ _('Learn how to change your settings so you can install Marketplace apps.') }}
  </a>
  <span style="display: none;">
      {{ _('Got it! You can always find out how to install Marketplace apps on your Mac on our <a href="{url}">Support page</a>.')|format(url='http://support.mozilla.org') }}
  </span>
</mkt-banner>
