<section class="post-install-message">
  <span class="post-install-message-installed">
    {{ _('Installed!') }}
  </span>
  <span class="post-install-message-how post-install-message-mac">
    {{ _('Launch this app from your <b>Applications</b> directory.') }}
  </span>
  <span class="post-install-message-how post-install-message-windows">
    {{ _('Launch this app from your <b>Windows desktop</b> or <b>Start &#9658; All Programs</b>.') }}
  </span>
  <span class="post-install-message-how post-install-message-linux">
    {{ _('Launch this app from your <b>dash</b>, <b>Application picker</b>, or <b>Applications menu</b>.') }}
  </span>
</section>
<div id="purchased-message"></div>
