{% include "_macros/forms.html" %}

<div class="main report-abuse modal c">
  <div>
    <div class="secondary-header">
      <h2>{{ _('Report Abuse') }}</h2>
      <a href="#" class="close btn-cancel">{{ _('Close') }}</a>
    </div>
    <form method="post" class="abuse-form form-modal">
      <p class="brform simple-field c">
        <textarea name="text" required></textarea>
      </p>
      <p class="form-footer">
        {{ potato_captcha() }}
        <input type="hidden" name="app" value="{{ slug }}">
        <button type="submit">{{ _('Send Report') }}</button>
      </p>
    </form>
  </div>
</div>
