{% include "_macros/emaillink.html" %}

<ul class="c">
  {% if support_email %}
    <li class="support-email">
      {{ emaillink(support_email.localized_string,
                   _('Support Email')) }}
    </li>
  {% endif %}
  {% if support_url %}
    <li class="support-url">
      <a rel="external" {{ support_url|external_href }}>
        {{ _('Support Site') }}</a>
    </li>
  {% endif %}
  {% if homepage %}
    <li class="homepage">
      <a rel="external" {{ homepage|external_href }}>{{ _('Homepage') }}</a>
    </li>
  {% endif %}
  {% if privacy_policy %}
    <li><a href="{{ url('app.privacy', [slug]) }}">
      {{ _('Privacy Policy') }}</a></li>
  {% endif %}
  <li><a href="{{ url('app.abuse', [slug]) }}">
      {{ _('Report Abuse') }}</a></li>
</ul>
{% if settings.payment_enabled %}
  {# no payments for now #}
  {% set upsell = upsell %}
  {% if upsell %}
    {% set prm = upsell.premium_addon %}
    {% if prm and prm.listed_in(region=request.REGION) %}
      <a id="upsell" class="fatbutton"
         href="{{ prm.get_url_path()|urlparams(src='mkt-detail-upsell') }}">
         <span class="avail">{{ _('Premium version available') }}</span>
         <img class="icon" src="{{ prm.get_icon_url(16) }}">
         <span class="name">{{ prm.name }}</span>
      </a>
    {% endif %}
  {% endif %}
{% endif %}