{% if content_ratings %}
  <div class="main content-ratings infobox c">
    <div>
      <h3>
        {{ _('Rating by the <a href="{{ settings.DEJUS_URL }}" title="{{ settings.DEJUS }}">DEJUS</a>') }}
      </h3>
      {% for rating in content_ratings.values() %}
        <div class="content-rating c">
          <div class="icon icon-{{ rating.name }}" title="{{ rating.name }}">{{ rating.name }}</div>
          <p class="description">{{ rating.description }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}