{% include "_macros/emaillink.html" %}
{% include "_macros/market_tile.html" %}
{% include "_macros/rating.html" %}
{% include "_macros/stars.html" %}

{% set endpoint = api('app', [slug]) %}

<div class="detail" itemscope itemtype="http://schema.org/SoftwareApplication">
<section class="main product-details listing expanded c">
  {% defer (url=endpoint, as='app', key=slug, id='app-data') %}
    {{ market_tile(this) }}
  {% placeholder %}
    <div class="product mkt-tile">
      <div class="info">
        <h3>{{ _('Loading...') }}</h3>
        <div class="price vital">{{ _('Loading...') }}</div>
        <div class="rating vital unrated">
          {{ stars(0) }}
        </div>
      </div>
    </div>
    <div class="tray previews full"></div>
  {% except %}
    <div>
      <h2>{{ _('Oh no!') }}</h2>
      <p>{{ _('The page you were looking for was not found.') }}</p>
    </div>
  {% end %}
</section>

<section class="main" id="installed">
  <div>
    <p>
      {{ _('Installed!') }}
    </p>
    <p class="how mac">
      {{ _('Launch this app from your <b>Applications</b> directory.') }}
    </p>
    <p class="how windows">
      {{ _('Launch this app from your <b>Windows desktop</b> or <b>Start &#9658; All Programs</b>.') }}
    </p>
    <p class="how linux">
      {{ _('Launch this app from your <b>dash</b>, <b>Application picker</b>, or <b>Applications menu</b>.') }}
    </p>
  </div>
</section>
<div id="purchased-message"></div>

<section class="main blurbs prose infobox">
  <div>
    {% defer (url=endpoint, as='app', key=slug) %}
      {% set super_long = this.summary.length + description.length > 700 %}
      <p class="summary" itemprop="description">
        {{ this.summary|nl2br }}
        {% if super_long %}
          <a href="#" class="show-toggle" data-toggle-text="{{ _('Less&hellip;') }}">{{ _('More&hellip;') }}</a>
        {% endif %}
      </p>

      {% if this.description.length or this.is_packaged %}
        <div{% if super_long %} class="collapsed"{% endif %}>
          {% if this.description.length %}
            <h3>{{ _('Description') }}</h3>
            <div class="description">{{ this.description|nl2br }}</div>
          {% endif %}
          {% if this.is_packaged %}
            <h3>{{ _('Version') }}</h3>
            <div class="package-version">
              {{ _('Latest version: {version}',
                   version=this.current_version.version) }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% placeholder %}
      <p class="spinner alt"></p>
    {% end %}
  </div>
</section>

{% defer (url=endpoint, as='app', key=slug) %}
  {% if this.user.developed or user.get_permission('reviewer') %}
    <section class="main actions infobox">
      <div>
        {% if this.user.developed %}
          <p class="split"><a href="/developers/app/{{ slug }}/edit" class="button manage" rel="external">
            {{ _('Edit Listing') }}</a></p>
        {% endif %}
        {% if user.get_permission('reviewer') %}
          <p class="split"><a href="/reviewers/app/{{ slug }}" class="button good reviewer" rel="external">
            {{ _('Approve / Reject') if this.status == 2 or this.status == 13 else _('Review History') }}</a></p>
        {% endif %}
      </div>
    </section>
  {% endif %}
{% except %}
{% end %}

<section class="main reviews-wrapper c">
  <div class="reviews">
    {% defer (url=apiParams('reviews', {'app': slug}), id='ratings') %}
      <h3>{{ _('Reviews') }}</h3>
      {% if this.meta.total_count %}
        <ul class="ratings-placeholder-inner">
          {% for rat in this.objects.slice(0, 2) %}
            {{ rating(rat, detailpage=true) }}
          {% endfor %}
        </ul>
        <div class="{{ 'split' if not this.user.developed else 'full' }}">
          <a class="button alt average-rating" href="{{ url('app/ratings', [slug]) }}">
            <span>
              {{ _plural('{n} Review', '{n} Reviews',
                         n=this.meta.total_count) }}
            </span>
            {{ stars(this.info.average, detailpage=true) }}
          </a>
        </div>
      {% else %}
        <p class="not-rated">
          {{ _('App not yet rated') }}
        </p>
      {% endif %}
      {% if (this.user.can_rate or not user.logged_in()) or this.user.has_rated %}
        <div class="{{ 'split' if this.objects.length else ' full' }}">
          {% if user.logged_in() and this.user.has_rated %}
            <a class="button alt" id="edit-review" href="{{ url('app/ratings/edit', [slug]) }}">
              {{ _('Edit Your Review') }}</a>
          {% else %}
            <a class="button alt" id="add-review" href="{{ url('app/ratings/add', [slug]) }}"
               data-action="add" data-app="{{ slug }}">
              {{ _('Write a Review') }}</a>
          {% endif %}
        </div>
      {% endif %}

    {% placeholder %}
      <p class="spinner alt padded"></p>
    {% except %}
    {% end %}
  </div>
</section>

<section class="main infobox support c">
  <div>
    {% defer (url=endpoint, as='app', key=slug) %}
      <ul class="c">
        {% if this.support_email %}
          <li class="support-email">
            {{ emaillink(this.support_email, _('Support Email'), class='button alt') }}
          </li>
        {% endif %}
        {% if this.support_url %}
          <li class="support-url">
            <a class="button alt" rel="external" {{ this.support_url|external_href }}>
              {{ _('Support Site') }}</a>
          </li>
        {% endif %}
        {% if this.homepage %}
          <li class="homepage">
            <a class="button alt" rel="external" {{ this.homepage|external_href }}>{{ _('Homepage') }}</a>
          </li>
        {% endif %}
        {% if this.privacy_policy %}
          <li class="privacy-policy">
            <a class="button alt" href="{{ url('app/privacy', [slug]) }}">
            {{ _('Privacy Policy') }}</a>
          </li>
        {% endif %}
        {% if this.public_stats %}
          <li><a class="button alt view-stats" rel="external" href="/statistics/app/{{ slug }}/">
            {{ _('Statistics') }}</a></li>
        {% endif %}
        <li class="abuse">
          <a class="button alt" href="{{ url('app/abuse', [slug]) }}">
          {{ _('Report Abuse') }}</a>
        </li>
      </ul>
      {% if settings.payment_enabled %}
        {% if this.upsell %}
          <a id="upsell" class="button alt"
             href="{{ this.upsell.url|urlparams(src='mkt-detail-upsell') }}">
             <span class="avail">{{ _('Premium version available') }}</span>
             <img class="icon" src="{{ upsell.icons[16] }}">
             <span class="name">{{ this.upsell.name }}</span>
          </a>
        {% endif %}
      {% endif %}
    {% end %}
  </div>
</section>

<div class="content_ratings">
  {% defer (url=endpoint, as='app', key=slug) %}
    {% if this.content_ratings %}
      <div class="content-ratings-wrapper main infobox c">
        <div>
          <h3>
            {{ _('Rating by the <a href="{dejus_url}" title="{dejus}">DEJUS</a>',
                 dejus_url=settings.DEJUS_URL,
                 dejus=settings.DEJUS) }}
          </h3>
          <div class="content-ratings">
            {% for rating in this.content_ratings.values() %}
              <div class="content-rating c">
                <div class="icon icon-{{ rating.name }}" title="{{ rating.name }}">{{ rating.name }}</div>
                <p class="description">{{ rating.description }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% end %}
</div>

</div>
