{% include "_macros/stars.html" %}

{% if ratings.length %}
  <ul class="c ratings-placeholder-inner"></ul>
  <div class="{{ 'split' if user.can_review else 'full' }}">
    <a class="fatbutton average-rating" href="{{ url('app/ratings', [slug]) }}">
      <span>
        {{ _('rating_count', n=meta.count) }}
      </span>
      {{ stars(meta.average, detailpage=True) }}
    </a>
  </div>
{% else %}
  <p class="not-rated">
    {{ _('App not yet rated') }}
  </p>
{% endif %}
{% if user.can_review %}
  <div class="{{ 'split' if ratings.length else 'full' }}">
    <a class="fatbutton" id="add-first-review" href="#">
      {{ _('Edit Your Review') if user.has_review else _('Write a Review') }}</a>
  </div>
{% endif %}
