{% set super_long = summary.length + description.length > 700 %}
<p class="summary">
  {{ summary|nl2br }}
  {% if super_long %}
    <a href="#" class="show-toggle" data-toggle-text="{{ _('less') }}">{{ _('more') }}</a>
  {% endif %}
</p>

{% if description.length or is_packaged %}
  <div{% if super_long %} class="collapsed"{% endif %}>
    {% if description.length %}
      <h3>{{ _('Description') }}</h3>
      <div class="description">{{ description|nl2br }}</div>
    {% endif %}
    {% if is_packaged %}
      <h3>{{ _('Version') }}</h3>
      <div class="package-version">
        {{ _('latest_version', version=current_version) }}
      </div>
      <div class="release-notes">
        {{ current_version.releasenotes|nl2br }}
      </div>
    {% endif %}
  </div>
{% endif %}
