{% from "_macros/forms.html" import potato_captcha %}

{% macro addon_abuse_prompt(slug) %}
  <mkt-prompt>
    <form class="abuse-form">
      <p>
        {{ _('Let us know if this add-on is doing something that isn\'t allowed
              in the <a href="{criteria_url}">review criteria</a> and should be removed from the Marketplace.',
              criteria_url='https://developer.mozilla.org/en-US/Marketplace/Add-on_submission/Review_criteria') }}
      </p>
      <p>
        {{ _('Examples of issues to report here are if the add-on is completely broken,
              contains mature content, contains malware, etc. The add-on developer
              will not see your comments.') }}
      </p>
      <textarea name="text" placeholder="{{ _('Let us know...') }}"
                required></textarea>
      <input type="hidden" name="extension" value="{{ slug }}">
      {{ potato_captcha() }}
      <div>
        <button>{{ _('Cancel') }}</button>
        <button>{{ _('Submit Report') }}</button>
      </div>
    </form>
  </mkt-prompt>
{% endmacro %}

<div class="main abuse mobile-margined">
  {{ addon_abuse_prompt(slug) }}
</div>
