<!--Addon detail page.-->
{% from "_macros/addon_tile.html" import addon_tile %}
{% set endpoint = api('addon', [slug]) %}

<article class="container-detail addon-detail" data-addon="{{ key }}" itemscope
         itemtype="http://schema.org/SoftwareApplication">
  {% defer (url=endpoint, key=slug, id='addon-data', as='addon') %}
    {% set addon = apps.transform(this) %}
    <header class="addon-header">
      {{ addon_tile(addon, is_detail=True, src=trackingEvents.SRCS.detail) }}
    </header>
    {% if addon.description %}
      <section class="prose segment">
        <h3>{{ _('Description') }}</h3>
        <div class="description-wrapper truncated-wrapper truncated">
          <p class="description" itemprop="description">
            {{ addon.description|translate(addon)|nl2br }}
          </p>
        </div>
        <a href="#" class="truncate-toggle view-all-tab">
          {{ _('View All') }}
        </a>
      </section>
    {% endif %}
    <section class="addon-meta segment">
      <p>{{ _('version: {version}')|format(version=addon.latest_public_version.version) }}</p>
      <p>{{ _('size: {size}')|format(size=addon.latest_public_version.size|fileSize) }}</p>
      {% if addon.last_updated %}
        <p>
          {{ _('last updated: {date}')|format(date=addon.last_updated|date) }}
        </p>
      {% endif %}
    </section>
  {% placeholder %}
    <header class="addon-header">
      {% if placeholder %}
        {{ addon_tile(placeholder, is_detail=True) }}
      {% endif %}
    </header>
  {% except %}
  {% end %}
</article>
