{% defer (url=api('addon', [slug]), as='addon', key=slug, id='addon-data') %}
  <div class="addon" data-slug="{{ slug }}">
    <h2>Add-on: {{ this.name }}</h2>
    <p>Version: {{ this.latest_public_version.version }}</p>
    <p>Size: {{ this.latest_public_version.size|fileSize }}</p>
    {% if this.description %}
      <p>Description: {{ this.description }}</p>
    {% endif %}
    <button class="addon-install-btn" data-id="{{ slug }}">
      {{ _('Install') }}
    </button>
  </div>
{% placeholder %}
  <h2>{{ placeholder_addon.name }}</h2>
  <p>{{ placeholder_addon.version }}</p>
  <button>Loading...</button>
{% end %}
