{% include '_macros/app_tile.html' %}
{% include '_macros/more_button.html' %}

<section class="main">
  <div class="subheader">
    <h1>{{ _('Firefox OS Add-ons') }}</h1>
  </div>
</section>

<section class="main full app-list-page c">
  {% defer (url=api('addon_list'), pluck='objects', as='addon', key='slug',
            paginate='.app-list') %}
    <ul class="app-list {{ 'paginated' if response.meta.next }}">
      {% for addon in this %}
        <li class="app-list-app">
          {{ app_tile(addon, src=trackingEvents.SRCS[productListType]) }}
        </li>
      {% endfor %}
      {% if response.meta.next %}
        {{ more_button(response.meta.next) }}
      {% endif %}
    </ul>
  {% placeholder %}
    <p class="spinner padded alt"></p>
  {% empty %}
    <p class="no-results">
      {{ _('No Firefox OS add-ons found.') }}
    </p>
  {% except %}
    <p class="no-results">
      {% if error == 400 or error == 404 %}
        {{ _('No Firefox OS add-ons found.') }}
      {% elif error == 500 %}
        {{ _('An internal server error occurred. Please try again later.') }}
      {% endif %}
    </p>
  {% end %}
</section>
