{% include '_macros/market_tile.html' %}
{% include '_macros/more_button.html' %}

<section id="search-results" class="main full c">
  {% defer (url=apiParams('search', params), pluck='objects', as='app', paginate='ol.listing') %}
    <header class="results-header c">
      <h2>{{ _plural('<b>{n}</b> Result', '<b>{n}</b> Results', n=response.meta.total_count) }}</h2>
      <a href="#" class="expand-toggle" title="{{ _('Expand') }}"></a>
    </header>
    <ol class="container listing c">
      {% for result in this %}
        <li class="item result app c">
          {{ market_tile(result, link=true, force_button=true, src='search') }}
        </li>
      {% endfor %}

      {# Render the more button if there's another page of results #}
      {% if response.meta.next %}
        {{ more_button(response.meta.next) }}
      {% endif %}
    </ol>
  {% placeholder %}
    <p class="spinner spaced alt"></p>
  {% empty %}
    <p class="no-results">
      {{ _('No results found') }}
    </p>
  {% end %}
</section>
