/*
    Miscellaneous base and layout styles for the app detail page.
*/
@import '../lib';

[data-page-type~="detail"] {
    .subheader {
        display: none;
    }
}

.detail .support > div {
    // Necessary to not clobber desktop L+R.
    padding-bottom: 24px;
    padding-top: 24px;
}

.detail {
    background: $page-background;
    border-radius: 0;
    box-shadow: 0 1px 1px $greyscale-grey;
    margin: 10px;

    section:not(.app-header) h3 {
        _h3();
    }
}

.collapsed {
    display: none;
}

.actions {
    > div {
        float: left;
        overflow: hidden;
        width: 100%;
    }
    .button {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.support {
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        a {
            display: inline-block;
        }
    }
    li {
        float: left;
        margin-bottom: 10px;
        min-height: 100px;
        width: 480px;
    }
    p {
        margin: 0;
    }
}

.upsell-wrapper {
    background: $salt-flat-white;
    border-top: 1px solid $cloud-gray;
}

.upsell {
    background: #fff;
    border-radius: 5px;
    border: 1px solid $cloud-gray;
    display: block;
    font-size: 0;
    margin: 10px;
    padding: 15px 10px;
    text-decoration: none;

    &:hover {
        border-color: darken($seavan-salt-white, 10%);
        img {
            opacity: .8;
        }
    }
    &:active {
        depressed();
    }
    div {
        display: inline-block;
        padding: 8px 10px;
        vertical-align: top;
    }
    img {
        height: 64px;
        width: 64px;
    }
    .avail {
        color: #000;
        display: block;
        font-size: 15px;
        line-height: 17px;
    }
    .name {
        color: $earl-gray;
        font-size: 12px;
        line-height: 18px;
    }
}

.truncated:after {
    // Fade away at the end of truncated elements.
    bottom: 0;
    content: '';
    gradientTop(unquote('rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%'));
    height: 6.5em;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 10;
}

// Stats not mobile-optimized. Hide button on non-desktop.
// TODO: Remove once bug 924519 is resolved.
.statistics {
    display: none;
}

.detail-left-side {
    margin-bottom: 30px;
}

@media $base-tablet {
    .detail-flex-wrap {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    .detail-left-side {
        width: unquote('calc(100% - 300px)');
        margin-bottom: 0;
        margin-right: 30px;
    }
    .detail-right-side {
        width: $mobile-content-width;
    }
    .truncated-wrapper + a.view-all-tab {
        display: none;
    }
}

@media $base-desktop {
    .truncate-toggle {
        display: none;
    }
    .upsell-wrapper {
        background: #fff;
    }
    .upsell {
        padding: 24px 15px;
    }
    .upsell {
        border: 0;
        border-radius: 0;
        margin: 0;

        div {
            padding: 8px 15px;
        }
        .avail {
            font-size: 17px;
            line-height: 19px;
        }
        .name {
            font-size: 15px;
            line-height: 21px;
        }
    }
    .detail {
        margin: 0 auto;
        overflow: hidden;
    }
    .secondary-header .leading {
        font-size: 24px;
        gradient-two-color(#fff, #e1e1e1);
        line-height: 24px;
        max-width: 100%;
        padding: 15px;
        position: static;
    }
    .statistics {
        display: block;
    }
}
