/*
    Miscellaneous base and layout styles for the app detail page.
*/
@import '../lib';

[data-page-type~="detail"] .subheader {
    display: none;
}

.detail .support > div {
    // Necessary to not clobber desktop L+R.
    padding-bottom: 24px;
    padding-top: 24px;
}

.detail {
    background: $page-background;
    border-radius: 0;
    padding: 10px;

    section:not(.app-header):not(.website-header):not(.addon-header) h3 {
        _h3();
        margin-bottom: 15px;
    }
}

.collapsed {
    display: none;
}

.truncated:after {
    // Fade away at the end of truncated elements.
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    bottom: 0;
    content: '';
    height: 6.5em;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 10;
}

// Stats not mobile-optimized. Hide button on non-desktop.
// TODO: Remove once bug 924519 is resolved.
.statistics {
    display: none;
}

.website-detail--category-link,
.website-report-issue a {
    font-weight: 500;
}

.website-report-issue .button,
.app-report-abuse .button {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.website-report-issue,
.website-report-issue .button {
    margin-top: 15px;
}

.detail-left-side {
    margin-bottom: 30px;
}

@media $base-tablet {
    [data-page-type~="detail"] .detail > .placeholder > .loading {
        // Fix offset caused by not all elements being loaded.
        margin-top: 97px;
    }
    .detail-flex-wrap {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    .detail-left-side {
        width: unquote('calc(100% - 300px)');

        +ltr() {
            margin-right: 30px;
        }
        +rtl() {
            margin-left: 30px;
        }
    }
    .detail-right-side {
        width: $mobile-content-width;
    }
    .truncated-wrapper + a.view-all-tab {
        display: none;
    }
    .website-report-issue .button,
    .app-report-abuse .button {
        width: $mobile-content-width;
    }
}

@media $base-desktop {
    .truncate-toggle {
        display: none;
    }
    .detail {
        padding: 0;
        overflow: hidden;
    }
    .detail-left-side {
        margin-bottom: 0;
    }
    .secondary-header .leading {
        background-image: linear-gradient($greyscale-white, $greyscale-light-grey);
        font-size: 24px;
        line-height: 24px;
        max-width: 100%;
        padding: 15px;
        position: static;
    }
    .statistics {
        display: block;
    }
}
