/* The app tile section at the top of the app detail page. */
@import '../lib';

[data-page-type~="detail"] {
    .mkt-tile {
        padding-bottom: 10px;
    }
    .app-notices {
        border-top: 2px solid $tile-border;
        padding: 2px 0;
        text-align: center;
        width: 100%;

        > span {
            background: $action-positive;
            border-radius: 100px;
            color: $white;
            display: inline-block;
            font-weight: 300;
            margin: 5px;
            padding: 8px 15px;
            text-transform: lowercase;

            &.positive {
                background: $action-success;
            }
            &.negative {
                background: $action-error;
            }
        }
    }
}

@media $base-tablet {
    [data-page-type~="detail"] {
        .subheader {
            display: block;
        }
        .detail,
        .main,
        .mkt-tile {
            overflow: visible
        }
        .heading {
            margin-bottom: 70px;
        }
        .mkt-tile {
            padding-bottom: 40px;
            position: relative;
            margin: 0 auto;
            width: 50%;

            .icon {
                // Get the icon in the middle.
                bottom: 15px;
                height: 128px;
                left: 0;
                margin: 0 auto;
                right: 0;
                position: absolute;
                text-align: center;
                width: 128px;
            }
            .info {
                padding: 0;
                position: relative;
            }
            [itemprop="name"] {
                desktop_mega();
                padding-top: 55px;
                text-align: center;
            }
            [itemprop="creator"] {
                font-weight: 300;
                margin-top: 10px;
            }
            .install {
                height: $btn-small;

                em {
                    height: $btn-small;
                    line-height: $btn-small;
                }
            }
        }
        .rating-link {
            display: table;
            width-fit-content();
        }
        .cnt {
            float: left;
            margin-right: 5px;
        }
        .stars {
            float: right;
        }
        .app-notices {
            padding: 20px 0;
        }
    }
}
