/*
    Stylesheet for the upsell section of the app detail page.
*/
@import '../lib';

.upsell {
    &:hover {
        text-decoration: none;
    }
    img {
        display: inline-block;
        height: 64px;
        margin-right: 10px;
        width: 64px;
    }
    span {
        color: $greyscale-black;
        type_body();
        vertical-align: top;
    }
}
