{% include '_macros/market_tile.html' %}
{% include '_macros/more_button.html' %}

{% set source = category or 'all' %}

{% set featured_url = url('featured', [source]) %}
{% set featured_url = featured_url|urlparams(src='category-featured') %}

{% set category_url = url('category', [category]) if category else url('homepage') %}

{% set popular_url = category_url|urlparams(src='category-popular') %}
{% set new_url = category_url|urlparams(sort='reviewed', src='category-new') %}

{% set search_url = url('search')|urlparams(cat=category) if category else url('search') %}
{% set search_url = search_url|urlparams(sort=sort) if sort == 'reviewed' else search_url %}

<header class="category-header">
  <h3>{{ category_name }}</h3>
</header>

<header class="category-header-desktop hidden">
  <div class="dropdown secondary-header">
    <a class="cat-{{ category }} cat-icon cur-cat" data-cat-slug="{{ category }}" href="#">
      {{ category_name }}
    </a>
  </div>
</header>

{% defer (url=endpoint|urlunparam(['sort']), pluck='featured', as='collection') %}
  {% set featured_apps = this.length and this[0].apps %}
  {% if featured_apps and featured_apps.length %}
    <section id="featured" class="island main category featured full c">
      <header class="featured-header c">
        <h3>{{ _('Featured Apps') }}</h3>
        <a href="{{ featured_url }}" class="view-all">{{ _('View All') }}</a>
      </header>
      <ol class="grid c">
        {% for result in featured_apps %}
          <li>{{ market_tile(app_cast(result), link=true, src='featured', tray=False) }}</li>
        {% endfor %}
      </ol>
      <a href="{{ featured_url }}" class="view-all-mbl">{{ _('View All') }}</a>
    </section>
  {% endif %}
{% placeholder %}
{# Placeholder is empty because this section is often empty, and we already
   have a placeholder for the Popular/New sections below. #}
{% empty %}
{% except %}
{% end %}

<section id="gallery" class="island main category gallery full c">
{% defer (url=endpoint, pluck='objects', as='app', paginate='ol.listing') %}
  {% set paginated = response.meta.total_count > response.meta.limit %}
  {% if paginated %}
    <header class="featured-header c">
      <nav class="tabs">
        <a{% if not sort %} class="active"{% endif %} href="{{ popular_url }}" data-preserve-scroll>{{ _('Popular') }}</a>
        {# L10n: "New" should translate to mean "Recent". Choose the shortest (space constraints) #}
        <a{% if sort == 'reviewed' %} class="active"{% endif %} href="{{ new_url }}" data-preserve-scroll>{{ _('New') }}</a>
      </nav>
      <a href="{{ search_url }}" class="view-all">{{ _('View All') }}</a>
    </header>
  {% endif %}
  <ol class="container listing grid-if-desktop search-listing c">
    {% for result in this %}
      <li class="item result app c">
        {{ market_tile(result, link=true, src=source + '-' + (sort or 'popular'), tray=False) }}
      </li>
    {% endfor %}

    {# Render the more button if there's another page of results #}
    {% if response.meta.next %}
      {{ more_button(response.meta.next) }}
    {% endif %}
  </ol>
{% placeholder %}
  <p class="spinner padded alt"></p>
{% empty %}
  <p class="no-results">
    {{ _('No apps in this category') }}
  </p>
{% except %}
  <p class="no-results">
    {% if error == 400 or error == 404 %}
      {{ _('The category you requested does not exist.') }}
    {% elif error == 500 %}
      {{ _('An internal server error occurred. Please try again later.') }}
    {% endif %}
  </p>
{% end %}
</section>
