{% include "_macros/collection_tile.html" %}
{% include "_macros/market_tile.html" %}

{% set endpoint=api('collection', [slug]) %}

{% defer (url=endpoint, id='collection', as='collection', key=slug) %}

  {# One display for OSCs... #}
  {% if this.collection_type == 2 %}
    <section id="gallery" class="island main category gallery full c">
      <ol class="container listing grid-if-desktop search-listing c">
        {% for result in this.apps %}
          <li class="item result app c">
            {{ market_tile(result, link=true, src='osc', tray=False) }}
          </li>
        {% endfor %}
      </ol>
    </section>

  {# ...and one for all other collections. #}
  {% else %}
    <section class="main">
      {{ collection_tile(this) }}
      {% if this.apps %}
        <ol class="container listing c">
          {% for result in this.apps %}
            <li class="item result app c">
              {{ market_tile(result, link=true, src='collection') }}
            </li>
          {% endfor %}
        </ol>
      {% else %}
        {# L10n: Please do your best to capture the essence of Scooby Doo. #}
        {{ _("Ruh roh! No apps here, Shaggy!") }}
      {% endif %}
    </section>
  {% endif %}

{% placeholder %}
  <p class="spinner alt spaced"></p>
{% except %}
  <div class="detailed-error">
    <h2>{{ _('Oh no!') }}</h2>
    <p>{{ _('We could not load that collection. Please try again later.') }}</p>
  </div>
{% end %}
