<style>
  .present {
      background: green;
  }

  .absent {
      background: red;
  }

  dd, dt {
      padding: 0.1em;
  }

  dd {
      margin-left: 0.5em;
  }
</style>
{% defer (url=endpoint, id='features') %}
  <section id="features" class="debug main features full c">
    <h2>Feature profile information</h2>
    <p> Profile string: <strong>{{ profile }}</strong> </p>
    {% set features = this %}
    <dl class="c">
      {% for slug, feature in features %}
        {% set klass = "present" if feature.present else "absent" %}
        <dt class="{{ klass }}">{{ feature.name }} ({{ slug }})</dd>
        <dd>{{ feature.description }}</dd>
      {% endfor %}
    </dl>
  </section>
{% placeholder %}
  <p class="spinner spaced alt"></p>
{% end %}
