<section class="main infobox">
  <div>
    <style>
      dt {
        clear: left;
        float: left;
      }
      dd {
        float: left;
      }
    </style>
    <h2>Debug</h2>
    <p>
      <button id="toggle-debug">Debug Mode: <b id="debug-status">{{ dbg }}</b></button>
    </p>

    <dl class="settings c">
      {% for setting in settings.items() %}
        <dt>{{ setting[0] }}</dt>
        <dd>{{ setting[1] or '––' }}</dd>
      {% endfor %}
    </dl>

    <dl class="capabilities c">
      {% for cap in capabilities.items() %}
        <dt>{{ cap[0] }}</dt>
        <dd>{{ cap[1] }}</dd>
      {% endfor %}
      <dt>Feature Profile</dt>
      <dd>{{ profile }}</dd>
    </dl>

    <h3>Cache</h3>

    <pre id="cache-inspector"></pre>

    <ul class="cache-menu">
      {% for k in cache.keys() %}
        <li><a href="#" data-url="{{ k }}">{{ k|urlparams(_user='REDACTED') }}</a></li>
      {% endfor %}
    </ul>
  </div>
</section>
