<section class="main infobox">
  <div>
    <style>
      dt {
        clear: left;
        float: left;
      }
      dd {
        float: left;
      }
    </style>
    <h2>Debug</h2>
    <p>
      <button id="toggle-debug">Debug Mode: <b id="debug-status">{{ dbg }}</b></button>
    </p>

    <dl>
      {% for cap in capabilities.items() %}
        <dt>{{ cap[0] }}</dt>
        <dd>{{ cap[1] }}</dd>
      {% endfor %}
      <dt>Feature Profile</dt>
      <dd>{{ profile }}</dd>
    </dl>
  </div>
</section>
