{% include '_macros/market_tile.html' %}

<section id="search-results" class="main full c">
  {% defer (url=endpoint, pluck='featured', as='app') %}
    <header class="results-header c">
      <h2>{{ _('Featured') }}</h2>
      <a href="#" class="expand-toggle" title="{{ _('Expand') }}"></a>
    </header>
    <ol class="container listing c">
      {% for result in this %}
        <li class="item result app c">
          {{ market_tile(result, link=true, force_button=true, src='featured') }}
        </li>
      {% endfor %}
    </ol>
  {% placeholder %}
    <p class="spinner alt"></p>
  {% empty %}
    <p class="no-results">
      {{ _('No featured apps found') }}
    </p>
  {% end %}
</section>
