<div class="account">
  {% if user.logged_in() %}
    {{ _('Signed in as {{email}}', email=user.get_setting('email')) }}
    <a href="#" class="sync logout">({{ _('Sign Out') }})</a>
  {% else %}
    <button class="persona">{{ _('Sign In / Sign Up') }}</button>
  {% endif %}
</div>
<nav class="footer-links c" role="navigation">
  <p>
    <a href="{{ url('settings') }}">{{ _('Account Settings') }}</a>
  </p>
  <p>
    <a href="{{ url('privacy') }}">{{ _('Privacy Policy') }}</a>
    <a href="{{ url('terms') }}">{{ _('Terms of Use') }}</a>
  </p>
</nav>
