<nav role="navigation">
  <a href="#" id="nav-back" class="header-button icon back" title="{{ _('Back') }}"><b>{{ _('Back') }}</b></a>
  <h1 class="site"><a class="sync" href="{{ url('home') }}"><span class="wordmark">Firefox Marketplace</span></a></h1>
  <h1 class="page"></h1>
  <form novalidate method="GET" id="search" class="search" action="{{ url('search') }}"></form>
  <span class="flex-span"></span>
  <a href="#" class="expand-toggle" title="{{ _('Expand') }}"></a>
  <a href="#" class="header-button filter">{{ _('Filter') }}</a>
  <div class="act-tray">
    <a href="{{ url('settings') }}" class="header-button icon settings" title="{{ _('Settings') }}"></a>
    {# TODO: Make this responsive based on basta's logged-in classes. #}
    {% if logged %}
      <div class="account-links">
        <ul>
          <li>
            <a href="{{ url('settings') }}">
              <em>{{ request.amo_user.email }}</em>
              {{ _('Edit Account Settings') }}</a>
          </li>
          <li><a href="{{ url('purchases') }}">{{ _('My Apps') }}</a></li>
          <li class="submit-feedback"><a href="{{ url('feedback') }}">{{ _('Feedback') }}</a></li>
          <li><a href="{{ url('logout') }}" class="sync logout">{{ _('Sign Out') }}</a></li>
        </ul>
      </div>
    {% endif %}
  </div>
  <a href="#" class="header-button browserid">{{ _('Sign In') }}</a>
</nav>
