{% include "_macros/act_tray.html" %}

{% macro navtab(code, name, url, active_tab) %}
  <li data-tab="{{ code }}"{% if active_tab == code %} class="active"{% endif %}>
    <a href="{{ url }}">{{ name }}</a>
  </li>
{% endmacro %}

{# Actions drop-down (desktop) or settings toggle (mobile). #}
{{ act_tray(true, is_settings) }}

{# Navigation tabs (Home, New, Popular, Categories). #}
<ul class="navbar nav-mkt{% if not is_settings %} active{% endif %}" data-tab="{{ active_tab_mkt }}">
  {# Tab name must match route name. #}
  {{ navtab('homepage', _('Home'), url('homepage'), active_tab_mkt) }}
  {{ navtab('new', _('New'), url('new'), active_tab_mkt) }}
  {{ navtab('popular', _('Popular'), url('popular'), active_tab_mkt) }}
  {{ navtab('categories', _('Categories'), url('categories'), active_tab_mkt) }}
</ul>

{# Settings tabs (My Account, My Apps, Help, Feedback). #}
<ul class="navbar nav-settings{% if is_settings %} active{% endif %}" data-tab="{{ active_tab_settings }}">
  {# Tab name must match route name. #}
  {{ navtab('settings', _('My Account'), url('settings'), active_tab_settings) }}
  {{ navtab('purchases', _('My Apps'), url('purchases'), active_tab_settings) }}
  {{ navtab('help', _('Help'), '#', active_tab_settings) }}
  {{ navtab('feedback', _('Feedback'), url('feedback'), active_tab_settings) }}
</ul>

<div class="mkt-tray{% if is_settings %} active{% endif %}">
  <a class="header-button icon back-to-marketplace" title="{{ _('Back to Marketplace') }}"></a>
</div>
