<div class="nag-screen main">
  {# L10n: The operating system is out-of-date and needs to be updated. #}
  <h1>{{ _('Firefox OS Update Required') }}</h1>
  <p>{{ _("You're running an obsolete version of Firefox OS. Some apps in the Marketplace may fail to install or will malfunction. Please run a system update to continue enjoying the Marketplace.") }}</p>
  <div>
    <button class="button system-update">{{ _('Update Now') }}</button>
  </div>
  <div>
  	{# L10n: The user understands that some apps may malfunction if
  	they keep using the Marketplace without running a system update. #}
    <a href="{{ url('homepage') }}">{{ _('I understand the risk and wish to continue') }}</a>
  </div>
</div>