<section class="main infobox">
    <div>
        <h2>Unit Tests</h2>
        <progress value="0" />
        <table>
            <tr>
                <th>Started</th>
                <th>Passed</th>
                <th>Failed</th>
            </tr>
            <tr>
                <td id="c_started">0</td>
                <td id="c_passed">0</td>
                <td id="c_failed">0</td>
            </tr>
        </table>
        <ol class="tests"></ol>
    </div>
</section>

<script type="text/javascript" src="/tests/requests.js"></script>
<script type="text/javascript" src="/tests/urls.js"></script>
<script type="text/javascript" src="/tests/utils.js"></script>
