{% from '_macros/market_button.html' import market_button %}

{% macro game_title() %}
  <div class="games-title">
    <h1>{{ _('PLAY GREAT DESKTOP GAMES') }}</h1>
  </div>
{% endmacro %}


{% macro game_tile(game) %}
  <li class="game" style="background-image: url({{ game.promo_images.small }})">
    <div class="game-gradient"></div>
    <h3 class="game-name">{{ game.name }}</h3>
    <div class="game-overlay">
      <p class="game-overlay-category">{{ getGameCategory(game) }}</p>
      <img class="game-overlay-icon" src="{{ game.icons['128'] }}">
      <div class="game-overlay-info-container">
        <p class="game-overlay-name">{{ game.name }}</p>
        {% if game.author %}
          <p class="game-overlay-developer">
            {{ _('<span>by</span> {author}')|format(author=game.author) }}
          </p>
        {% endif %}
      </div>
      {{ market_button(game, isGame=True) }}
    </div>
  </li>
{% endmacro %}


{% macro primary_game(game) %}
  <div class="games-home-primary">
    <div class="games-home-primary-main"
         style="background-image: url({{ game.promo_images.large }})">
      <div class="game-gradient"></div>
      {{ market_button(game, isGame=True) }}
    </div>
    <ul class="games-home-primary-metadata-container">
      <li class="games-home-primary-metadata">
        <dt>{{ _('Game') }}</dt>
        <dd>{{ game.name }}</dd>
      </li>
      <li class="games-home-primary-metadata">
        <dt>{{ _('Developer') }}</dt>
        <dd>{{ game.author }}</dd>
      </li>
      <li class="games-home-primary-metadata">
        <dt>{{ _('Category') }}</dt>
        <dd>{{ getGameCategory(game) }}</dd>
      </li>
    </ul>
  </div>
{% endmacro %}


{% defer (url=api('games-daily'), pluck='objects') %}
  <section class="games-home">
    {{ game_title() }}

    {{ primary_game(this[0]) }}

    <ul class="games-home-secondary-container">
      {% for game in this %}
        {% if loop.index0 != 0 %}
          {{ game_tile(game) }}
        {% endif %}
      {% endfor %}
    </ul>

    <div class="games-home-more">
      <a href="{{ url('games/listing', ['all']) }}">
        {{ _('Find more great games') }}</a>
    </div>
  </section>
{% end %}
