{% from "games/index.html" import game_title, game_tile %}


<section>
  {{ game_title() }}

  <div class="web-games-are-awesome">
    <p>
      {{ _('Enjoy instant fun right on your desktop with our handpicked selection of app and browser-based games.') }}
      {{ _("Puzzle, action, adventure, and strategy titles&mdash;we're adding new games all the time so check back often.") }}
    </p>
    <a href="https://games.mozilla.org/gdc/">
      {{ _('Learn more about why games and Mozilla go so well together.') }}
    </a>
  </div>

  <div class="games-listing-container">
    <ul class="games-listing-nav">
      {% for gameCategory in gameCategories %}
        <li data-active="{{ gameCategory[0] == currentGameCategory }}">
          <a href="{{ url('games/listing', [gameCategory[0]]) }}">
            {{ gameCategory[1] }}
          </a>
        </li>
      {% endfor %}
    </ul>

    {% defer (url=api('search')|urlparams(tag=currentGameTag),
              pluck='objects', as=appOrWebsite) %}
      <ul class="games-listing">
        {% for game in this %}
          {{ game_tile(game) }}
        {% endfor %}
      </ul>
    {% end %}
  </div>
</section>
