/*
    Stylesheet for editorial brands. On the feed and on the brand landing page.
*/
@import '../lib';

.brand-header h3:before,
.brand-landing-header h3:before {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    content: '';
    display: block;
    position: absolute;
}

.brand-header {
    display: block;
    padding: 10px 0;
    position: relative;
    right: 10px;
    text-align: center;
    width-calc('100% + 20px');

    +rtl() {
        left: 10px;
        right: inherit;
    }
    &:hover {
        text-decoration: none;
    }
    h3 {
        color: $white;
        font-size: 20px;
        font-weight: 300;
        margin-top: 80px;
        margin-bottom: 10px;
    }
    h3:before {
        border-radius: 50%;
        border: 2px solid $white;
        height: 60px;
        left: unquote('calc(50% - 30px)');
        top: 15px;
        width: 60px;
    }
}

.brand-landing-icon {
    background-color: $greyscale-light-grey;
}

[data-page-type~="homepage"] .brand-header {
    bottom: 15px;
}

.brand-landing-icon {
    border-radius: 128px;
    height: 64px;
    left: 0;
    margin: 0 auto;
    right: 0;
    position: absolute;
    top: 50px;
    width: 64px;

    h3:before {
        border-radius: 50%;
        border: 2px solid $white;
        left: unquote('calc(50% - 34px)');
        height: 64px;
        width: 64px;
    }
}

.feed-landing-header .brand-landing-header h1 {
    margin-top: 60px;
}

// Icons.
[data-brand-type="groundbreaking"] h3:before {
    background-image: url(../img/icons/brands/groundbreaking-40px.png);
}
[data-brand-type="arts-entertainment"] h3:before {
    background-image: url(../img/icons/brands/arts&Entertainment-40px.png);
}
[data-brand-type="book"] h3:before {
    background-image: url(../img/icons/brands/books-40px.png);
}
[data-brand-type="creativity"] h3:before {
    background-image: url(../img/icons/brands/creativity-40px.png);
}
[data-brand-type="education"] h3:before {
    background-image: url(../img/icons/brands/education-40px.png);
}
[data-brand-type="games"] h3:before {
    background-image: url(../img/icons/brands/games-40px.png);
}
[data-brand-type="health-fitness"] h3:before {
    background-image: url(../img/icons/brands/health&Fitness-40px.png);
}
[data-brand-type="hidden-gem"] h3:before {
    background-image: url(../img/icons/brands/hiddenGem-40px.png);
}
[data-brand-type="lifestyle"] h3:before {
    background-image: url(../img/icons/brands/lifestyle-40px.png);
}
[data-brand-type="local-favorite"] h3:before {
    background-image: url(../img/icons/brands/LocalCommunityFavourite-40px.png);
}
[data-brand-type="maps-navigation"] h3:before {
    background-image: url(../img/icons/brands/maps&Nav-40px.png);
}
[data-brand-type="music"] h3:before {
    background-image: url(../img/icons/brands/music-40px.png);
}
[data-brand-type="mystery-app"] h3:before {
    background-image: url(../img/icons/brands/mysteryApp-40px.png);
}
[data-brand-type="local-favorite"] h3:before {
    background-image: url(../img/icons/brands/LocalCommunityFavourite-40px.png);
}
[data-brand-type="news-weather"] h3:before {
    background-image: url(../img/icons/brands/news&Weather-40px.png);
}
[data-brand-type="photo-video"] h3:before {
    background-image: url(../img/icons/brands/photos&Video-40px.png);
}
[data-brand-type="shopping"] h3:before {
    background-image: url(../img/icons/brands/shopping-40px.png);
}
[data-brand-type="social"] h3:before {
    background-image: url(../img/icons/brands/social-40px.png);
}
[data-brand-type="sports"] h3:before {
    background-image: url(../img/icons/brands/sports-40px.png);
}
[data-brand-type="tools-time-savers"] h3:before {
    background-image: url(../img/icons/brands/tools&TimesSavers-40px.png);
}
[data-brand-type="travel"] h3:before {
    background-image: url(../img/icons/brands/travel-40px.png);
}
[data-brand-type="work-business"] h3:before {
    background-image: url(../img/icons/brands/work&Business-40px.png);
}
[data-brand-type^="apps-for-"] h3:before {
    background-image: url(../img/icons/brands/countrySpecific-40px.png);
}
