/*
    Stylesheet for collections.
*/
@import '../lib';

.collection-listing-header {
    // Header for listing collections on the homepage.
    background: $action-positive;
    bottom: 15px;
    display: block;
    height: 48px;
    padding-top: 15px;
    position: relative;
    right: 10px;
    text-align: center;
    width: unquote('calc(100% + 20px)');

    h3 {
        color: $white;
    }
}
