/*
    Stylesheet for collections. Landing styles are also used by shelves.
*/
@import '../lib';

.collection-landing-wrapper {
    display-flex();
    flex-wrap(wrap);

    .collection-landing-header {
        width: 100%;
    }
}

.collection-listing-header {
    // Header for listing collections on the homepage.
    display: block;
    height: 48px;
    padding-top: 30px;
    position: relative;
    text-align: center;

    &:hover {
        text-decoration: none;
    }
    h3 {
        font-size: 20px;
        font-weight: 200;
        line-height: 20px;
    }
}

.collection-listing-desc {
    type_body();
    padding-bottom: 10px;
    text-align: center;
}

.feed-landing-header .collection-listing-desc {
    padding: 10px 10px 30px;
}

[data-page-type~="homepage"] .collection-listing-header {
    bottom: 15px;
    right: 10px;
    width: unquote('calc(100% + 20px)');
}

.collection-landing-header .collection-listing-header {
    width: 100%;
}

.feed-collection-listing .desc {
    margin-top: 0;
    padding: 5px 0 10px;
    type_body();
}

.collection-group-header {
    _h3();
    padding-top: 30px;
}

.collection-landing-header-mobile {
    width: 100%;

    .feed-collection {
        display: block;
        margin: 0 auto;
        width: $mobile-content-width;
    }
}

.feed-landing-wrapper:not([data-collection-landing-is-listing]) .collection-landing-header-mobile {
    padding: 10px 0;
}

.collection-landing-app-icons {
    left: 0;
    list-style: none;
    margin-top: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 40px;

    li {
        display: inline-block;
        vertical-align: middle;

        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    + .feed-landing-curve .feed-landing-header-inner {
        margin-top: 40px;
    }
}

@media $base-tablet {
    [data-collection-landing-has-background-image] .feed-landing-header {
        padding-top: 40px;
    }
    [data-collection-landing-has-background-image] .feed-landing-description {
        width: 500px;
        max-width: 100%;
    }
}
