/*
    Colors for the feed.
*/
@import 'index';
@import '../lib';

[data-collection-landing-color="amber"] {
    collection_background_colors($color-collection--amber);
}
[data-collection-landing-color="garnet"] {
    collection_background_colors($color-collection--garnet);
}
[data-collection-landing-color="topaz"] {
    collection_background_colors($color-collection--topaz);
}
[data-collection-landing-color="amethyst"] {
    collection_background_colors($color-collection--amethyst);
}
[data-collection-landing-color="sapphire"] {
    collection_background_colors($color-collection--sapphire);
}
[data-collection-landing-color="emerald"] {
    collection_background_colors($color-collection--emerald);
}
[data-collection-landing-color="ruby"] {
    collection_background_colors($color-collection--ruby);
}
[data-collection-landing-color="aquamarine"] {
    collection_background_colors($color-collection--aquamarine);
}

[data-brand-color="ruby"] { background-color: $collections-ruby; }
[data-brand-color="amber"] { background-color: $collections-amber; }
[data-brand-color="emerald"] { background-color: $collections-emerald; }
[data-brand-color="topaz"] { background-color: $collections-topaz; }
[data-brand-color="sapphire"] { background-color: $collections-sapphire; }
[data-brand-color="amethyst"] { background-color: $collections-amethyst; }
[data-brand-color="garnet"] { background-color: $collections-garnet; }
[data-brand-color="aquamarine"] { background-color: $collections-aquamarine; }

[data-collection-color-self="amber"] {
    background: $color-collection--amber;
}
[data-collection-color-self="garnet"] {
    background: $color-collection--garnet;
}
[data-collection-color-self="topaz"] {
    background: $color-collection--topaz;
}
[data-collection-color-self="amethyst"] {
    background: $color-collection--amethyst;
}
[data-collection-color-self="sapphire"] {
    background: $color-collection--sapphire;
}
[data-collection-color-self="emerald"] {
    background: $color-collection--emerald;
}
[data-collection-color-self="ruby"] {
    background: $color-collection--ruby;
}
[data-collection-color-self="aquamarine"] {
    background: $color-collection--aquamarine;
}
