/*
    Colors for the feed.
*/
@import 'index';
@import '../lib';

feed_background_color($color) {
    background: $color;

    &:active {
        background: $color;
    }
}

brand_background_colors($color) {
    .brand-landing-icon {
        background-color: $color;
    }
    .brand-landing-curve {
        background-color: rgba($color, 0.75);

        // Heavyhanded mask for the curve bottom padding.
        &:after {
            background-color: rgba($color, 0.55);
            bottom: -45px;
            content: "";
            height: 45px;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
}

[data-feed-landing-color],
[data-shelf-landing-carrier] {
    h1,
    .feed-landing-description {
        color: $white;
    }
}
[data-feed-landing-color="amber"] {
    brand_background_colors($color-collection--amber);
    collection_background_colors($color-collection--amber);
}
[data-feed-landing-color="garnet"] {
    brand_background_colors($color-collection--garnet);
    collection_background_colors($color-collection--garnet);
}
[data-feed-landing-color="topaz"] {
    brand_background_colors($color-collection--topaz);
    collection_background_colors($color-collection--topaz);
}
[data-feed-landing-color="amethyst"] {
    brand_background_colors($color-collection--amethyst);
    collection_background_colors($color-collection--amethyst);
}
[data-feed-landing-color="sapphire"] {
    brand_background_colors($color-collection--sapphire);
    collection_background_colors($color-collection--sapphire);
}
[data-feed-landing-color="emerald"] {
    brand_background_colors($color-collection--emerald);
    collection_background_colors($color-collection--emerald);
}
[data-feed-landing-color="ruby"] {
    brand_background_colors($color-collection--ruby);
    collection_background_colors($color-collection--ruby);
}
[data-feed-landing-color="aquamarine"] {
    brand_background_colors($color-collection--aquamarine);
    collection_background_colors($color-collection--aquamarine);
}

[data-feed-color="amber"] {
    feed_background_color($color-collection--amber);
}
[data-feed-color="garnet"] {
    feed_background_color($color-collection--garnet);
}
[data-feed-color="topaz"] {
    feed_background_color($color-collection--topaz);
}
[data-feed-color="amethyst"] {
    feed_background_color($color-collection--amethyst);
}
[data-feed-color="sapphire"] {
    feed_background_color($color-collection--sapphire);
}
[data-feed-color="emerald"] {
    feed_background_color($color-collection--emerald);
}
[data-feed-color="ruby"] {
    feed_background_color($color-collection--ruby);
}
[data-feed-color="aquamarine"] {
    feed_background_color($color-collection--aquamarine);
}
