/*
    Stylesheet for curves featured in Feed tiles and landing pages.
*/
@import '../lib';

.feed-landing-curve {
    // Base curve class. Usuually override `background` and `height`.
    background: rgb(250, 250, 250);
    border-radius: 50% 50% 0 0;
    position: absolute;
    bottom: -40px;
    height: 145px;
    width: 120%;
    left: -10%;
    z-index: -1;
}

.collection-landing-wrapper .feed-landing-curve {
    bottom: -60px;
    height: 165px;
}
