/*
    Stylesheet for curves featured in Feed tiles and landing pages.
*/
@import '../lib';

.feed-landing-curve {
    // Base curve class. Usuually override `background` and `height`.
    background: rgb(250, 250, 250);
    border-radius: 50% 50% 0 0;
    display: flex;
    justify-content: center;
    margin-bottom: -45px;
    padding-bottom: 40px;
    width: 120%;
    z-index: -1;
}
