/*
    Grid layout for brands and collections. Mostly app icons.
*/
@import '../lib';

.feed-layout-grid {
    .rating,
    .author,
    .stars {
        display: none;
    }
}

.feed-layout-grid ul {
    margin-top: 15px;
}

.feed-layout-grid .mkt-tile {
    float: left;
    height: 128px;
    margin-bottom: 20px;
    width: 50%;

    .icon {
        margin: 0 auto;
        position: relative;
    }
    .info {
        padding: 12px 0 0;
        text-align: center;
        width: 130px;
    }
    .install {
        border-bottom: none;
        color: $action-positive;
        font-size: 15px;
        height: auto;
        pointer-events: none;
        position: relative;

        em {
            background: none !important;
            border-bottom: none;
        }
        &[disabled] em {
            background: none;
        }
    }
    .heading {
        flex-direction: column;
        // For FxOS bug 1158148.
        min-height: 170px;
    }
}

.feed-layout-grid .button.install {
    color: $action-positive;
}
