collection_background_colors($color) {
    .feed-landing-header {
        background-color: rgba($color, 0.55);
    }
    &[data-collection-landing-is-listing] {
        background: none;
    }
    .feed-landing-header .collection-listing-desc,
    .collection-landing-curve,
    .collection-landing-header-mobile .curve,
    .collection-listing-header {
        background-color: $color;
    }

    @media $base-tablet {
        &[data-collection-landing-is-listing] {
            background-color: rgba($color, 0.85);
        }
    }
}
