/*
    Defines the layout of the feed "tiles". Mostly columns.
    Uses Salvattore to produce the columns (e.g., .size1of2).
*/
@import '../lib';


[data-page-type~="homepage"] .page {
    padding-bottom: 30px;
}

[data-columns] {
    margin: 0 auto;
    padding-top: 15px;

    .size-1of2,
    .size-1of3 {
        float: left;
        max-width: $feed-column-width;
        width: $mobile-tile-width + $feed-column-margin;
    }
}

@media screen and (max-width: 639px) {
    // One column.
    .feed-home {
        width: $feed-column-width;
    }

    .feed-home {
        &::before {
            content: '1 .column.size-1of1';
        }
    }
}

@media screen and (min-width: 640px) and (max-width: 959px) {
    // Two to three columns.
    .feed-home {
        width: $feed-column-width * 2;

        &::before {
            content: '2 .column.size-1of2';
        }
    }
}

@media screen and (min-width: 960px) {
    // Three columns.
    .feed-home {
        padding-left: 8px;
        width: $feed-column-width * 3;

        &::before {
            content: '3 .column.size-1of3';
        }
    }
}

@media screen and (min-width: 640px) and (max-width: 709px) {
    .feed-landing.shelf-landing {
        padding-top: 18px;
    }
}

@media $base-desktop {
    .feed-home {
        padding-top: 0;
    }
}
