/*
    Stylesheet for operator shelves.
*/
@import 'index';
@import '../lib';

// Operator shelf colors and regions.
$default_shelf_color = #0098cf;
$movistar_regions = (mx co ar uy pe es cl ve ec gt sv ni pa cr);
$movistar_color = #003245;
$vivo_regions = (br);
$vivo_color = #FF9900;
$o2_regions = (de)
$o2_color = #000066;
$telenor_regions = (hu me rs bd)
$telenor_color = #00ACE7;
$grameenphone_regions = (bd);
$grameenphone_color = #00ACE7;
$tmobile_regions = (hu pl);
$tmobile_color = #E20074;
$kddi_regions = (jp)
$kddi_color = #E35205;
$mtn_regions = (za)
$mtn_color = #CD6723;

shelf_curve_color($color) {
    // For the 300px shelf tile.
    .feed-item-curve {
        background: rgba($color, 0.55);
    }
    .feed-landing-header-mobile .curve {
        background: rgba($color, 0.85);
    }
}

.shelf.shelf-landing {
    height: 150px;

    .curve {
        height: 70px;
        top: 80px;
    }
    .info {
        bottom: -45px;
    }
}

.shelf {
    height: 90px;

    .feed-item-curve {
        background-color: rgba($default_shelf_color, 0.55);
        top: 50px;
    }
    .info {
        position: relative;
        margin-top: 60px;
        z-index: 15;
    }
}

.feed-landing-header-mobile .shelf .feed-item-curve {
    top: 80px;
}

[data-carrier="telefonica"] {
    shelf_curve_color($movistar_color);

    for region in $vivo_regions {
        &[data-region={region}] {
            shelf_curve_color($vivo_color);
        }
    }
}
[data-carrier="o2"] {
    shelf_curve_color($o2_color);
}
[data-carrier="telenor"] {
    shelf_curve_color($telenor_color);
}
[data-carrier="grameenphone"] {
    shelf_curve_color($grameenphone_color);
}
[data-carrier="deutsche_telekom"] {
    shelf_curve_color($tmobile_color);
}
[data-carrier="kddi"] {
    shelf_curve_color($kddi_color);
}
[data-carrier="mtn"] {
    shelf_curve_color($mtn_color);
}

[data-shelf-landing] {
    collection_background_colors($default_shelf_color);
}
[data-shelf-landing-carrier="telefonica"] {
    collection_background_colors($movistar_color);

    for region in $vivo_regions {
        &[data-shelf-landing-region={region}] {
            collection_background_colors($vivo_color);
        }
    }
}
[data-shelf-landing-carrier="o2"] {
    collection_background_colors($o2_color);
}
[data-shelf-landing-carrier="telenor"] {
    collection_background_colors($telenor_color);
}
[data-shelf-landing-carrier="grameenphone"] {
    collection_background_colors($grameenphone_color);
}
[data-shelf-landing-carrier="deutsche_telekom"] {
    collection_background_colors($tmobile_color);
}
[data-shelf-landing-carrier="kddi"] {
    collection_background_colors($kddi_color);
}
[data-shelf-landing-carrier="mtn"] {
    collection_background_colors($mtn_color);
}

@media $base-tablet {
    [data-shelf-landing-carrier="telefonica"] {
        .feed-landing-header {
            padding: 0;
        }
        .feed-landing-curve {
            border-radius: 0;
            padding: 40px 0;
        }
        .feed-landing-header-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            width: $feed-column-width;
        }
    }
}
