/*
    Stylesheet for operator shelves.
*/
@import '../lib';

// Operator shelf colors and regions.
$default_shelf_color = #ce001c;
$movistar_regions = (mx co ar uy pe es cl ve ec gt sv ni pa cr);
$movistar_color = #7AB800;
$vivo_regions = (br);
$vivo_color = #FF9900;
$o2_regions = (de)
$o2_color = #000066;
$telenor_regions = (hu me rs bd)
$telenor_color = #00ACE7;
$grameenphone_regions = (bd);
$grameenphone_color = #00ACE7;
$tmobile_regions = (hu pl);
$tmobile_color = #E20074;
$kddi_regions = (jp)
$kddi_color = #E35205;
$mtn_regions = (za)
$mtn_color = #CD6723;

.shelf.shelf-landing {
    height: 150px;

    .curve {
        height: 70px;
        top: 80px;
    }
    .info {
        bottom: -45px;
    }
}

.shelf {
    height: 90px;

    .curve {
        background-color: rgba($default_shelf_color, 0.6);
        top: 50px;
    }
    .info {
        position: relative;
        margin-top: 60px;
        z-index: 15;
    }
    .desc,
    .author {
        display: none;
    }
}

.curve {
    [data-carrier="telefonica"]& {
        for region in $movistar_regions {
            [data-region={region}]& {
                background-color: rgba($movistar_color, 0.6);
            }
        }
        for region in $vivo_regions {
            [data-region={region}]& {
                background-color: rgba($vivo_color, 0.6);
            }
        }
    }
    [data-carrier="o2"]& {
        for region in $o2_regions {
            [data-region={region}]& {
                background-color: rgba($o2_color, 0.6);
            }
        }
    }
    [data-carrier="telenor"]& {
        for region in $telenor_regions {
            [data-region={region}]& {
                background-color: rgba($telenor_color, 0.6);
            }
        }
    }
    [data-carrier="grameenphone"]& {
        for region in $grameenphone_regions {
            [data-region={region}]& {
                background-color: rgba($grameenphone_color, 0.6);
            }
        }
    }
    [data-carrier="deutsche_telekom"]& {
        for region in $tmobile_regions {
            [data-region={region}]& {
                background-color: rgba($tmobile_color, 0.6);
            }
        }
    }
    [data-carrier="kddi"]& {
        for region in $kddi_regions {
            [data-region={region}]& {
                background-color: rgba($kddi_color, 0.6);
            }
        }
    }
    [data-carrier="mtn"]& {
        for region in $mtn_regions {
            [data-region={region}]& {
                background-color: rgba($mtn_color, 0.6);
            }
        }
    }
}
