<div class="newssignup c">
  <div>
    <header class="secondary-header">
      <h3>{{ _('Get Firefox Marketplace news') }}</h3>
    </header>
    <form class="news-signup-form">
      <p>
        <input type="email" id="email" name="email" value="{{ email }}">
        <button type="submit">{{ _('Sign up') }}</button>
      </p>
    </form>
  </div>
  <a href="#" class="btn-side-cancel close">{{ _('Cancel') }}</a>
  <p class="processing">
    <span class="spinner alt"></span>{{ _('Signing up...') }}
  </p>
  <p class="finished">
    {{ _('You were successfully signed up for the Marketplace newsletter!') }}
  </p>
</div>
