{% from "_macros/market_button.html" import market_button %}

{% macro addon_tile(addon, is_detail=False) %}
{% set tag = 'div' if is_detail else 'a' %}
  <{{ tag }} class="addon-tile"
             data-content-type="addon"
             {% if not is_detail %}
               href="{{ url('addon', [addon.slug]) }}"
             {% endif %}
             data-slug="{{ addon.slug }}">
    <div class="addon-tile-info">
      <h3 class="mkt-addon-name" title="{{ addon.name }}" itemprop="name">
        {{ addon.name }}
      </h3>
      <figure class="addon-icon">
        <img src="{{ addon.icons['64'] }}" width="64" height="64" />
      </figure>
      {% if addon.author %}
        <div class="author mkt-product-author"
             title="{{ addon.author }}" itemprop="creator">
          {{ addon.author }}
        </div>
      {% endif %}
    </div>
    {{ market_button(addon, data_attrs={
      'manifest_url': addon.mini_manifest_url,
      'slug': addon.slug
    }) }}
  </{{ tag }}>
{% endmacro %}
