{% from "_macros/feed_app_tile.html" import feed_app_tile %}
{% from "_macros/market_button.html" import market_button %}
{% from "_macros/previews.html" import preview_tray %}
{% from "_macros/stars.html" import stars %}

{% macro app_tile(app, feed_app=None, is_detail=False, tray=False, src=None,
                  price_only=False) %}
  {#
      app -- app object
      feed_app - feed-app specific data
      is_detail - whether part of a detail page
      tray -- whether or not to attach a preview/screenshot tray
      src -- if tile is a link, attach a src param for analytics purposes
      price_only -- for Feed if only want to show price, no install
  #}
  {% set tag = 'div' if is_detail else 'a' %}
  <{{ tag }} class="product mkt-tile{{ ' feed-app c' if feed_app }}"
             data-slug="{{ app.slug }}" data-id="{{ app.id }}"
             {% if not is_detail %}
               href="{{ app.url or url('app', [app.slug])|urlparams(src=src) }}"
             {% endif %}
             {{ 'itemscope itemtype="http://schema.org/SoftwareApplication"' if not is_detail }}>
    <div class="heading">
      {{ deferred_icon(app.icons[is_detail and '128' or '64'] or app.icons['64']) }}
      <div class="info">
        <h3 itemprop="name" title="{{ app.name|translate(app) }}">
          {{ app.name|translate(app) }}
        </h3>

        {% if app.author %}
          {# TODO: When we get user profiles, update to be Person itemprop. #}
          <div class="author elliflow vital subdetail" itemprop="creator"
               title="{{ app.author }}">
            {% if is_detail -%}
              <a href="{{ url('search')|urlparams(author=app.author) }}">{{ app.author }}</a>
            {% else -%}
              {{ app.author }}
            {% endif -%}
          </div>
        {% endif %}

        {% if app.slug %}
          {{ market_button(app, data_attrs={
                 'manifest_url': app.manifest_url,
                 'source': src,
                 'slug': app.slug
             }, price_only=price_only)
          }}
        {% endif %}

        {{ rating_link() if not is_detail }}
      </div>
    </div>

    {{ rating_link(is_detail=True) if is_detail }}
    {{ feed_app_tile(feed_app) if feed_app }}
  </{{ tag }}>

  {% if is_detail %}
    {% set notices = app_notices(app) %}
    {% if notices.length %}
      <div class="app-notices full">
        {% for notice in notices %}
          <span class="{{ notice[1] }}">{{ notice[0] }}</span>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  {% if is_detail %}
    {% include "_includes/post_install_message.html" %}
  {% endif %}

  {% if tray and len(app.previews) %}
    {{ preview_tray(app, src, is_detail) }}
  {% endif %}
{% endmacro %}


{% macro deferred_icon(src, alt, width) %}
  {% if not imgAlreadyDeferred(src) %}
    {# Defer image loading. #}
    <img class="icon deferred" src="{{ PLACEHOLDER_ICON }}"
         data-src="{{ src }}" title="{{ alt or '' }}" alt="{{ alt or '' }}"
         height="{{ width or 60 }}" width="{{ width or 60 }}" itemprop="image">
  {% else %}
    <img class="icon" src="{{ src }}" title="{{ alt or '' }}" alt="{{ alt or '' }}"
         height="{{ width or 64 }}" width="{{ width or 64 }}" itemprop="image">
  {% endif %}
{% endmacro %}


{% macro rating_link(is_detail=False) %}
  <div class="rating vital{{ ' unrated' if not app.ratings.count }}"
       itemscope itemprop="aggregateRating"
       itemtype="http://schema.org/AggregateRating">
    {# Detail page ratings link to the ratings list page. #}
    {% if is_detail %}
      {% if app.ratings.count %}
        <a href="{{ url('app/ratings', [app.slug]) }}" class="rating-link">
          {{ stars(app.ratings.average) }}
          <span class="cnt long">
            {{ app.ratings.count|numberfmt }} {{ _plural('Review', 'Reviews',
                                                         n=app.ratings.count) }}
          </span>
        </a>
      {% else %}
        <span class="rating-link">
          <span class="cnt long unrated">{{ _('Not yet reviewed') }}</span>
        </span>
      {% endif %}
    {% else %}
      {# Stars-only rating (member of an app listing). #}
      {{ stars(app.ratings.average) }}
    {% endif %}
  </div>
{% endmacro %}
