{% from "_macros/feed_app_tile.html" import feed_app_tile %}
{% from "_macros/market_button.html" import market_button %}
{% from "_macros/previews.html" import preview_tray %}
{% from "_macros/stars.html" import stars %}

{% macro app_tile(product, feed_app=None, is_detail=False, tray=False, src=None) %}
  {#
      product -- market item (app/website)
      feed_app - feed-app specific data
      is_detail - whether part of a detail page
      tray -- whether or not to attach a preview/screenshot tray
      src -- if tile is a link, attach a src param for analytics purposes
  #}
  {% set product = apps.transform(product) %}
  {% set name = product.name if is_detail else product.short_name or product.name %}

  {% set tag = 'div' if is_detail else 'a' %}
  <{{ tag }} class="mkt-tile{{ ' feed-app c' if feed_app }}"
             data-slug="{{ product.slug }}" data-id="{{ product.id }}"
             {% if not is_detail %}
               href="{{ url(product.contentType, [product.key])|urlparams(src=src) }}"
             {% endif %}
             data-content-type="{{ product.contentType }}"
             {{ 'itemscope itemtype="http://schema.org/SoftwareApplication"' if not is_detail }}>
    <span class="mkt-product-heading">
      <h3 class="mkt-product-name" itemprop="name"
          title="{{ name|translate(product) }}">
        {{ name|translate(product) }}
      </h3>
      <span class="info mkt-tile-info">
        {% if product.author and is_detail %}
          {# TODO: When we get user profiles, update to be Person itemprop. #}
          <div class="author mkt-product-author" itemprop="creator"
               title="{{ product.author }}">
            {% if is_detail -%}
              <a href="{{ url('search')|urlparams(author=product.author) }}">{{ product.author }}</a>
            {% else -%}
              {{ product.author }}
            {% endif -%}
          </div>
        {% endif %}

        {% if not is_detail %}
          <ul class="app-tile-categories">
            {% for cat in product.categories %}
              <li>{{ cat.name }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if product.isApp %}
          {{ rating_link(is_detail=is_detail) }}
        {% endif %}

        {# Move the button below the icon/title on website detail. #}
        {% if not product.isWebsite or not is_detail %}
          {{ market_button(product, data_attrs={
            'manifest_url': product.manifest_url,
            'source': src,
            'slug': product.slug
          }) }}
        {% endif %}
      </span>
      {{ deferred_icon(product.icons[is_detail and '128' or '64'] or product.icons['64'], name|translate(product)) }}
    </span>

    {{ feed_app_tile(feed_app) if feed_app }}
  </{{ tag }}>

  {% if is_detail %}
    {% if product.isWebsite %}
      {{ market_button(product, data_attrs={
        'manifest_url': product.manifest_url,
        'source': src,
        'slug': product.slug
      }) }}
    {% endif %}
    {% set notices = [] if product.loading else app_notices(product) %}
    {% if notices.length %}
      <div class="app-notices full">
        {% for notice in notices %}
          <span class="{{ notice[1] }}">{{ notice[0] }}</span>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  {% if is_detail %}
    {% include "_includes/post_install_message.html" %}
  {% endif %}

  {% if tray and product.previews and len(product.previews) %}
    {{ preview_tray(product, src, is_detail) }}
  {% endif %}
{% endmacro %}


{% macro deferred_icon(src, alt, width) %}
  {% if not imgAlreadyDeferred(src) %}
    {# Defer image loading. #}
    <img class="icon deferred" src="{{ PLACEHOLDER_ICON }}"
         data-src="{{ src }}" title="{{ alt or '' }}" alt="{{ alt or '' }}"
         height="{{ width or 60 }}" width="{{ width or 60 }}" itemprop="image">
  {% else %}
    <img class="icon" src="{{ src }}" title="{{ alt or '' }}" alt="{{ alt or '' }}"
         height="{{ width or 64 }}" width="{{ width or 64 }}" itemprop="image">
  {% endif %}
{% endmacro %}


{% macro rating_link(is_detail=False) %}
  <span class="rating mkt-app-rating {{ 'unrated' if not product.ratings.count }}"
       itemscope itemprop="aggregateRating"
       itemtype="http://schema.org/AggregateRating">
    {# Detail page ratings link to the ratings list page. #}
    {% if is_detail %}
      {% if product.ratings.count %}
        <a href="{{ url('app/ratings', [product.slug]) }}" class="rating-link">
          {{ stars(product.ratings.average) }}
          <span class="cnt long">
            {{ product.ratings.count|numberfmt }} {{ _plural('Review', 'Reviews',
                                                         n=product.ratings.count) }}
          </span>
        </a>
      {% else %}
        <span class="rating-link">
          <span class="cnt long">{{ _('Not yet reviewed') }}</span>
        </span>
      {% endif %}
    {% else %}
      {# Stars-only rating (member of an app listing). #}
      {{ stars(product.ratings.average) }}
    {% endif %}
  </span>
{% endmacro %}
