{% from "_macros/market_button.html" import market_button %}
{% from '_macros/app_tile.html' import app_tile, deferred_icon %}
{% from '_macros/stars.html' import stars %}

{# TODO: integrate later. Currently, no time to get it to look nice.
{% macro deferred_background_image(src, alt) %}
  {% if not imgAlreadyDeferred(src) %}
    <img class="deferred feed-landing-bg-image" src="{{ PLACEHOLDER_ICON }}"
         alt="{{ alt }}" data-src="{{ src }}" draggable="false"itemprop="contentURL">
  {% else %}
    <img src="{{ src }}" alt="{{ alt }}" draggable="false" itemprop="contentURL">
  {% endif %}
{% endmacro %}
#}

{% macro feed_app(feed_app) %}
  {% set color = feed.COLLECTION_COLORS[feed_app.color or 'aquamarine'] %}
  {% set desc = feed_app.description|translate(feed_app) %}

  <a href="{{ url('app', [feed_app.app.slug])|urlparams(src='featured-app') }}"
     class="featured-app app-link" data-tracking="{{ feed_app.app.slug }}">
    {% if indexOf([feed.FEEDAPP_ICON, feed.FEEDAPP_IMAGE], feed_app.type) != -1 %}
      <section class="feed-item {{ 'deferred-background' if feed_app.background_image }}"
               {% if feed_app.type == feed.FEEDAPP_ICON %}
                 data-feed-app-type-icon
               {% endif %}
               {% if not desc and not feed_app.background_image %}
                 style="background-color: {{ color|hex2rgba('.55') }}"
               {% elif feed_app.background_image %}
                 data-feed-app-has-background
                 style="background-image: url({{ PLACEHOLDER_ICON }})"
                 data-src="{{ feed_app.background_image }}"
               {% endif %}>
        {% if feed_app.type == feed.FEEDAPP_ICON %}
          <ul class="app-icons">
            <li>{{ deferred_icon(feed_app.app.icons[64],
                                 feed_app.app.name|translate(feed_app.app)) }}</li>
          </ul>
        {% endif %}
        <div class="curve" style="background-color: {{ color|hex2rgba('.85') }}"></div>
        <div class="info" style="background-color: {{ color|hex2rgba('.85') }}">
          <h1 class="name">{{ feed_app.app.name|translate(feed_app) }}</h1>
          <p class="author">{{ feed_app.app.author }}</p>
        </div>
      </section>
    {% else %}
      {{ app_tile(feed_app.app,
                     feed_app=feed_app,
                     src='featured-app') }}
    {% endif %}
  </a>
{% endmacro %}

{% macro brand_header(brand) %}
  <a class="brand-header"
     data-feed-color="{{ feed.get_brand_color_class(brand) }}"
     data-brand-type="{{ brand.type }}"
     href="{{ url('feed/feed_brand', [brand.slug])|urlparams(src=src) }}">
    <h3>{{ feed.get_brand_type(brand.type, brand.apps.length) }}</h3>
  </a>
{% endmacro %}

{% macro brand_landing(brand) %}
  <div class="feed-landing-header brand-landing-header feed-landing-wrapper">
    <div class="feed-landing-header-mobile">
      {{ brand_header(brand) }}
    </div>
    <div class="feed-landing-header-desktop">
      <div class="feed-landing-curve brand-landing-curve">
        <div class="brand-landing-icon"
           data-feed-color="{{ feed.get_brand_color_class(brand) }}"
           data-brand-type="{{ brand.type }}">
          <h3></h3>
        </div>
        <h1>{{ feed.get_brand_type(brand.type, brand.apps.length) }}</h1>
      </div>
    </div>
  </div>

  <section class="main full feed-landing">
    <div>
      <ul class="app-list c">
        {% for app in brand.apps %}
          <li class="app-list-app">{{ app_tile(app, src='branded-editorial-element') }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endmacro %}

{% macro brand(brand) %}
  {% set src = 'branded-editorial-element' %}
  {% set max_apps = 4 %}

  <section class="feed-brand feed-layout-{{ brand.layout }} multi-app-tile c"
           data-tracking="{{ brand.slug }}">
    {{ brand_header(brand) }}
    <ul>
      {% for app in brand.apps %}
        {% if loop.index0 < max_apps %}
          {{ app_tile(app, src=src) }}
        {% endif %}
      {% endfor %}
    </ul>

    {% if brand.app_count > 4 %}
      <a href="{{ url('feed/feed_brand', [brand.slug])|urlparams(src=src) }}"
         class="view-all-tab feed-view-all-tab">
        {{ _('View all apps') }}
      </a>
    {% endif %}
  </section>
{% endmacro %}

{% macro collection(coll) %}
  {% if coll.type == feed.COLL_PROMO %}
    <a href="{{ url('feed/feed_collection', [coll.slug])|urlparams(src='collection-element') }}">
      {{ collection_promo(coll) }}
    </a>
  {% elif coll.type == feed.COLL_LISTING %}
    {{ collection_listing(coll) }}
  {% endif %}
{% endmacro %}

{% macro collection_promo(coll) %}
  {% set color = feed.COLLECTION_COLORS[coll.color or 'aquamarine'] %}
  {% set desc = coll.description|translate(coll) %}

  <section class="feed-item feed-collection full {{ 'mega' if desc }}
                  {{ 'has-desc' if desc }}
                  {{ 'has-background deferred-background' if coll.background_image }}"
           data-tracking="{{ coll.slug }}"
       {% if coll.background_image %}
           style="background-image: url({{ PLACEHOLDER_ICON }})"
           data-src="{{ coll.background_image }}"
       {% else %}
           style="background-color: {{ color|hex2rgba('.35') }}"
       {% endif %}>
    {% if not coll.background_image %}
      <ul class="app-icons">
        {% for app in coll.apps.slice(0, 3) %}
          <li>{{ deferred_icon(app.icons[64], app.name|translate(app)) }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="curve" style="background-color: {{ color|hex2rgba('.55') }}"></div>
    <div class="info" style="background-color: {{ color|hex2rgba('.55') }}">
      <h1 class="name">{{ coll.name|translate(coll)|safe }}</h1>
    </div>
    <div class="alt-curve" style="background-color: {{ color }}"></div>
    {% if desc %}
      <div class="desc" style="background-color: {{ color }}">{{ desc|safe }}</div>
    {% endif %}
  </section>
{% endmacro %}

{% macro collection_listing_header(coll) %}
   {% set color = coll.color or 'aquamarine' %}
   <a class="collection-listing-header"
      href="{{ url('feed/feed_collection', [coll.slug])|urlparams(src='collection-element') }}"
      data-feed-color="{{ color }}">
     <h3>{{ coll.name|translate(coll)|safe }}</h3>
  </a>
  {% if coll.description %}
    <p class="collection-listing-desc" data-collection-color="{{ color }}">
      {{ coll.description|translate(coll)|safe }}
    </p>
  {% endif %}
{% endmacro %}

{% macro collection_listing(coll) %}
  {% set max_apps = 4 %}

  <section class="feed-collection feed-collection-listing feed-layout-list
                  multi-app-tile mkt-tile c"
           data-tracking="{{ coll.slug }}">
    {{ collection_listing_header(coll) }}
    <ul>
      {% for app in coll.apps %}
        {% if loop.index0 < max_apps %}
          {{ app_tile(app, src='collection-element') }}
        {% endif %}
      {% endfor %}
    </ul>

    {% if coll.app_count > 4 %}
      <a href="{{ url('feed/feed_collection', [coll.slug])|urlparams(src=src) }}"
         class="view-all-tab feed-view-all-tab">
        {{ _('View all apps') }}
      </a>
    {% endif %}
  </section>
{% endmacro %}

{% macro collection_landing(coll) %}
  {# Used both for collections and shelves. Reduce, reuse, recycle. #}
  {% set src = 'operator-shelf-element' if coll.carrier else 'collection-element' %}

  <div class="feed-landing-wrapper" data-tracking="{{ coll.slug }}"
       {% if not coll.carrier %}
         data-collection-landing-color="{{ coll.color or 'sapphire' }}"
       {% endif %}
       {% if coll.background_image %}data-collection-landing-has-background-image{% endif %}
       {% if coll.description %}data-collection-landing-has-description{% endif %}
       {% if coll.type == feed.COLL_PROMO %}data-collection-landing-is-promo{% endif %}
       {% if coll.type == feed.COLL_LISTING %}data-collection-landing-is-listing{% endif %}
       {% if coll.region %}data-shelf-landing-region="{{ coll.region }}"{% endif %}
       {% if coll.carrier %}data-shelf-landing-carrier="{{ coll.carrier }}"{% endif %}>
  <div class="feed-landing-header collection-landing-header">
    <div class="feed-landing-header-mobile collection-landing-header-mobile">
      {# Reuse the feed representation as the mobile header. #}
      {% if coll.carrier %}
        {{ shelf(coll, true) }}
      {% else %}
        {{ collection_promo(coll) if coll.type == feed.COLL_PROMO else
           collection_listing_header(coll) }}
      {% endif %}
    </div>
    <div class="feed-landing-header-desktop">
      {% if not coll.background_image %}
        <ul class="collection-landing-app-icons">
          {% for app in coll.apps %}
            {% if loop.index0 < 3 %}
              <li>{{ deferred_icon(app.icons[64], app.name|translate(feed_app.app)) }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
      <div class="feed-landing-curve collection-landing-curve">
          {% if coll.background_image %}
            <img class="feed-landing-bg-image"
                 src="{{ coll.background_image_landing or coll.background_image }}"
                 alt="" draggable="false" itemprop="contentURL">
          {% endif %}
          <div class="feed-landing-header-inner">
            <h1>{{ coll.name }}</h1>
            {% if coll.description %}
              <p class="feed-landing-description">{{ coll.description|translate(coll) }}</p>
            {% endif %}
          </div>
      </div>
    </div>
  </div>

  {% if coll.apps[0].group %}
    {# Mega collection. #}
    {% for group in feed.group_apps(coll.apps) %}
      <section class="main full feed-landing collection-landing">
        <div>
          <h3 class="collection-group-header">{{ group.name }}</h3>
          <ul class="app-list app-list-colored collection-group c">
            {% for app in group.apps %}
              <li class="app-list-app">{{ app_tile(app, src=src) }}</li>
            {% endfor %}
          </ul>
        </div>
      </section>
    {% endfor %}
  {% else %}
    <section class="main full feed-landing collection-landing">
      <div>
        <ul class="app-list app-list-colored c">
          {% for app in coll.apps %}
            <li class="app-list-app">{{ app_tile(app, src=src) }}</li>
          {% endfor %}
        </ul>
      </div>
    </section>
  {% endif %}
  </div>
{% endmacro %}

{% macro shelf(shelf, landing) %}
  <section class="feed-item shelf {{ 'shelf-landing' if landing }} deferred-background"
           style="background-image: url({{ PLACEHOLDER_ICON }})"
           data-src="{{ shelf.background_image_landing if landing else
                        shelf.background_image }}"
           data-carrier="{{ shelf.carrier }}" data-region="{{ shelf.region }}">
    <div class="curve"></div>
    <div class="info">
      <h1 class="name">{{ shelf.name|translate(shelf)|safe }}</h1>
    </div>
  </section>
{% endmacro %}

{% macro feed_item(obj) %}
  {% if obj.item_type == 'app' %}
    {{ feed_app(obj.app) }}

  {% elif obj.item_type == 'brand' %}
    {{ brand(obj.brand) }}

  {% elif obj.item_type == 'collection' %}
    {{ collection(obj.collection) }}

  {% elif obj.item_type == 'shelf' %}
    <a href="{{ url('feed/feed_shelf', [obj.shelf.slug])|
                urlparams(src='operator-shelf-element') }}"
       class="op-shelf" data-tracking="{{ obj.shelf.slug }}">
      {{ shelf(obj.shelf) }}
    </a>
  {% endif %}
{% endmacro %}
