{% macro feed_app_tile(feed_app) %}
  <div class="tile-footer {{ feed_app.type }}"
       {% if feed_app.isQuote %}style="background: {{ feed_app.inline_color }};"{% endif %}>
    {% if feed_app.isDescription %}
      <p class="desc">{{ feed_app.description|translate(feed_app.description)|safe }}</p>
    {% elif feed_app.isQuote %}
      {% if feed_app.pullquote_rating %}
        <p class="stars large white stars-{{ feed_app.pullquote_rating }}">
          {{ feed_app.pullquote_rating }}
        </p>
      {% endif %}
      <blockquote><p>{{ feed_app.pullquote_text|translate(feed_app)|safe }}</p></blockquote>
      {% if feed_app.pullquote_attribution %}
        <p class="quote-source">
          {{ _('&mdash; {attribution}')|format(
               {attribution: feed_app.pullquote_attribution|safe}) }}
        </p>
      {% endif %}
    {% elif feed_app.isPreview %}
      <p class="desc">{{ feed_app.description|translate(feed_app)|safe }}</p>
      <div class="preview-container
                  {{ 'vertical' if feed_app.preview.thumbnail_size and
                     feed_app.preview.thumbnail_size[1] > feed_app.preview.thumbnail_size[0] }}"
           style="background-color: {{ feed_app.inline_color }}">
        <div class="feed-app-preview deferred-background"
             style="background-image: url({{ PLACEHOLDER_ICON }});"
             data-src="{{ feed_app.preview.thumbnail_url }}"></div>
      </div>
    {% endif %}
  </div>
{% endmacro %}
