{# This is a shared file between Fireplace and Transonic. #}

{% from "_macros/market_button.html" import market_button %}
{% from '_macros/market_tile.html' import market_tile, deferred_icon %}
{% from '_macros/stars.html' import stars %}


{% macro mini_tile(app, price_only, src) %}
  {# price_only_btns -- only show price as the label, don't show "Installed"/"Open". #}

  <li class="app mini-app">
    <a href="{{ url('app', [app.slug])|urlparams(src=src or 'feed') }}" class="app-link c">
      {{ deferred_icon(app.icons[64], app.name|translate(app)) }}
      <div class="info">
        <h2 class="app-name elliflow">{{ app.name|translate(app) }}</h2>
        <p class="author elliflow">{{ app.author }}</p>
        <div class="rating vital{{ ' unrated' if not app.ratings.count }}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          {% if app.ratings.average %}
            {{ stars(app.ratings.average) }}
          {% else %}
            <span class="cnt long">{{ _('Not yet rated') }}</span>
          {% endif %}
        </div>
      </div>
      {{ market_button(app,
                       data_attrs={'manifest_url': app.manifest_url, 'slug': app.slug},
                       price_only=price_only) if app.slug }}
    </a>
  </li>
{% endmacro %}

{% macro feed_app(feed_app) %}
  {% set color = feed_app.background_color %}
  {% set desc = feed_app.description|translate(feed_app) %}

  <a href="{{ url('app', [feed_app.app.slug])|urlparams(src='featured-app') }}"
     class="featured-app app-link" data-tracking-slug="{{ feed_app.app.slug }}">
    {% if indexOf([feed.FEEDAPP_ICON, feed.FEEDAPP_IMAGE], feed_app.type) != -1 %}
      <section class="feed-item {{ 'deferred-background' if feed_app.background_image }}"
               {% if not desc and not feed_app.background_image %}
                 style="background-color: {{ color|hex2rgba('.4') }}"
               {% elif feed_app.background_image %}
                 style="background-image: url({{ PLACEHOLDER_ICON }})"
                 data-src="{{ feed_app.background_image }}"
               {% endif %}>
        {% if feed_app.type == feed.FEEDAPP_ICON %}
          <ul class="app-icons">
            <li>{{ deferred_icon(feed_app.app.icons[64],
                                 feed_app.app.name|translate(feed_app.app)) }}</li>
          </ul>
        {% endif %}
        <div class="curve" style="background-color: {{ color|hex2rgba('.8') }}"></div>
        <div class="info" style="background-color: {{ color|hex2rgba('.8') }}">
          <h1 class="name">{{ feed_app.app.name|translate(feed_app) }}</h1>
          <p class="author">{{ feed_app.app.author }}</p>
        </div>
      </section>
    {% else %}
      {{ market_tile(feed_app.app,
                     classes=['feed-app'],
                     feed_app=feed_app,
                     tray=False,
                     src='featured-app',
                     rating_link=False) }}
    {% endif %}
  </a>
{% endmacro %}

{% macro feed_brand(brand) %}
  {% set src = 'branded-editorial-element' %}
  {% set color = feed.get_brand_color_class(brand) %}

  {# Only show 6 or <= 3 apps on the feed. #}
  {% if landing %}
    {% set max_apps = brand.app_count %}
  {% elif brand.app_count < 6 %}
    {% set max_apps = 3 %}
  {% else %}
    {% set max_apps = 6 %}
  {% endif %}

  <section class="feed-brand feed-layout-{{ 'list' if landing else brand.layout }}
                  multi-app-tile mkt-tile c"
           data-brand-type="{{ brand.type }}" data-tracking-slug="{{ brand.slug }}">
    <div class="feed-tile-header-wrap">
      <a href="{{ url('feed/feed_brand', [brand.slug])|urlparams(src=src) }}"
         class="fanchor">
        <h1 class="feed-tile-header" data-brand-color="{{ color }}">
          {{ feed.get_brand_type(brand.type, brand.apps.length) }}
        </h1>
      </a>
    </div>
    <ul class="app-list">
      {% for app in brand.apps %}
        {% if landing or (loop.index0 < max_apps) %}
          {{ mini_tile(app, price_only=not landing and brand.layout == 'grid', src=src) }}
        {% endif %}
      {% endfor %}
    </ul>

    {# Show the 'View all' link if there are 4-5 or 7+ apps in the brand.' #}
    {% if not landing and ((brand.app_count > 3 and brand.app_count < 6) or
                            brand.app_count > 6) %}
      <a href="{{ url('feed/feed_brand', [brand.slug])|urlparams(src=src) }}"
         class="view-all">
        {{ _('View all apps') }}
      </a>
    {% endif %}

  </section>
{% endmacro %}

{% macro feed_collection(coll, landing) %}
  {% if coll.type == feed.COLL_PROMO %}
    {{ feed_collection_promo(coll, landing) }}
  {% elif coll.type == feed.COLL_LISTING %}
    {{ feed_collection_listing(coll, landing) }}
  {% endif %}
{% endmacro %}

{% macro feed_collection_promo(coll, landing) %}
  {% set color = coll.background_color %}
  {% set desc = coll.description|translate(coll) %}

  <a href="{{ url('feed/feed_collection', [coll.slug])|urlparams(src='collection-element') }}"
     class="fanchor">
    <section class="feed-item feed-collection full {{ 'mega' if desc and not landing }}
                    {{ 'has-desc' if desc }}
                    {{ 'has-background deferred-background' if coll.background_image }}
                    {{ 'collection-landing' if landing }}"
             data-tracking-slug="{{ coll.slug }}"
         {% if coll.background_image %}
             style="background-image: url({{ PLACEHOLDER_ICON }})"
             data-src="{{ coll.background_image }}"
         {% else %}
             style="background-color: {{ color|hex2rgba('.4') }}"
         {% endif %}>
      {% if not coll.background_image %}
        <ul class="app-icons">
          {% for app in coll.apps.slice(0, 3) %}
            <li>{{ deferred_icon(app.icons[64], app.name|translate(app)) }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class="curve" style="background-color: {{ color|hex2rgba('.6') }}"></div>
      <div class="info" style="background-color: {{ color|hex2rgba('.6') }}">
        <h1 class="name">{{ coll.name|translate(coll)|safe }}</h1>
      </div>
      {% if not landing %}
        <div class="alt-curve" style="background-color: {{ color }}"></div>
        <div class="desc" style="background-color: {{ color }}">{{ desc|safe }}</div>
      {% endif %}
    </section>
  </a>
{% endmacro %}

{% macro feed_collection_listing(coll) %}
  {# Only show 6 or <= 3 apps on the feed. #}
  {% if landing %}
    {% set max_apps = coll.app_count %}
  {% elif coll.app_count < 6 %}
    {% set max_apps = 3 %}
  {% else %}
    {% set max_apps = 6 %}
  {% endif %}

  <section class="feed-collection feed-collection-listing
                  feed-layout-{{ 'list' if landing else 'grid' }}
                  multi-app-tile mkt-tile c"
           data-tracking-slug="{{ coll.slug }}">
    <div class="feed-tile-header-wrap">
      <a href="{{ url('feed/feed_collection', [coll.slug])|urlparams(src='collection-element') }}"
         class="fanchor">
        <h1 class="feed-tile-header">{{ coll.name|translate(coll)|safe }}</h1>
      </a>
    </div>
    {% if coll.description %}
      <p class="desc">{{ coll.description|translate(coll)|safe }}</p>
    {% endif %}
    <ul class="app-list">
      {% for app in coll.apps %}
        {% if landing or loop.index0 < max_apps %}
          {{ mini_tile(app, price_only=not landing, src='collection-element') }}
        {% endif %}
      {% endfor %}
    </ul>

    {# Show the 'View all' link if there are 4-5 or 7+ apps in the brand.' #}
    {% if not landing and ((coll.app_count > 3 and coll.app_count < 6) or
                            coll.app_count > 6) %}
      <a href="{{ url('feed/feed_collection', [coll.slug])|urlparams(src=src) }}"
         class="view-all">
        {{ _('View all apps') }}
      </a>
    {% endif %}

  </section>
{% endmacro %}

{% macro feed_shelf(shelf, landing) %}
  <a href="{{ url('feed/feed_shelf', [shelf.slug])|
              urlparams(src='operator-shelf-element') }}"
     class="op-shelf fanchor" data-tracking-slug="{{ shelf.slug }}">
    <section class="feed-item shelf deferred-background {{ 'shelf-landing' if landing }}"
             style="background-image: url({{ PLACEHOLDER_ICON }})"
             data-src="{{ shelf.background_image }}"
             data-carrier="{{ shelf.carrier }}"
             data-region="{{ shelf.region }}">
      <div class="curve"></div>
      <div class="info">
        <h1 class="name">{{ shelf.name|translate(shelf)|safe }}</h1>
      </div>
    </section>
  </a>
{% endmacro %}

{% macro feed_collection_landing(coll) %}
  <section class="main feed feed-landing collection-landing
                  collection-landing-{{ coll.type }}">
    {% if coll.type == feed.COLL_LISTING %}
      {{ feed_collection(coll, true) }}
    {% else %}
      <ul class="feed">
        <li class="detail-item header-block">
          {{ feed_collection(coll, true) }}
          {% if coll.description %}
            <p class="desc">{{ coll.description|translate(coll) }}</p>
          {% endif %}
        </li>

        {% if coll.apps %}
          {% if coll.apps[0].group %}
            {% for group in feed.group_apps(coll.apps) %}
              <li class="detail-item">
                <section class="feed-layout-grid multi-app-tile mkt-tile grouped c">
                  <h1 class="feed-tile-header grouped">{{ group.name }}</h1>
                  <ul class="app-list">
                    {% for app in group.apps %}
                      {{ mini_tile(app, price_only=not landing) }}
                    {% endfor %}
                  </ul>
                </section>
              </li>
            {% endfor %}
          {% else %}
            {% for app in coll.apps %}
              <li class="item result app c detail-item">
                {{ market_tile(app, src='collection-element', tray=False, link=True) }}
              </li>
            {% endfor %}
          {% endif %}
        {% else %}
          {# L10n: Please do your best to capture the essence of Scooby Doo. #}
          {{ _("Ruh roh! No apps here, Shaggy!") }}
        {% endif %}
      </div>
    {% endif %}
  </section>
{% endmacro %}

{% macro feed_shelf_landing(shelf) %}
  <section class="main feed feed-landing shelf-landing"
           data-tracking-slug="{{ shelf.slug }}">
    <ul class="feed">
      <li class="detail-item header-block">
        {{ feed_shelf(shelf, true) }}
        {% if shelf.description %}
          <p class="desc">{{ shelf.description|translate(shelf) }}</p>
        {% endif %}
      </li>

      {% if shelf.apps %}
        {% for app in shelf.apps %}
          <li class="item result app c detail-item">
            {{ market_tile(app, src='operator-shelf-element', tray=False,
                           link=True) }}
          </li>
        {% endfor %}
      {% else %}
        {# L10n: Please do your best to capture the essence of Scooby Doo. #}
        {{ _("Ruh roh! No apps here, Shaggy!") }}
      {% endif %}
    </ul>
  </section>
{% endmacro %}

{% macro feed_item(obj) %}
  {% if obj.item_type == 'app' %}
    {{ feed_app(obj.app) }}

  {% elif obj.item_type == 'brand' %}
    {{ feed_brand(obj.brand) }}

  {% elif obj.item_type == 'collection' %}
    {{ feed_collection(obj.collection) }}

  {% elif obj.item_type == 'shelf' %}
    {{ feed_shelf(obj.shelf) }}
  {% endif %}
{% endmacro %}
