{% from "_macros/feed_app_tile.html" import feed_app_tile %}
{% from "_macros/market_button.html" import market_button %}
{% from "_macros/stars.html" import stars %}

{# TODO: This should really be app_tile() #}
{% macro market_tile(app, feed_app=None, is_detail=False, tray=False, src=None) %}

  {#
      app -- app object
      feed_app - feed-app specific data
      is_detail - is this tile a detail page tile?
      tray -- whether or not to attach a preview/screenshot tray
      src -- if tile is a link, attach a src param for analytics purposes
  #}

  {% set tag = 'div' if is_detail else 'a' %}

  <{{ tag }} class="product mkt-tile c"
    {% if not is_detail %} href="{{ app.url or url('app', [app.slug])|urlparams(src=src) }}"{% endif %}
    data-slug="{{ app.slug }}"
    data-id="{{ app.id }}"
    {{ 'itemscope itemtype="http://schema.org/SoftwareApplication"' if not is_detail }}>
    <div class="c">
      {{ deferred_icon(app.icons['64']) }}
      <div class="info">
        <h3 itemprop="name">{{ app.name|translate(app) }}</h3>

        {% if app.author %}
          {# TODO: When we get user profiles, update this to be a proper Person itemprop #}
          <div class="author elliflow vital subdetail" itemprop="creator">
            {% if is_detail -%}
              <a href="{{ url('search')|urlparams(author=app.author) }}">{{ app.author }}</a>
            {% else -%}
              {{ app.author }}
            {% endif -%}
          </div>
        {% endif %}

        <div class="price vital">
          {{ app.price_locale if app.payment_required else _('Free') }}
        </div>

        {% if app.slug %}
          {{ market_button(app,
                           data_attrs={'manifest_url': app.manifest_url,
                           'slug': app.slug}) }}
        {% endif %}

        {{ rating_link() if not is_detail }}

      </div>
    </div>

    {% if is_detail %}
      {{ rating_link(is_detail=True) }}
    {% endif %}

    {% for notice in app_incompat(app) %}
      <div class="bad-app">{{ notice }}</div>
    {% endfor %}

    {% if app.is_offline %}
      <div class="works-offline hidden">
        {{ _('Works offline') }}
      </div>
    {% endif %}

    {{ feed_app_tile(feed_app) if feed_app }}
  </{{ tag }}>
  {% if tray and len(app.previews) %}
    <div class="tray previews full {{ 'single' if len(app.previews) == 1 }}">
      {{ preview_tray(app, src) }}
    </div>
  {% endif %}
{% endmacro %}


{% macro preview_tray(app, src) %}
  <div class="slider shots">
    <ul class="content">
      {% for preview in app.previews %}
        <li itemscope itemtype="http://schema.org/ImageObject">
          <a class="screenshot thumbnail" href="{{ preview.image_url }}">
            {{ deferred_screenshot(preview.thumbnail_url) }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="dots">
    {% for preview in app.previews %}
      <b class="dot"></b>
    {% endfor %}
  </div>
{% endmacro %}


{% macro deferred_icon(src, alt) %}
  {% if not imgAlreadyDeferred(src) %}
    {# Defer image loading. #}
    <img class="icon deferred" src="{{ PLACEHOLDER_ICON }}"
         data-src="{{ src }}" title="{{ alt or '' }}" alt="{{ alt or '' }}"
         height="60" width="60" itemprop="image">
  {% else %}
    <img class="icon" src="{{ src }}" title="{{ alt or '' }}" alt="{{ alt or '' }}"
         height="64" width="64" itemprop="image">
  {% endif %}
{% endmacro %}


{% macro deferred_screenshot(src) %}
  {% if not imgAlreadyDeferred(src) %}
    {# Defer image loading. Don't change data-src to src. #}
    <img class="deferred" src="{{ PLACEHOLDER_ICON }}"
         data-src="{{ src }}" alt="{{ _('{app_name} screenshot', app_name=app.name) }}"
         draggable="false" itemprop="contentURL">
  {% else %}
    <img src="{{ src }}" alt="{{ _('{app_name} screenshot', app_name=app.name) }}"
         draggable="false" itemprop="contentURL">
  {% endif %}
{% endmacro %}


{% macro rating_link(is_detail=False) %}
  <div class="rating vital{{ ' unrated' if not app.ratings.count }}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">

    {# Detail page ratings link to the ratings list page. #}
    {% if is_detail %}
      <a href="{{ url('app/ratings', [app.slug]) }}" class="rating-link">

        {{ stars(app.ratings.average) }}

        {% if app.ratings.count %}
          <span class="cnt short">
            {{ _('({n})', n='<span itemprop="reviewCount">' + app.ratings.count|numberfmt + '</span>') }}
          </span>
          <span class="cnt long">
            {{ app.ratings.count|numberfmt }} {{ _plural('Review', 'Reviews', n=app.ratings.count) }}
          </span>
        {% else %}
          {# L10n: "(0)" means "0 reviews." #}
          <span class="cnt short">{{ _('(0)') }}</span>
          <span class="cnt long">{{ _('Not yet reviewed') }}</span>
        {% endif %}

      </a>
    {% else %}
      {# Stars-only rating (member of an app listing). #}
      {{ stars(app.ratings.average) }}
    {% endif %}

  </div>
{% endmacro %}
