{% from "_macros/feed_app_tile.html" import feed_app_tile %}
{% from "_macros/market_button.html" import market_button %}
{% from "_macros/stars.html" import stars %}


{% macro market_tile(app, classes=None, data_attrs=None, feed_app=None,
                     link=False, rating_link=False, src=None, tray=True) %}
  {#
      app -- app object
      classes -- list of CSS classes to attach to tile
      data_attrs -- data attributes to attach to tile
      feed_app - feed-app specific data
      link -- turn the tile into a large anchor tag linking to app detail page
      rating_link -- make the rating a link to the ratings page
      src -- if tile is a link, attach a src param for analytics purposes
      tray -- whether or not to attach a preview/screenshot tray
  #}
  {% set tag = 'a' if link and app.slug else 'div' %}
  {% set classes = classes or [] %}
  <{{ tag }} class="product mkt-tile {{ classes|join(' ') }}"
    {% if link %} href="{{ app.url or url('app', [app.slug])|urlparams(src=src) }}"{% endif %}
    {{ data_attrs|make_data_attrs }}
    data-slug="{{ app.slug }}"
    data-id="{{ app.id }}"
    {% if link %}itemscope itemtype="http://schema.org/SoftwareApplication"{% endif %}>
    {% if not imgAlreadyDeferred(app.icons['64']) %}
      {# Defer image loading. #}
      <img class="icon deferred" src="{{ media('fireplace/img/pretty/rocket.png') }}" alt="" data-src="{{ app.icons['64'] }}" height="64" width="64" itemprop="image">
    {% else %}
      <img class="icon" alt="" src="{{ app.icons['64'] }}" height="64" width="64" itemprop="image">
    {% endif %}
    <div class="info">
      <h3 class="elliflow" itemprop="name">{{ app.name|translate(app) }}</h3>
      {% if app.author %}
        {# TODO: When we get user profiles, update this to be a proper Person itemprop #}
        <div class="author lineclamp elliflow vital subdetail" itemprop="creator">{{ app.author }}</div>
      {% endif %}
      <div class="price vital">{{ app.price_locale if app.payment_required else _('Free') }}</div>
      {{ market_button(app, data_attrs={'manifest_url': app.manifest_url,
                                        'slug': app.slug}) if app.slug }}
      <div class="rating vital{{ ' unrated' if not app.ratings.count }}" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        {% if rating_link %}
          <a href="{{ url('app/ratings', [app.slug]) }}" class="rating_link">
        {% endif %}
        {{ stars(app.ratings.average) }}
        {% if app.ratings.count %}
          <span class="cnt short">
            {{ _('({n})', n='<span itemprop="reviewCount">' + app.ratings.count + '</span>') }}
          </span>
          <span class="cnt long">
            {{ _plural('{n} Review', '{n} Reviews', n=app.ratings.count) }}
          </span>
        {% else %}
          {# L10n: "(0)" means "0 reviews." #}
          <span class="cnt short">{{ _('(0)') }}</span>
          <span class="cnt long">{{ _('Not yet reviewed') }}</span>
        {% endif %}
        {% if rating_link %}
          </a>
        {% endif %}
      </div>
    </div>
    {% for notice in app_incompat(app) %}
      <div class="bad-app">{{ notice }}</div>
    {% endfor %}
    {% if app.is_offline %}
      <div class="additional-info">
        {{ _('Works offline') }}
      </div>
    {% endif %}
    {{ feed_app_tile(feed_app) if feed_app }}
  </{{ tag }}>
  {% if tray and len(app.previews) %}
    <div class="tray previews full {{ 'single' if len(app.previews) == 1 }}">
      {{ preview_tray(app, src) }}
    </div>
  {% endif %}
{% endmacro %}


{% macro preview_tray(app, src) %}
  <div class="slider shots">
    <ul class="content">
      {% for preview in app.previews %}
        <li itemscope itemtype="http://schema.org/ImageObject">
          <a class="screenshot thumbnail" href="{{ preview.image_url }}">
            {% if not imgAlreadyDeferred(preview.thumbnail_url) %}
              {# Defer image loading. Don't change data-src to src. #}
              <img class="deferred" src="{{ media('fireplace/img/pretty/rocket.png') }}" alt="{{ _('{app_name} screenshot', app_name=app.name) }}" data-src="{{ preview.thumbnail_url }}" draggable="false" itemprop="contentURL">
            {% else %}
              <img alt="{{ _('{app_name} screenshot', app_name=app.name) }}" src="{{ preview.thumbnail_url }}" draggable="false" itemprop="contentURL">
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="dots">
    {% for preview in app.previews %}
      <b class="dot"></b>
    {% endfor %}
  </div>
{% endmacro %}
