{% macro market_button(app, data_attrs, isGame=False) %}
  {% set app = buttons.transformApp(app) %}

  <button class="button mkt-app-button
                 {{ 'mkt-app-button--install install' if not app.isWebsite }}
                 {{ 'launch' if app.installed }}
                 {{ 'paid' if app.payment_required }}
                 {{ 'incompatible' if app.incompatible }}"
        {{ data_attrs|make_data_attrs }}
        {{ 'disabled' if app.disabled }}
        data-product="{{ app|json }}"
        {% if isGame %}data-is-game="true"{% endif %}
        {% if app.isWebsite %}href="{{ app.mobile_url or app.url }}"{% endif %}
        {% if app.manifest_url %}data-manifest_url="{{ app.manifest_url }}"{% endif %}>
    <em>
      <span class="mkt-app-button-text">{{ buttons.getBtnText(app, isGame) }}</span>
      <span class="mkt-app-button-spinner spin"></span>
    </em>
  </button>
{% endmacro %}
