{% macro market_button(app, data_attrs, price_only) %}
  {# price_only -- used for Feed where we only want to show the price label. #}

  {% set installed = has_installed(app.manifest_url) %}

  {% if app.payment_required and not app.price %}
    {# An app would otherwise cost money in another region but there is no tier in the user's region. #}
    {# L10n: This app is unavailable for purchase. #}
    {% set price = _('Unavailable') %}
  {% else %}
    {% set price = app.price_locale if app.price and app.price != '0.00' else _('Free') %}
  {% endif %}

  <button class="button product install {{ 'launch' if installed }}
                 {{ 'paid' if app.payment_required }}
                 {{ 'incompatible' if app_incompat(app) }}"
          {{ data_attrs|make_data_attrs }}
          {{ 'data-price-only="true"' if price_only }}
          {{ 'disabled' if price_only or app_incompat(app) or
                           (app.role == 'langpack' and installed) }}
          data-product="{{ app|json }}">
    <em>
      {% if price_only %}
        {{ price }}
      {% else %}
        {% if installed and app.role == 'langpack' %}
          {{ _('Installed') }}
        {% elif installed %}
          {{ _('Open') }}
        {% elif user.has_installed(app.id) or user.has_purchased(app.id) %}
          {{ _('Install') }}
        {% else %}
          {{ price }}
        {% endif %}
      {% endif %}
    </em>
    <span class="spin"></span>
  </button>
{% endmacro %}
