{% include "_macros/stars.html" %}

{% macro rating(this, detailpage=false, current_version=None) %}
<li data-report-uri="{{ this.report_spam }}" data-rating="{{ this.rating }}"
    class="review{{ ' flagged' if this.is_flagged }} c"
    itemprop="review" itemscope itemtype="http://schema.org/Review">
  <div class="review-inner">
    {{ stars(this.rating, detailpage=detailpage, aggregate=False) }}
    <span class="byline">
      {{ _('by {author}',
           author='<strong itemprop="author">' + escape(this.user.display_name) + '</strong>') }}
      {% if this.version and current_version and current_version != this.version.version %}
        {{ _('for previous version {version}', version=this.version.version) }}
      {% endif %}
    </span>
    <div class="body" itemprop="reviewBody">
      {{ this.body|escape|nl2br }}
    </div>
    {% if not detailpage %}
      <ul class="actions only-if-logged-in">
        {% if this.is_flagged %}
          <li class="flagged">{{ _('Flagged for review') }}</li>
        {% endif %}
        {% if this.is_author or user.get_permission('reviewer') %}
          <li><a class="edit" data-action="edit"
                 href="{{ url('app/ratings/edit', [slug]) }}"
                 {# HACK: This extracts the ID from the resource_uri since the API returns no ID. #}
                 data-review-id="{{ this.resource_uri.split('/')[5] }}">{{ _('Edit') }}</a></li>
          <li><a class="delete post" data-action="delete" href="#"
                 data-href="{{ this.resource_uri }}"
                 data-app="{{ slug }}">{{ _('Delete') }}</a></li>
        {% endif %}
        {% if not this.is_author and not this.has_flagged %}
          <li><a class="flag post" data-action="report" href="#">{{ _('Report') }}</a></li>
        {% endif %}
      </ul>
      <time itemprop="datePublished">{{ this.created|datetime }}</time>
    {% endif %}
  </div>
</li>
{% endmacro %}
