{% include "_macros/stars.html" %}

{% macro review(this, detailpage=false, slug=slug, current_version=None) %}
<li class="review c"
    data-review-has-flagged="{{ this.has_flagged }}"
    data-review-is-author="{{ this.is_author }}"
    data-report-uri="{{ this.report_spam }}" data-rating="{{ this.rating }}"
    itemprop="review" itemscope itemtype="http://schema.org/Review">
  <span class="review-author" itemprop="author">
    {{ this.user.display_name }}
  </span>
  {{ stars(this.rating, detailpage=detailpage, aggregate=False) }}
  {% if this.version and current_version and current_version != this.version.version %}
    <p class="review-previous-version">
      {{ _('For previous version {version}', version=this.version.version) }}
    </p>
  {% endif %}
  <div class="review-body" itemprop="reviewBody">
    {{ this.body|escape|nl2br }}
  </div>
  {% if not detailpage %}
    <ul class="review-actions">
      {% if this.is_author or user.get_permission('reviewer') %}
        <li>
          <a class="review-button" data-edit-review data-text="{{ _('Edit') }}"
             href="{{ url('app/ratings/edit', [slug])|urlparams(
                          review=getReviewId(this.resource_uri)) }}"
             data-href="{{ this.resource_uri }}">
            {{ _('Edit') }}
          </a>
        </li>
        <li>
          <a class="delete post" data-action="delete" href="#"
             data-app="{{ slug }}"  {# Needed for cache busting. #}
             data-href="{{ this.resource_uri }}">
            {{ _('Delete') }}
          </a>
        </li>
      {% endif %}
      <li class="review-flag">
        <a class="post" data-action="report" href="#">
          {{ _('Report') }}</a>
      </li>
      <li class="review-has-flagged">{{ _('Flagged for review') }}</li>
    </ul>
    <time itemprop="datePublished">{{ this.created|date }}</time>
  {% endif %}
</li>
{% endmacro %}
