{% macro stars(rating, detailpage=false, aggregate=True) %}
  {% set rating = rating|round %}
  {% set rating_itemprop = 'ratingValue' if aggregate else 'reviewRating' %}
  <meta itemprop="worstRating" content="1">
  <span class="stars{{ ' large' if detailpage }} stars-{{ rating }}" title="{{ title }}">
    {{ _('Rated {stars} out of {maxstars} stars',
         stars='<span itemprop="' + rating_itemprop + '">' + rating + '</span>',
         maxstars='<span itemprop="bestRating">5</span>') }}
  </span>
{% endmacro %}
