{% macro stars(rating, detailpage=false, aggregate=True) %}
  {% set rating = rating|round %}
  {% set rating_itemprop = 'ratingValue' if aggregate else 'reviewRating' %}
  <meta itemprop="worstRating" content="1">
  <div class="stars{{ ' large' if detailpage }} stars-{{ rating }}" title="{{ title }}">
     <div class="stars-full stars-{{ rating }}">★★★★★</div><div class="stars-empty">☆☆☆☆☆</div>
     {{ _('Rated {stars} out of {maxstars} stars',
         stars='<span itemprop="' + rating_itemprop + '">' + rating + '</span>',
         maxstars='<span itemprop="bestRating">5</span>') }}
  </div>
{% endmacro %}
