<!DOCTYPE html>
<html>
<head>
  <title>Install Firefox Marketplace Nightly</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    html, body {
      height: 100%;
      width: 100%;
      background: #fff;
    }
    body {
      padding: 10px;
      font-family: sans-serif;
    }
    div {
      margin: auto;
    }
    a {
      background: linear-gradient(#0c0,#0a0);
      border: 0;
      border-radius: 10px;
      color: white;
      display: block;
      font-size: 30px;
      height: 100%;
      width: 100%;
    }
  </style>
</head>
<body>
  <div><a href="/minifest" id="install">Install</a></div>
  <div id="log"></div>
  <script type="text/javascript">
  var log = document.getElementById('log');
  log.innerHTML = 'Started.<br>';
  var button = document.getElementById('install');
  function do_install() {
    try {
      var install = navigator.mozApps.installPackage(button.href);
      log.innerHTML += 'Installing...<br>';
      install.onsuccess = function() {
        log.innerHTML += 'Success<br>';
      };
      install.onerror = function() {
        log.innerHTML += this.error.name + '<br>';
      };
    } catch(e) {
      log.innerHTML += 'Error: ' + e.toString() + '<br>';
    }
  }
  button.addEventListener('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
    log.innerHTML += 'Clicked...<br>';
    do_install();
  }, false);
  button.addEventListener('touchend', function(e) {
    e.preventDefault();
    e.stopPropagation();
    log.innerHTML += 'Touched...<br>';
    do_install();
  }, false);
  </script>
</body>
</html>