<!DOCTYPE html>
<html>
<head>
    <title>Install Firefox Marketplace Nightly</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <style>
        button {
            display: block;
            font-size: 20px;
            width: 100%;
        }
    </style>
</head>
<body>
<button id="install" class="packagedmozapp" href="/minifest">Install</button>
<script type="text/javascript">
document.getElementById('install').addEventListener('click', function(e) {
  window.navigator.mozApps.installPackage(this.href);
  e.preventDefault();
});
</script>
</body>
</html>