<!DOCTYPE html>
<html>
<head>
  <title>Ashes | Firefox Marketplace</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <main class="container">
    <div class="navbar">
      <a class="navbar-brand" href="#">Ashes</a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#dash">Dashboard</a></li>
        <li><a href="#reports">Reports</a></li>
      </ul>
      <button type="button" class="btn btn-default navbar-btn sign-in only-logged-out">Sign In</button>
    </div>

    <!-- Dashboard -->
    <ul class="list-group" id="dash">
      <li class="list-group-item">{{ num_reports }} Reports</li>
      <li class="list-group-item">{{ num_builds }} Build Reports</li>
    </ul>

    <!-- Reports -->
    <div class="panel" id="reports">
        <div class="panel-heading">User Reports</div>
        <form class="form-horizontal only-logged-in report-form">
          <div class="row">
            <label for="inputID" class="col col-lg-2 control-label">ID</label>
            <div class="col col-lg-10">
              <input type="text" id="inputID" placeholder="12345">
            </div>
          </div>
          <div class="row">
            <div class="col col-lg-10 col-offset-2">
              <button type="submit" class="btn btn-default">Run Query</button>
            </div>
          </div>
        </form>
        <p class="only-logged-out">
            Please sign in to access submitted reports.
        </p>
        <div id="report_query_output">
        </div>
    </div>

  </main>
  <script src="https://login.persona.org/include.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>