@import '../lib';

$color--games-red-light = #C93333;
$color--games-red-dark= #410000;
$color--games-yellow-light = #FFB300;
$color--games-yellow-dark = #573D00;
$color--games-blue-light = #0092FF;
$color--games-blue-dark = #001D48;
$color--games-green-light = #009900;
$color--games-green-dark = #003600;
$color--games-pink-light = #CC3388;
$color--games-pink-dark = #541538;
$color--games-indigo-light = #197B99;
$color--games-indigo-dark = #07262F;
$color--games-orange-light = #CC440D;
$color--games-orange-dark = #511B06;
$color--games-purple-light = #7A3675;
$color--games-purple-dark = #251023;


games-gradient($from, $to) {
    background: linear-gradient(to bottom, $from, $to);
}

games--listing() {
    .games-listing & {
        {block}
    }
}

game--hover() {
    .games-home-primary-main:hover &,
    .game:hover & {
        {block}
    }
}


[data-page-type~="games"] {
    #page {
        padding-top: 0;
    }
    #incompatibility-banner {
        display: none;
    }
}

.games-title {
    align-items: center;
    background: #006DBF;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 0;
    width: 100%;

    h1 {
        color: $greyscale-white;
        font-size: 20px;
        font-weight: 600;

        +media--base-tablet() {
            font-size: 30px;
        }
    }
}

.game {
    align-items: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 250px;
    position: relative;

    > a {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: relative;
        width: 100%;

        &:hover {
            text-decoration: none;
        }
    }
    &:nth-child(8n) .game-gradient {
        games-gradient($color--games-green-light, $color--games-green-dark);
    }
    &:nth-child(8n + 1) .game-gradient {
        games-gradient($color--games-yellow-light, $color--games-yellow-dark);
    }
    &:nth-child(8n + 2) .game-gradient {
        games-gradient($color--games-blue-light, $color--games-blue-dark);
    }
    &:nth-child(8n + 3) .game-gradient {
        games-gradient($color--games-red-light, $color--games-red-dark);
    }
    &:nth-child(8n + 4) .game-gradient {
        games-gradient($color--games-pink-light, $color--games-pink-dark);
    }
    &:nth-child(8n + 5) .game-gradient {
        games-gradient($color--games-indigo-light, $color--games-indigo-dark);
    }
    &:nth-child(8n + 6) .game-gradient {
        games-gradient($color--games-orange-light, $color--games-orange-dark);
    }
    &:nth-child(8n + 7) .game-gradient {
        games-gradient($color--games-purple-light, $color--games-purple-dark);
    }
}

.game-gradient,
.game-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.game-gradient {
    games-gradient($color--games-green-light, $color--games-green-dark);
    display: block;
    opacity: .8;
    transition: opacity .5s;
    z-index: 1;

    +game--hover() {
        opacity: .9;
    }
}

.game-overlay {
    align-items: center;
    color: $greyscale-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: opacity .5s;
    z-index: 3;

    +game--hover() {
        opacity: 1;
    }
}

.game-overlay-category {
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0;
    text-transform: uppercase;
}

.game-overlay-icon {
    height: 64px;
    margin-bottom: 10px;
    width: 64px;

    +games--listing() {
        display: none;
    }
}

.game-overlay-info-container {
    display: flex;
    flex-direction: column;
    align-items: center
    width: 100%;
}

.game-overlay-name {
    text-transform: uppercase;
}

.game-overlay-name,
.game-overlay-developer {
    ellipsis();
    color: $greyscale-white;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    max-width: 90%;

    span {
        font-weight: 300;
    }
}

.game-overlay .mkt-app-button {
    height: auto;
}

.game-overlay .mkt-app-button em {
    border: 2px solid $greyscale-white;
    border-radius: 2px;
    font-style: italic;
    height: 30px;
    margin: 20px 0;
}

.game-name {
    color: $greyscale-white;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    max-width: 90%;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    transition: opacity .2s;
    z-index: 2;

    +game--hover() {
        opacity: 0;
    }
}
