@import '../lib';


.web-games-are-awesome {
    align-items: center;
    background: $color--green-dark;
    color: $greyscale-white;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;
    justify-content: center;
    padding: 20px 0;
    width: 100%;

    +media--base-tablet() {
        padding: 40px 0;
    }
    p,
    a {
        text-align: center;
        width: 85%;
    }
    p {
        margin-bottom: 20px;
    }
    a {
        color: $greyscale-white;
        text-decoration: underline;
    }
}


.games-listing-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    +media--base-desktop() {
        flex-direction: row;
    }
}

.games-listing-nav {
    align-items: center;
    background: $greyscale-white;
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 30px 30px 40px;
    width: 100%;

    +media--base-desktop() {
        align-items: flex-start;
        flex: 0 0 240px;
        height: 320px;
        margin: 5px 5px 0 0;
    }
    li {
        display: inline-block;
        list-style: none;
        font-weight: 600;
        transition: background .1s;
        width: fit-content;

        a {
            background: none;
            border-radius: 10px;
            color: $greyscale-black;
            display: inline-block;
            font-size: 20px;
            margin: 6px 0;
            padding: 5px 10px;
            transition: color .1s;
        }
        &:hover,
        &[data-active="true"] {
            a {
                background: $action-positive;
                color: $greyscale-white;
                text-decoration: none;
            }
        }
    }
}

.games-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

    +media--base-desktop() {
        justify-content: flex-start;
        margin-top: 0;
    }
    .game {
        margin: 5px;
        width: 250px;
    }
}
