{% from "_macros/detail.html" import detail_header %}

{% set endpoint = api('website', [pk]) %}

{{ detail_header(url=endpoint, key=pk, content_type='website') }}

{% defer (url=endpoint, key=pk) %}
  <section class="main full app-info">
    <div class="detail-flex-wrap">
      <div class="detail-left-side">
        {% if this.description %}
          <section class="prose">
            <div>
              <h3>{{ _('Description') }}</h3>
              <div class="description-wrapper truncated-wrapper truncated">
                <p class="description" itemprop="description">
                  {{ this.description|translate(this)|nl2br }}
                </p>
              </div>
              <a href="#" class="truncate-toggle view-all-tab">{{ _('View All') }}</a>
            </div>
          </section>
        {% endif %}
      </div>

      <div class="detail-right-side">
        {% if this.categories %}
          <section class="prose website-categories">
            <div>
              {# FIXME: This won't translate well. #}
              {# L10n: This goes before a list of categories. #}
              {{ _('Explore more in') }}
              {% for category in this.categories %}
                <a href="{{ url('category', [category.slug]) }}" class="website-detail--category-link">
                  {{ category.name }}
                </a>{% if loop.last %}.{% else %},{% endif %}
              {% endfor %}
            </div>
          </section>
        {% endif %}

        <section class="prose website-report-issue">
          <div>
            {{ _('Is there something wrong or out-of-date with this website listing?') }}
          </div>
          <a href="{{ url('website/issue', [pk]) }}">{{ _('Report an issue') }}</a>
        </section>
      </div>
    </div>
  </section>
{% except %}
{% end %}
