{% from "_macros/detail.html" import detail_header %}

{% set endpoint = api('website', [pk]) %}

{{ detail_header(url=endpoint, key=pk, content_type='website') }}

{% defer (url=endpoint, as='website', key=pk) %}
  {# Apply transformer to get categories etc. working. #}
  {% set website = apps.transform(this, 'website') %}
  <section class="main full app-info website-detail">
    <div class="detail-flex-wrap">
      <div class="detail-left-side">
        {% if website.description %}
          <section class="prose">
            <div>
              <h3>{{ _('Description') }}</h3>
              <div class="description-wrapper truncated-wrapper truncated">
                <p class="description" itemprop="description">
                  {{ website.description|translate(website)|nl2br }}
                </p>
              </div>
              <a href="#" class="truncate-toggle view-all-tab">{{ _('View All') }}</a>
            </div>
          </section>
        {% endif %}
      </div>

      <div class="detail-right-side">
        {% if website.categories %}
          <section class="prose website-categories">
            <div>
              {% set cat_link_format = '<a href="{url}" class="website-detail--category-link">{name}</a>' %}
              {% set categories = website.categories %}
              {% if categories.length == 2 %}
                {{ _('Explore more in {category_one} and {category_two}.')|format(
                    category_one=cat_link_format|format(url=categories[0].url, name=categories[0].name),
                    category_two=cat_link_format|format(url=categories[1].url, name=categories[1].name)) }}
              {% else %}
                {{ _('Explore more in {category}.')|format(
                    category=cat_link_format|format(url=categories[0].url, name=categories[0].name)) }}
              {% endif %}
            </div>
          </section>
        {% endif %}

        <section class="prose website-report-issue">
          <div>
            {{ _('Is there something wrong or out-of-date with this website listing?') }}
          </div>
          <a href="{{ url('website/issue', [pk]) }}">{{ _('Report an issue') }}</a>
        </section>
      </div>
    </div>
  </section>
{% except %}
{% end %}
