@import 'lib';


#account-settings .toggles {
    padding: 15px;
}

#page .account-settings {
    padding: 15px;


    .form-footer {
        text-align: center;
        button {
            margin-bottom: 1em;
        }
        .extras button {
            float: none;
            width: 100%;
        }
    }
}

#feedback-overlay section {
    width: 450px;
}
