@import 'lib';

#account-settings .toggles {
    padding: 15px;
}

#page .account-settings {
    padding: 15px;
    .form-footer {
        text-align: center;
        button {
            margin-bottom: 1em;
        }
        .extras button {
            float: none;
            width: 100%;
        }
    }
}
.account {
    .results-header {
        display: none;
    }
    footer {
        padding: 15px;
    }
}

#feedback-overlay section {
    width: 450px;
}

// ***************** Wide Mobile (> 671px)

@media (min-width: 672px) {
    .account .results-header {
        display: block;
    }
}

// Does not work with $desktop.
@media $at-least-desktop {
    // TODO: This has to be fixed properly.
    body[data-page-type=leaf] #page .main.account {
        background-color: transparent;
    }
    .toggles {
        display: none;
    }
}
