@import 'lib';

@media $narrower-than-desktop {
    article.extras {
        background: none;
        border: 0;
        padding: 0;
        margin: 0;
        .notice {
            diagonal-lines();
            border-bottom: $castle-skull-gray 1px dashed;
            padding: 15px 10px;
        }
        .button {
            display: block;
            margin: 10px;
        }
    }
}

.toggles {
    display: table;
    list-style: none;
    table-layout: fixed;
    width: 100%;
    li {
        display: table-cell;
        padding: 0 10px;
        text-align: left;
        vertical-align: middle;
        width: (100% / 3);
        + li {
            border-left: 1px dotted $cement-gray;
            text-align: center;
        }
        &:last-of-type {
            text-align: right;
        }
    }
    a {
        color: $text;
        font-weight: 500;
        &.sel, &:active {
            color: $sailor-blue;
            font-weight: 500;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

// Does not work with $desktop.
@media $at-least-desktop {
    .toggles {
        display: none;
    }
    #account-settings div.secondary-header {
        display: none;
    }
    article.extras .notice {
        padding: 0 0 15px;
    }
}
