@import 'lib';

.cat-menu,
.show-cats .cat-menu.hidden,  // Specifically for specificity
.dropdown {
    display: none;
}

$cat-icon-size-default = 28px;
$cat-icon-size-desktop = 60px;

// Mixin to handle hover/focus states of svg sprite.
// One day if background-position-x/y works we can
// factor a lot of this out.
sprite-background-position($vertical-pos) {
    &:before {
        background-position: 50% $vertical-pos;
    }
    &:focus:before,
    &:hover:before {
        background-position: 100% $vertical-pos;
    }
    // Needed for the mobile screenwidth to have
    // grey icons in the drop-down rather than blue.
    &.cur-cat:focus:before,
    &.cur-cat:hover:before,
    &.cur-cat:not(.mobile):before {
        background-position: 0 $vertical-pos;
    }
}

.cat-icon,
.cat-icon-a {
    &:before {
        // Default to 'all' icon
        background: url(../img/pretty/cats-sprite.svg) no-repeat 50% 93.8%;
        background-size: 3*$cat-icon-size-default;
        content: '';
        display: inline-block;
        height: $cat-icon-size-default;
        margin: 0 10px 0 0;
        vertical-align: middle;
        width: $cat-icon-size-default;
    }
    sprite-background-position(93.8%);
}

.cat-entertainment,
.cat-sports {
    sprite-background-position(49.7%);
}
.cat-business {
    sprite-background-position(43.3%);
}
.cat-games {
    sprite-background-position(-0.8%);
}
.cat-music {
    sprite-background-position(11.8%);
}
.cat-news-weather {
    sprite-background-position(5.6%);
}
.cat-productivity {
    sprite-background-position(68.5%);
}
.cat-social {
    sprite-background-position(75%);
}
.cat-travel {
    sprite-background-position(87.5%);
}
.cat-books,
.cat-reference {
    sprite-background-position(81.2%);
}
.cat-education {
    sprite-background-position(24.4%);
}
.cat-health-fitness {
    sprite-background-position(18.2%);
}
.cat-lifestyle {
    sprite-background-position(37%);
}
.cat-photo-video {
    sprite-background-position(62.2%);
}
.cat-utilities {
    sprite-background-position(30.7%);
}
.cat-shopping {
    sprite-background-position(55.9%);
}
.cat-maps-navigation {
    sprite-background-position(100.1%);
}

a[class*="cat-movistar-"]:before,
a[class*="cat-movistar-"]:hover:before {
    background: url(../img/carriers/movistar.svg) 0 40% !important;
    background-size: 100% 100% !important;
}

.cat-dt-pl:before,
.cat-dt-pl:hover:before {
    background-image: url(../img/carriers/deutsche_telekom.svg) !important;
    background-size: 80% 80% !important;
    background-position: 40% 35% !important;
}

a[class*="cat-telenor-"]:before,
a[class*="cat-telenor-"]:hover:before,
a[class*="cat-telenor-"]:active:before {
    background: url(../img/carriers/telenor.svg) 0 -26px;
    background-size: 28px auto;
}

a[class*="cat-telenor-"]:hover:before,
a[class*="cat-telenor-"]:active:before {
    background-position: 0 -54px;
}

#cat-dropdown {
    a[class*="cat-movistar-"]:before {
        margin-right: 15px;
    }
    a[class*="cat-dt-"]:before {
        margin-right: 0;
    }
    a[class*="cat-telenor-"]:before,
    a[class*="cat-telenor-"]:hover:before {
        background: url(../img/carriers/telenor.svg) 0 1px no-repeat;
        background-size: 28px auto;
    }
}

.dropdown a:after {
    // Only -moz because Webkit has a gross transition/transform bug.
    -moz-transition: 0.5s transform;
    transform: rotate(0);
}

.show-cats {
    #page {
        padding-top: 0;
    }
    .dropdown {
        display: block;
        height: auto;
        &:before {
            background: none;
        }
        &:after {
            content: '';
            display: block;
            // Pseudo shadow under dropdown
            gradientLinear(unquote('to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.375) 100%'));
            height: 3px;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
        a {
            background: $salt-flat-white;
            color: $castle-skull-gray;
            display: block;
            font-size: 18px;
            font-weight: 400;
            line-height: 39px;
            padding-right: 10px;
            position: relative;
            text-align: center;
            text-decoration: none;
            width: 100%;
            z-index: 1;

            &:focus, &:hover {
                color: $sailor-blue;
            }
            // Dropdown arrow
            &:after {
                dropdown();
            }
        }
        &.active a:after,
        a:hover:after,
        a:focus:after {
            background-image: url(../img/pretty/dropdown_active.svg);
            text-decoration: none;
        }
        &.active a:after {
            transform: rotate(180deg);
        }
    }
    .cat-menu {
        background: $grey-gardens-gray;
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li:last-child a {
            border-bottom: none;
        }
        a {
            border-bottom: 1px dashed $cement-gray;
            color: $cement-gray;
            display: block;
            ellipsis();
            font-size: 15px;
            font-weight: 600;
            line-height: 39px;
            padding: 0 10px;
            position: relative;
            width: 100%;

            &:focus,
            &:active,
            &:hover,
            &:focus:hover,
            &:active:hover {
                background-color: $sailor-blue;
                color: #fff;
                text-decoration: none;
            }
            &:focus,
            &:active {
                background-color: darken($sailor-blue, 15%);
                outline: none;
            }
            &.current {
                // Pad the text away from the tick when it's there
                // 10px + 17px + 10px = 37
                padding-right: 37px;
            }
            &:active:after,
            &.current:after {
                background: url(../img/pretty/tick.svg) no-repeat;
                background-size: 17px auto;
                content: '';
                display: block;
                height: 12px;
                position: absolute;
                right: 12px;
                top: 15px;
                width: 17px;
            }
            &:active:after,
            &.current:hover:after,
            &.current:focus:after {
                background-image: url(../img/pretty/tick-white.svg);
            }
        }
    }
}


@media $at-least-desktop {
    .show-cats {
        .dropdown {
            margin: 0 auto;
            width: $desktop-content;
            &.secondary-header {
                height: auto;
                max-height: 100%;
            }
            &:after {
                background: none;
            }
            a {
                border-bottom: none;
                color: $castle-skull-gray;
                font-size: 40px;
                font-weight: 300;
                height: auto;
                line-height: 59px; // Just enough so the float gets caught when wrapped
                margin-bottom: 38px;
                text-align: left;
                text-shadow: 0 1px 0 $steam-white;
                vertical-align: middle;
                // Dropdown category icon
                &:before {
                    background-size: 3*$cat-icon-size-desktop auto;
                    float: left;
                    height: $cat-icon-size-desktop;
                    width: $cat-icon-size-desktop;
                }
                // Dropdown Arrow
                &:after {
                    background-size: 30px auto;
                    margin-left: 20px;
                    position: static;
                    width: 30px;
                }
            }
        }
        .cat-menu {
            box-shadow: 0 1px 3px 0 $primer-gray;
            margin: 0 auto 48px;
            overflow: hidden;
            position: relative;
            width: $desktop-content;
            z-index: 1;
            li {
                float: left;
                width: 50%;
            }
            // Remove the border on the last but
            // one when we have two cols of cats.
            // and only when this child is odd
            // (When the number of children is even)
            li:nth-last-child(2):nth-child(odd) a {
                border-bottom: none;
            }
            li:nth-child(odd) {
                border-right: 1px dashed $cement-gray;
            }
        }
    }

    #cat-dropdown {
        a[class*="cat-telenor-"]:before,
        a[class*="cat-telenor-"]:hover:before {
            background-position: 0 11px;
            background-size: 50px auto;
            margin: -5px 5px 0 0;
        }
    }
}
