@import 'lib';

.infobox.blurbs {
    border-top: 0;
}
.support,
.content-ratings-wrapper,
.upsell-wrapper {
    diagonal-lines();
}
.detail .support > div {
    // Necessary to not clobber desktop L+R
    padding-bottom: 24px;
    padding-top: 24px;
}
.blurbs,
.reviews-wrapper,
.support {
    background-color: #fff;
}

.detail {
    h3 {
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
    }
}

.blurbs {
    clear: both;
    color: $dark-gray;
    line-height: 22px;
    > div {
        padding: 24px 10px;
    }
    .description:only-child {
        padding-bottom: 0;
    }
    .description + div > {
        h3:first-child {
            padding-top: 0;
        }
        :last-child {
            padding-bottom: 0;
        }
    }
    blockquote {
        background: $faint-gray;
        border-left: 2px solid $light-gray;
        color: $medium-gray;
        margin: 0;
        padding: 5px 10px;
    }
    .description-wrapper {
        padding: 0;

        &.truncated {
            max-height: 16.5em;
            overflow: hidden;
            position: relative;

            &:after {
                bottom: 0;
                content: '';
                gradientTop(unquote('rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%'));
                height: 6.5em;
                left: 0;
                pointer-events: none;
                position: absolute;
                width: 100%;
                z-index: 10;
            }
        }
    }
}

.show-toggle {
    display: block;
    float: right;
    font-weight: bold;
    padding: 10px;
    text-transform: lowercase;
    &:before {
        content: "(";
        font-weight: 200;
    }
    &:after {
        content: ")";
        font-weight: 200;
    }
}

.collapsed {
    display: none;
}

.content-ratings-wrapper {
    border-top: 1px dashed $london-fog-gray;
    h3 {
        padding-bottom: 24px;
    }
}

.content-rating {
    color: $text;
    display: table;
    margin-bottom: 15px;
    &:only-child {
        margin-bottom: 9px;  // -15px + 24px
    }
    .icon {
        border-radius: 5px;
        background: $black;
        color: $white;
        float: left;
        font: 600 32px/64px $open-stack;
        height: 64px;
        margin-right: 15px;
        text-align: center;
        vertical-align: middle;
        width: 64px;
    }
    .icon-L {
        background: $box-green;
    }
    .icon-10 {
        background: $box-blue;
    }
    .icon-12 {
        background: $box-yellow;
    }
    .icon-14 {
        background: $box-orange;
    }
    .icon-16 {
        background: $box-red;
    }
    .description {
        display: table-cell;
        font-weight: 400;
        margin: 0;
        vertical-align: middle;
        width: 100%;
    }
}

.actions {
    diagonal-lines();
    > div {
        float: left;
        overflow: hidden;
        width: 100%;
    }
    .button {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.support {
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        a {
            display: inline-block;
        }
    }
    li {
        float: left;
        margin-bottom: 10px;
        min-height: 100px;
        width: 480px;
    }
    p {
        margin: 0;
    }
}

.upsell-wrapper {
    background: $salt-flat-white;
    border-top: 1px dashed $london-fog-gray;
}

.upsell {
    background: #fff;
    border-radius: 5px;
    border: 1px solid $seavan-salt-white;
    display: block;
    font-size: 0;
    margin: 10px;
    padding: 15px 10px;
    text-decoration: none;
    &:hover {
        border-color: darken($seavan-salt-white, 10%);
        img {
            opacity: .8;
        }
    }
    &:active {
        depressed();
    }
    div {
        display: inline-block;
        padding: 8px 10px;
        vertical-align: top;
    }
    img {
        height: 64px;
        width: 64px;
    }
    .avail {
        color: #000;
        display: block;
        font-size: 15px;
        line-height: 17px;
    }
    .name {
        color: $earl-gray;
        font-size: 12px;
        line-height: 18px;
    }
}

// ***************** Wide Mobile (> 671px)

@media $at-least-desktop {
    .upsell-wrapper {
        background: #fff;
    }
    .upsell,
    .blurbs > div {
        padding: 24px 15px;
    }
    .upsell {
        border: 0;
        border-radius: 0;
        margin: 0;
        div {
            padding: 8px 15px;
        }
        .avail {
            font-size: 17px;
            line-height: 19px;
        }
        .name {
            font-size: 15px;
            line-height: 21px;
        }
    }
    .blurbs .description-wrapper {
        text-columns(2, 24px);

        p.description {
            padding-top: 0;
        }
        &.truncated {
            max-height: none;
            overflow: visible;

            &:after {
                content: none;
            }
        }
    }
    .show-toggle {
        display: none;
    }

    .detail {
        border-radius: 10px;
        border: 1px solid $seavan-salt-white;
        margin: 0 auto;
        max-width: $desktop-content;
        overflow: hidden;
        h3 {
            font-weight: 500;
        }
    }

    // At desktop width, let's float the content ratings.
    .content-ratings {
        margin: 0 -15px 9px;  // 15px on the sides and 24px on the bottom.
    }

    .content-rating {
        float: left;
        margin-bottom: 24px;
        padding: 0 15px;
        width: 50%;
        &:only-child {
            margin: 0;
        }
    }

    .secondary-header .leading {
        diagonal-lines();
        font-size: 24px;
        gradient-two-color(#fff, #e1e1e1);
        line-height: 24px;
        max-width: 100%;
        padding: 15px;
        position: static;
    }
}


// Statistics page is not mobile-optimized. Hide button to that page at non-
// desktop widths.
@media $narrower-than-desktop {
    .statistics {
        display: none;
    }
}
