@import 'lib';

$triangle-size = 20px;

// Description.

body[data-page-type~=leaf] {
    h3 {
        font-weight: 600;
        line-height: 16px;
    }
    .infobox {
        border-top: 1px dashed $london-fog-gray;
        border-bottom: none;
        .button {
            display: block;
        }
    }
    .blurbs {
        border-top: none;
    }
    .support,
    .content-ratings {
        diagonal-lines();
    }
}

.blurbs,
.reviews,
.support {
    background-color: #fff;
}

.product-details {
    font-size: 15px;
    line-height: 18px;
    &.listing {
        margin-bottom: 0;
    }
    .icon {
        width: 64px;
    }
    .mkt-tile h3 {
        color: #000;
        ellipsis();
        max-width: 100%;
        font-size: 30px;
        line-height: 37px;
        margin-top: 0;
    }
    .mkt-tile .author {
        font-size: 15px;
        line-height: 15px;
    }
    .mkt-tile {
        position: relative;
    }
    .mkt-tile {
        padding: 20px 10px 30px;
        diagonal-lines();
    }
    .mkt-tile:before,
    .mkt-tile:after {
        border-bottom: $triangle-size solid $salt-flat-white;
        bottom: 0;
        content: ''
        display: block;
        height: 0;
        position: absolute;
        width: 50%;
    }
    .mkt-tile:before {
        // dotted gets rid of strange edge rendering in b2g.
        border-right: $triangle-size dotted transparent;
        left: -($triangle-size);
    }
    .mkt-tile:after {
        border-left: $triangle-size dotted transparent;
        right: -($triangle-size);
    }
    .install {
        bottom: (10px + $triangle-size);
        position: absolute;
        right: 10px;
    }
    &.listing .rating {
        clear: left;
        float: left;
    }
    &.listing .icon {
        float: left;
        margin: 0 14px 10px 0;
        position: static;
    }
    // TODO: refactor/remove when default listing
    // rating styles are updated.
    &.listing .rating .cnt,
    &.listing .rating a:hover .cnt {
        color: $sailor-blue;
        border: none;
        font-size: 12px;
        margin-left: 10px;
    }
    &.listing .rating a:hover .cnt {
        text-decoration: underline;
    }
}

.blurbs {
    clear: both;
    color: $dark-gray;
    .description,
    p {
        margin: 0;
    }
    h3 {
        font-size: 15px;
        line-height: 18px;
        margin: 15px 0 20px;
    }
    ul, ol {
        margin: 10px 0;
    }
    blockquote {
        background: $faint-gray;
        border-left: 2px solid $light-gray;
        color: $medium-gray;
        margin: 0;
        padding: 5px 10px;
    }
}

.reviews h3 {
    color: #000;
    font-size: 15px;
    margin-bottom: 20px;
}

.show-toggle {
    display: block;
    float: right;
    font-weight: bold;
    margin: -5px -10px 0 0;
    padding: 5px 10px 10px;
    text-align: right;
    text-transform: lowercase;
    &:before {
        content: "(";
        font-weight: 200;
    }
    &:after {
        content: ")";
        font-weight: 200;
    }
}

.collapsed {
    display: none;
}

.content-ratings {
    border-top: 1px dashed $london-fog-gray;
    h3 {
        color: #000;
        font-size: 15px;
        padding-bottom: 20px;
    }
}

.content-rating {
    color: $text;
    display: table;
    font-size: 12px;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    .icon {
        border-radius: 5px;
        background: $black;
        color: $white;
        float: left;
        font: 600 32px/64px $open-stack;
        height: 64px;
        margin-right: 15px;
        text-align: center;
        vertical-align: middle;
        width: 64px;
    }
    .icon-L {
        background: $box-green;
    }
    .icon-10 {
        background: $box-blue;
    }
    .icon-12 {
        background: $box-yellow;
    }
    .icon-14 {
        background: $box-orange;
    }
    .icon-16 {
        background: $box-red;
    }
    .description {
        display: table-cell;
        font-weight: 400;
        margin: 0;
        vertical-align: middle;
        width: 100%;
    }
}

.actions {
    p {
        margin: 0;
        + p {
            margin-top: 15px;
        }
    }
    .button {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.product-details + #product-status {
    margin-top: 24px;
}

#upsell {
    gradient-two-color(#fafbfc, #ebeff2);
    border: 1px solid $light-gray;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(255,255,255,.5), 0 1px 1px 0 rgba(0,0,0,.1) inset;
    color: #333638;
    margin-top: 15px;
    padding: 10px 33px 10px 52px;
    position: relative;
    text-align: left;
    h3 {
        color: darken(#ffe, 75%);
        margin-bottom: 10px;
    }
    .upsell {
        ellipsis();
        display: block;
        float: left;
        font-weight: 200;
        font-size: 21px;
        min-height: 35px;
        line-height: 32px;
        position: relative;
    }
    .icon {
        display: block;
        margin-right: 15px;
        position: absolute;
        vertical-align: top;
        top: 10px;
        left: 10px;
        max-height: 32px;
        max-width: 32px;
    }
    .prose {
        color: $medium-gray;
        margin-bottom: 10px;
    }
    &:active {
        depressed();
    }
    &:after {
        background: $arrow-src 100% 50% no-repeat;
        content: "";
        display: block;
        height: 14px;
        opacity: .8;
        position: absolute;
        top: 20px;
        right: 10px;
        width: 13px;
    }
    .avail, .name, .icon {
        opacity: .85;
    }
    &:hover {
        border-color: $bg-gray;
        text-decoration: none;
        &:after, .avail, .name, .icon {
            opacity: 1;
        }
    }
    .avail, .name {
        ellipsis();
        display: block;
    }
    .avail {
        color: $green;
        font-weight: 400;
        line-height: 12px;
        margin-bottom: -4px;
        padding-bottom: 5px;
    }
    .name {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: -4px;
        padding-bottom: 0;
    }
}

.support {
    ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
        a, time {
            display: inline-block;
        }
    }
    li {
        float: left;
        margin-bottom: 10px;
        min-height: 100px;
        width: 480px;
    }
    p {
        margin: 0;
    }
}

// Slider next/prev page controls are smaller here.
.alt-slider .controls a {
    height: 120px;
}

// ***************** Wide Mobile (> 671px)

@media $at-least-desktop {
    body[data-page-type~=leaf] {
        .blurbs,
        .reviews,
        .support {
            background-color: #fff;
            border-top: 1px dashed $london-fog-gray;
            border-bottom: none;
        }
        .blurbs {
            border-top: none;
            h3 {
                display: none;
            }
            > div {
                text-columns(2);
            }
            .description {
                margin-top: 15px;
            }
        }
        #reviews {
            margin: 20px auto;
        }
        .listing {
            border: 0;
        }
        #reviews-detail {
            padding: 20px;
            font-size: 15px;
            ul {
                margin: 0 -20px;
                position: relative;
                .review {
                    float: left;
                    padding: 0 20px;
                    width: 50%;
                }
            }
            .byline,
            .byline strong {
                color: $earl-gray;
                font-size: 15px;
            }
        }
    }

    .detail {
        border-radius: 5px;
        border: 1px solid $seavan-salt-white;
        margin: 0 auto;
        max-width: $desktop-content + 2;
        overflow: hidden;
    }

    .product-details {
        background: #fff;
        .bad-app {
            padding-top: 5px;
            clear: left;
        }
        &.listing .mkt-tile {
            padding: 15px 15px 35px;
            diagonal-lines();
        }
        .install {
            right: 15px;
            bottom: (15px + $triangle-size);
        }
       .mkt-tile h3 {
            font-size: 40px;
            line-height: 48px;
        }
        .mkt-tile + .tray:after,
        .mkt-tile + .tray:before {
            background-image: none;
        }
    }

    // At desktop width, let's float the content ratings.
    .desktop .content-rating {
        float: left;
        padding: 0 5px 0 0;
        width: 50%;
        &:nth-child(2n+1) {
            padding: 0 0 0 5px;
        }
    }

    // Chrome fix. This seems to be the reflow issue: http://is.gd/d06sTY
    .actions .button {
        width: 572px;
    }
}
