@import 'lib';

.content-ratings-wrapper {
    border-top: 1px solid $cloud-gray;

    h3 {
        padding-bottom: 24px;
    }
    .icon {
        border-radius: 5px;
        display: inline-block;
        height: auto;
        margin-right: 10px;
        text-align: center;
        vertical-align: middle;
        width: 48px;
    }
    .infobox-wrapper {
        padding-bottom: 0;
    }
    .full {
        padding-top: 24px;

        .button {
            display: block;
        }
    }
}

.content-ratings {
    float: left;
}

.content-ratings .content-rating {
    color: $text;
    display: table;

    .icon {
        float: left;
        margin-bottom: 5px;
    }
    .icon-body-pegi {
        border-radius: 1px;
    }
    .icon-body-usk {
        border-radius: 8px;
    }
}

.content-descriptors.text {
    float: left;
}
.interactive-elements.text {
    float: left;
    left: 10px;
    padding-left: 10px;
}

.content-descriptors.text li,
span.description,
.interactive-elements.text p {
    clear: left;
    color: $earl-gray;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
.content-descriptors.icons {
    max-width: 65%;
}
.interactive-elements {
    max-width: 50%;
}

.content-descriptors.icons, .interactive-elements {
    border-left: 1px solid $faint-gray;
    float: right;
    left: 12px;
    margin-bottom: 15px;
    padding-left: 10px;
    position: relative;

    .icon {
        display: inline-block;
        margin: 0 4px 8px 0;
    }
}

// ***************** Wide Mobile (> 671px)

@media $at-least-desktop {
    .content-ratings-wrapper {
        padding-bottom: 10px;

        .icon {
            height: auto;
            width: 64px;
        }
        .content-rating .icon {
            margin-right: 15px;
        }
        .interactive-elements.text {
            left: 15px;
            padding-left: 15px;
        }
        .interactive-elements.icons, .content-descriptors {
            left: 5px;
        }
        .content-descriptors.icons {
            left: 27px;
        }
        .interactive-elements, .content-descriptors.icons {
            padding-left: 20px;

            .icon {
                margin: 0 10px 10px 0;
            }
        }
        .description {
            clear: none;
        }
        ul.content-descriptors.text li,
        span.description,
        .interactive-elements.text p {
            font-size: 15px;
        }
    }
}
