@import 'lib';

.infobox.blurbs {
    border-top: 0;
}

.detail .support > div {
    // Necessary to not clobber desktop L+R
    padding-bottom: 24px;
    padding-top: 24px;
}

.detail {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 1px $cement-gray;
    margin: 10px;

    h3 {
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
    }
}

.regionbanner {
    background: url(../img/pretty/alert.svg) 12px 50% no-repeat #82C80A;
    background-size: 48px;
    color: #fff;
    padding-left: 60px;
}

.blurbs {
    clear: both;
    color: $dark-gray;
    line-height: 22px;

    > div {
        padding: 24px 10px;
    }
    blockquote {
        background: $faint-gray;
        border-left: 2px solid $light-gray;
        color: $medium-gray;
        margin: 0;
        padding: 5px 10px;
    }
    .truncated-wrapper {
        padding: 0;

        &.truncated {
            max-height: 16.5em;
            overflow: hidden;
            position: relative;

            &:after {
                bottom: 0;
                content: '';
                gradientTop(unquote('rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%'));
                height: 6.5em;
                left: 0;
                pointer-events: none;
                position: absolute;
                width: 100%;
                z-index: 10;
            }
        }
    }
}

section.releasenotes {
    border-bottom: 1px solid $cloud-gray;

    .truncated-wrapper.truncated {
        max-height: 7.5em;
    }
}

.show-toggle {
    display: block;
    font-weight: bold;
    padding: 10px;
    text-align: right;
    text-transform: lowercase;
    &:before {
        content: "(";
        font-weight: 200;
    }
    &:after {
        content: ")";
        font-weight: 200;
    }
}

.collapsed {
    display: none;
}

.content-ratings-wrapper {
    border-top: 1px solid $cloud-gray;

    h3 {
        padding-bottom: 24px;
    }
    .icon {
        border-radius: 5px;
        display: inline-block;
        height: auto;
        margin-right: 10px;
        text-align: center;
        vertical-align: middle;
        width: 48px;
    }
}

.content-ratings {
    float: left;
}

.content-ratings .content-rating {
    color: $text;
    display: table;
    margin-bottom: 12px;

    .icon {
        float: left;
        margin-bottom: 5px;
    }
    .icon-body-pegi {
        border-radius: 1px;
    }
    .icon-body-usk {
        border-radius: 8px;
    }
}

.content-descriptors-text {
    float: left;
}

.content-descriptors-text li, span.description {
    clear: left;
    color: $earl-gray;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
.content-descriptors-icons {
    max-width: 65%;
}
.interactive-elements {
    max-width: 45%;
}

.content-descriptors-icons, .interactive-elements {
    border-left: 1px solid $faint-gray;
    float: right;
    left: 12px;
    margin-bottom: 15px;
    padding-left: 10px;
    position: relative;

    .icon {
        display: inline-block;
        margin: 0 4px 8px 0;
    }
}

.actions {
    > div {
        float: left;
        overflow: hidden;
        width: 100%;
    }
    .button {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.support {
    border-radius: 0 0 10px 10px;
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        a {
            display: inline-block;
        }
    }
    li {
        float: left;
        margin-bottom: 10px;
        min-height: 100px;
        width: 480px;
    }
    p {
        margin: 0;
    }
}

.upsell-wrapper {
    background: $salt-flat-white;
    border-top: 1px solid $cloud-gray;
}

.upsell {
    background: #fff;
    border-radius: 5px;
    border: 1px solid $cloud-gray;
    display: block;
    font-size: 0;
    margin: 10px;
    padding: 15px 10px;
    text-decoration: none;
    &:hover {
        border-color: darken($seavan-salt-white, 10%);
        img {
            opacity: .8;
        }
    }
    &:active {
        depressed();
    }
    div {
        display: inline-block;
        padding: 8px 10px;
        vertical-align: top;
    }
    img {
        height: 64px;
        width: 64px;
    }
    .avail {
        color: #000;
        display: block;
        font-size: 15px;
        line-height: 17px;
    }
    .name {
        color: $earl-gray;
        font-size: 12px;
        line-height: 18px;
    }
}

// ***************** Wide Mobile (> 671px)

@media $at-least-desktop {
    .upsell-wrapper {
        background: #fff;
    }
    .upsell,
    .blurbs > div {
        padding: 24px 15px;
    }
    .upsell {
        border: 0;
        border-radius: 0;
        margin: 0;
        div {
            padding: 8px 15px;
        }
        .avail {
            font-size: 17px;
            line-height: 19px;
        }
        .name {
            font-size: 15px;
            line-height: 21px;
        }
    }
    .blurbs .description-wrapper {
        text-columns(2, 24px);

        p.description {
            padding-top: 0;
        }
    }
    section.blurbs .truncated-wrapper.truncated {
        max-height: none;
        overflow: visible;

        &:after {
            content: none;
        }
    }
    .show-toggle {
        display: none;
    }

    .detail {
        border-radius: 10px;
        margin: 0 auto;
        max-width: $desktop-content;
        overflow: hidden;
        h3 {
            font-weight: 500;
        }
    }

    .content-ratings-wrapper {
        padding-bottom: 10px;

        .icon {
            height: auto;
            width: 64px;
        }
        .content-rating .icon {
            margin-right: 15px;
        }
        .interactive-elements, .content-descriptors {
            left: 5px;
        }
        .content-descriptors-icons {
            left: 27px;
        }
        .interactive-elements, .content-descriptors-icons {
            padding-left: 20px;

            .icon {
                margin: 0 10px 10px 0;
            }
        }
        .description {
            clear: none;
        }
        ul.content-descriptors-text li, .description {
            font-size: 15px;
        }
    }

    .secondary-header .leading {
        font-size: 24px;
        gradient-two-color(#fff, #e1e1e1);
        line-height: 24px;
        max-width: 100%;
        padding: 15px;
        position: static;
    }
}


// Statistics page is not mobile-optimized. Hide button to that page at non-
// desktop widths.
@media $narrower-than-desktop {
    .statistics {
        display: none;
    }
}
