@import 'lib';

.modal.show {
    menu.secondary-header, .support-list {
        display: none;
    }
    div.secondary-header {
        display: block;
    }
}

.feedback .support-list {
    list-style: none;
    padding: 5px 10px 10px;
    li {
        margin-top: 10px;
        .button {
            display: block;
        }
    }
}

@media $narrower-than-desktop {
    .feedback-form.form-modal {
        border-bottom: $castle-skull-gray 1px dashed;
        padding: 15px 10px;
    }
}

@media $at-least-desktop {
    .feedback .support-list {
        display: none;
    }
}
