@import 'lib';

.modal.show {
    menu.secondary-header, .support-list {
        display: none;
    }
    div.secondary-header {
        display: block;
    }
}

.feedback .support-list {
    border-top: 1px dashed #1a1a1a;
    list-style: none;
    padding: 10px;
    li {
        margin-bottom: 5px;
        .button {
            width: 100%;
        }
    }
}

@media $at-least-desktop {
    .feedback .support-list {
        display: none;
    }
}
