@import 'lib';

.form-modal {
    diagonal-lines();
    min-height: 492px;
    padding: 10px;
    textarea {
        border-radius: 5px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.15) inset;
        margin-bottom: 15px;
        min-height: 96px;
        width: 100%;
    }
    .button {
        width: 100%;
    }
}

// This is because the modal and the mobile view share the same markup.
.modal.show {
    .form-modal {
        min-height: inherit;
        padding: 0;
    }
    .secondary-header {
        background: none;
        border-top: 0;
        height: 25px;
        h2 {
            line-height: 18px;
            margin: -3px 0 0;
        }
        &:before {
            background-image: none;
        }
        .btn-cancel {
            display: block;
        }
    }
}

.main:not(.modal) {
    .form-modal {
        min-height: inherit;
    }
    .btn-cancel {
        display: none;
    }
}

@media $at-least-desktop {
    .form-modal {
        background: none;
        min-height: inherit;
        padding: 0;
        textarea {
            margin-bottom: 18px;
            min-height: 170px;
        }
    }
    .modal {
        .secondary-header {
            background: none;
            height: 22px;
        }
    }
    .modal.show {
        .buttons .button {
            width: auto;
        }
    }
    .main:not(.modal) .form-modal {
        margin-top: 48px;
    }
}
