@import 'lib';

$triangle-size = 20px;

.listing {
    margin-bottom: 10px;
    .loadmore {
        margin-bottom: -10px;
    }
    li.item {
        background: #fff;
        border: 1px solid $seavan-salt-white;
        border-radius: 5px;
        margin: 10px 10px 0;
        position: relative;
        &:hover {
            border-color: darken($seavan-salt-white, 10%);
        }
    }
}

.search-listing .mkt-tile + .tray {
    border-radius: 0 0 5px 5px;
}

@media $at-least-desktop {
    .listing {
        li {
            &.item, &.loadmore {
                margin: 25px 0 0;
            }
            &.item {
                border-radius: 10px;
            }
            &.loadmore {
                margin-bottom: -25px;
            }
            a {
                position: static;
            }
        }
    }
}

blockRatings() {
    // These rules get applied on mobile detail page and desktop category listing pages.
    .icon {
        // Leave room for reviews stars/count.
        margin-bottom: 15px;
    }
    .rating {
        clear: left;
        .cnt {
            display: inline-block;
            // To line up with app name.
            margin-left: 8px;
        }
    }
}

.listing {
    margin-bottom: 0;
    .bad-app {
        padding-top: 5px;
        clear: left;
    }
    .mkt-tile {
        padding: 15px 10px;
        position: relative;
        .icon {
            float: left;
            margin-right: 15px;
            position: static;
            width: 64px;
        }
        h3 {
            color: $castle-skull-gray;
            ellipsis();
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 0;
            max-width: 100%;
        }
    }
    .install {
        bottom: 15px;
        position: absolute;
        right: 10px;
    }
    .rating .cnt {
        display: none;
    }
    &.grid-if-desktop {
        .icon {
            margin-bottom: 0;
        }
    }
    &.expanded .mkt-tile {
        padding-bottom: 38px;
        &:before,
        &:after {
            border-bottom: $triangle-size solid $salt-flat-white;
            bottom: 0;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            width: 50%;
        }
        &:before {
            // dotted gets rid of strange edge rendering in b2g.
            border-right: $triangle-size dotted transparent;
            left: -($triangle-size);
        }
        &:after {
            border-left: $triangle-size dotted transparent;
            right: -($triangle-size);
        }
        .install {
            bottom: (18px + $triangle-size);
        }
    }
    &.product-details {
        .mkt-tile {
            diagonal-lines();
            blockRatings();
            + .tray {
                border-radius: 0;
            }
            h3 {
                font-size: 30px;
                line-height: 30px;
                font-weight: 300;
                margin-top: 0;
                max-width: 100%;
            }
            .author {
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}

@media $at-least-desktop {
    .listing {
        blockRatings();
        .mkt-tile {
            padding: 18px 15px;
            .button {
                min-width: 100px;
                width: 100px;
            }
        }
        .install {
            bottom: 18px;
            right: 15px;
        }
        &.expanded .mkt-tile {
            .install {
                bottom: (18px + $triangle-size);
            }
        }
        .author {
            font-size: 15px;
            line-height: 18px;
        }
    }
    .search-listing .mkt-tile + .tray {
        border-radius: 0 0 10px 10px;
    }
    .product-details {
        .mkt-tile h3 {
            font-size: 40px;
            line-height: 48px;
        }
        .mkt-tile + .tray:after,
        .mkt-tile + .tray:before {
            background-image: none;
        }
    }
}

@media $narrower-than-desktop {
    .listing.grid-if-desktop {
        // Create 10px between Popular/New tabs.
        padding-top: 14px;
    }
}
