@import 'lib';

$triangle-size = 20px;

// base class

.mkt-tile {
    color: $castle-skull-gray;
    display: block;
    overflow: hidden;
    position: relative;
    &:hover {
        text-decoration: none;
    }
    .icon {
        display: block;
    }
    .info h3,
    .author {
        ellipsis();
    }
}

.grid, .listing {
    clear: both;
    list-style: none;
    width: 100%;
}

// Listing
// name + icon + price + rating in a vertical listview.
// also used as standalone "card" on detail pages.

.mkt-tile {
    .rating {
        color: $sailor-blue;
        display: block;
        font-size: 12px;
        position: relative;
        a {
            text-decoration: none;
            &:hover .cnt {
                text-decoration: underline;
            }
        }
        .cnt {
            position: relative;
            top: -2px;
        }
        &.unrated, &.unrated a {
            color: $earl-gray;
        }
    }
}

.listing .mkt-tile {
    min-height: 64px;
    padding: 15px 10px 15px 84px;
    h3 {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        margin: -4px 0 -7px;
        padding-bottom: 10px;
    }
    .icon {
        float: left;
        position: absolute;
        top: 15px;
        left: 10px;
    }
    .author {
        color: $earl-gray;
        font-size: 12px;
        line-height: 14px;
        max-height: 28px;
        margin-bottom: -2px;
        padding-bottom: 8px;
    }
    .button {
        height: 24px;
        line-height: 24px;
        font-size: 13px;
        margin-left: 10px;
        min-width: 90px;
        padding: 0;
        width: 90px;
    }
    .price {
        display: none;
    }
}

// Previews tray.
.expanded .mkt-tile + .tray {
    display: block;
}
.mkt-tile + .tray {
    background: $salt-flat-white;
    display: none;
    height: 230px;
    overflow: hidden;
    padding: 21px 0 0;
    position: relative;
    &.single {
        // No dots so make it smaller. Leave 15px from bottom of screenshot to bottom of tray.
        height: 201px;
    }
    .slider {
        margin-top: 15px;
        overflow: hidden;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }
    ul {
        height: 150px; // 150 + 15
        list-style-type: none;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }
    li {
        float: left;
        margin-left: 15px;
        text-align: center;
        width: 150px; // Max height/width of image.
        &:first-child {
            margin-left: 0;
        }
        // The following creates a square container
        // that is as tall as the li is wide and
        // positions the img vertically and
        // horizontally center.
        .thumbnail {
            display: block;
            padding-bottom: 100%;
            position: relative;
            width: 100%;
        }
        img {
            -moz-user-select: none;
            bottom: 0;
            display: block;
            left: 0;
            margin: auto;
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.mkt-tile + .single li {
    width: 100%;
    img {
        position: static;
    }
}

$dot-size = 13px;

.tray {
    .dots {
        margin-top: 13px;
        height: $dot-size;
        text-align: center;
        width: 100%;
    }
    .dot {
        background: $salt-flat-white;
        // Don't use shorthand, we do transitions.
        border-color: $cloud-gray;
        border-radius: ($dot-size/2);
        border-style: solid;
        border-width: 3px;
        cursor: pointer;
        display: inline-block;
        height: $dot-size;
        margin: 0 3px;
        transition-duration: 0.15s;
        transition-property: border-color, border-width;
        width: $dot-size;
        &.current,
        &:hover,
        &:active {
            border-color: $sailor-blue;
        }
        &.current {
            background: $sailor-blue;
        }
    }
}

.bad-app,
.shots .next,
.shots .prev {
    display: none;
}

.product-details .bad-app {
    color: $maroon;
    display: block;
    font-size: 11px;
    line-height: 12px;
}

.category {
    background: #fff;
    font-size: 15px;
    line-height: 16px;
    .view-all {
        display: block;
        float: right;
        // Bigger click area.
        margin: -10px -6px -6px;
        padding: 10px 6px 6px;
        position: relative;
        z-index: 1;
    }
    &.featured {
        diagonal-lines();
        border-top-color: $sailor-blue;
    }
}

// Grid
// store graphic, name, price in a floated grid (3 tiles wide at 320).

// We need to duplicate these styles because we use this for
// .grid at desktop width and for .listing.grid-if-desktop at mobile width.
grid-style() {
    font-size: 0; // Nuke whitespace
    margin: 0 auto;
    max-width: $desktop-content;
    li {
        display: inline-block;
        padding: 15px 10px;
        position: relative;
        vertical-align: top;
        width: (100% / 3);
    }
    .author, .button, .cnt {
        display: none;
    }
    .mkt-tile {
        position: relative;
        width: 100%;
        &:hover .icon {
            opacity: .8;
        }
        &:active .icon {
            opacity: .4;
        }
        h3, .vital {
            font-size: 12px;
        }
        h3 {
            font-weight: 400;
            line-height: 16px;
            margin-bottom: -2px;
            padding-bottom: 2px;
        }
        .info {
            padding-top: 10px;
        }
        .price {
            color: $sailor-blue;
            font-weight: 400;
            margin-bottom: 2px;
        }
    }
}

.grid {
    grid-style();
}

.listing.grid-if-desktop .mkt-tile + .tray,
.listing.grid-if-desktop .mkt-tile + .tray img {
    display: none;
}

.tabs {
    left: 0;
    position: absolute;
    top: -7px;
    width: 100%;
    a {
        color: $earl-gray;
        display: block;
        ellipsis();
        float: left;
        font-size: 15px;
        height: 29px;
        line-height: 29px;
        margin-top: 7px;
        min-width: 150px;
        padding: 0 43px;
        position: relative;
        text-align: center;
        text-decoration: none;
        z-index: 2;
        &.active {
            color: #fff;
            pointer-events: none;
            &:before, &:after {
                background: $salt-flat-white url(../img/pretty/tab.svg) no-repeat;
                content: "";
                display: block;
                height: 36px;
                left: 0;
                position: absolute;
                top: -7px;
                // Width > 50% prevents a gap on ff android/b2g (872972).
                width: 51%;
                z-index: -1;
            }
            &:after {
                // background-position not transform fixes ff android/b2g (872972).
                background-position: 100% 0;
                left: auto;
                right: 0;
            }
        }
        &:not(.active) {
            text-shadow: 0 1px 0 #fff;
        }
        + a {
            margin-left: -50px;
        }
    }
}

@media $at-least-desktop {
    .shots {
        position: relative;
        .next, .prev {
            border-radius: 0 30px 30px 0;
            border: 15px solid rgba(#252525,.7);
            height: 60px;
            margin-top: -30px;
            outline: 0;
            position: absolute;
            top: 50%;
            transition(all .2s linear);
            width: 0;
            z-index: 16;
            &:after {
                background: url(../img/icons/slider_arrow.png) no-repeat;
                content: "";
                float: right;
                height: 22px;
                left: 7px;
                position: relative;
                top: 4px;
                width: 15px;
            }
            &:hover {
                border-color: rgba(#252525,.9);
                border-left-width: 22px;
            }
            &:active {
                border-color: rgba(#777,.9);
            }
        }
        .next {
            border-radius: 30px 0 0 30px;
            right: 0;
            &:after {
                transform(scaleX(-1));
            }
            &:hover {
                border-left-width: 15px;
                border-right-width: 22px;
            }
        }
        .prev {
            left: 0;
        }
    }
    #lightbox {
        .next, .prev {
            box-shadow: 0 0 4px #fff;
        }
    }

    .category {
        border-radius: 0 0 10px 10px;
    }

    .featured {
        border-top: 7px solid $sailor-blue;
        margin-bottom: 48px;
        // Show 7 at most on desktop.
        li:nth-child(7) ~ li {
            display: none;
        }
    }

    // Turn listing style into category horizontal style on desktop.
    .listing.grid-if-desktop {
        grid-style();
        li.item {
            background: none;
            border: 0;
            border-radius: 0;
            margin: 0;
            .mkt-tile {
                padding: 0;
                .icon {
                    float: none;
                    position: static;
                }
            }
        }
        .author, .bad-app, .button, .loadmore {
            display: none;
        }
        .price {
            display: block;
        }
    }

    .grid, .listing.grid-if-desktop {
        max-width: $desktop-content;
        padding: 0 5px;
        li {
            width: (100% / 7);
            &:nth-child(8) {
                clear: both;
                &:before {
                    border-top: 1px dashed $london-fog-gray;
                    content: "";
                    display: block;
                    height: 0;
                    left: -5px;
                    position: absolute;
                    top: -1px;
                    // Span 7 columns.
                    width: calc(unquote('700% + 10px'));
                }
            }
            // Show 14 at most.
            &:nth-child(14) ~ li {
                display: none;
            }
        }
    }

    .tabs a {
        text-shadow: none;
        &.active:before, &.active:after {
            background-color: #fff;
        }
    }
}

@media $narrower-than-desktop {
    .purchases .mkt-tile + .tray {
        display: none;
    }
    .gallery {
        background: $salt-flat-white;
    }
    .grid li {
        &:nth-child(4):before {
            border-top: 1px dashed $london-fog-gray;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            top: -1px;
            // Span 3 columns.
            width: calc(unquote('300% - 20px'));
        }
        // Render featured apps in multiples of three.
        // U mad, Basta?
        &:nth-last-child(-n+2):nth-child(3n+1),
        &:nth-last-child(-n+1):nth-child(3n+2) {
             display: none;
        }
        // Show 3 at most (per UX).
        &:nth-child(3) ~ li {
            display: none;
        }
    }
    .tabs + .view-all {
        display: none;
    }
    .tabs a {
        width: 50%;
        + a {
            margin-left: 0;
        }
    }
}

@media $retina {
    .shots .next, .shots .prev {
        &:after {
            background: url(../img/icons/slider_arrow-2x.png) no-repeat;
            background-size: 15px auto;
        }
    }
}

.listing {
    margin-bottom: 10px;
    .loadmore {
        margin-bottom: -10px;
    }
    li.item {
        background: #fff;
        border: 1px solid $seavan-salt-white;
        border-radius: 5px;
        margin: 10px 10px 0;
        position: relative;
        &:hover {
            border-color: darken($seavan-salt-white, 10%);
        }
        &:not(.loadmore):last-child {
            margin-bottom: 10px;
        }
    }
}

.search-listing .mkt-tile + .tray {
    border-radius: 0 0 5px 5px;
}

@media $at-least-desktop {
    .listing li {
        &.item, &.loadmore {
            margin: 25px 0 0;
        }
        &.item {
            border-radius: 10px;
            .mkt-tile + .tray {
                // Subtract 1px for border.
                border-radius: 0 0 9px 9px;
            }
        }
        &.loadmore {
            margin-bottom: -25px;
        }
        a {
            position: static;
        }
    }
}

ratings-sidebar() {
    // These rules get applied on mobile detail page and desktop category listing pages.
    .rating {
        clear: left;
        padding: 8px 0 10px;
        .cnt {
            display: inline-block;
            // To line up with app name.
            margin-left: 8px;
            top: -1px;
            &.short {
                display: none;
            }
        }
    }
    h3 {
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
        max-width: 100%;
    }
    .author {
        font-size: 15px;
        line-height: 18px;
    }
}

.listing {
    margin-bottom: 0;
    .bad-app {
        padding-top: 2px;
        clear: left;
    }
    .info + .bad-app {
        padding-top: 8px;
    }
    .mkt-tile {
        padding: 15px 10px;
        position: relative;
        .icon {
            float: left;
            margin-right: 15px;
            position: static;
            width: 64px;
        }
        h3 {
            color: $castle-skull-gray;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 0;
            max-width: 100%;
        }
    }
    .install {
        bottom: 15px;
        position: absolute;
        right: 10px;
    }
    &.expanded .mkt-tile + .tray {
        &:before, &:after {
            background: #fff;
            border-bottom: $triangle-size solid $salt-flat-white;
            bottom: 0;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            top: 0;
            width: 50%;
            z-index: 5;
        }
        &:before {
            // dotted gets rid of strange edge rendering in b2g.
            border-right: $triangle-size dotted transparent;
            left: -($triangle-size);
        }
        &:after {
            border-left: $triangle-size dotted transparent;
            right: -($triangle-size);
        }
    }
    &.product-details {
        &.expanded .mkt-tile + .tray:before,
        &.expanded .mkt-tile + .tray:after,
        .mkt-tile {
            diagonal-lines();
        }
        .mkt-tile {
            ratings-sidebar();
            + .tray {
                border-radius: 0;
            }
        }
    }
}

@media $at-least-desktop {
    .listing {
        &:not(.grid-if-desktop) .mkt-tile {
            ratings-sidebar();
        }
        .mkt-tile {
            padding: 18px 15px;
            .button {
                min-width: 100px;
                width: 100px;
            }
        }
        .install {
            bottom: 18px;
            right: 15px;
        }
        &.product-details {
            border-radius: 10px;
            .mkt-tile {
                + .tray:after,
                + .tray:before {
                    background-image: none;
                }
                h3 {
                    font-size: 40px;
                    line-height: 42px;
                }
                .author {
                    line-height: 15px;
                }
            }
        }
    }
    .search-listing .mkt-tile + .tray {
        border-radius: 0 0 10px 10px;
    }
}

@media $narrower-than-desktop {
    .listing.grid-if-desktop {
        .mkt-tile .rating .cnt {
            top: -2px;
        }
        &:not(:first-child) {
            // Create 10px between Popular/New tabs.
            padding-top: 14px;
        }
    }
}

.cnt.short {
    display: none;
}

@media (max-width: 400px) {
    // Show "({num})" on narrow mobile.
    .cnt.short {
        display: inline-block;
    }
    // Hide "{num} Reviews" on narrow mobile.
    .cnt.long {
        display: none;
    }
}
