@import 'lib';

.listing {
    margin-bottom: 10px;
    .loadmore {
        margin-bottom: -10px;
    }
    li.item {
        background: #fff;
        border: 1px solid $seavan-salt-white;
        border-radius: 5px;
        margin: 10px 10px 0;
        position: relative;
        &:hover {
            border-color: darken($seavan-salt-white, 10%);
        }
    }
    .mkt-tile + .tray {
        border-radius: 0 0 5px 5px;
    }
}

@media $at-least-desktop {
    .listing {
        li {
            &.item, &.loadmore {
                margin: 25px 0 0;
            }
            &.loadmore {
                margin-bottom: -25px;
            }
            a {
                position: static;
            }
        }
        .mkt-tile {
            background: none;
            padding: 20px 20px 20px 108px;
            .icon {
                left: 20px;
            }
            .author {
                color: $ship-grey;
                font-weight: 600;
            }
        }
    }

    .mkt-tile + .tray {
        position: relative;
        background: $salt-flat-white;
    }
    .tray {
        .dots {
            bottom: 20px;
            z-index: 1;
        }
        .dot {
            cursor: pointer;
        }
    }
}
