.menu {
    list-style: none;
    padding: 0;
    li {
        padding: 0;
        margin: 0;
        a {
            display: block;
            padding: 10px;
            text-align: left;
            &.button {
                padding: 0 10px;
                text-align: center;
            }
        }
    }
    &.alt {
        li {
            margin: 10px 0;
        }
    }
}
