@import 'lib';

body.overlayed {
    overflow: hidden;
}

.cloak {
    background: rgba(0,0,0,.75);
    color: #000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition(.5s opacity ease);
    width: 100%;
    z-index: 50;
    &.show {
        display: block;
        opacity: 1;
        pointer-events: auto;
    }
}

.modal {
    background-color: #fff;
    border: 1px solid #9B9B9B;
    border-radius: 10px;
    diagonal-lines();
    display: none;
    position: fixed;
    top: 49px;
    width: 100%;
    z-index: 60;
    &.show {
        display: block;
        padding: 15px;
    }
    .btn-cancel {
        right: 0;
        top: -12px;
    }
    textarea {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.15) inset;
    }
}

@media $at-least-desktop {
    .modal {
        left: 50%;
        margin-left: -265px;
        top: 160px;
        width: 531px;
        h2 {
            color: $dark-gray;
            font-size: 15px;
        }
        .form-footer {
            text-align: right;
            button {
                width: 60%;
            }
        }
    }
}
