@import 'lib';

#notification {
    background-color: #3b3b3b;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    font-family: "MozTT", $open-stack;
    grain();
    height: 62px;
    left: 0;
    line-height: 42px; // height less padding.
    margin: 0 auto;
    padding: 10px 15px;
    position: fixed;
    right: 0;
    transform(translateY(62px));
    // If this duration is increased update the duration in notification.js
    // to ensure hiding the notification only happens when transition is complete.
    transition-duration(unquote('.3s, .3s, .3s, .3s'));
    transition-property(unquote('transform, -moz-transform, -webkit-transform, -ms-transform'));
    width: 100%;
    z-index: 9999;
    &.show {
        transform(translateY(0));
        transition-duration(unquote('.3s, .3s, .3s, .3s'));
        transition-property(unquote('transform, -moz-transform, -webkit-transform, -ms-transform'));
    }
    &.hidden {
        display: none;
    }
}

#notification-content {
    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
    b {
      text-transform: uppercase;
      color: #0995b0;
  }
}

@media (min-width: 600px) {
    #notification {
        border-radius: 4px 4px 0 0;
        max-width: 600px;
    }
}
