@import 'lib';

#installed {
    border-bottom: 1px dashed $london-fog-gray;
    display: none;
    p {
        font-size: 14px;
        font-weight: 500;
        line-height: 27px;
        margin: 0;
        padding: 5px 10px;
        a {
            float: right;
        }
        b {
            color: $sailor-blue;
            font-weight: 600;
        }
    }
    .installed {
        background-color: $sailor-blue;
        color: #fff;
        &:after {
            background: url(../img/pretty/tick-white.svg) no-repeat;
            background-size: contain;
            content: "";
            display: inline-block;
            height: 15px;
            margin-left: 5px;
            vertical-align: middle;
            width: 19px;
        }
    }
    .how {
        background: $white;
        display: none;
        &.mac b {
            background: url(../img/icons/mac-applications.jpg) 5px 0 no-repeat;
            background-size: contain;
            padding: 0 5px 0 38px;
        }
        &.windows b:last-child {
            background: url(../img/icons/win-start.png) 5px 0 no-repeat;
            background-size: contain;
            padding-left: 32px;
        }
    }
}
