@import 'lib';

select[name=rating] {
    display: none;
}

#review-list {
    list-style: none;
}

.review {
    padding: 10px 16px;
    position: relative;
    .timestamp {
        font-size: 12px;
    }
    .byline {
        position: relative;
        top: -3px;
    }
    .byline, .byline strong {
        color: $earl-gray;
        font-weight: 500;
        line-height: 9px;
    }
    time {
        color: $note-gray;
        float: right;
        &:hover {
            color: $gray;
        }
    }
    .body {
        margin: 0 0 24px;
    }
    ul {
        float: left;
        list-style: none;
    }
    li {
        display: inline-block;
        &.hidden {
            display: none;
        }
        &:not(.hidden) + li:before,
        + li.hidden + li:before {
            color: $note-gray;
            content: "\00a0\2022\00a0\00a0";
        }
    }
}

// This applies to "app details" pages only.
.reviews {
    .not-rated {
        color: $dark-gray;
        font-weight: 400;
    }
    .full .button {
        display: block;
        margin-top: 24px;
    }
}

#reviews-detail {
    border-top: 1px dashed $london-fog-gray;
    padding: 0 10px 24px;
    overflow: hidden;
    ul {
        .review {
            padding: 0;
        }
    }
    .button {
        display: block;
    }
}

// This applies to "reviews list" pages only.
// TODO: make proper review tiles. This is an interim solution.
#review-list {
    #add-review {
        margin: 0;
        padding: 30px 16px;
    }
    .button.fat {
        line-height: 35px;
        height: 35px;
        &:hover {
            line-height: 35px;
        }
    }
    .review {
        border-top: 1px solid #bcc0c2;
        border-bottom: 1px solid #bcc0c2;
        &:nth-of-type(2n) {
            border-top: 1px solid #eceff0;
            border-bottom: 0;
        }
        .actions {
            margin-right: 10px;
        }
    }
}

#review-list .review:nth-of-type(2n + 1) {
    background-color: darken($bg, 5%);
}

#submit-review {
    padding: 0 15px;
    header.product .simple-field,
    h2 {
        font-size: 18px;
        font-weight: 400;
    }
    .req,
    label[for=id_body], label[for=id_rating] {
        display: none;
    }
    .charlimit {
        font-size: 12px;
        margin: 5px 0 15px;
        text-align: right;
        line-height: 12px;
    }
    .submit-review {
        button, .button {
            padding: 0 16px;
            font-size: 14px;
            width: auto;
            line-height: 48px;
            float: right;
            margin: 0;
        }
        .button {
            float: left;
        }
    }
    .two-up {
        &:nth-child(2n+1) {
            padding: 0 5px 0 0;
        }
        &:nth-child(2n) {
            padding: 0 0 0 5px;
        }
    }
}

.rating, .stars {
    height: 12px;
}

.stars {
    background: url(../img/pretty/stars_small.svg) no-repeat;
    display: inline-block;
    margin-right: 4px;
    text-indent: -9999px;
    vertical-align: top;
    width: 64px;
    &.stars-4 { background-position: -12px 0; }
    &.stars-3 { background-position: -25px 0; }
    &.stars-2 { background-position: -38px 0; }
    &.stars-1 { background-position: -51px 0; }
    &.stars-0 { background-position: -64px 0; }
}

.html-rtl .stars {
    margin: 0 0 0 4px;
}

tinyStars() {
    .rating, .stars {
        height: 9px;
    }
    .stars {
        background-size: auto 9px;
        &.stars-4 { background-position: -10px 0; }
        &.stars-3 { background-position: -19px 0; }
        &.stars-2 { background-position: -28px 0; }
        &.stars-1 { background-position: -38px 0; }
        &.stars-0 { background-position: -48px 0; }
        width: 48px;
    }
}

// Bigger stars on detail page (mobile/desktop) and everywhere on desktop.
.category {
    tinyStars();
}

.stars.ratingwidget {
    background: url(../img/pretty/stars_large.svg) -266px 0 no-repeat;
    height: 40px;
    width: 260px;
    &.stars-5 { background-position: 1px 0; }
    &.stars-4 { background-position: -52px 0; }
    &.stars-3 { background-position: -106px 0; }
    &.stars-2 { background-position: -159px 0; }
    &.stars-1 { background-position: -213px 0; }
    label {
        height: 40px;
        width: 52px;
    }
}

.no-rating strong {
    font-size: 12px;
    font-weight: 700;
}

.average-rating {
    span {
        color: $text;
        vertical-align: middle;
        &:first-child {
            line-height: 48px;
            padding-right: 6px;
        }
    }
}

#write-review {
    width: 100%;
}

.split + .split {
    margin-top: 15px;
}

.simple-field.rating {
    padding: 20px 10px;
    > label {
        display: none;
    }
    .ratingwidget {
        margin: 0 auto;
    }
}

.ratingwidget {
    display: block;
    float: none;
    width: 65px;
    input {
        display: none;
    }
    label {
        cursor: pointer;
        display: block;
        float: left;
        margin: 0;
        text-indent: -9999px;
        width: 13px;
    }
    &.disabled {
        pointer-events: none;
    }
}

@media $at-least-desktop {
    .category .stars {
        display: block;
    }
    #reviews-detail {
        padding: 0 15px 24px;
    }
    #edit-review {
        form {
            padding: 5px 25px;
            textarea {
                min-height: 110px;
                padding-top: 40px;
                width: 385px;
                font-size: 13px;
            }
        }
        footer button {
            width: auto;
            margin: 0 0 0 10px;
        }
        .form-footer {
            margin-bottom: 15px;
            .char-count {
                display: inline-block;
            }
        }
    }
    // ratings
    .split {
        float: left;
        padding: 0 12px 0 0;
        width: 50%;
        + .split {
            margin-top: 0;
            padding: 0 0 0 12px;
        }
    }
}
