@import 'lib';

.reviews-wrapper h3 {
    margin: 24px 0 18px;
}

select[name=rating] {
    display: none;
}

.review {
    color: $earl-gray;
    position: relative;
    .timestamp {
        font-size: 12px;
    }
    .byline {
        position: relative;
        top: -3px;
    }
    .byline, .byline strong {
        font-weight: 500;
        line-height: 9px;
    }
    .actions li, time {
        font-size: 12px;
    }
    .actions {
        float: left;
        font-size: 0;
    }
    time {
        float: right;
    }
    .body {
        color: $castle-skull-gray;
    }
    ul {
        list-style: none;
    }
    li {
        display: inline-block;
        &.hidden {
            display: none;
        }
        &:not(.hidden) + li:before,
        + li.hidden + li:before {
            color: $cement-gray;
            content: "\00a0\00a0\2022\00a0\00a0";
        }
    }
}

.reviews-listing .body {
    margin-bottom: 10px;
}

// This applies to "app details" pages only.
.reviews {
    .not-rated {
        color: $dark-gray;
        font-weight: 400;
    }
    .full .button {
        display: block;
        margin-top: 24px;
    }
}

.ratings-placeholder-inner {
    margin-bottom: 24px;
}

.reviews {
    overflow: hidden;
    padding: 0 10px;
    .button {
        display: block;
    }
    &.single-review {
        margin-top: 15px;
    }
}

.detail .reviews {
    border-top: 1px dashed $london-fog-gray;
    padding: 0 10px 24px;
}

@media $at-least-desktop {
    .reviews, .detail .reviews {
        padding: 0 15px 24px;
    }
    .ratings-placeholder-inner {
        // `font-size: 0` so we can do `display: inline-block` without
        // having to worry about the whitespace between the <li>s.
        font-size: 0;
        margin: 0 -15px 24px;
        padding: 0 3px;
        position: relative;
        width: calc(unquote('100% + 30px'));
        li {
            font-size: 15px;
        }
    }
    // On detail/review listing pages:
    // [ 15px ] { review } [ 24px ] { review } [ 15px ]
    .review {
        display: inline-block;
        padding: 0 12px;
        vertical-align: top;
        width: 50%;
    }
    .reviews-listing {
        .ratings-placeholder-inner {
            margin-bottom: 0;
        }
        .review {
            padding-top: 24px;
        }
        &.single-review {
            margin-top: 24px;
            .review {
                width: 100%;
            }
        }
    }

    // Chrome fix. This seems to be the reflow issue: http://is.gd/d06sTY
    .actions .button {
        //width: 572px;
    }

    .reviews-listing {
        background: #fff;
        border: 1px solid $seavan-salt-white;
        border-radius: 10px;
        .loadmore {
            padding: 24px 15px 0;
        }
    }

    .primary-button {
        margin: 0 0 -16px;
        position: relative;
        right: 0;
        text-align: right;
        top: -40px;
    }
}

.rating, .stars {
    height: 12px;
}

.compose-review {
    .simple-field.rating {
        height: inherit;
        padding-top: 12px;
    }
    textarea {
        margin-bottom: 10px;
    }
    footer {
        margin-top: 15px;
    }
}

.char-count {
    font-size: 12px;
    color: $earl-gray;
}

.stars {
    background: url(../img/pretty/stars_small.svg) no-repeat;
    display: inline-block;
    hidetext();
    margin-right: 4px;
    vertical-align: top;
    width: 64px;
    &.stars-4 { background-position: -13px 0; }
    &.stars-3 { background-position: -26px 0; }
    &.stars-2 { background-position: -39px 0; }
    &.stars-1 { background-position: -52px 0; }
    &.stars-0 { background-position: -65px 0; }
}

.html-rtl .stars {
    margin: 0 0 0 4px;
}

tinyStars() {
    .stars {
        background-size: auto 9px;
        height: 9px;
        &.stars-4 { background-position: -10px 0; }
        &.stars-3 { background-position: -20px 0; }
        &.stars-2 { background-position: -29px 0; }
        &.stars-1 { background-position: -39px 0; }
        &.stars-0 { background-position: -49px 0; }
        width: 48px;
    }
}

// Bigger stars on detail page (mobile/desktop) and everywhere on desktop.
.category {
    tinyStars();
    .rating .cnt {
        top: -2px;
    }
}

.stars.ratingwidget {
    background: url(../img/pretty/stars_large.svg) -300px 0 no-repeat;
    height: 40px;
    width: 241px;
    &.stars-5 { background-position: -50px 0; }
    &.stars-4 { background-position: -100px 0; }
    &.stars-3 { background-position: -150px 0; }
    &.stars-2 { background-position: -200px 0; }
    &.stars-1 { background-position: -250px 0; }
    label {
        height: 40px;
        width: 48px;
    }
}

.no-rating strong {
    font-size: 12px;
    font-weight: 700;
}

.average-rating {
    span {
        color: $text;
        vertical-align: middle;
        &:first-child {
            line-height: 48px;
            padding-right: 6px;
        }
    }
}

.split + .split {
    margin-top: 15px;
}

.simple-field.rating {
    padding: 20px 10px;
    > label {
        display: none;
    }
    .ratingwidget {
        margin: 0 auto;
    }
}

.ratingwidget {
    display: block;
    float: none;
    width: 65px;
    input {
        display: none;
    }
    label {
        cursor: pointer;
        display: block;
        float: left;
        hidetext();
        margin: 0;
        width: 13px;
    }
    &.disabled {
        pointer-events: none;
    }
}

.report-spam {
    .btn-cancel {
        right: 15px;
        top: 3px;
    }
    footer {
        background: $salt-flat-white;
        padding: 15px;
        border-radius: 0 0 10px 10px;
        border-top: 1px dashed $castle-skull-gray;
    }
    .menu {
        padding: 15px 15px 5px;
    }
    .secondary-header {
        padding: 15px 15px 0;
    }
    &.show {
        padding: 0;
    }
}

@media $at-least-desktop {
    .category .stars {
        display: block;
    }
    .report-spam {
        width: 331px;
        margin-left: -165px;
        button {
            width: 100%;
        }
    }
    .compose-review.modal {
        .buttons {
            text-align: right;
            .two-up {
                display: inline;
                float: none;
                width: inherit;
                .button {
                    display: inline-block;
                    min-width: 145px;
                    vertical-align: top;
                    width: inherit;
                }
            }
        }
    }
    .reviews {
        padding: 0 15px 24px;
    }
    #edit-review {
        form {
            padding: 5px 25px;
            textarea {
                min-height: 110px;
                padding-top: 40px;
                width: 385px;
                font-size: 13px;
            }
        }
        footer button {
            width: auto;
            margin: 0 0 0 10px;
        }
        .form-footer {
            margin-bottom: 15px;
            .char-count {
                display: inline-block;
            }
        }
    }
    // ratings
    .split {
        float: left;
        padding: 0 12px 0 0;
        width: 50%;
        + .split {
            margin-top: 0;
            padding: 0 0 0 12px;
        }
    }
}

@media $narrower-than-desktop {
    .primary-button {
        padding: 15px 10px;
        width: 100%;
        .button {
            display: block;
            max-width: 400px;
            margin: 0 auto;
        }
    }
    .reviews-listing {
        .ratings-placeholder-inner {
            margin-bottom: 0;
        }
        .review {
            background: #fff;
            border: 1px solid $seavan-salt-white;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 15px 10px;
        }
        .actions {
            float: right;
        }
        time {
            display: none;
        }
        .loadmore {
            // 15px above and below reviews.
            padding: 5px 0 15px;
        }
    }
    .detail .review + .review {
        margin-top: 24px;
    }
}
