<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="Firefox Marketplace">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/media/img/logos/128.png">
    <meta name="theme-color" content="#fff">

    <title>Firefox Marketplace</title>

    <link rel="icon" href="/media/img/logos/128.png" sizes="128x128">
    <link rel="icon" href="/media/img/logos/64.png" sizes="64x64">
    <link rel="icon" href="/media/img/logos/32.png" sizes="32x32">

    {% if compiled %}
      <link rel="stylesheet" href="/media/css/splash.css">
      <link rel="stylesheet" href="/media/css/include.css">
    {% else %}
      <link rel="stylesheet" href="/media/css/splash.styl.css">
      <!-- These styles need to come first. -->
      <link rel="stylesheet" href="/media/css/reset.styl.css">
      <link rel="stylesheet" href="/media/css/typography.styl.css">
      <link rel="stylesheet" href="/media/css/site.styl.css">
      <link rel="stylesheet" href="/media/css/footer.styl.css">
      <link rel="stylesheet" href="/media/css/header.styl.css">
      <link rel="stylesheet" href="/media/css/header--global.styl.css">
      <link rel="stylesheet" href="/media/css/nav--global.styl.css">
      <link rel="stylesheet" href="/media/css/header--search.styl.css">
      <link rel="stylesheet" href="/media/css/header--settings.styl.css">
      <link rel="stylesheet" href="/media/css/tiles.styl.css">
      <link rel="stylesheet" href="/media/css/infobox.styl.css">
      <!-- These styles don't need to be in an order. -->
      <link rel="stylesheet" href="/media/css/account.styl.css">
      <link rel="stylesheet" href="/media/css/addon-list.styl.css">
      <link rel="stylesheet" href="/media/css/addon-tiles.styl.css">
      <link rel="stylesheet" href="/media/css/app-list.styl.css">
      <link rel="stylesheet" href="/media/css/app-list-filters.styl.css">
      <link rel="stylesheet" href="/media/css/buttons.styl.css">
      <link rel="stylesheet" href="/media/css/buttons-loadmore.styl.css">
      <link rel="stylesheet" href="/media/css/carrier.styl.css">
      <link rel="stylesheet" href="/media/css/categories.styl.css">
      <link rel="stylesheet" href="/media/css/compat-filter.styl.css">
      <link rel="stylesheet" href="/media/css/debug.styl.css">
      <link rel="stylesheet" href="/media/css/detail/base.styl.css">
      <link rel="stylesheet" href="/media/css/detail/content-ratings.styl.css">
      <link rel="stylesheet" href="/media/css/detail/header.styl.css">
      <link rel="stylesheet" href="/media/css/detail/more-info.styl.css">
      <link rel="stylesheet" href="/media/css/detail/info.styl.css">
      <link rel="stylesheet" href="/media/css/detail/post-install-message.styl.css">
      <link rel="stylesheet" href="/media/css/detail/reviews.styl.css">
      <link rel="stylesheet" href="/media/css/detail/upsell.styl.css">
      <link rel="stylesheet" href="/media/css/detail/website.styl.css">
      <link rel="stylesheet" href="/media/css/elements--categories.styl.css">
      <link rel="stylesheet" href="/media/css/elements--select.styl.css">
      <link rel="stylesheet" href="/media/css/error-screens.styl.css">
      <link rel="stylesheet" href="/media/css/feed/feed.styl.css">
      <link rel="stylesheet" href="/media/css/feed/brands.styl.css">
      <link rel="stylesheet" href="/media/css/feed/collections.styl.css">
      <link rel="stylesheet" href="/media/css/feed/colors.styl.css">
      <link rel="stylesheet" href="/media/css/feed/curves.styl.css">
      <link rel="stylesheet" href="/media/css/feed/icon-grid.styl.css">
      <link rel="stylesheet" href="/media/css/feed/landing.styl.css">
      <link rel="stylesheet" href="/media/css/feed/layout.styl.css">
      <link rel="stylesheet" href="/media/css/feed/shelves.styl.css">
      <link rel="stylesheet" href="/media/css/feed/websites.styl.css">
      <link rel="stylesheet" href="/media/css/feedback.styl.css">
      <link rel="stylesheet" href="/media/css/forms.styl.css">
      <link rel="stylesheet" href="/media/css/games/home.styl.css">
      <link rel="stylesheet" href="/media/css/games/games.styl.css">
      <link rel="stylesheet" href="/media/css/games/listing.styl.css">
      <link rel="stylesheet" href="/media/css/image-deferrer.styl.css">
      <link rel="stylesheet" href="/media/css/lightbox.styl.css">
      <link rel="stylesheet" href="/media/css/modal.styl.css">
      <link rel="stylesheet" href="/media/css/nav--settings.styl.css">
      <link rel="stylesheet" href="/media/css/newsletter.styl.css">
      <link rel="stylesheet" href="/media/css/notification.styl.css">
      <link rel="stylesheet" href="/media/css/personalization.styl.css">
      <link rel="stylesheet" href="/media/css/previews.styl.css">
      <link rel="stylesheet" href="/media/css/reviews.styl.css">
      <link rel="stylesheet" href="/media/css/sort-toggle.styl.css">
      <link rel="stylesheet" href="/media/css/search.styl.css">
      <link rel="stylesheet" href="/media/css/standalone.styl.css">
      <link rel="stylesheet" href="/media/css/view-all-tab.styl.css">

      <link rel="stylesheet" href="/media/css/marketplace-elements.styl.css">
    {% endif %}

    <!-- TODO: Add all these tags to Zamboni's commonplace `index.html` -->
    <!-- New W3C-standardised manifest with application metadata -->
    <link rel="manifest" href="manifests/dev.json">
    <!-- Fallback application metadata for legacy browsers -->
    <meta name="application-name" content="Firefox Marketplace">
    <link rel="icon" sizes="128x128" href="/media/img/app-icons/128.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="128x128" href="/media/img/app-icons/128.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-title" content="Firefox Marketplace">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" href="/media/img/app-icons/128.png">
    <!-- Tile icon for Win8 (icon should be 144x144) -->
    <meta name="msapplication-TileImage" content="/media/img/app-icons/128.png">
    <meta name="msapplication-TileColor" content="#fff">
  </head>

  <body class="overlayed" data-media="" data-local-html>
    <noscript><p>Sorry, you need JavaScript to access the Marketplace.</p></noscript>
    <div id="splash-overlay">
      <div class="throbber"><b></b><b></b><b></b></div>
    </div>

    <header id="site-header" class="header site-header"></header>

    <div class="cloak"></div>
    <main>
      <nav id="site-nav" class="site-nav" role="navigation"></nav>
      <div id="page" class="page" role="main"></div>
    </main>

    <footer id="site-footer"></footer>

    <!-- Screenshot lightbox. -->
    <div id="lightbox">
      <section>
        <ul class="content"></ul>
        <a class="close" href="#">&times;</a>
      </section>
    </div>

    {% if compiled %}
      <script src="/media/js/include.js" defer></script>
    {% else %}
      <script data-main="/media/js/main" src="/media/js/lib/require.js"></script>
    {% endif %}
  </body>
</html>
