@import 'lib';


.mkt-addon-name {
    color: $tile-title;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.2;
}

.addon-install-btn {
    display: block;
    width: 100%;
}

.addon-tile-info {
    padding: 10px 0;
}

.addon-meta {
    margin: 20px 0;
}
