@import 'lib';

.container-detail {
    background-color: #fff;
    margin: 10px 0 0;

    .placeholder > * {
        padding: 20px 15px;
    }
    .segment {
        border-top: 1px solid $greyscale-light-grey;
    }
    .prose h3 {
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
    }
    .mkt-addon-name {
        color: $tile-title;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;
    }
}

.addon-install-btn {
    border-radius: 5px;
    display: block;
    width: 100%;
}

.addon-tile-info {
    padding: 0 0 10px;

    .mkt-product-author {
        font-size: 13px;
        margin: 0;
    }
}

.addon-meta p {
    color: $action-neutral;
    line-height: 1.6;
}

.addon-tile {
    display: block;
}

a.addon-tile:hover {
    text-decoration: none;
}
