@import 'lib';

.container-detail {
    background-color: #fff;
    margin: 10px 0 0;

    .placeholder > * {
        padding: 20px 15px;
    }
    .segment {
        border-top: 1px solid $greyscale-light-grey;
    }
    .prose h3 {
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
    }
    .mkt-addon-name {
        color: $tile-title;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;
    }
}

.addon-detail {
  margin: 10px auto 28px; /* 10px margin + 18px padding on #page */
  max-width: 640px;
}

.addon-tile-info {
    padding: 0 0 10px;

    .mkt-product-author {
        font-size: 13px;
        margin: 0;
    }
}

.addon-meta p {
    color: $action-neutral;
    line-height: 1.6;
}

.addon-tile {
    display: block;
    min-height 64px;
    padding-left: 79px; /* 64px icon + 15px padding */
    position: relative;
}

.addon-icon {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
}

a.addon-tile:hover {
    text-decoration: none;
}
