/*
App listing filters.
    - expand list toggle shows up in the header (mobile)
      and in the filters area (tablet and higher)
*/
@import 'lib';

.app-list-filters {
    color: $greyscale-black;
    margin: 0 auto;
    min-height: 20px;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;

    .pretty-select {
        line-height: 30px;

        &:before {
            top: 1px;
        }
    }
}

.app-list-filters-sort {
    display: none;
    margin-bottom: 5px;
    width: 100%;

    a {
        color: $action-positive;
        display: inline-block;
        ellipsis();
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        line-height: 29px;
        margin-top: 7px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 .5px 1px $white;
        z-index: 2;
        vertical-align: middle;

        &:hover {
            text-decoration: underline;
        }
        &.active {
            color: $greyscale-black;
            pointer-events: none;
            cursor: default;
        }
        &.active:before,
        &.active:after {
            background-color: $white;
        }
        + a {
            +ltr() {
                margin-left: 30px;
            }
            +rtl() {
                margin-right: 30px;
            }
        }
    }
}

.app-list-filters-content {
    display: flex;
    height: 40px;
    line-height: 40px;
}

.app-list-filters-expand-toggle {
    background: url(../img/pretty/list-toggle.svg) no-repeat 0 0 / 82px auto;
    display: none;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-left: 8px;
    width: 84px;

    +rtl() {
        float: left;
        margin: 0 8px 0 0;
    }
    &.active {
        background-position: 0 -40px;
    }
    &:active {
        background: url(../img/pretty/list-toggle.svg) no-repeat 0 -40px / 82px auto;
    }
    &.show {
        display: inline-block;
    }
}

.app-list-filters-expand-wrapper {
    display: none;
}

.app-list-filters {
    display: none;

    +media--base-tablet() {
        display: block;
    }
}

@media $base-tablet {
    .app-list-filters {
        bottom: 0;
        border-bottom: 2px solid $greyscale-light-grey;
        padding: 0 0 30px;
        max-width: $desktop-content;
    }
    .app-list-filters-sort {
        margin-right: 30px;
        width: auto;

        a {
            margin-top: 0;
            text-shadow: none;
        }
    }
    .app-list-filters-content {
        margin-top: 15px;

        > div {
            float: left;
        }
    }
    // App list expand toggle.
    .app-list-filters-expand-wrapper {
        display: flex;
        margin: 0 30px;

        .app-list-filters-expand-toggle.show {
            display: block;
        }
    }
    // Hide the mobile toggle (child of the mobile header).
    .app-list-filters-expand-toggle.show {
        display: none;
    }
    .app-list-filters + .app-list  {
        margin-top: 25px;
    }
}
