/*
App listing.
    - One column on mobile
    - Two columns on tablet.
    - Three columns on desktop.
TODO: move app list styles here.
*/
@import 'lib';

$border = 1px solid $tile-border;
$desktop-tile-padding = 20px 50px;

.app-list-page {
    padding: 10px 0;
}

[data-page-type~=app-list] {
    .spinner {
        position: relative;
        top: 35px;
    }
    .feed .feed-layout-list > .info {
        margin-left: 0;
    }

    .feed-tile-header:before {
        background-color: $breezy-blue;
    }
    [data-type="popular"] .feed-tile-header:before {
        background-image: url(../img/icons/popular.png);
    }
    [data-type="new"] .feed-tile-header:before {
        background-image: url(../img/icons/new.png);
    }
    [data-type="reco"] .feed-tile-header:before {
        background-image: url(../img/icons/popular.png);
    }
}

.app-list {
    list-style: none;
    margin-top: 30px;

    li:not(.loadmore) {
        border-bottom: 1px solid $filters-border;
        padding-top: 15px;
    }
}

.app-list-filters {
    bottom: 15px;
    color: $filters-label;
    margin: 0 auto;
    min-height: 20px;
    position: relative;
    text-transform: uppercase;
}

@media $base-tablet {
    .app-list {
        position: relative;

        li:not(.loadmore) {
            border-bottom: $border;
            border-right: $border;
            float: left;
            padding: $desktop-tile-padding;
            width: 50%;

            &:nth-child(2n) {
                border-right: 0;
                padding-right: 0;
            }
            &:nth-child(2n + 1) {
                padding-left: 0;
            }
            // Last 3 (thanks loadmore!).
            &:nth-last-child(-n + 3) {
                border-bottom: 0;
            }
        }
    }
    .app-list-filters {
        bottom: 0;
        border-bottom: 2px solid $filters-border;
        padding: 0 0 30px;
        width: $desktop-content;
    }
}

@media $base-desktop {
    .app-list-page {
        padding: 0;
    }
    .app-list {
        max-width: $desktop-content;

        li:not(.loadmore) {
            width: (100/3)%;

            &:nth-child(2n),
            &:nth-child(2n + 1) {
                padding: $desktop-tile-padding;
            }
            &:nth-child(2n) {
                border-right: $border;
            }
            &:nth-child(3n) {
                border-right: 0;
                padding-right: 0;
            }
            &:nth-child(3n + 1) {
                padding-left: 0;
            }
            // Last 4.
            &:nth-last-child(-n + 4) {
                border-bottom: 0;
            }
        }
    }
    .cat-header .cat-icon:before {
        background-size: 180px auto;
        height: 60px;
        width: 60px;
    }
    body[data-page-type~=app-list] {
        .placeholder {
            clear: both;
        }
        .spinner {
            top: 0;
        }
    }
}
