/*
App listing.
One column in an island on mobile.
Two columns of tiles on wider screens.
TODO: move app list styles here.
*/
@import "lib";

.app-list-page {
    padding-top: 10px;
}

[data-page-type~=app-list] {
    .spinner {
        position: relative;
        top: 35px;
    }
}

@media $at-least-desktop {
    [data-page-type~=app-list] .spinner {
        top: 0;
    }
    .app-list-page {
        padding-top: 0;
    }
}
