@import 'lib';

.button,
.button:visited {
    // Bluish.
    btn-shadow();
    background: $breezy-blue;
    border: 0;
    border-radius: 5px;
    color: $white;
    display: inline-block;
    font: 400 15px/48px $open-stack;
    height: 48px;
    min-width: 100px;
    white-space: nowrap;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
        background: darken($breezy-blue, 10%);
        text-decoration: none;
    }
}

.button {
    ellipsis();

    // Grayish.
    &.disabled,
    &[disabled] {
        background: $seavan-salt-white;
        box-shadow: none;
        color: $earl-gray;
        pointer-events: none;
    }
    // Redish.
    &.manage {
        background: #DA5132;
        box-shadow: none;

        &:hover,
        &:focus {
            background: darken(#DA5132, 10%);
        }
    }
    // Waiting/Loading spinner.
    &.loading-submit {
        position: relative;

        &:after {
            content: "";
            display: block;
            spinner('absolute alt');
            top: 8px;
        }
    }
    &.product {
        fatten();
    }
    &[disabled], &.disabled,
    &.purchasing, &.purchased,
    &.installing, &.installed {
        pointer-events: none;
    }
    &.installed, &.purchased, &.incompatible {
        pointer-events: auto;
    }

    .spin {
        display: inline-block;
        spinner('install');
    }
}

@media $retina {
    .button {
        &.loading-submit:after {
            spinner-alt-image('retina');
        }
        .spin {
            spinner-install-image('retina');
        }
    }
}

@media (max-width: 600px) {
    .button {
        padding: 3px 15px;

        &.fat {
            display: block;
            width: 100%;
        }
    }
}


.mkt-tile .button {
    border: 0;
    bottom: 0;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    min-width: 65px;
    padding: 0;
    position: absolute;
    right: 0;

    &[disabled] {
        background: $seavan-salt-white;
        box-shadow: none;
    }
}

.loadmore {
    bottom: -65px;
    left: 10px;
    padding: 15px 0;
    position: absolute;
    width: unquote('calc(100% - 20px)');

    button {
        background: $earl-gray;
        border: 0;
        box-shadow: 0 1px 1px 0 $london-fog-gray;
        color: $white;

        &:hover {
            background: $earl-gray;
            color: $white;
        }
    }
}
