@import 'lib';

/*
 * Style guide: http://pwalm.github.io/marketplace-style-guides/buttons.html
 *
 * <elm class="button">Normal Button</elm>
 * <elm class="button action">Positive Action like Yes or Launch</elm>
 * <elm class="button alt">Alternate Style - External Links?</elm>
 * <elm class="button cancel">Negative Action like Cancel or Delete</elm>
 * <elm class="button support">Support Action - Less Visual Emphasis</elm>
 *
 * All button sizes are $medium unless overridden by a compound class: 't', 's', 'l'.
 * On larger screens "button fat" will give you a 100% width button.
 *
 */

// Don't (line-height: height + $shadow-size) if the box-shadow goes away.
// It's only there for perceived vertical alignment.

// Default state.
$btn = #4CB1FF; // blue
$action = #64BE3C; // green
$alt = #FFDC32; // yellow
$cancel = #F54B3C; // red
$support = #797979; // dark grey

// Hover state.
$btn-hvr = #42CAFE;
$action-hvr = #66D171;
$alt-hvr = #FFE26E;
$cancel-hvr = #FF6C70;
$support-hvr = #9B9B9B;

// Active state.
$btn-act = #3D86BD;
$action-act = #4D8D31;
$alt-act = #BEA435;
$cancel-act = #B63932;
$support-act = #5B5B5B;

// Disabled state.
$disabled = #CBCBCB;

// Button sizes.
$tiny = 24px;
$small = 36px;
$medium = 48px;
$large = 60px;

// Horizontal padding around the button's text.
$h-padding = 10px;

// Button font-size.
$font-size = 15px;

// Install button width.
$btn-install-width = 90px;

// Install button font-size.
$install-font-size = 12px;

// Button box-shadow size.
$shadow-size = 2px;

commonprops($colour, $shadow) {
    background: $colour;

    if ($shadow == 'none') {
        box-shadow: none;
    } else {
        box-shadow: 0 (-1 * $shadow-size) $shadow inset;
    }
}

.button {
    border: 0;
    border-radius: 5px;
    color: #fff;
    commonprops($btn, $btn-act);
    display: inline-block;
    ellipsis();
    font: 400 $font-size/$medium $open-stack;
    height: $medium;
    line-height: $medium + $shadow-size;
    padding: 0 $h-padding;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    &:focus, &:hover, &:active {
        text-decoration: none;
    }
    &:hover, &:focus {
        background: $btn-hvr;
    }
    // Override `button:not([disabled]):active` from site.styl.
    &:not([disabled]):active,
    &:active {
        commonprops($btn-act, 'none');
    }
    &.action {
        commonprops($action, $action-act);

        &:hover, &:focus { background: $action-hvr; }
        &:active { background: $action-act; }
    }
    &.alt {
        commonprops($alt, $alt-act);

        &:hover, &:focus { background: $alt-hvr; }
        &:active { background: $alt-act; }
    }
    &.cancel {
        commonprops($cancel, $cancel-act);

        &:hover, &:focus { background: $cancel-hvr; }
        &:active { background: $cancel-act; }
    }
    &.support {
        commonprops($support, $support-act);

        &:hover, &:focus { background: $support-hvr; }
        &:active { background: $support-act; }
    }
    &.disabled,
    &[disabled] {
        commonprops($disabled, 'none');
    }
    &[disabled],
    &.disabled,
    &.purchasing,
    &.installing {
        pointer-events: none;
    }
    &.installed,
    &.purchased,
    &.incompatible {
        pointer-events: auto;
    }
    &.t, &.product {
        height: $tiny;
        line-height: $tiny + $shadow-size;
    }
    &.s {
        height: $small;
        line-height: $small + $shadow-size;
    }
    &.l {
        height: $large;
        line-height: $large + $shadow-size;
    }

    // Waiting/Loading spinner.
    &.loading-submit {
        position: relative;

        &:after {
            content: "";
            display: block;
            spinner('absolute alt');
            top: 8px;
        }
    }
    &.product {
        padding: 0 32px;
    }
    .spin {
        display: inline-block;
        spinner('install');
    }
    // Primary CTA buttons with extra padding. Like "Write a Review" on the reviews page.
    &.primo {
        padding: 0 30px;
    }
}

@media $retina {
    .button {
        &.loading-submit:after {
            spinner-alt-image('retina');
        }
        .spin {
            spinner-install-image('retina');
        }
    }
}

@media (max-width: 600px) {
    .button.fat {
        display: block;
        width: 100%;
    }
}

// Install buttons.
.mkt-tile .install {
    // Unset many .button properties.
    // To compensate for the larger click target.
    // Calculation: (24-34)/2 + $shadow-size
    bottom: -2px;
    commonprops(transparent, 'none');
    cursor: pointer;
    font-size: $install-font-size;
    height: 34px; // Actual click-target height. Queen Krupa request.
    min-width: $btn-install-width;
    padding: 0;
    position: absolute;
    right: 0;

    em {
        // This em becomes the visual button.
        border-radius: 5px;
        commonprops($btn, $btn-act);
        display: inline-block;
        ellipsis();
        font-style: normal;
        height: $tiny;
        line-height: $tiny;
        padding: 0 $h-padding;
        vertical-align: bottom;
        width: $btn-install-width;
    }
    .spin {
        display: none;
    }
    // Accomodate a better vertical align since this state has no box-shadow.
    &[disabled] {
        bottom: -4px;

        em {
            commonprops($disabled, 'none')
        }
        &:hover, &:active {
            em {
                background: $disabled;
            }
        }
    }
    &:hover em {
        background: $btn-hvr;
    }
    &:active em {
        commonprops($btn-act, 'none');
    }
    &.spinning, &.purchasing {
        background: $btn-act;
        bottom: 1px;
        height: $tiny;

        em {
            display: none;
        }
        .spin {
            display: inline-block;
        }
    }
}

// Install button launch state.
.mkt-tile .launch {
    em {
        commonprops($action, $action-act);
    }
    &:hover em {
        background: $action-hvr;
    }
    &:active em {
        background: $action-act;
    }
}

// 'more' button container and button.
// These rules were a bit scattered so now they'll all be here.
.loadmore {
    list-style: none;
    margin: 0 auto;
    padding: 18px 10px;
    position: relative;
    width: 100%;

    .button {
        display: block;
        margin: auto;
        padding: 0;
        width: 100%;

        &:not(.hide) + .spinner {
            display: none;
        }
        &.hide {
            visibility: hidden;
        }
    }
    &.loading {
        button {
            visibility: hidden;
        }
        .throbber {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 32px;
            height: 32px;
            border-radius: 20px;
            border: 4px solid #666;
            border-color: #666 transparent;
            animation(unquote('spin 1s linear infinite'));
        }
    }
    span,
    .throbber {
        display: none;
    }
    .spinner {
        display: block;
    }
    &.pagination-error .error-text {
        display: block;
        text-align: center;
    }
}

.listing .loadmore,
.reviews-listing .loadmore {
    height: auto;
    min-height: 68px;
}

@media $base-desktop {
    .loadmore {
        padding: 25px 10px 0;
    }
    .grid-if-desktop .loadmore {
        padding-top: 18px;
    }
}
