// Styles for the categories index page.
@import 'lib';

$header-padding = 48px;
$header-icon-size = $cat-icon-size-default * 5;

.category {
    .app-list {
        margin-top: 0;
    }
    .app-list-filters,
    .app-list-filters-sort {
        display: block;
    }
    .app-list-filters {
        padding-bottom: 0;

        +media--wide-tablet() {
            padding-bottom: 15px;
        }
    }
}

.desktop-cat-header {
    display: none;
}

@media $base-tablet {
    .category .app-list {
        margin-top: 30px;
    }
    .mobile-cat-header {
        display: none !important;
    }
    .desktop-cat-header {
        display: block;
    }
    .subheader.cat-header h1 {
        margin: 0;
        padding: 20px 0;
    }
    .cat-header .cat-icon:before {
        background-color: $action-positive;
        background-size: 180px auto;
        border-radius: 50px;
        height: 75px;
        margin: 0;
        position: absolute;
        top: $cat-icon-size-default;
        width: 75px;

        +ltr() {
            left: $cat-icon-size-default;
        }
        +rtl() {
            right: $cat-icon-size-default;
        }
    }
    .category-header-desktop {
        margin: 0 auto 20px;
        width: $desktop-content;
    }
    .category-header {
        background: none;
        padding: 0;
        margin: 0 0 15px;
        text-align: left;
        width: auto;

        h3 {
            color: $greyscale-black;
            font-size: 30px;
            font-weight: 300;
            text-shadow: 0 1px 0 $greyscale-light-grey;
        }
    }
}

@media $base-desktop {
    .cat-header .cat-icon:before {
        margin-left: 0;
    }
}

.subheader.cat-header h1 {
    position: relative;
}

.category-header-icon:before {
    category-sprite-alt();
    content: '';
    display: inline-block;
    margin: ($cat-icon-size-default / -4) 10px;

    +ltr() {
        margin-left: 0;
    }
    +rtl() {
        margin-right: 0;
    }
}
for $cat in $categories {
    .cat-{$cat}:before {
        category-icon-position($cat);
    }
}

@media $base-tablet {
    .category-header-icon {
        for $cat in $categories {
            &.cat-{$cat}:after {
                category-icon-position($cat, 2);
            }
        }
        &:after {
            category-sprite(2);
            content: '';
            display: inline-block;
            margin: 0;
            opacity: 1;
            position: absolute;
            top: $cat-icon-size-default * 1.5;

            +ltr() {
                left: $cat-icon-size-default * 1.5;
            }
            +rtl() {
                right: $cat-icon-size-default * 1.5;
            }
        }
        &:before {
            background: $action-positive;
            border-radius: 50%;
            content: '';
            display: inline-block;
            opacity: 1;
        }
    }
    .subheader.cat-header h1 {
        line-height: $header-icon-size - $header-padding * 2;
        margin: 0;
        min-height: $header-icon-size;
        padding: $header-padding 20px;

        +ltr() {
            padding-left: $header-icon-size;
        }
        +rtl() {
            padding-right: $header-icon-size;
        }
    }
    .cat-header .cat-icon:before {
        display: inline-block;
        height: $cat-icon-size-default * 3;
        margin: 0;
        width: $cat-icon-size-default * 3;
    }
}
