/*
    Stylesheet for category icon using the spritesheet.
    Defines the classes for each individual icon as well as its applications
    within pages.
*/
@import 'lib';

sprite-background-position($vertical-pos) {
    // Handles which color sprite to show on which pages.
    // White.
    &.cat-hovercat:hover:before {
        // Icons in category drop-down menu when hovered.
        background-position: 100% $vertical-pos;
    }

    // Blue.
    &:before,
    &.cat-hovercat:before,
    &.category-header-icon:before {
        // The icons in category drop-down menu.
        background-position: 0 $vertical-pos;
    }
}

sprite-background-position-header($vertical-pos) {
    // White.
    // 75px icon in category header, which needs to be centered.
    // Have to define separately from sprite-background-position since they
    // align differently in this case.
    @media $base-tablet {
        &.category-header-icon:before {
            background-position: 107% $vertical-pos;
        }
    }
}

.cat-icon {
    &:before {
        // Default to 'all' icon.
        background: url(../img/pretty/cats-sprite.svg) no-repeat 50% 93.8%;
        background-size: 3*$cat-icon-size-default;
        content: '';
        display: inline-block;
        height: $cat-icon-size-default;
        margin: 0 10px 0 0;
        vertical-align: middle;
        width: $cat-icon-size-default;
    }

    sprite-background-position(93.8%);

    // Other styles for `.cat-hovercat` are in `category-dropdown-desktop.styl`.
    &.cat-hovercat {
        &:before {
            background: url(../img/pretty/cats-sprite.svg) no-repeat;
            background-size: 90px auto;
            content: "";
            height: 30px;
            left: 15px;
            position: absolute;
            top: 10px;
            width: 30px;
        }
    }
}

.cat-books,
.cat-reference {
    sprite-background-position(81.2%);
    sprite-background-position-header(81.7%);
}
.cat-business {
    sprite-background-position(43.3%);
    sprite-background-position-header(43.3%);
}
.cat-education {
    sprite-background-position(24.4%);
    sprite-background-position-header(24.4%);
}
.cat-entertainment,
.cat-sports {
    sprite-background-position(49.7%);
    sprite-background-position-header(49.8%);
}
.cat-games {
    sprite-background-position(-0.8%);
    sprite-background-position-header(-1.5%);
}
.cat-health-fitness {
    sprite-background-position(18.2%);
    sprite-background-position-header(18.2%);
}
.cat-lifestyle {
    sprite-background-position(37.0%);
    sprite-background-position-header(37.0%);
}
.cat-maps-navigation {
    sprite-background-position(100.1%);
    sprite-background-position-header(101.4%);
}
.cat-music {
    sprite-background-position(11.8%);
    sprite-background-position-header(11.3%);
}
.cat-news-weather {
    sprite-background-position(5.6%);
    sprite-background-position-header(5.0%);
}
.cat-photo-video {
    sprite-background-position(62.2%);
    sprite-background-position-header(62.4%);
}
.cat-productivity {
    sprite-background-position(68.5%);
    sprite-background-position-header(68.9%);
}
.cat-shopping {
    sprite-background-position(55.9%);
    sprite-background-position-header(55.9%);
}
.cat-social {
    sprite-background-position(75.0%);
    sprite-background-position-header(75.5%);
}
.cat-travel {
    sprite-background-position(87.5%);
    sprite-background-position-header(87.7%);
}
.cat-utilities {
    sprite-background-position(30.7%);
    sprite-background-position-header(30.4%);
}

a[class*="cat-movistar-"]:before,
a[class*="cat-movistar-"]:hover:before {
    background: url(../img/carriers/movistar.svg) 0 40% !important;
    background-size: 100% 100% !important;
}

a[class*="cat-dt-"]:before,
a[class*="cat-dt-"]:hover:before {
    background-image: url(../img/carriers/deutsche_telekom.svg) !important;
    background-size: auto 70% !important;
    background-position: 40% 35% !important;
}

a[class*="cat-congstar-"]:before,
a[class*="cat-congstar-"]:hover:before {
    background: url(../img/carriers/congstar.png) !important;
    background-size: 100% 100% !important;
}

a[class*="cat-o2-"]:before,
a[class*="cat-o2-"]:hover:before {
    background: url(../img/carriers/o2.jpg) !important;
    background-size: 100% 100% !important;
}
a[class*="cat-telenor-"]:before,
a[class*="cat-telenor-"]:hover:before,
a[class*="cat-telenor-"]:active:before {
    background: url(../img/carriers/telenor.svg) 0 -26px;
    background-size: 28px auto;
}

a[class*="cat-telenor-"]:hover:before,
a[class*="cat-telenor-"]:active:before {
    background-position: 0 -54px;
}

a[class*="cat-grameenphone-bd"]:before,
a[class*="cat-grameenphone-bd"]:hover:before,
a[class*="cat-grameenphone-bd"]:active:before {
    background: url(../img/carriers/telenor.svg) 0 -26px;
    background-size: 28px auto;
}

a[class*="cat-grameenphone-bd"]:hover:before,
a[class*="cat-grameenphone-bd"]:active:before {
    background-position: 0 -54px;
}

a[class*="cat-am-"]:before,
a[class*="cat-am-"]:hover:before,
a[class*="cat-am-"]:active:before,
a[class*="cat-america_movil-"]:before,
a[class*="cat-america_movil-"]:hover:before,
a[class*="cat-america_movil-"]:active:before {
    background: url(../img/carriers/claro.png) 0 50% no-repeat;
    background-size: 28px auto;
}

a[class="cat-telefonica-br"]:before,
a[class="cat-telefonica-br"]:hover:before,
a[class="cat-telefonica-br"]:active:before,
a[class*="cat-vivo-"]:before,
a[class*="cat-vivo-"]:hover:before,
a[class*="cat-vivo-"]:active:before {
    background: url(../img/carriers/vivo.png) 0 50% no-repeat;
    background-size: 26px auto;
}
