/*
    Stylesheet for the category dropdown on desktop.
*/
@import "lib";

.cat-hovercat {
    box-sizing: content-box;  // To cover the borders via padding.
    color: $greyscale-black;
    display: block;
    ellipsis();
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: left;
    text-indent: 60px;
    vertical-align: middle;
    width: 100%;
    z-index: 1;

    &:hover {
        background-color: $action-positive;
        color: $white;
        line-height: 52px;  // Keep text at same vertical position.
        padding: 0 1px 1px 0;  // Cover the borders.
        top: -1px;

        &:before {
            top: 11px;  // Keep icon same place for -1px border shift.
        }
    }
}

.hovercats {
    background: $white;
    box-shadow: 0 0 1px 2px $greyscale-light-grey;
    left: 90%;
    margin-top: 10px;
    opacity: 0;
    padding-bottom: 10px;
    pointer-events: none;
    position: absolute;
    transform: translateX(-90%);
    transition: all .3s cubic-bezier(.25, 1, .35, 1);
    top: 48px;
    visibility: hidden;

    &:after {
        border: 20px solid transparent;
        border-bottom: 20px solid $white;
        content: "";
        height: 0;
        left: 75%;
        margin-left: -20px;
        position: absolute;
        top: -40px;
        width: 0;
    }
}

.cat-overlay {
    padding: 10px;
    width: 0;  // Don't affect `fit-content` on mobile.

    li {
        border-top: 1px solid $tile-border;
        border-right: 1px solid $tile-border;
        float: left;
        font-size: 15px;
        height: 50px;
        position: relative;
        text-transform: none;
        width: 50%;

        &:nth-child(2n) {
            // Right side children.
            border-right: 0;

            a:hover {
                left: -1px;  // Cover the border.
                padding-left: 1px;  // Keep text at same horizontal position.

                &:before {
                    left: 16px;  // Keep icon same place for -1px border shift.
                }
            }
        }
        &:nth-child(-n + 2) {
            // First two children.
            border-top: 0;

            a:hover {
                line-height: 51px;  // Keep text at same vertical position.
                top: 0;  // No border to cover.

                &:before {
                    top: 10px;  // Keep icon same place for -1px border shift.
                }
            }
        }
        &:nth-last-child(-n + 2) a:hover {
            // Last two children.
            padding-bottom: 0;
        }
    }
}

@media $base-tablet {
    // `link-clicked` set in JS when category link clicked.
    // When category link pressed, dropdown disappears.
    .tab-categories:not(.link-clicked):hover .hovercats {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
    .tab-categories:hover .hovercats {
        transform: translateX(-90%);
    }
    .cat-overlay {
        width: 500px;
    }

}

@media (max-width: 800px) {
    .tab-categories:hover .hovercats {
        transform: translateX(-100%);
    }
    .hovercats {
        left: 100%;
        transform: translateX(-100%);

        &:after {
            left: 80%;
        }
    }
}

@media $wide-desktop {
    /* Category drop-down menu grows at wide-desktop width. */
    .tab-categories:hover .hovercats {
        transform: scale(1) translateX(-50%);
        top: 48px;
    }
    .hovercats {
        left: 50%;
        transform: scale(0) translateX(-50%);
        transform-origin: top left;
        top: 38px;

        &:after {
            left: 50%;
        }
    }
}
