// Styles for the categories index page and overlay.
@import 'lib';

.category-index {
    margin-top: 20px;
    text-align: center;
    width: 100%;

    a.cat-icon.cur-cat {
        background-color: $faint-gray;
        border: 1px solid $light-gray;
        border-radius: 65px;
        color: $bg-gray;
        display: inline-block;
        height: 50px;
        margin: 0 28px 60px;
        position: relative;
        vertical-align: middle;
        width: 50px;

        &:before {
            background-size: 90px;
            height: 30px;
            left: 5px;
            position: relative;
            top: unquote('calc(50% - 15px)');
            width: 30px;
        }
        p {
            color: $gray;
            font-size: 11px;
            position: relative;
            right: 40%;
            text-align: center;
            text-transform: uppercase;
            top: 25px;
            width: 180%;
        }
    }
}

.hovercats {
    background: $white;
    border-radius: 5px;
    display: none;
    left: -355px;
    position: absolute;
    top: 45px;

    &.active, &.active .cat-overlay {
        display: block;
    }
    &:after {
        border: 10px solid transparent;
        border-bottom: 10px solid #fff;
        content: "";
        height: 0;
        left: 100%;
        margin-left: -65px;
        position: absolute;
        top: -20px;
        width: 0;
    }
}

.cat-overlay {
    display: none;
    padding: 10px 20px;
    width: 500px;

    li {
        border-bottom: 1px solid $light-gray;
        border-right: 1px solid $light-gray;
        float: left;
        font-size: 15px;
        height: 50px;
        position: relative;
        text-transform: uppercase;
        width: 50%;

        &:nth-child(2n) {
            border-right: 0;

            a {
                padding-left: 50px;

                &:before {
                    left: 10px;
                }
                &:hover {
                    margin: -1px -20px 0 0;
                    padding-left: 50px;
                }
            }
        }
        // Last two children. 少しこわいい
        &:nth-last-child(-n + 2) {
            border-bottom: 1px solid $white;
        }
    }
    a {
        color: $dark-gray;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        outline: 0;
        padding: 0 0 0 40px;
        text-align: left;
        vertical-align: middle;
        width: 230px;

        &:before {
            background-image: url(../img/pretty/cats-sprite.svg);
            background-repeat: no-repeat;
            background-size: 90px auto;
            content: "";
            height: 30px;
            left: 0;
            position: absolute;
            top: 10px;
            width: 30px;
        }
        &:hover {
            background-color: $breezy-blue;
            background-position: inherit;
            color: $white;
            height: 51px;
            line-height: 51px;
            margin-left: -20px;
            margin-top: -1px;
            padding-left: 60px;
            text-decoration: none;
            width: 250px;
        }
    }
}

.category-header-desktop {
    display: none;
}

@media $at-least-desktop {
    .category-header-desktop {
        margin: 0 auto 20px;
        width: $desktop-content;
    }
}

@media $wider-desktop {
    .hovercats {
        left: -162px;

        &:after{
            left: 50%;
            margin-left: -10px;
        }
    }
}

@media $retina-desktop {
    .cat-overlay a:hover {
        margin-top: -2px;
    }
}

.category-header {
    background: $note-gray;
    padding: 8px 0;
    text-align: center;
    width: 100%;

    h3 {
        color: #fff;
    }
    .cat-icon:before,
    .cat-icon:hover:before {
        background-position: 100% -0.8%;
        margin-right: 5px;
    }
}

@media $at-least-desktop {
    .category-header {
        background: none;
        padding: 0;
        margin: 0 0 15px;
        text-align: left;
        width: auto;

        h3 {
            color: $castle-skull-gray;
            font-size: 30px;
            font-weight: 300;
            text-shadow: 0 1px 0 $barely-gray;

            &:before {
                background-size: 180px auto;
                height: 60px;
                width: 60px;
            }
        }
        .cat-icon:before,
        .cat-icon:hover:before {
            background-position: 0 -0.8%;
            margin-right: 10px;
        }
    }
}
