// Styles for the categories desktop overlay.
@import "lib";

.cat-hovercat {
    // Do not use `border-box` so we can cover the borders via padding.
    box-sizing: content-box;
    color: $dark-gray;
    display: block;
    ellipsis();
    height: 50px;
    line-height: 50px;
    position: relative;
    text-align: left;
    text-indent: 60px;
    vertical-align: middle;
    width: 100%;
    z-index: 1;

    &:hover {
        background-color: $breezy-blue;
        color: $white;

        // To keep the text at the same vertical position.
        line-height: 52px;

        // To cover the borders.
        padding: 0 1px 1px 0;
        top: -1px;

        // To keep the icon in the same place
        // (to account for the -1px shift to cover the border).
        &:before {
            top: 11px;
        }
    }
}

.cat-overlay {
    display: none;
    padding: 10px;
    width: 0;  // Don't affect `fit-content` on mobile.

    li {
        border-top: 1px solid $light-gray;
        border-right: 1px solid $light-gray;
        float: left;
        font-size: 15px;
        height: 50px;
        position: relative;
        text-transform: uppercase;
        width: 50%;

        // Children on the right side. 少しこわいい
        &:nth-child(2n) {
            border-right: 0;

            a:hover {
                // To cover the border.
                left: -1px;

                // To keep the text at the same horizontal position.
                padding-left: 1px;

                // To keep the icon in the same place
                // (to account for the -1px shift to cover the border).
                &:before {
                    left: 16px;
                }
            }
        }

        // First two children. 少しこわいい
        &:nth-child(-n + 2) {
            border-top: 0;

            a:hover {
                // To keep the text at the same vertical position.
                line-height: 51px;

                // There is no border to cover.
                top: 0;

                // To keep the icon in the same place
                // (to account for the -1px shift to cover the border).
                &:before {
                    top: 10px;
                }
            }
        }

        // Last two children. 少しこわいい
        &:nth-last-child(-n + 2) {
            a:hover {
                padding-bottom: 0;
            }
        }

        // Smooth corners for the ones by the edge.
        &:first-child a {
            border-radius: 5px 0 0;
        }
        &:nth-child(2) a {
            border-radius: 0 5px 0 0;
        }
        &:nth-last-child(2) a {
            border-radius: 0 0 0 5px;
        }
        &:last-child a {
            border-radius: 0 0 5px;
        }
    }
}

@media $at-least-desktop {
    .tab-categories:hover {
        .hovercats,
        .cat-overlay {
            display: block;
        }
    }

    .cat-overlay {
        width: 500px;
    }

    .hovercats {
        background: $white;
        border-radius: 5px;
        box-shadow: 0 2px 1px -1px $cement-gray;  // Bottom box-shadow.
        display: none;
        left: 90%;
        position: absolute;
        top: 48px;
        transform(unquote('translate(-90%,0)'));

        &:after {
            border: 10px solid transparent;
            border-bottom: 10px solid #fff;
            content: "";
            height: 0;
            left: 75%;
            margin-left: -10px;
            position: absolute;
            top: -20px;
            width: 0;
        }
    }
}

@media (max-width: 800px) {
    .hovercats {
        left: 100%;
        transform(unquote('translate(-100%,0)'));

        &:after {
            left: 80%;
        }
    }
}

@media $wider-desktop {
    .hovercats {
        left: 50%;
        transform(unquote('translate(-50%,0)'));

        &:after {
            left: 50%;
        }
    }
}
