@import "lib";


body[data-platform="desktop"] {
  &[data-page-type~="app-list"],
  &[data-page-type~="collection-landing"],
  &[data-page-type~="editorial-landing"],
  &[data-page-type~="shelf-landing"],
  &[data-page-type~="homepage"] {
      .compat-filter {
          display: block;
      }
  }
}

.compat-filter {
    display: none;
}
