@import "lib";

.compat-filter {
    clear: both;
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    z-index: 1;

    select {
        font-size: 15px;
        vertical-align: middle;
        width: 229px;
    }
    label {
        _h3();
        color: $filters-label;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
    }
}

.compat-select-wrapper {
    vertical-align: middle;
}

// TODO: These need to be outside a media query.
@media (max-width: 709px) {
    .compat-filter {
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .compat-filter .pretty-select {
        &:before {
            right: 5px;
        }
        select {
            padding-right: 75px;
        }
    }

    .app-list-page,
    .category,
    #search-results .search-listing {
        position: relative;
    }
    .category-header + .compat-filter,
    #search-results .compat-filter,
    [data-page-type~="purchases"] .compat-filter,
    [data-page-type~="app-list"] .compat-filter {
        top: 15px;
    }

    .category-header + .compat-filter {
        margin-top: 2px;
    }

    .mkt-tile {
        overflow: visible;
    }

    #search-results .search-404 .compat-filter {
        position: relative;
        top: 10px;
    }
    #search-results .search-404 {
        background: none;
        border: 0;
        margin-bottom: 10px;

        &:before {
            background: none;
        }
    }
}

@media $base-tablet {
    .compat-filter {
        position: static;
    }
}

@media $base-desktop {
    #search-results .secondary-header {
        height: 80px;
        max-height: 80px;
    }
}
