@import "lib";

.compat-filter {
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    z-index: 1;

    .pretty-select {
        border-radius: 0 5px 5px 0;
    }
    select {
        font-size: 13px;
        min-width: 180px;
        vertical-align: middle;
    }
    label {
        background: $primary-blue;
        border: 1px solid $light-gray;
        border-radius: 5px 0 0 5px;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        margin: 0;
        margin-right: -5px;
        padding: 10px 20px;
        vertical-align: middle;
    }
}

.compat-select-wrapper {
    vertical-align: middle;
}

@media (max-width: 709px) {
    .compat-filter {
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .compat-filter .pretty-select {
        width: 229px;

        &:after {
            width: 60px;
        }
        &:before {
            right: 18px;
        }
        select {
            padding-right: 75px;
        }
    }

    .app-list-page,
    .category,
    #search-results .search-listing {
        position: relative;
        top: 45px;
    }
    .category-header + .compat-filter,
    #search-results .compat-filter {
        top: 45px;
    }

    [data-page-type~="app-list"] .compat-filter {
        top: 7px;
    }
    .category-header + .compat-filter {
        margin-top: 2px;
    }

    .mkt-tile {
        overflow: visible;
    }
}

@media (min-width: 710px) {
    .compat-filter {
        right: 0;
        top: 0;
    }
    #search-results .expand-toggle {
        bottom: 0;
        top: auto;
    }
    #search-results .secondary-header {
        height: 80px;
        max-height: 80px;
    }
}
