@import 'lib';


[data-page-type~="recommended"],
[data-page-type~="purchases"] {
    .app-list-filters-content-wrapper {
        display: none;
    }
}

.app-list-filters-content-wrapper {
    display: block;
    width: 100%;
}

.app-list-filters-content-select {
    border-bottom: 1px solid $greyscale-light-grey;
    text-transform: none;
    padding: 0 10px 15px;
    width: 100%;
}

.content-filter {
    width: 100%;

    mkt-selected {
        background: $white;
        border: 1px solid $greyscale-grey;
        border-radius: 5px;
        color: $greyscale-black;
        font-weight: 400;
        height: 30px;
        justify-content: flex-start;
        position: relative;

        &:after {
            color: $action-positive;
            position: absolute;
            top: 6px;
            transform-origin: center 7px;

            +ltr() {
                right: 15px;
            }
            +rtl() {
                left: 15px;
            }
        }
    }
    mkt-option {
        background: $white;
        border: 1px solid $greyscale-grey;
        border-top: 0;
        color: $greyscale-black;
        font-weight: 400;
        height: 30px;
        justify-content: flex-start;

        +ltr() {
            padding-left: 15px;
        }
        +rtl() {
            padding-right: 15px;
        }
        &[data-mkt-option--index="0"] {
            border-top: 1px solid $greyscale-grey;
        }
        &:hover {
            background: $action-positive;
            color: $white;
            text-decoration: none;
        }
    }
}
