@import 'lib';

.infobox.blurbs {
    border-top: 0;
}

.detail .support > div {
    // Necessary to not clobber desktop L+R
    padding-bottom: 24px;
    padding-top: 24px;
}

.detail {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 1px $cement-gray;
    margin: 10px;

    h3 {
        font-size: 15px;
        font-weight: 500;
    }
}

.regionbanner {
    background: url(../img/pretty/alert.svg) 12px 50% no-repeat #82C80A;
    background-size: 48px;
    color: #fff;
    padding-left: 60px;
}

.blurbs {
    clear: both;
    color: $dark-gray;
    line-height: 22px;

    > div {
        padding: 24px 10px;
    }
    blockquote {
        background: $faint-gray;
        border-left: 2px solid $light-gray;
        color: $medium-gray;
        margin: 0;
        padding: 5px 10px;
    }
    .truncated-wrapper {
        padding: 0;

        &.truncated {
            max-height: 16.5em;
            overflow: hidden;
            position: relative;

            &:after {
                bottom: 0;
                content: '';
                gradientTop(unquote('rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%'));
                height: 6.5em;
                left: 0;
                pointer-events: none;
                position: absolute;
                width: 100%;
                z-index: 10;
            }
        }
    }
}

section.releasenotes {
    border-bottom: 1px solid $cloud-gray;

    .truncated-wrapper.truncated {
        max-height: 7.5em;
    }
}

.show-toggle {
    display: block;
    font-weight: bold;
    padding: 10px;
    text-align: right;
    text-transform: lowercase;

    &:before {
        content: "(";
        font-weight: 200;
    }
    &:after {
        content: ")";
        font-weight: 200;
    }
}

.collapsed {
    display: none;
}

.actions {
    > div {
        float: left;
        overflow: hidden;
        width: 100%;
    }
    .button {
        position: relative;
        z-index: 1;
        width: 100%;
    }
}

.support {
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        a {
            display: inline-block;
        }
    }
    li {
        float: left;
        margin-bottom: 10px;
        min-height: 100px;
        width: 480px;
    }
    p {
        margin: 0;
    }
}

.upsell-wrapper {
    background: $salt-flat-white;
    border-top: 1px solid $cloud-gray;
}

.upsell {
    background: #fff;
    border-radius: 5px;
    border: 1px solid $cloud-gray;
    display: block;
    font-size: 0;
    margin: 10px;
    padding: 15px 10px;
    text-decoration: none;

    &:hover {
        border-color: darken($seavan-salt-white, 10%);
        img {
            opacity: .8;
        }
    }
    &:active {
        depressed();
    }
    div {
        display: inline-block;
        padding: 8px 10px;
        vertical-align: top;
    }
    img {
        height: 64px;
        width: 64px;
    }
    .avail {
        color: #000;
        display: block;
        font-size: 15px;
        line-height: 17px;
    }
    .name {
        color: $earl-gray;
        font-size: 12px;
        line-height: 18px;
    }
}

// Statistics page is not mobile-optimized. Hide button to that page at non-
// desktop widths.
// TODO: Kill this once bug 924519 is resolved.
.statistics {
    display: none;
}

// ***************** Wide Mobile (> 671px)
@media $base-desktop {
    .upsell-wrapper {
        background: #fff;
    }
    .upsell,
    .blurbs > div {
        padding: 24px 15px;
    }
    .upsell {
        border: 0;
        border-radius: 0;
        margin: 0;

        div {
            padding: 8px 15px;
        }
        .avail {
            font-size: 17px;
            line-height: 19px;
        }
        .name {
            font-size: 15px;
            line-height: 21px;
        }
    }
    .blurbs .description-wrapper {
        p.description {
            padding-top: 0;
        }
    }
    section.blurbs .truncated-wrapper.truncated {
        max-height: none;
        overflow: visible;

        &:after {
            content: none;
        }
    }
    .show-toggle {
        display: none;
    }

    .detail {
        border-radius: 10px;
        margin: 0 auto;
        max-width: $desktop-content;
        overflow: hidden;
    }
    .secondary-header .leading {
        font-size: 24px;
        gradient-two-color(#fff, #e1e1e1);
        line-height: 24px;
        max-width: 100%;
        padding: 15px;
        position: static;
    }
    .statistics {
        display: block;
    }
}
