/*
    Marketplace Nav (for mobile).

    - Adapted from mozilla/marketplace-style-guide which runs on a separate
      Stylus codebase.
    - Styles put here should be agnostic such that it can be re-used for
      other Marketplace frontend projects. For Fireplace, additional components
      such as Search, Platform Filtering, User Settings, etc, should be placed
      in a project-specific stylesheet. But upstream stuff here if it's
      generic enough.
*/
@import 'lib';

$color--nav--child-bg = #1A95FC;
$color--nav--child-hover = #40ADFF;
$color--nav--child-border = darken($color--nav--child-bg, 25%);
$color--nav--child-back = #28A0FC;
$color--nav--child-back-border = darken($color--nav--child-back, 25%);
$color--nav--root-link = #333;
$color--nav--gradient = linear-gradient(to top, #9E1455, #601E78, #052659);
$nav--header-height = 60px;
$nav--subnav-to-shift = 'mkt-nav-root';
$nav--transition = 'transform cubic-bezier(0.455, 0.03, 0.515, 0.955) 250ms';
$nav--to-shift = '#site-header, main';
$nav--width = 260px;
$zindex--main = 50;
$zindex--nav-normal-child = 60;
$zindex--header = 70;
$zindex--page-overlay = 70;
$zindex--nav-normal-root = 70;
$zindex--nav-hamburger = 80;
$zindex--nav-hamburger-child = 90;

nav--visible() {
    body.mkt-nav--visible & {
        {block}
    }
}

nav--subnav-visible() {
    body.mkt-nav--subnav-visible & {
        {block}
    }
}

#page {
    min-height: 420px;
}

.mkt-nav--wrapper {
    position: relative;
}

main:after,
.mkt-nav--wrapper:after {
    // Disable main content interaction when nav is visible.
    background: rgba($greyscale-dark-grey, .8);
    content: '';
    left: 0;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $zindex--page-overlay;

    +nav--visible() {
        display: block;
    }
    +media--wide-tablet() {
        +nav--visible() {
            display: none;
        }
    }
}

body {
    // TODO: move these to respective stylesheets when we flip the switch.
    padding-top: 0;

    &.mkt-nav--visible {
        // Disable scroll on main content when nav is visible.
        overflow-y: hidden;
        // overflow: hidden doesn't work properly on fennec so set
        // position: fixed also. (bug 1153203).
        position: fixed;

        +media--wide-tablet() {
            overflow-y: auto;
            position: static;
        }
    }
    &.mkt-nav--visible main {
        position: relative;
    }
    .site-header .site {
        width: auto;
    }
    main {
        background: $greyscale-light-grey;
        z-index: $zindex--main;
    }
}

mkt-nav {
    font-size: 18px;
    height: 100%;
    left: -1 * $nav--width;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: unquote($nav--transition + ', opacity 0s linear 300ms');
    width: $nav--width;
    z-index: $zindex--nav-hamburger;

    +nav--visible() {
        transform: translate3d($nav--width, 0, 0);
        transition: unquote($nav--transition);
    }
    +media--wide-tablet() {
        display: none;
    }
}

mkt-nav-root,
mkt-nav-child {
    display: block;
    height: 100%;
    left: -1 * $nav--width;
    list-style: none inside;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    transition: unquote($nav--transition);
    width: $nav--width;
}

mkt-nav-root {
    background: url(../img/nav/full-white.svg) no-repeat 30px 30px,
                $color--nav--gradient;
    background-attachment: local;
    background-size: 182px 35px, cover;
    padding: 75px 21px 30px;

    +nav--visible() {
        transform: translate3d($nav--width, 0, 0);
    }
    &:after {
        background: rgba($greyscale-black, .25);
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 2px;
        z-index: $zindex--nav-hamburger;
    }
    .mkt-nav--item {
        margin: 25px 0;
    }
    .mkt-nav--active {
        background: $color--nav--child-bg;
        color: $greyscale-white;
    }
}

mkt-nav-child {
    background: $color--nav--child-bg;
    border-right: 2px solid $color--nav--child-border;
    padding: $nav--header-height 10px;
    z-index: $zindex--nav-hamburger-child;

    +nav--subnav-visible() {
        transform: translate3d($nav--width, 0, 0);
    }
    .mkt-nav--active,
    .mkt-nav--link:hover {
        background: $greyscale-white;
        color: $color--nav--child-bg;
        text-decoration: none;
    }
}

.mkt-nav--link {
    border-radius: 5px;
    color: $greyscale-white;
    font-weight: 300;
    line-height: 1;
    padding: 25px 10px 25px;

    &:active {
        background-color: transparent;
    }
}

.mkt-nav--active {
    padding: 10px;
}

.mkt-nav--back {
    background: $color--nav--child-back;
    border: 2px solid $color--nav--child-back-border;
    border-width: 0 2px 0 0;
    cursor pointer
    display: block;
    hambacker($greyscale-white);
    hambacker-back();
    height: $nav--header-height;
    left: -1 * $nav--width;
    overflow: hidden;
    padding: 0 22px;
    position: absolute;
    top: 0;
    transition: unquote($nav--transition);
    width: $nav--width;
    z-index: $zindex--nav-hamburger-child;

    &:active:not([disabled]) {
        background: $color--nav--child-back;
    }
    +nav--subnav-visible() {
        transform: translate3d($nav--width, 0, 0);
    }
}

#site-header .hamburger {
    +nav--visible() {
        background-position: 0 -100px;
    }
}

.mkt-nav-root--divider {
    border: 1px solid $greyscale-white;
    margin: 0 10px;
    position: relative;
    width: 195px;
}
