@import 'lib';

// Originally from elements--nav.styl.
$color--nav--child-bg = #1A95FC;

mkt-category-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;

    +media--wide-tablet() {
        flex-direction: row;
        justify-content: center;
    }
}

mkt-category-item {
    width: 100%;

    +media--wide-tablet() {
        margin: 8px;
        width: auto;
    }
}

.mkt-category-link {
    border: 2px solid rgba($greyscale-white, 0.2);
    border-radius : 5px;
    color: $greyscale-white;
    font-weight: 300;
    display: inline-block;
    line-height: $cat-icon-size-default;
    margin: 5px 0;
    padding: 10px;
    transition: none;

    +media--wide-tablet() {
        margin: 0;
    }
    // Set hover bg on the :after to download it but make it invisible.
    &:after {
        category-sprite-alt();
        content: '';
        display: inline-block;
        height: 0;
        opacity: 0;
        width: 0;
    }
    &:before {
        category-sprite();
        content: '';
        display: inline-block;
        margin: 0 10px 0 0;
        vertical-align: middle;

        +rtl() {
            margin: 0 0 0 10px;
        }
    }
    &:hover:before {
        category-sprite-alt();
    }
    &:hover {
        background-color: $greyscale-white;
        border-color: $greyscale-white;
        color: $color--nav--child-bg;
        text-decoration: none;
    }
}

.mkt-category-link--active {
    // Active styles, same as hover style on non-active.
    background-color: $greyscale-white;
    color: $color--nav--child-bg;

    &:before {
        category-sprite-alt();
    }
}

mkt-header-child:hover .mkt-category-link--active,
mkt-category-list:hover .mkt-category-link--active {
    // Hide all active-ness when hovering over the category list.
    background-color: transparent;
    color: $greyscale-white;

    &:before {
        category-sprite();
    }
    &:hover {
        background-color: $greyscale-white;
        color: $color--nav--child-bg;

        &:before {
            category-sprite-alt();
        }
    }
}

for $cat in $categories {
    // Get correct icon.
    [data-mkt-category-slug=\"{$cat}\"] .mkt-category-link {
        &:before,
        &:hover:before,
        &.mkt-category-link--active:before {
            category-icon-position($cat);
        }
    }
    mkt-category-list:hover [data-mkt-category-slug=\"{$cat}\"] .mkt-category-link--active:before {
        category-icon-position($cat);
    }
}
