/*
    Marketplace Header.
*/
@import 'lib';

$color--header--child-bg = #1A95FC;
$header--height = 60px;
$header--transition = 'transform cubic-bezier(0.455, 0.03, 0.515, 0.955) 250ms';
$zindex--header-child = 60;


mkt-header-child {
    background: $color--header--child-bg;
    display: flex;
    height: auto;
    left: 0;
    height: $header--height;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    padding: 10px 5%;
    position: absolute;
    top: 60px;
    transform: translateY(-100%);
    transition: unquote($header--transition + ', opacity 0s linear 300ms');
    width: 100%;
    z-index: $zindex--header-child;

    &.mkt-header-child--visible {
        opacity: 1;
        transform: translateY(0);
        transition: unquote($header--transition);
    }
    &[data-header-child--input] input {
        line-height: normal;
    }
    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 100%;
    }
}

.mkt-header-child--item {
    display: inline-block;
    margin: 5px 0;
    padding: 10px;
}

.mkt-header-child--link {
    background: transparent;
    border-radius: 5px;
    color: $greyscale-white;
    font-weight: 300;
    line-height: 1;
    padding: 9px 9px 6px;
    transition: all .1s linear;

    &:hover {
        color: $action-positive;
        background: $greyscale-white;
        text-decoration: none;
    }
}

.mkt-nav--visible mkt-header-child {
    display: none;
}

mkt-header-child-toggle {
    cursor: pointer;
}

.mkt-header--actions {
    display: flex;
    margin-right: 5px;
    order: 5;

    mkt-header-child-toggle:not(:first-child) {
        margin-left: 30px;
    }
}

.mkt-header--actions-link {
    border-radius: 5px;
    border: 2px solid $action-positive;
    display: none;
    padding: 10px;
    order: 2;
    transition: all .1s linear;

    &:hover {
        color: $greyscale-white;
        background: $action-positive;
        text-decoration: none;
    }
    &:not(:last-child) {
        margin-right: 10px;
    }
}

@media $wide-tablet {
    .mkt-nav--visible mkt-header-child {
        display: flex;
    }
    .mkt-header--actions {
        margin-right: 20px;
    }
    .mkt-header--actions-link {
        display: inline-block;
    }
}

@media $base-desktop {
    mkt-header-child ul {
        padding: 0 250px;
    }
}
