/*
    Marketplace Header. Acts as a nav for desktop.
*/
@import 'lib';

$color--header--child-bg = #1A95FC;
$color--header--child-hover = #40ADFF;
$color--header--root-link = $greyscale-black;
$header-child--input-width = $mobile-content-width + 100;
$header-child--input-padding = 15px 5px;
$header--height = 60px;
$header--transition = 'transform cubic-bezier(0.455, 0.03, 0.515, 0.955) 250ms';
$zindex--header-child = 60;
$zindex--header-nav= 70;

mkt-header--showing-child() {
    .mkt-header--showing-child & {
        {block}
    }
}


mkt-header {
    z-index: $zindex--header-nav;
}

mkt-header-nav {
    align-items: center;
    flex-grow: 2;
    flex-wrap: wrap;
    display: none;
    height: $header-height;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none inside;
    justify-content: space-around;
    order: 3;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    width: fit-content;

    +media--wide-tablet() {
        display: flex;
    }
}

.mkt-header-nav--link {
    background: transparent;
    border-radius: 5px;
    color: $color--header--root-link;
    line-height: 1;
    padding: 10px;
    transition: background-color .05s linear, color .05s linear;

    &:hover {
        background-color: $color--header--child-hover;
        color: $greyscale-white;
        text-decoration: none;
    }
    &.mkt-header-nav--link-active {
        background: $color--header--child-bg;
        color: $greyscale-white;

        +mkt-header--showing-child() {
            background: transparent;
            color: $color--header--root-link;
        }
    }
}

mkt-header-child {
    background: $color--header--child-bg;
    display: none;
    flex-wrap: wrap;
    height: auto;
    left: 0;
    justify-content: center;
    min-height: $header--height;
    opacity: 0;
    overflow: hidden;
    padding: 10px 5%;
    position: absolute;
    top: 60px;
    transform: translateY(-200%);
    transition: unquote($header--transition + ', opacity 0s linear 300ms');
    width: 100%;
    z-index: $zindex--header-child;

    &.mkt-header-child--visible {
        opacity: 1;
        transform: translateY(0);
        transition: unquote($header--transition);
    }
    +media--wide-tablet() {
        display: flex;
    }

    > ul {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 75%;
    }
}

.mkt-header-child--link-list {
    display: none;
    list-style: none;
    justify-content: space-around;
    width: 100%;

    +media--wide-tablet() {
        display: flex;
    }
    +media--base-desktop() {
        .mkt-header-child--link-list {
            padding: 0 250px;
        }
    }
}

[data-header-child--input] input,
.header-child--input-placeholder {
    color: $greyscale-white;
    font: 300 26px/28px $primary-font-family;
    line-height: normal;
}

[data-header-child--input] input {
    border: 0;
    border-radius: 5px;
    height: 70px;
    outline: none;
    padding: $header-child--input-padding;
    position: relative;
    width: 100%;
    z-index: 3;

    +ltr() {
        left: 50%;
        transform: translateX(-50%);
    }
    +rtl() {
        right: 50%;
        transform: translateX(50%);
    }
    &:valid {
        text-align: center;
    }
    &:valid + .header-child--input-placeholder {
        opacity: 0;
        transition: 100ms;
    }
}

.header-child--input-placeholder {
    display: inline;
    line-height: 40px;
    margin: 0;
    max-width: 100%;
    opacity: .75;
    overflow: hidden;
    padding: $header-child--input-padding;
    position: absolute;
    top: 50%;
    transition: 250ms;
    white-space: nowrap;
    width: fit-content;
    z-index: 2;

    +ltr() {
        right: 50%;
        transform: translate(50%, -50%);
    }
    +rtl() {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.mkt-header-child--item {
    display: inline-block;
    margin: 5px 0;
    padding: 10px;
}

.mkt-header-child--link {
    background: transparent;
    border-radius: 5px;
    color: $greyscale-white;
    line-height: 1;
    padding: 9px 9px 6px;
    transition: all .1s linear;

    &:hover {
        color: $action-positive;
        background: $greyscale-white;
        text-decoration: none;
    }
}

mkt-header-child-toggle {
    cursor: pointer;
}

mkt-header-nav mkt-header-child-toggle.mkt-header-child--visible .mkt-header-nav--link {
    background: $color--header--child-bg;
    color: $greyscale-white;
}

.mkt-header--actions-link {
    border-radius: 5px;
    border: 2px solid $action-positive;
    display: none;
    padding: 10px;
    transition: all .1s linear;

    &:hover {
        color: $greyscale-white;
        background: $action-positive;
        text-decoration: none;
    }
    &:not(:last-child) {
        margin-right: 10px;
    }
    +media--wide-tablet() {
        display: inline-block;
    }
}
