@import 'lib';

.error-overlaid {
    overflow: hidden;

    #error-overlay {
        background: $seavan-salt-white;
        bottom: 0;
        display: block;
        left: 0;
        overflow: auto;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 0;
        transform-style: preserve-3d;
        z-index: 102;
    }

    .error-message {
        margin: 0 auto 20px;
        max-width: 450px;
        position: relative;
        top: 45%;
        transform: translateY(-50%);
        button {
            display: inline-block;
            margin-top: 1em;
            width: 100%;
        }
        h1 {
            border-bottom: 1px solid $light-gray;
            margin: 1em 0 1em;
            padding: 0 0 5px;
        }
        p {
            line-height: 1.5em;
            margin: 1em 0;
        }
    }
}

@media $base-desktop {
    .error-overlaid .error-message {
        top: 25%;
        button {
            float: right;
            width: auto;
        }
    }
}
