@import 'lib';

.feedback .secondary-header {
    display: none;
}

.feedback .support-list {
    list-style: none;
    padding: 5px 10px 10px;

    li {
        margin-top: 10px;
    }
    .button {
        display: block;
    }
}

@media $base-tablet {
    .feedback .secondary-header {
        display: block;
    }
    .feedback .support-list {
        display: none;
    }
}
