/* This is a shared file between Fireplace and Transonic. */
@import 'lib';

$view-all-blue = #5BBAFF;

$feed-column-width = 320px;  // Width of a feed column including padding.
$mobile-tile-width = 300px;  // Width of a feed tile.
$mobile-tile-margin= 19px;  // Horizontal space between feed tiles in columns.

$horizontal-tile-padding = 10px;  // Inner feed tile l/r padding.
$vertical-tile-padding = 15px;  // Inner feed t/b padding.
$vertical-margin = 18px;  // Inner margin within a feed tile.
$vertical-text-margin = 10px;  // Inner margin for text within a feed tile.
$vertical-tile-margin = 10px;  // Vertical space between feed tiles.

.feed .icon {
    height: 60px;
    width: 60px;
}

@media $at-least-desktop {
    // Three column feed layout on tweener screens.
    section.feed,
    ul.feed  {
        padding: 0;
    }
    [data-page-type="root"] .feed {
        max-width: $feed-column-width * 3;
        width: $mobile-tile-width * 3 + $mobile-tile-margin * 2;
    }
}

@media (min-width: 640px) {
    [data-page-type="root"] .feed .feed-item-item {
        margin: 0 0 $vertical-tile-padding;
        right: none;
    }
}

@media (min-width: 640px) and (max-width: 959px) {
    // Two column feed layout on tweener screens.
    [data-page-type="root"] .feed {
        max-width: $feed-column-width * 2;
        width: $mobile-tile-width * 2 + $mobile-tile-margin;
    }
}

// Main container for feed elements on the homepage.
.feed {
    list-style-type: none;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    width: 100%;
    max-width: $feed-column-width;

    .feed-item-item {
        margin: 0 auto $vertical-tile-padding auto;
        max-width: $mobile-tile-width;
        right: 0;
        width: $mobile-tile-width;
    }
    .mkt-tile {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 1px -1px $cement-gray;  // Bottom box-shadow.
        color: $hungry-text;
        margin-bottom: 0;
        padding: $vertical-tile-padding $horizontal-tile-padding;
        position: relative;

        .icon {
            float: left;
        }
        .info {
            float: left;
            height: 64px;
            margin-left: 10px;
            min-width: 205px;
            position: relative;
        }
        .elliflow {
            max-width: 125px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .author,
        h3 {
            font-size: 12px;
            line-height: $vertical-margin;
        }
        .author {
            margin-top: -2px;
        }
        h3 {
            color: $hungry-text;
            font-weight: 500;
            padding: $vertical-text-margin 0 0;
        }
        .rating {
            padding: 5px 0;
        }
        .description .desc {
            padding-top: 15px;
        }
        .desc {
            background-color: #fff;
            color: $hungry-text;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .content-rating,
    .rating .cnt,
    .price {
        display: none;
    }
    .group-subheader {
        margin-bottom: $vertical-margin;
    }
}

.feed-tile-header-wrap {
    float: left;
    height: 64px;
    position: relative;
}

[data-page-type~="leaf"] .feed .mkt-tile {
    margin-bottom: $vertical-tile-margin;
}

.app-link {
    height: 100%;
    position: relative;
    width: 100%;
}

.feed-app {
    // For feed item type == 'quote'.
    blockquote {
        line-height: 23px;
        margin: 0;
        padding: 0 10px;
        text-align: center;

        + .quote-source {
            font-size: 11px;
            margin-top: 5px;
            text-align: center;
        }
    }
    .quote {
        color: #fff;
        left: -10px;
        padding: 5px 0 15px;
        position: relative;
        top: 15px;
        width: $mobile-tile-width;
    }
    .preview {
        .desc {
            margin: -20px 0 0;
            padding: 15px 0 0;
        }
        .feed-app-preview-container {
            border-radius: 0 0 5px 5px;
            overflow: hidden;
            margin: 15px 0 -16px -10px;
            height: 150px;
            width: $mobile-tile-width;

            &.vertical {
                height: 240px;
            }
        }
    }
    .tile-footer {
        border-radius: 0 0 5px 5px;
        clear: both;
        font-size: 14px;
        line-height: 20px;

        .stars {
            left: 50%;
            margin: 15px 0 10px -32px;
            position: relative;
        }
    }
}

.feed-app-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: unquote('calc(100% - 10px)');  // Padding.
    margin-top: 5px;
    width: 100%;
}

// Editorial brands.
.feed-brand,
.feed-collection-listing {
    li {
        position: relative;

        a:hover {
            text-decoration: none;
        }
    }
    &.mkt-tile {
        position: relative;
    }
    .feed-tile-header-wrap {
        float: none;
    }
    .fanchor {
        display: table-cell;  // So we can vertically center the children.
        height: 60px;
        padding-left: 60px;
        vertical-align: middle;

        &:hover {
            border: none;
        }
    }
    .feed-tile-header {
        margin: 0 0 0 10px;
        padding: 0;
    }
    .view-all {
        color: $view-all-blue;
        border-bottom: 1px solid $view-all-blue;
        display: inline-block;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        margin: $vertical-margin auto 0 50%;
        padding-bottom: 10px;
        text-align: center;
        transform: translate(-50%, 0);
        width: 170px;

        &:before,
        &:after {
            border-left: 1px solid $view-all-blue;
            bottom: 0;
            content: "";
            height: 5px;
            position: absolute;
            width: 0;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}

.feed-collection-listing {
    .feed-tile-header-wrap {
        height: auto;

        .fanchor,
        .feed-tile-header {
            padding-left: 0;
        }
        .fanchor {
            height: auto;

        }
        .feed-tile-header {
            margin-left: 0;
        }
    }
    .desc {
        margin-top: 15px;
    }
}

[data-page-type~="newpop"] .feed .feed-layout-list > .info {
    margin-left: 0;
}

.feed-collection,
[data-page-type~="newpop"] {
    .feed-tile-header {
        margin-left: 70px;
    }
}

.feed-brand,
[data-page-type~="newpop"] {
    .feed-tile-header:before {
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 30px;
        content: '';
        display: block;
        height: 60px;
        left: 0;
        position: absolute;
        top: 0;
        width: 60px;
    }
}

@media $at-least-desktop {
    .feed-tile-header {
        margin: 10px 0 0 75px;

        &:before {
            left: 0;
        }
        &.grouped {
            margin-left: 0;
            margin-top: 0;
        }
    }
    [data-page-type~="newpop"] .app-list {
        position: relative;
        top: 35px;
    }
    .feed.brand-landing,
    .feed.collection-landing {
        section.feed-brand,
        section.feed-collection-listing {
            background: transparent;
            box-shadow: none;
            max-width: $desktop-content;
        }
        .feed-layout-list {
            padding: 0;

            h1.feed-tile-header {
                font-size: 24px;
            }
            li.mini-app {
                background-color: $white;
                border-radius: 5px;
                float: left;
                height: 80px;
                margin-right: 20px;
                padding: 10px;
                width: 335px;

                &:nth-child(even) {
                    margin-right: 0;
                }
            }
        }
    }
}


[data-page-type~="newpop"] {
    .feed-tile-header:before {
        background-color: $breezy-blue;
    }
    [data-type="popular"] .feed-tile-header:before {
        background-image: url(../img/icons/popular.png);
    }
    [data-type="new"] .feed-tile-header:before {
        background-image: url(../img/icons/new.png);
    }
}

.feed .multi-app-tile.mkt-tile {
    background-color: #fff;
    margin: 0 auto;
    max-width: $mobile-tile-width;

    &.grouped {
        margin-bottom: $vertical-tile-margin;
    }
    .feed-tile-header {
        color: $hungry-text;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        padding: 5px 0 0;
    }
    .app-list {
        clear: both;
        display: inline-block;
        list-style-type: none;
        width: 100%;

        img {
            margin-bottom: 8px;
        }
    }
    .app-name {
        color: $hungry-text;
        font-size: 12px;
        font-weight: 500;
        line-height: $vertical-margin;
    }
    .mini-app {
        height: 60px;
        margin-top: $vertical-margin;

        .info {
            height: 60px;
        }
    }
}

// Editorial brand grid layout.
.feed .feed-layout-grid.multi-app-tile {
    .rating {
        display: none;
    }
    .app {
        float: left;
        height: 120px;
        margin: 0 20px 0 0;
        width: 80px;

         &:nth-child(3n) {
            margin-right: 0;
        }
        .info {
            margin-left: 0;
        }

    }
    .app-name.elliflow {
        max-width: 80px;
    }
    .author,
    .stars {
        display: none;
    }
    .button,
    .button[disabled] {
        background: transparent;
        box-shadow: none;
        color: $breezy-blue;
        cursor: pointer;
        height: 20px;
        line-height: 20px;
        margin: -20px 0 0;
        padding: 0;
        position: static;
        text-align: left;
        width: auto;
    }
    .app-list .button:hover {
        color: $breezy-blue;
    }
    .mini-app {
        height: 110px;
        margin-top: $vertical-margin;

        img {
            margin-bottom: $vertical-text-margin;
        }
        .info {
            height: 30px;
        }
    }
}


// Editorial brand list layout.
.feed-layout-list {
    .rating .cnt {
        bottom: 5px;
        font-size: 11px;
        display: inline-block;
        position: relative;
    }
    a {
        color: $hungry-text;
        position: relative;
    }
    h2 {
        padding: 4px 0 0;
    }
    .loadmore {
        margin: 0;
        padding-top: 50px;

        button {
            height: 45px;
        }
    }
}

// Colored or image background feed tiles.
.feed-item {
    background-size: cover;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: $mobile-tile-width;

    .curve,
    .alt-curve {
        border-radius: 50% 50% 0 0;
        height: 53px;
        left: -50px;
        position: absolute;
        top: 30px;
        width: 400px;
        z-index: 10;
    }
    .alt-curve {
        margin-top: -10px;
        position: relative;
        top: 0;
    }
    .info {
        margin-top: 83px;
        padding: 0 10px 20px;

        .name,
        .author {
            max-width: $mobile-tile-width - $horizontal-tile-padding;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    h1 {
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
    }
    .author {
        font-size: 12px;
        line-height: $vertical-margin;
    }
    h1,
    .author,
    img {
        color: #fff;
    }
    .app-icons {
        height: 60px;
        left: 50%;
        position: absolute;
        top: 15px;
        transform: translate(-50%, 0);
        white-space: nowrap;
        z-index: 15;

        li {
            display: inline-block;
            height: 60px;
            margin-right: 20px;
            width: 60px;

            &:last-child {
                margin-right: 0;
            }
        }
        + .curve {
            top: 30px;
        }
    }
    &.mega {
        .curve {
            top: 15px;
        }
        .info {
            top: 33px;
        }
        .desc {
            color: #fff;
            font-size: 14px;
            line-height: 20px;
            margin-top: -30px;
            padding: 0 10px 15px;
            position: relative;
            width: 300px;
            z-index: 20;
        }
        &.full {
            .curve {
                top: 30px;
            }
            .info {
                top: 83px;

                .has-background& {
                    top: 50px;
                }
            }
            h1.name {
                white-space: normal;
            }
        }
    }
    &.shelf {
        height: 90px;

        .curve {
            top: 50px;
        }
        .info {
            position: relative;
            margin-top: 60px;
            z-index: 15;
        }
        .desc, .author {
            display: none;
        }
    }
    &.grouped-collection,
    &.shelf.shelf-landing {
        height: 150px;

        .curve {
            height: 70px;
            top: 80px;
        }
        .info {
            bottom: -45px;
        }
    }
}

.feed-landing {
    &.feed {
        padding-top: 0;
    }
    &.collection-landing .feed-item,
    &.shelf-landing .feed-item {
        position: relative;
        width: 320px;

        &.mega.full .desc {
            top: 155px;
        }
        &.mega.full.has-background {
            min-height: 240px;

            .desc {
                top: 100px;
            }
        }
        &.mega.full {
            height: 315px;
        }
    }
    &.shelf-landing,
    &.collection-landing {
        .feed-item {
            margin-bottom: 0;
        }
        .desc {
            color: $hungry-text;
            font-size: 15px;
            font-weight: light;
            line-height: 22px;
            padding: 20px;
        }
    }
    &.collection-landing-promo {
        h1.name {
            white-space: normal;
        }
    }
}

// Editoral Brand colors.
[data-brand-color="ruby"]:before { background-color: $user-collections-ruby; }
[data-brand-color="amber"]:before { background-color: $user-collections-amber; }
[data-brand-color="emerald"]:before { background-color: $user-collections-emerald; }
[data-brand-color="topaz"]:before { background-color: $user-collections-topaz; }
[data-brand-color="sapphire"]:before { background-color: $user-collections-sapphire; }
[data-brand-color="amethyst"]:before { background-color: $user-collections-amethyst; }
[data-brand-color="garnet"]:before { background-color: $user-collections-garnet; }

// Editorial Brand icons.
[data-brand-type="groundbreaking"] h1:before {
    background-image: url(../img/icons/brands/groundbreaking-40px.png);
}
[data-brand-type="arts-entertainment"] h1:before {
    background-image: url(../img/icons/brands/arts&Entertainment-40px.png);
}
[data-brand-type="book"] h1:before {
    background-image: url(../img/icons/brands/books-40px.png);
}
[data-brand-type="creativity"] h1:before {
    background-image: url(../img/icons/brands/creativity-40px.png);
}
[data-brand-type="education"] h1:before {
    background-image: url(../img/icons/brands/education-40px.png);
}
[data-brand-type="games"] h1:before {
    background-image: url(../img/icons/brands/games-40px.png);
}
[data-brand-type="health-fitness"] h1:before {
    background-image: url(../img/icons/brands/health&Fitness-40px.png);
}
[data-brand-type="hidden-gem"] h1:before {
    background-image: url(../img/icons/brands/hiddenGem-40px.png);
}
[data-brand-type="lifestyle"] h1:before {
    background-image: url(../img/icons/brands/lifestyle-40px.png);
}
[data-brand-type="local-favorite"] h1:before {
    background-image: url(../img/icons/brands/LocalCommunityFavourite-40px.png);
}
[data-brand-type="maps-navigation"] h1:before {
    background-image: url(../img/icons/brands/maps&Nav-40px.png);
}
[data-brand-type="music"] h1:before {
    background-image: url(../img/icons/brands/music-40px.png);
}
[data-brand-type="mystery-app"] h1:before {
    background-image: url(../img/icons/brands/mysteryApp-40px.png);
}
[data-brand-type="local-favorite"] h1:before {
    background-image: url(../img/icons/brands/LocalCommunityFavourite-40px.png);
}
[data-brand-type="news-weather"] h1:before {
    background-image: url(../img/icons/brands/news&Weather-40px.png);
}
[data-brand-type="photo-video"] h1:before {
    background-image: url(../img/icons/brands/photos&Video-40px.png);
}
[data-brand-type="shopping"] h1:before {
    background-image: url(../img/icons/brands/shopping-40px.png);
}
[data-brand-type="social"] h1:before {
    background-image: url(../img/icons/brands/social-40px.png);
}
[data-brand-type="sports"] h1:before {
    background-image: url(../img/icons/brands/sports-40px.png);
}
[data-brand-type="tools-time-savers"] h1:before {
    background-image: url(../img/icons/brands/tools&TimesSavers-40px.png);
}
[data-brand-type="travel"] h1:before {
    background-image: url(../img/icons/brands/travel-40px.png);
}
[data-brand-type="work-business"] h1:before {
    background-image: url(../img/icons/brands/work&Business-40px.png);
}
[data-brand-type^="apps-for-"] h1:before {
    background-image: url(../img/icons/brands/countrySpecific-40px.png);
}

@media $at-least-desktop {
    [data-page-type~=newpop] {
        .feed {
            max-width: $desktop-content;

            .app-list {
                padding-bottom: 95px;
                max-width: $desktop-content;

                li {
                    float: left;
                    margin-right: 20px;
                    width: 335px;

                    &.mini-app {
                        background-color: #fff;
                        border-radius: 5px;
                        height: 80px;
                        padding: 10px;
                    }
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                    &.loadmore {
                        bottom: 30px;
                        clear: both;
                        position: absolute;
                        width: $desktop-content;
                    }
                }
            }
            .multi-app-tile.mkt-tile {
                background-color: transparent;
                box-shadow: none;
                max-width: $desktop-content;
                padding: 0;

                .app-list {
                    width: $desktop-content;

                    .fragment-error {
                        background-color: transparent;
                        display: inline-block;
                        padding: 20px;
                    }
                }
                > .icon {
                    display: none;
                }
                > .info {
                    height: 30px;
                    margin-left: 0;
                    width: 100%;

                    h1 {
                        font-size: 24px;
                        line-height: 24px;
                    }
                }
            }
            .placeholder {
                clear: both;
            }
        }
    }
}

.collection-landing-promo,
.shelf-landing {
    .feed {
        padding-top: 0;
        max-width: 100%;
    }
    .detail-item {
        width: $mobile-tile-width;

        &.header-block {
            margin-top: 0;
        }
        &:not(.header-block) {
            margin-left: 10px;
        }
    }
    .feed-item {
        border-radius: 0;
    }
}

@media $at-least-desktop {
    .collection-landing-listing .desc {
        border-radius: 5px;
    }
    .collection-landing-promo,
    .shelf-landing {
        section.feed-item {
            border-radius: 5px 5px 0 0;
        }
        p.desc {
            border-radius: 0 0 5px 5px;
        }
    }
}

.collection-landing-promo,
.shelf-landing {
    .desc {
        background: #fff;
        box-shadow: 0 2px 1px -1px $cement-gray;
        margin-bottom: $vertical-tile-margin;
        width: $feed-column-width;
    }
}

.fanchor,
.app-link {
    &:hover,
    &:active {
        text-decoration: none;
    }
}

/*  Give loadmore button its own row. Leaves ugly gaps though.
.loadmore.feed-item-item {
    max-width: 100%;
    width: 100%;

    button {
        width: $mobile-tile-width;
    }
}
*/
