/* This is a shared file between Fireplace and Transonic. */
@import 'lib';

$view-all-blue = #5BBAFF;

$feed-column-width = 320px;  // Width of a feed column including padding.
$mobile-tile-width = 300px;  // Width of a feed tile.
$mobile-tile-margin= 19px;  // Horizontal space between feed tiles in columns.

$horizontal-tile-padding = 10px;  // Inner feed tile l/r padding.
$vertical-tile-padding = 15px;  // Inner feed t/b padding.
$vertical-margin = 18px;  // Inner margin within a feed tile.
$vertical-text-margin = 10px;  // Inner margin for text within a feed tile.
$vertical-tile-margin = 10px;  // Vertical space between feed tiles.

// Operator shelf colors and regions.
$default_shelf_color = #ce001c;
$movistar_regions = (mx co ar uy pe es cl ve ec gt sv ni pa cr);
$movistar_color = #7AB800;
$vivo_regions = (br);
$vivo_color = #FF9900;
$o2_regions = (de)
$o2_color = #000066;
$telenor_regions = (hu me rs bd)
$telenor_color = #00ACE7;
$grameenphone_regions = (bd);
$grameenphone_color = #00ACE7;
$tmobile_regions = (hu pl);
$tmobile_color = #E20074;
$kddi_regions = (jp)
$kddi_color = #E35205;


[data-page-type~="homepage"] ul.feed {
    margin-top: 4px;
}

// Main container for feed elements on the homepage.
.feed {
    list-style-type: none;
    margin: 0 auto;
    position: relative;
    transition(opacity .2s .15s);
    width: 100%;

    .feed-item-item {
        margin: 0 auto $vertical-tile-padding auto;
        max-width: $mobile-tile-width;
        right: 0;
        width: $mobile-tile-width;
    }
    .mkt-tile {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 1px -1px $cement-gray;  // Bottom box-shadow.
        color: $hungry-text;
        margin-bottom: 0;
        padding: $vertical-tile-padding $horizontal-tile-padding;
        position: relative;

        .description .desc {
            padding-top: 15px;
        }
        .desc {
            background-color: #fff;
            color: $hungry-text;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .content-rating,
    .rating .cnt,
    .price {
        display: none;
    }
    .group-subheader {
        margin-bottom: $vertical-margin;
    }
}

.feed-tile-header-wrap {
    float: left;
    height: 64px;
    position: relative;
}

[data-page-type~="leaf"] .feed .mkt-tile {
    margin-bottom: $vertical-tile-margin;
}

.app-link {
    height: 100%;
    position: relative;
    width: 100%;
}

.feed-app {
    // For feed item type == 'quote'.
    blockquote {
        line-height: 23px;
        margin: 0;
        padding: 0 10px;
        text-align: center;

        + .quote-source {
            font-size: 11px;
            margin-top: 5px;
            text-align: center;
        }
    }
    .quote {
        color: #fff;
        left: -10px;
        padding: 5px 0 15px;
        position: relative;
        top: 15px;
        width: $mobile-tile-width;
    }
    .preview {
        .desc {
            margin: -20px 0 10px;
            padding: 15px 0 0;
        }
        .feed-app-preview-container {
            border-radius: 0 0 5px 5px;
            overflow: hidden;
            margin: 15px 0 -16px -10px;
            height: 150px;
            width: $mobile-tile-width;

            &.vertical {
                height: 240px;
            }
        }
    }
    .tile-footer {
        border-radius: 0 0 5px 5px;
        clear: both;
        font-size: 14px;
        line-height: 20px;

        .stars {
            left: 50%;
            margin: 15px 0 10px -32px;
            position: relative;
        }
    }
}

.feed-app-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: unquote('calc(100% - 10px)');  // Padding.
    margin-top: 5px;
    width: 100%;
}

// Editorial brands.
.feed-brand,
.feed-collection-listing {
    li {
        position: relative;

        a:hover {
            text-decoration: none;
        }
    }
    &.mkt-tile {
        position: relative;
    }
    .feed-tile-header-wrap {
        float: none;
    }
    .fanchor {
        display: table-cell;  // So we can vertically center the children.
        height: 60px;
        padding-left: 60px;
        vertical-align: middle;

        &:hover {
            border: none;
        }
    }
    .feed-tile-header {
        margin: 0 0 0 10px;
        padding: 0;
    }
    .view-all {
        color: $view-all-blue;
        border-bottom: 1px solid $view-all-blue;
        display: inline-block;
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        margin: $vertical-margin auto 0 50%;
        padding-bottom: 10px;
        text-align: center;
        transform: translate(-50%, 0);
        width: 170px;

        &:before,
        &:after {
            border-left: 1px solid $view-all-blue;
            bottom: 0;
            content: "";
            height: 5px;
            position: absolute;
            width: 0;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}

.feed-collection-listing {
    .feed-tile-header-wrap {
        height: auto;

        .fanchor,
        .feed-tile-header {
            padding-left: 0;
        }
        .fanchor {
            height: auto;

        }
        .feed-tile-header {
            margin-left: 0;
        }
    }
    .desc {
        margin-top: 15px;
    }
}

.feed-collection,
[data-page-type~="app-list"] {
    .feed-tile-header {
        margin-left: 70px;
    }
}

.feed-brand,
[data-page-type~="app-list"] {
    .feed-tile-header:before {
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 30px;
        content: '';
        display: block;
        height: 60px;
        left: 10px;
        position: absolute;
        top: 15px;
        width: 60px;
    }
}

.feed-brand .feed-tile-header:before {
    left: 0;
    top: 0;
}

@media $base-desktop {
    .feed-tile-header {
        margin: 10px 0 0 75px;

        &:before {
            left: 0;
        }
        &.grouped {
            margin-left: 0;
            margin-top: 0;
        }
    }
    .brand-landing,
    .collection-landing,
    [data-page-type~="app-list"] {
        .feed-layout-list li.mini-tile {
            box-shadow: 0 2px 1px -1px $cement-gray;
        }
    }
    .feed.brand-landing,
    .feed.collection-landing {
        section.feed-brand,
        section.feed-collection-listing {
            background: transparent;
            box-shadow: none;
            max-width: $desktop-content;
        }
        .feed-layout-list {
            padding: 0;

            h1.feed-tile-header {
                font-size: 24px;
            }
            li.mini-tile {
                background-color: $white;
                border-radius: 5px;
                float: left;
                height: 80px;
                margin-right: 20px;
                padding: 10px;
                width: 335px;

                &:nth-child(even) {
                    margin-right: 0;
                }
            }
        }
    }
    // Op shelf landing.
    .shelf-landing {
        .detail-item.header-block,
        .feed-item {
            width: $feed-column-width;

            .curve {
                left: -40px;
            }
        }
        .detail-item.header-block {
            margin: 0 auto;

            .desc {
                font-size: 13px;
                padding: 10px;
            }
        }
    }
}

// Feed app list should have a top margin when no desc present.
.shelf-landing .header-block + .feed {
    margin-top: 10px;
}

.multi-app-tile.mkt-tile {
    background-color: #fff;
    margin: 0 auto;
    max-width: $mobile-tile-width;

    &.grouped {
        margin-bottom: $vertical-tile-padding;
    }
    .feed-tile-header {
        color: $hungry-text;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        padding: 5px 0 0;
    }
    .app-list {
        clear: both;
        display: inline-block;
        list-style-type: none;
        width: 100%;
    }
    .mini-tile {
        height: 60px;
        margin-top: $vertical-margin;

        .info {
            height: 60px;
        }
    }
}

// Editorial brand grid layout.
.feed .feed-layout-grid.multi-app-tile {
    .rating {
        display: none;
    }
    .app {
        float: left;
        height: 120px;
        margin: 0 20px 0 0;
        width: 80px;

         &:nth-child(3n) {
            margin-right: 0;
        }
        .info {
            margin-left: 0;
        }

    }
    .app-name.elliflow {
        max-width: 80px;
    }
    .author,
    .stars {
        display: none;
    }
    .button {
        bottom: -5px;
        left: 0;

        em, &[disabled] em {
            background: transparent;
            box-shadow: none;
            color: $breezy-blue;
            cursor: pointer;
            height: 20px;
            line-height: 20px;
            margin: 10px 0 0;
            padding: 0;
            position: static;
            text-align: left;
            width: 90px;
        }
        &[disabled] em {
            color: $bg-gray;
        }
        &.spinning {
            background: transparent;
            box-shadow: none;
            height: 34px;

            .spin {
                display: none;
            }
            em {
                display: inline-block;
            }
        }
    }
    .app-list .button:hover {
        color: $breezy-blue;
    }
    .mini-tile {
        height: 110px;
        margin-top: $vertical-margin;

        img {
            margin-bottom: $vertical-text-margin;
        }
        .info {
            clear: both;
            height: 30px;
            padding-left: 0;
            position: static;
        }
    }
}


// Editorial brand list layout.
.feed-layout-list {
    .rating .cnt {
        bottom: 5px;
        font-size: 11px;
        display: inline-block;
        position: relative;
    }
    a {
        color: $hungry-text;
        position: relative;
    }
    h2 {
        padding: 4px 0 0;
    }
}

// Colored or image background feed tiles.
.feed-item {
    background-size: cover;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: $mobile-tile-width;

    .curve,
    .alt-curve {
        border-radius: 50% 50% 0 0;
        height: 53px;
        left: -50px;
        position: absolute;
        top: 30px;
        width: 400px;
        z-index: 10;
    }
    .alt-curve {
        margin-top: -10px;
        position: relative;
        top: 0;
    }
    .info {
        margin-top: 83px;
        padding: 0 10px 20px;

        .name,
        .author {
            max-width: $mobile-tile-width - $horizontal-tile-padding;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    h1 {
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
    }
    .author {
        font-size: 12px;
        line-height: $vertical-margin;
    }
    h1,
    .author,
    img {
        color: #fff;
    }
    .app-icons {
        height: 60px;
        left: 50%;
        position: absolute;
        top: 15px;
        transform: translate(-50%, 0);
        white-space: nowrap;
        z-index: 15;

        li {
            display: inline-block;
            height: 60px;
            margin-right: 20px;
            width: 60px;

            &:last-child {
                margin-right: 0;
            }
        }
        + .curve {
            top: 30px;
        }
    }
    &.mega {
        .curve {
            top: 15px;
        }
        .info {
            top: 33px;
        }
        .desc {
            color: #fff;
            font-size: 14px;
            line-height: 20px;
            margin-top: -30px;
            padding: 0 10px 15px;
            position: relative;
            width: 300px;
            z-index: 18;
        }
        &.full {
            .curve {
                top: 30px;
            }
            .info {
                top: 83px;

                .has-background& {
                    top: 50px;
                }
            }
            h1.name {
                white-space: normal;
            }
        }
    }
    &.shelf {
        height: 90px;

        .curve {
            background-color: rgba($default_shelf_color, 0.6);
            top: 50px;

            [data-carrier="telefonica"]& {
                for region in $movistar_regions {
                    [data-region={region}]& {
                        background-color: rgba($movistar_color, 0.6);
                    }
                }
                for region in $vivo_regions {
                    [data-region={region}]& {
                        background-color: rgba($vivo_color, 0.6);
                    }
                }
            }
            [data-carrier="o2"]& {
                for region in $o2_regions {
                    [data-region={region}]& {
                        background-color: rgba($o2_color, 0.6);
                    }
                }
            }
            [data-carrier="telenor"]& {
                for region in $telenor_regions {
                    [data-region={region}]& {
                        background-color: rgba($telenor_color, 0.6);
                    }
                }
            }
            [data-carrier="grameenphone"]& {
                for region in $grameenphone_regions {
                    [data-region={region}]& {
                        background-color: rgba($grameenphone_color, 0.6);
                    }
                }
            }
            [data-carrier="deutsche_telekom"]& {
                for region in $tmobile_regions {
                    [data-region={region}]& {
                        background-color: rgba($tmobile_color, 0.6);
                    }
                }
            }
            [data-carrier="kddi"]& {
                for region in $kddi_regions {
                    [data-region={region}]& {
                        background-color: rgba($kddi_color, 0.6);
                    }
                }
            }
        }

        .info {
            position: relative;
            margin-top: 60px;
            z-index: 15;
        }
        .desc, .author {
            display: none;
        }
    }
    &.grouped-collection,
    &.shelf.shelf-landing {
        height: 150px;

        .curve {
            height: 70px;
            top: 80px;
        }
        .info {
            bottom: -45px;
        }
    }
}

.feed-landing {
    &:not(.collection-landing-listing) {
        padding-top: 0;
    }
    &.collection-landing .feed-item,
    &.shelf-landing .feed-item {
        position: relative;

        &.mega.full .desc {
            top: 155px;
        }
        &.mega.full.has-background {
            min-height: 240px;

            .desc {
                top: 100px;
            }
        }
        &.mega.full {
            height: 315px;
        }
    }
    &.shelf-landing,
    &.collection-landing {
        .feed-item {
            margin-bottom: 0;

            &.full:not(.has-desc) {
                border-radius: 5px;
                margin-bottom: $vertical-tile-margin;
            }
        }
        .desc {
            color: $hungry-text;
            font-size: 15px;
            font-weight: light;
            line-height: 22px;
            padding: 20px;
        }
    }
    &.collection-landing-promo {
        h1.name {
            white-space: normal;
        }
    }
}

// Editoral Brand colors.
[data-brand-color="ruby"]:before { background-color: $user-collections-ruby; }
[data-brand-color="amber"]:before { background-color: $user-collections-amber; }
[data-brand-color="emerald"]:before { background-color: $user-collections-emerald; }
[data-brand-color="topaz"]:before { background-color: $user-collections-topaz; }
[data-brand-color="sapphire"]:before { background-color: $user-collections-sapphire; }
[data-brand-color="amethyst"]:before { background-color: $user-collections-amethyst; }
[data-brand-color="garnet"]:before { background-color: $user-collections-garnet; }

// Editorial Brand icons.
[data-brand-type="groundbreaking"] h1:before {
    background-image: url(../img/icons/brands/groundbreaking-40px.png);
}
[data-brand-type="arts-entertainment"] h1:before {
    background-image: url(../img/icons/brands/arts&Entertainment-40px.png);
}
[data-brand-type="book"] h1:before {
    background-image: url(../img/icons/brands/books-40px.png);
}
[data-brand-type="creativity"] h1:before {
    background-image: url(../img/icons/brands/creativity-40px.png);
}
[data-brand-type="education"] h1:before {
    background-image: url(../img/icons/brands/education-40px.png);
}
[data-brand-type="games"] h1:before {
    background-image: url(../img/icons/brands/games-40px.png);
}
[data-brand-type="health-fitness"] h1:before {
    background-image: url(../img/icons/brands/health&Fitness-40px.png);
}
[data-brand-type="hidden-gem"] h1:before {
    background-image: url(../img/icons/brands/hiddenGem-40px.png);
}
[data-brand-type="lifestyle"] h1:before {
    background-image: url(../img/icons/brands/lifestyle-40px.png);
}
[data-brand-type="local-favorite"] h1:before {
    background-image: url(../img/icons/brands/LocalCommunityFavourite-40px.png);
}
[data-brand-type="maps-navigation"] h1:before {
    background-image: url(../img/icons/brands/maps&Nav-40px.png);
}
[data-brand-type="music"] h1:before {
    background-image: url(../img/icons/brands/music-40px.png);
}
[data-brand-type="mystery-app"] h1:before {
    background-image: url(../img/icons/brands/mysteryApp-40px.png);
}
[data-brand-type="local-favorite"] h1:before {
    background-image: url(../img/icons/brands/LocalCommunityFavourite-40px.png);
}
[data-brand-type="news-weather"] h1:before {
    background-image: url(../img/icons/brands/news&Weather-40px.png);
}
[data-brand-type="photo-video"] h1:before {
    background-image: url(../img/icons/brands/photos&Video-40px.png);
}
[data-brand-type="shopping"] h1:before {
    background-image: url(../img/icons/brands/shopping-40px.png);
}
[data-brand-type="social"] h1:before {
    background-image: url(../img/icons/brands/social-40px.png);
}
[data-brand-type="sports"] h1:before {
    background-image: url(../img/icons/brands/sports-40px.png);
}
[data-brand-type="tools-time-savers"] h1:before {
    background-image: url(../img/icons/brands/tools&TimesSavers-40px.png);
}
[data-brand-type="travel"] h1:before {
    background-image: url(../img/icons/brands/travel-40px.png);
}
[data-brand-type="work-business"] h1:before {
    background-image: url(../img/icons/brands/work&Business-40px.png);
}
[data-brand-type^="apps-for-"] h1:before {
    background-image: url(../img/icons/brands/countrySpecific-40px.png);
}

@media $base-desktop {
    .mini-tile {
        margin-top: $vertical-tile-margin;
    }
}

.collection-landing-promo,
.shelf-landing {
    .feed {
        padding-top: 0;
        max-width: 100%;
    }
    .detail-item {
        margin-left: 10px;
        width: $mobile-tile-width;

        &.header-block {
            margin-top: 0;
        }
    }
    .feed-item {
        border-radius: 0;
    }
}

@media $base-desktop {
    .collection-landing-listing .feed-tile-header-wrap {
        margin-bottom: $vertical-tile-margin;
    }
    .collection-landing-listing .desc {
        border-radius: 5px;
    }
    .collection-landing-promo,
    .shelf-landing {
        section.feed-item {
            border-radius: 5px 5px 0 0;
        }
        p.desc {
            border-radius: 0 0 5px 5px;
        }
    }
}

.collection-landing-promo,
.shelf-landing {
    .desc {
        background: #fff;
        box-shadow: 0 2px 1px -1px $cement-gray;
        margin-bottom: $vertical-tile-margin;
    }
}

.fanchor,
.app-link {
    &:hover,
    &:active {
        text-decoration: none;
    }
}

@media (max-width: 321px) {
    .collection-landing,
    .shelf-landing {
        .header-block,
        .feed-item {
            margin-left: 0;
            width: $feed-column-width;
        }
    }
}
@media (min-width: 321px) {
    .collection-landing,
    .shelf-landing {
        .header-block .desc {
            border-radius: 0 0 5px 5px;
        }
    }
}
