@import 'lib';

$support-nav-height = 55px;

#site-footer {
    display: none;
}

@media $base-desktop {
    #newsletter-footer {
        border-bottom: 1px solid $cloud-gray;
        border-top: 1px solid $cloud-gray;
    }

    #footzilla {
        background: url(../img/logos/footzilla.svg) no-repeat;
        float: left;

        a {
            display: block;
            height: 31px;
            hidetext();
            width: 115px;
        }
    }

    #footer {
        background: $white;
        border-top: 1px solid $cloud-gray;
        color: $note-gray;
        overflow: hidden;
        padding: 20px 0;
        width: 100%;

        .pad {
            padding: 22px 0 0;
        }
        p, ul {
            line-height: 1.3;
            margin: 0;
            padding-left: 1em;
        }
        ul {
            list-style: none;
        }
        p {
            float: left;
            font-size: 16px;
            width: 60%;
        }
        ul:not(.support-navigation) {
            float: right;
            font-size: 14px;
            line-height: 1.3;
            width: 20%;

            a {
                display: block;
            }
        }
        li + li {
            margin-top: 2px;
        }
        .pad,
        .support-navigation {
            margin: 0 auto;
            width: $max-site-width;
        }
        .support-navigation {
            border-bottom: 1px solid #e5e4e5;
            height: $support-nav-height;
            margin-top: -20px;
            padding: 0;
            text-align: center;

            li {
                display: inline-block;
                font-size: 17px;
                font-weight: 500;
                line-height: $support-nav-height;
                padding: 0 50px;
            }
        }
    }

    #site-footer {
        display: block;
    }
}
