@import 'lib';

$support-nav-height = 55px;

#site-footer {
    display: none;
}

@media $base-tablet {
    .footzilla {
        background: url(../img/logos/footzilla.svg) no-repeat;

        a {
            display: block;
            height: 31px;
            hidetext();
            width: 115px;
        }
    }
    .footer {
        background: $white;
        border-top: 1px solid $cloud-gray;
        color: $greyscale-grey;
        overflow: hidden;
        padding: 20px 0;
        width: 100%;

        p,
        ul {
            line-height: 1.3;
        }
        ul {
            list-style: none;
        }
        p {
            color: $action-neutral;
            flex-grow: 1;
            font-size: 16px;
            padding: 0 20px;
            width: 60%;
        }
        li + li {
            margin-top: 2px;
        }
        li a {
            display: block;
        }
    }
    .footer-content {
        display: flex;
        margin: 0 auto;
        max-width: $max-site-width;
        padding: 22px 20px;
    }
    .footer-extras {
        font-size: 14px;
        line-height: 1.3;
        margin: 0;
    }
    .footer-support-navigation {
        border-bottom: 1px solid $footer-border;
        display: flex;
        height: $support-nav-height;
        margin: -20px auto 0;
        max-width: 100%;
        padding: 0;
        text-align: center;

        li {
            flex-grow: 1;
            font-size: 17px;
            font-weight: 500;
            line-height: $support-nav-height;
            margin-top: 2px;
        }
    }
    #site-footer {
        display: block;
    }
}

@media $wide-desktop {
    .footer-content,
    .footer-support-navigation {
        width: $desktop-content;
    }
}
