@import 'lib';

mkt-header-child.header--search {
    display: flex;
}

.header--search-toggle {
    image-replacement('../img/nav/search.svg', 40px, 40px);
    background-size: 40px 140px;
    appearance: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;

    &.mkt-header-child--visible {
        background-position: 0 -100px;
    }
}

.header--search {
    padding: 0;
    justify-content: center;
}

.header--search-form {
    height: 100%;
    width: 100%;
}

.header--search-input {
    background: transparent;
    position: relative;
    z-index: 2;
}
