/*
    Styles for the global site header.
*/
@import 'lib';

.hamburger {
    order: 0;
}
.wordmark {
    order: 1;
}
mkt-header-nav {
    order: 2;
}
.header--search-toggle {
    order: 3;

    +media--wide-tablet() {
        margin: 0 30px;
    }
}
.header--settings-toggle {
    order: 4;

    +media--wide-tablet() {
        margin: 0 30px;
    }
}
.mkt-header--register {
    order: 5;
}
.mkt-header--login {
    order: 6;

    +media--wide-tablet() {
        margin: 0 30px 0 0;
    }
}

// Add header's height back as padding. Overridden when header not fixed.
body {
    padding-top: $header-height;
}

// We hide the recommendations tab by default and enable it via JS if user is
// logged in and opted in to recommendations.
[data-mkt-nav--item~="recommended"],
[data-mkt-header-nav--item~="recommended"] {
    display: none;
}
.show-recommendations [data-mkt-nav--item="recommended"],
.show-recommendations [data-mkt-header-nav--item="recommended"] {
    display: inline;
}

#site-header {
    align-items: center;
    background: $color--header--background;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 60px;
    padding: 0 5px;
    position: relative;

    +rtl() {
        // Keep the back and menu button on the left when RTL.
        flex-direction: row-reverse;
    }

    h1 {
        align-items: center;
        display: flex;
        height: 50px;
        line-height: 50px;
    }
    .mkt-header--title {
        ellipsis();
        flex-grow: 1;
        padding-right: $header-button-size;
    }
    // Marketplace logo.
    .wordmark {
        image-replacement('../img/nav/header-logo.svg', 34px, 42px);
        position: relative;
        top: 3px;

        +media--wide-tablet() {
            image-replacement('../img/nav/header-logo-beta.svg', 34px, 42px);
            margin: 0 30px;
        }
    }
    // Project name, appearing to the right of the Marketplace logo.
    .site-name {
        border-left: 1px solid $color--header--separator;
        color: $color--header--site-name;
        display: none;
        font-size: 16px;
        font-weight: 300;
        margin-left: 8px;
        padding: 4px 0 4px 12px;
        position: relative;
        top: 1px;  // Aligns baseline the wordmark's baseline;
    }
}

// Banners should cover the header children when above the header.
body > .banners mkt-banner {
    z-index: 70;
}

.hamburger {
    appearance: none;
    background: transparent;
    border: 0;
    display: inline-block;
    height: $header-button-size;
    padding: 0 10px;
    width: $header-button-size;
    hambacker();
    hambacker-menu();

    +media--wide-tablet() {
        display: none;
    }
}
[data-page-type~=leaf] .hamburger {
    hambacker-back();
}

// Usable on any header.
.header {
    background: $white;
    display: flex;
    height: $header-height;
    max-height: $header-height;
    position: relative;
    width: 100%;

    > * {
        align-self: center;
    }
}

// # for the primary site header *only*.
// If you need to generalize a style in here, move it.
.site-header {
    display: block;
    position: fixed;
    text-align: center;
    top: 0;

    &:before {
        display: none;
    }
    .site {
        height: $header-height;
        margin: 0 5px;
        width: 200px;

        a {
            display: block;
            height: 47px;
            hidetext();
            width: 100%;
        }
    }
    .wordmark {
        background: url(../img/pretty/marketplace_logo.png) 0 50% no-repeat;
        background-size: auto 37px;
        display: block;
        height: 47px;
    }
    .header-button {
        display: none;
    }
}

.close {
    background: url(../img/pretty/close.svg) 50% no-repeat;
    background-size: 18px auto;
    height: 34px;
    hidetext();
    position: absolute;
    right: 0;
    top: 0;
    width: $header-button-size;

    &:active {
        background: url(../img/pretty/close_active.svg) 50% no-repeat;
    }
}

// Buttons that appear in headers.
.header-button {
    color: $castle-skull-gray;
    display: block;
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    width: $header-height;  // $header-height so it's square.

    // header buttons with icons
    &.icon {
        position: relative;
        hidetext();
        &:after {
            background-repeat: no-repeat;
            content: "";
            display: block;
        }
    }
}

.persona-loaded .header-button.persona {
    cursor: pointer;
}

.header-button.persona {
    width: auto;
}

.subheader {
    h1,
    a {
        line-height: 37px;
        padding: 20px;
    }
}

.secondary-header,
.featured-header {
    position: relative;

    h2, h3 {
        color: $greyscale-black;
        font-weight: 300;
        margin-bottom: -3px;
        max-width: calc(unquote('100% - 75px'));
        min-width: 70%;
        padding-bottom: 3px;
        position: absolute;
    }
}

.category.featured {
    position: relative;
}

.secondary-header {
    background: $salt-flat-white;
    border-top: 1px solid $seavan-salt-white;
    margin-top: -1px;
    z-index: 19;

    &:before {
        // Because box-shadows can go suck it.
        bottom: -2px;
        content: "";
        display: block;
        background-image: linear-gradient(to top, rgba(15,15,15,0) 0%, rgba(15,15,15,.3) 100%);
        height: 2px;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    .subtitle {
        color: $earl-gray;
        font-size: 20px;
        font-weight: 300;

        &:before {
            content: "\00a0/\00a0";
            color: darken($seavan-salt-white, 4%);
            font-size: 30px;
        }
    }
}

.featured-header {
    padding: 5px 10px 25px;

    h3 {
        font-size: 20px;
        line-height: 20px;
    }
}

.featured .featured-header {
    padding-top: 15px;
}

.site-header .account-links,  // .site-header for specificity
.active .account-links {
    display: none;
}

#site-header .mkt-header--title {
    display: none;
}
[data-meow--enabled=true][data-page-type~=leaf] {
    #site-header .site,
    #site-header .header--search-toggle {
        display: none;

        +media--wide-tablet() {
            display: block;
        }
    }
    #site-header .mkt-header--title {
        display: block;

        +media--wide-tablet() {
            display: none;
        }
    }
}

@media $narrower-than-desktop {
    .secondary-header {
        height: 40px;

        h2 {
            font-size: 15px;
            line-height: 40px;
            margin: 0 10px;
        }
        .subtitle, .subtitle:before {
            font-size: 15px;
        }
        .subtitle {
            font-weight: 400;
        }
    }
    .featured .featured-header {
        padding-bottom: 20px;
    }
}

@media (min-width: 710px) {
    [data-page-type] main:before {
        display: none;
    }
}

@media $base-tablet {
    .subheader {
        h1,
        a {
            line-height: 1;
            margin: 0 0 30px;
            padding: 40px 10px 0;
        }
    }
    .secondary-header {
        background: none;
        border: 0;
        height: $header-height;
        max-height: $header-height;
        padding: 0;
        position: relative;

        &:before {
            display: none;
        }
        h2 {
            margin: 0;
            padding: 0;
        }
    }
    header.secondary-header {
        margin: 10px auto 20px;
        width: $max-site-width;

        h2 {
            font-size: 30px;
        }
    }
    .featured-header {
        padding: 15px 15px 5px;
    }

    body {
      padding-top: 0;
    }
    .site-header {
        height: 60px;
        max-height: 60px;
        position: relative;

        > nav {
            height: 60px;
            margin: 0 auto;
            max-width: $max-site-width;
            width: 95%;
        }
        .site {
            margin: 0;
            width: 232px;
        }
        .site, .site a, .wordmark {
            height: 60px;
        }
        .wordmark {
            background-position: -5px 50%;
            background-size: auto 46px;
            max-width: 232px;
            width: 232px;
        }
        .act-tray {
            display: none;
        }
    }
    .logged-in .site-header {
        .act-tray {
            display: block;
        }
        .persona {
            display: none;
        }
    }
    .active .account-links {
        display: block;
    }
    // How does the header look for the various page "types"?
    [data-page-type~=search],
    [data-page-type~=leaf] {
        .site {
            display: block;
        }
        .header--back {
            display: none;
        }
    }
    .desktop .wordmark {
        background: url(../img/pretty/marketplace-beta-logo.png) no-repeat 0 50% / 231px auto;
    }
    #site-header {
        +rtl() {
            flex-direction: row;
        }
    }
}

@media $retina-tablet {
    .site-header .wordmark {
        background: url(../img/pretty/marketplace-beta-logo2X.png) no-repeat 0 50% / 200px auto;
    }
}

@media $base-desktop {
    .subheader {
        h1,
        a {
            padding: 40px 0 0;
        }
    }
}
