@import 'lib';

// This is originally from elements--nav.styl.
$color--nav--child-bg = #1A95FC;

.category-list .mkt-nav--link {
    display: inline-block;
    line-height: $cat-icon-size-default;
    margin: 5px 0;
    padding: 10px;

    // Set the hover background on the :after to download it but make it
    // invisible.
    &:after {
        category-sprite-alt();
        content: '';
        display: inline-block;
        height: 0;
        opacity: 0;
        width: 0;
    }
    &:before {
        category-sprite();
        content: '';
        display: inline-block;
        margin: 0 10px 0 0;
        vertical-align: middle;
    }
    &.mkt-nav--active:before,
    &:hover:before {
        category-sprite-alt();
    }
}

.category-list:hover .mkt-nav--active.mkt-nav--link {
    background-color: transparent;
    color: $greyscale-white;

    &:before {
        category-sprite();
    }
    &:hover {
        background-color: $greyscale-white;
        color: $color--nav--child-bg;

        &:before {
            category-sprite-alt();
        }
    }
}

for $cat in $categories {
    [data-mkt-nav--item=\"{$cat}\"] {
        .mkt-nav--link.mkt-nav--active:before,
        .mkt-nav--link:hover:before,
        .mkt-nav--link:before {
            category-icon-position($cat);
        }
    }
    .category-list:hover [data-mkt-nav--item=\"{$cat}\"] .mkt-nav--active.mkt-nav--link:before {
        category-icon-position($cat);
    }
}

@media $wide-tablet {
    .category-list .mkt-nav--link {
        border: 2px solid rgba(255, 255, 255, 0.2);
        margin: 0;

        &:hover {
            border-color: $greyscale-white;
        }
    }
}
