@import 'lib';

// Rocketship placeholder for image deferrer.
img {
    transition: opacity .1s;
}
.screenshot .deferred {
    height: 60px;
    width: 60px;
}
div .deferred-background {
    background-size: 64px;
    background-position: center;
}
.screenshot img.deferred {
    /* Screenshots use placeholder image, make it look nice. */
    height: 60px;
    margin-top: 40px;
}

@media $base-desktop {
    [data-page-type~="detail"] .screenshot img.deferred {
        height: 120px;
        margin-top: 205px;
        width: 120px;
    }
}
