@import 'lib';

#incompatibility-banner {
    background: $grey-gardens-gray;
    color: $cement-gray;
    display: none;
    margin-top: 48px;
    overflow: hidden;
    position: relative;
    &:before,
    &:after {
        content: "";
        display: block;
        glow(rgba(0,0,0,0.85), 3px);
        height: 1px;
        position: relative;
        top: -1px;
        width: 100%;
    }
    &:after {
        bottom: -1px;
        top: auto;
    }
    a {
        display: table-cell;

        &.close {
            margin-top: -17px;
            top: 50%;
        }
    }
    p {
        background: url(../img/logos/firefox-256.png) no-repeat;
        background-size: 102px 96px;
        margin: 0 auto;
        max-width: $desktop-content;
        min-height: 95px;
        padding: 28px 60px 28px 110px;
        position: relative;
        text-align: left;
    }
}

@media $wider-desktop {
    #incompatibility-banner {
        margin-top: 0;
    }
}

@media $narrower-than-desktop {
    #incompatibility-banner {
        p {
            background-size: 85px 80px;
            min-height: 80px;
            padding: 20px 60px 20px 90px;
        }
    }
}

.show-incompatibility-banner {
    #incompatibility-banner {
        display: block;
    }
    main {
        padding-top: 48px;
    }
}

@media $narrower-than-desktop {
    .show-incompatibility-banner main {
        padding-top: 0;
    }
}

