@import 'lib';

#lightbox {
    background: rgba($greyscale-dark-grey, .8);
    color: white;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    text-align: center;
    top: 0;
    transition: .5s opacity ease;
    width: 100%;
    z-index: 9000;

    .close {
        background: $action-positive url(../img/pretty/close_lightbox.svg) no-repeat 50% center / 14px auto;
        border-radius: 50%;
        border: 1px solid $white;
        color: transparent;
        display: block;
        height: 30px;
        margin: 0;
        overflow: hidden;
        position: absolute;
        right: 20px;
        top: 20px;
        transition: 150ms;
        width: 30px;
        z-index: 20;

        +rtl() {
            left: 20px;
            right: auto;
        }
        &:active {
            background-color: $action-positive-tapped;
            background-image: url(../img/pretty/close_lightbox.svg);
        }
        &:hover {
            background-color: $action-positive-hover;
        }
    }
    &.show {
        opacity: 1;
        pointer-events: auto;
    }
    section {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border-radius: 10px;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .content {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        width: 100%;

        li {
            display: inline-block;
            height: 100%;
            position: relative;
            width: 100%;

            .throbber {
                display: none;
            }
            &.loading {
                > * {
                    display: none;
                }
                > .throbber {
                    // spinner() has to be first here.
                    spinner('loading');
                    background-size: 33px auto;
                    display: block;
                    height: 33px;
                    left: 50%;
                    margin-left: -17px;
                    margin-top: -17px;
                    position: absolute;
                    top: 50%;
                    width: 33px;
                }
            }
        }
    }
    img, video, .err {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-height: 95%;
        max-width: 95%;
        position: absolute;
        right: 0;
        top: 0;
        user-select: none;
    }
    .err {
        font-size: 100px;
        max-height: 80px;
        line-height: 60px;
    }
}

// Hide arrow buttons when overlay is up.
.overlayed div:not(#lightbox) .arrow-btn {
    display: none;
}
