@import 'lib';

.grid, .listing {
    clear: both;
    list-style: none;
    width: 100%;
}

// We need to duplicate these styles because we use this for
// .grid at desktop width and for .listing.grid-if-desktop at mobile width.
// TODO: Use this for mini-tiles. Tile unification part deux.
grid-style() {
    font-size: 0; // Nuke whitespace
    margin: 0 auto 10px;
    max-width: $desktop-content;

    li {
        display: inline-block;
        padding: 15px 10px;
        position: relative;
        vertical-align: top;
        width: (100% / 3);
    }
    .subdetail, .button, .cnt {
        display: none;
    }
    .product.mkt-tile {
        box-shadow: none;
        margin-bottom: 0;
        position: relative;
        width: 100%;

        .deferred {
            margin-bottom: 0;
        }
        &:hover .icon {
            opacity: .8;
        }
        &:active .icon {
            opacity: .4;
        }
        h3, .vital {
            font-size: 12px;
        }
        h3 {
            font-weight: 400;
            line-height: 16px;
            margin-bottom: -2px;
            padding-bottom: 2px;
        }
        .info {
            margin-left: 0;
            max-width: 78px;
            min-width: 78px;
        }
        .elliflow {
            max-width: 100%;
        }
        .price {
            color: $sailor-blue;
            font-weight: 400;
            margin-bottom: 2px;
        }
        .rating {
            padding: 0;
        }
    }
}

.grid {
    grid-style();
}

.bad-app {
    display: none;
}

.island {
    background: #fff;
    box-shadow: 0 1px 1px $cement-gray;
    font-size: 15px;
    line-height: 16px;
}

.category {
    .view-all {
        display: none;
    }
    .view-all-mbl {
        border-bottom: 1px solid $link;
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        margin: 0 auto 10px 50%;
        padding: 2px 25px;
        text-align: center;
        transform: translate(-50%, 0);

        &:before, &:after {
            border-left: 1px solid $link;
            bottom: 0;
            content: "";
            height: 5px;
            position: absolute;
            width: 0;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
    .listing {
        margin-top: 25px;
    }
}

// Rocketship placeholder for image deferrer.
img {
    transition(opacity .1s);
}
.screenshot .deferred {
    height: 60px;
    width: 60px;
}
div .deferred-background {
    background-size: 64px;
    background-position: center;
}
.screenshot img.deferred {
    /* Screenshots use placeholder image, make it look nice. */
    height: 60px;
    margin-top: 40px;
}
.gallery .icon.deferred {
    margin-bottom: 4px;
}

.new-pop-tabs {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;

    a {
        display: inline-block;
        ellipsis();
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        line-height: 29px;
        margin-top: 7px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 .5px 1px #fff;
        z-index: 2;
        vertical-align: bottom;
        &:hover {
            border-bottom: 2px solid $seavan-salt-white;
        }
        &.active {
            border-bottom: 2px solid $filters-link;
            pointer-events: none;
        }
        + a {
            margin-left: 30px;
        }
    }
}

@media $base-desktop {
    .island {
        border-radius: 10px;
    }
    .category {
        .view-all-mbl {
            display: none;
        }
        .view-all {
            display: block;
            float: right;
            font-weight: 300;
            // Bigger click area.
            margin: -10px -6px -3px;
            padding: 10px 6px 6px;
            position: relative;
            z-index: 1;
            &:after {
                content: " \00BB";
            }
        }
    }
    // Turn listing style into category horizontal style on desktop.
    .listing.grid-if-desktop {
        grid-style();
        li.item {
            background: none;
            border-radius: 0;
            box-shadow: none;
            margin: 0;

            .mkt-tile {
                padding: 0;
                .icon {
                    float: none;
                    position: static;
                }
            }
        }
        .subdetail, .bad-app, .button, .loadmore {
            display: none;
        }
        .price {
            display: block;
        }
    }

    .grid, .listing.grid-if-desktop.feed {
        max-width: $desktop-content;
        padding: 0 5px;

        li {
            width: (100% / 7);
            &:nth-child(8),
            &:nth-child(15) {
                clear: both;

                &:before {
                    content: "";
                    display: block;
                    height: 0;
                    left: -5px;
                    position: absolute;
                    top: -1px;
                    // Span 7 columns.
                    width: calc(unquote('700% + 10px'));
                }
            }
            // Show 21 at most.
            &:nth-child(21) ~ li {
                display: none;
            }
        }
    }
    .new-pop-tabs a {
        text-shadow: none;

        &.active:before, &.active:after {
            background-color: #fff;
        }
    }
}

.gallery {
    background: $seavan-salt-white;
}

.grid li {
    &:nth-child(4):before {
        content: "";
        display: block;
        height: 0;
        position: absolute;
        top: -1px;
        // Span 3 columns.
        width: calc(unquote('300% - 20px'));
    }
    // Show 3 at most (per UX).
    &:nth-child(3) ~ li {
        display: none;
    }
}
.new-pop-tabs + .view-all {
    display: none;
}

.listing {
    margin-bottom: 10px;

    li.item {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 1px $cement-gray;
        margin: 10px 10px 0;
        position: relative;

        &:hover {
            border-color: darken($seavan-salt-white, 10%);
        }
        &:not(.loadmore):last-child {
            margin-bottom: 10px;
        }
    }
}

@media $base-desktop {
    .listing li {
        &.item {
            margin: 25px 0 0;
        }
        a {
            position: static;
        }
    }
}

ratings-sidebar() {
    // These rules get applied on mobile detail page and desktop category listing pages.
    .rating .cnt {
        display: inline-block;
        // To line up with app name.
        margin-left: 3px;
        &.short {
            display: none;
        }
    }
    .subdetail {
        font-size: 12px;
        line-height: 18px;
    }
}

.listing {
    margin-bottom: 0;

    .bad-app {
        padding-top: 2px;
        padding-right: 100px;
        clear: left;
    }
    .install {
        clear: left;
        float: right;
    }
    &.app-header .mkt-tile {
        background: #fff;
    }

    &.app-header {
        background: #fff;
        border-radius: 10px 10px 0 0;

        .mkt-tile {
            border-radius: 10px 10px 0 0;
            ratings-sidebar();
        }
    }
}

@media $base-desktop {
    .listing {
        &:not(.grid-if-desktop) .mkt-tile {
            ratings-sidebar();
        }
        &.app-header {
            border-radius: 10px;
        }
        &.grid-if-desktop li {
            width: (100% / 7);
        }
    }
    .app-list.grid {
        li:nth-child(7n) {
            margin-right: 0;
        }
    }
    .listing.grid-if-desktop {
        padding: 0 5px;
    }
}
