@import 'lib';

$triangle-size = 20px;

.grid, .listing {
    clear: both;
    list-style: none;
    width: 100%;
}

// We need to duplicate these styles because we use this for
// .grid at desktop width and for .listing.grid-if-desktop at mobile width.
// TODO: Use this for mini-tiles. Tile unification part deux.
grid-style() {
    font-size: 0; // Nuke whitespace
    margin: 0 auto 10px;
    max-width: $desktop-content;

    li {
        display: inline-block;
        padding: 15px 10px;
        position: relative;
        vertical-align: top;
        width: (100% / 3);
    }
    .subdetail, .button, .cnt {
        display: none;
    }
    .product.mkt-tile {
        box-shadow: none;
        margin-bottom: 0;
        position: relative;
        width: 100%;

        .deferred {
            margin-bottom: 0;
        }
        &:hover .icon {
            opacity: .8;
        }
        &:active .icon {
            opacity: .4;
        }
        h3, .vital {
            font-size: 12px;
        }
        h3 {
            font-weight: 400;
            line-height: 16px;
            margin-bottom: -2px;
            padding-bottom: 2px;
        }
        .info {
            margin-left: 0;
            max-width: 78px;
            min-width: 78px;
        }
        .elliflow {
            max-width: 100%;
        }
        .price {
            color: $sailor-blue;
            font-weight: 400;
            margin-bottom: 2px;
        }
        .rating {
            padding: 0;
        }
    }
}

.grid {
    grid-style();
}

.listing.grid-if-desktop .mkt-tile + .tray,
.listing.grid-if-desktop .mkt-tile + .tray img {
    display: none;
}

// Previews tray.
.expanded .mkt-tile + .tray {
    display: block;
}

.mkt-tile + .tray {
    background: $salt-flat-white;
    border-radius: 0 0 10px 10px;
    display: none;
    height: 230px;
    overflow: hidden;
    padding: 21px 0 0;
    position: relative;

    &.single {
        // No dots so make it smaller. Leave 15px from bottom of screenshot to bottom of tray.
        height: 201px;
    }
    &.single .dots {
        display: none;
    }
    .slider {
        margin-top: 15px;
        overflow: hidden;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }
    ul {
        height: 150px; // 150 + 15
        list-style-type: none;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }
    li {
        float: left;
        margin-left: 15px;
        text-align: center;
        width: 150px; // Max height/width of image.
        &:first-child {
            margin-left: 0;
        }
        // The following creates a square container
        // that is as tall as the li is wide and
        // positions the img vertically and
        // horizontally center.
        .thumbnail {
            display: block;
            padding-bottom: 100%;
            position: relative;
            width: 100%;
        }
    }
}
.tray img {
    -moz-user-select: none;
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.mkt-tile + .single li {
    width: 100%;

    img {
        position: static;
    }
}

$dot-size = 13px;

.tray {
    .dots {
        margin-top: 13px;
        height: $dot-size;
        text-align: center;
        width: 100%;
    }
    .dot {
        background: $salt-flat-white;
        // Don't use shorthand, we do transitions.
        border-color: $cloud-gray;
        border-radius: ($dot-size/2);
        border-style: solid;
        border-width: 3px;
        cursor: pointer;
        display: inline-block;
        height: $dot-size;
        margin: 0 3px;
        transition-duration: 0.15s;
        transition-property: border-color, border-width;
        width: $dot-size;

        &.current,
        &:hover,
        &:active {
            border-color: $sailor-blue;
        }
        &.current {
            background: $sailor-blue;
        }
    }
}

.bad-app,
.shots .next,
.shots .prev {
    display: none;
}

.island {
    background: #fff;
    box-shadow: 0 1px 1px $cement-gray;
    font-size: 15px;
    line-height: 16px;
}

.category {
    .view-all {
        display: none;
    }
    .view-all-mbl {
        border-bottom: 1px solid $link;
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        margin: 0 auto 10px 50%;
        padding: 2px 25px;
        text-align: center;
        transform: translate(-50%, 0);

        &:before, &:after {
            border-left: 1px solid $link;
            bottom: 0;
            content: "";
            height: 5px;
            position: absolute;
            width: 0;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
    .listing {
        margin-top: 25px;
    }
}

// Rocketship placeholder for image deferrer.
img {
    transition(opacity .1s);
}
.screenshot .deferred {
    height: 60px;
    width: 60px;
}
div .deferred-background {
    background-size: 64px;
    background-position: center;
}
.screenshot img.deferred {
    /* Screenshots use placeholder image, make it look nice. */
    height: 60px;
    margin-top: 40px;
}
.gallery .icon.deferred {
    margin-bottom: 4px;
}

.tabs {
    position: absolute;
    top: 0;
    width: 100%;

    a {
        color: $london-fog-gray;
        display: inline-block;
        ellipsis();
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        line-height: 29px;
        margin-top: 7px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 .5px 1px #fff;
        z-index: 2;
        vertical-align: bottom;
        &:hover {
            border-bottom: 2px solid $seavan-salt-white;
        }
        &.active {
            border-bottom: 2px solid $flamin-hot-cheetos-orange;
            font-weight: 500;
            pointer-events: none;
        }
        + a {
            margin-left: 30px;
        }
    }
}

@media $base-desktop {
    .shots {
        position: relative;

        .next, .prev {
            border-radius: 0 30px 30px 0;
            border: 15px solid rgba(#252525,.7);
            height: 60px;
            margin-top: -30px;
            outline: 0;
            position: absolute;
            top: 50%;
            transition(all .2s linear);
            width: 0;
            z-index: 16;
            &:after {
                background: url(../img/icons/slider_arrow.png) no-repeat;
                content: "";
                float: right;
                height: 22px;
                left: 7px;
                position: relative;
                top: 4px;
                width: 15px;
            }
            &:hover {
                border-color: rgba(#252525,.9);
                border-left-width: 22px;
            }
            &:active {
                border-color: rgba(#777,.9);
            }
        }
        .next {
            border-radius: 30px 0 0 30px;
            right: 0;

            &:after {
                transform(scaleX(-1));
            }
            &:hover {
                border-left-width: 15px;
                border-right-width: 22px;
            }
        }
        .prev {
            left: 0;
        }
    }
    #lightbox {
        .next, .prev {
            box-shadow: 0 0 4px #fff;
        }
    }
    .island {
        border-radius: 10px;
    }
    .category {
        .view-all-mbl {
            display: none;
        }
        .view-all {
            display: block;
            float: right;
            font-weight: 300;
            // Bigger click area.
            margin: -10px -6px -3px;
            padding: 10px 6px 6px;
            position: relative;
            z-index: 1;
            &:after {
                content: " \00BB";
            }
        }
    }
    // Turn listing style into category horizontal style on desktop.
    .listing.grid-if-desktop {
        grid-style();
        li.item {
            background: none;
            border-radius: 0;
            box-shadow: none;
            margin: 0;

            .mkt-tile {
                padding: 0;
                .icon {
                    float: none;
                    position: static;
                }
            }
        }
        .subdetail, .bad-app, .button, .loadmore {
            display: none;
        }
        .price {
            display: block;
        }
    }

    .grid, .listing.grid-if-desktop.feed {
        max-width: $desktop-content;
        padding: 0 5px;

        li {
            width: (100% / 7);
            &:nth-child(8),
            &:nth-child(15) {
                clear: both;

                &:before {
                    content: "";
                    display: block;
                    height: 0;
                    left: -5px;
                    position: absolute;
                    top: -1px;
                    // Span 7 columns.
                    width: calc(unquote('700% + 10px'));
                }
            }
            // Show 21 at most.
            &:nth-child(21) ~ li {
                display: none;
            }
        }
    }
    .tabs a {
        text-shadow: none;

        &.active:before, &.active:after {
            background-color: #fff;
        }
    }
}

.purchases .mkt-tile + .tray {
    display: none;
}

.gallery {
    background: $seavan-salt-white;
}

.grid li {
    &:nth-child(4):before {
        content: "";
        display: block;
        height: 0;
        position: absolute;
        top: -1px;
        // Span 3 columns.
        width: calc(unquote('300% - 20px'));
    }
    // Show 3 at most (per UX).
    &:nth-child(3) ~ li {
        display: none;
    }
}
.tabs + .view-all {
    display: none;
}


@media $retina {
    .shots .next, .shots .prev {
        &:after {
            background: url(../img/icons/slider_arrow-2x.png) no-repeat;
            background-size: 15px auto;
        }
    }
}

.listing {
    margin-bottom: 10px;

    li.item {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 1px $cement-gray;
        margin: 10px 10px 0;
        position: relative;

        &:hover {
            border-color: darken($seavan-salt-white, 10%);
        }
        &:not(.loadmore):last-child {
            margin-bottom: 10px;
        }
    }
}

.search-listing .mkt-tile + .tray {
    border-radius: 0 0 5px 5px;
}

@media $base-desktop {
    .listing li {
        &.item {
            margin: 25px 0 0;

            .mkt-tile + .tray {
                border-radius: 0 0 5px 5px;
            }
        }
        a {
            position: static;
        }
    }
}

ratings-sidebar() {
    // These rules get applied on mobile detail page and desktop category listing pages.
    .rating .cnt {
        display: inline-block;
        // To line up with app name.
        margin-left: 3px;
        &.short {
            display: none;
        }
    }
    .subdetail {
        font-size: 12px;
        line-height: 18px;
    }
}

.listing {
    margin-bottom: 0;

    .bad-app {
        padding-top: 2px;
        padding-right: 100px;
        clear: left;
    }
    .install {
        clear: left;
        float: right;
    }
    &.expanded .mkt-tile + .tray {
        &:before, &:after {
            border-bottom: $triangle-size solid $salt-flat-white;
            bottom: 0;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            top: 0;
            width: 50%;
            z-index: 5;
        }
        &:before {
            // dotted gets rid of strange edge rendering in b2g.
            border-right: $triangle-size dotted transparent;
            left: -($triangle-size);
        }
        &:after {
            border-left: $triangle-size dotted transparent;
            right: -($triangle-size);
        }
    }

    &.expanded .mkt-tile + .tray:before,
    &.expanded .mkt-tile + .tray:after,
    &.product-details .mkt-tile {
        background: #fff;
    }

    &.product-details {
        background: #fff;
        border-radius: 10px 10px 0 0;

        .mkt-tile {
            border-radius: 10px 10px 0 0;
            ratings-sidebar();
            + .tray {
                border-radius: 0;
            }
        }
    }
}

@media $base-desktop {
    .mkt-tile + .tray {
        border-radius: 0;
    }
    .listing {
        &:not(.grid-if-desktop) .mkt-tile {
            ratings-sidebar();
        }
        &.product-details {
            border-radius: 10px;

            .mkt-tile {
                + .tray:after,
                + .tray:before {
                    background-image: none;
                }
            }
        }
        &.grid-if-desktop li {
            width: (100% / 7);
        }
    }
    .search-listing .mkt-tile + .tray {
        border-radius: 0 0 10px 10px;
    }
    .app-list.grid {
        li:nth-child(7n) {
            margin-right: 0;
        }
    }
    .listing.grid-if-desktop {
        padding: 0 5px;
    }
}
