@import 'lib';

.bad-app {
    display: none;
}

.island {
    background: #fff;
    box-shadow: 0 1px 1px $cement-gray;
    font-size: 15px;
    line-height: 16px;
}

// Rocketship placeholder for image deferrer.
img {
    transition(opacity .1s);
}
.screenshot .deferred {
    height: 60px;
    width: 60px;
}
div .deferred-background {
    background-size: 64px;
    background-position: center;
}
.screenshot img.deferred {
    /* Screenshots use placeholder image, make it look nice. */
    height: 60px;
    margin-top: 40px;
}

.new-pop-tabs {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;

    a {
        display: inline-block;
        ellipsis();
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        line-height: 29px;
        margin-top: 7px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 .5px 1px #fff;
        z-index: 2;
        vertical-align: bottom;
        &:hover {
            border-bottom: 2px solid $seavan-salt-white;
        }
        &.active {
            border-bottom: 2px solid $filters-link;
            pointer-events: none;
        }
        + a {
            margin-left: 30px;
        }
    }
}

@media $base-desktop {
    .new-pop-tabs a {
        text-shadow: none;

        &.active:before, &.active:after {
            background-color: #fff;
        }
    }
}
