@import 'lib';

.nav--settings--logged-in {
    display: none;
}

.logged-in .nav--settings--logged-in {
    display: list-item;
    list-style: none;
}

.logged-in .nav--settings--logged-out {
    display: none;
}

@media $wide-tablet {
    .logged-in .mkt-nav--item--settings,
    .mkt-nav--item--settings {
        display: none;
    }
}
