// Styles for the mobile navbar.
@import 'lib';

// TODO: rewrite navbar mobile-first.
$narrower-than-tablet = unquote('(max-width: 699px)');

[data-page-type~=settings] .header-button.settings,
.act-tray.active .settings {
    background-image: url(../img/pretty/gear.svg);
}

.navbar a {
    text-decoration: none;
}

.tab-item {
    display: inline-block;
    font-size: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
}

// We hide the recommendations tab by default and enable it via JS if user is
// logged in and opted in to recommendations.
.tab-item.recommended {
    display: none;
}
.show-recommendations .tab-item.recommended {
    display: inline-block;
}

.tab-link {
    border-bottom: 3px solid transparent;
    color: $navbar-text;
    display: block;

    &:hover {
        border-bottom-color: $bg-gray;
        color: $medium-gray;
    }
}

// Navbar active states.
[data-page-type~=homepage] [data-tab=homepage],
[data-page-type~=new] [data-tab=new],
[data-page-type~=popular] [data-tab=popular],
[data-page-type~=recommended] [data-tab=recommended],
[data-page-type~=categories] [data-tab=categories],
[data-page-type~=purchases] [data-tab=purchases],
[data-page-type~=feedback] [data-tab=feedback],
[data-page-type="root settings"] [data-tab=settings] {
    .tab-link {
        border-bottom: 3px solid $breezy-blue;
        color: $breezy-blue;

        &:hover {
            border-bottom-color: $breezy-blue;
        }
    }
}

@media $narrower-than-tablet {
    // Feed navigation (mobile only).
    header .act-tray,
    body[data-page-type~=settings] .back {
        display: none;
    }
    body[data-page-type~=settings] {
        .back {
            display: none;
        }
        .site {
            display: block;
            width: 35px;
        }
    }
    body[data-page-type~=leaf],
    body[data-page-type~=search] {
        .site-nav {
            // Slide out of view.
            bottom: 50px;
            margin-bottom: -50px;
        }
    }
    .site-nav {
        background: $navbar-gray;
        bottom: 0;
        height: 50px;
        overflow: hidden;
        position: relative;
        transition: bottom .5s, margin-bottom .5s;

        // act-tray is link to Settings tabs (e.g., Settings, Purchases).
        // mkt-tray is link to Marketplace tabs (e.g., Home, New, Popular).
        .act-tray,
        .mkt-tray {
            background-color: $cloud-gray;
            border: 1px solid $cement-gray;
            height: 51px;
            transition: right .4s;
            width: 56px;
            z-index: 2;

            &.active {
                right: 0;
                transition: right .2s .6s;
            }
            .header-button {
                background-size: 30px auto;
                right: 0;
                top: 0;
                width: 50px;
            }
        }
        .act-tray {
            border-radius: 0 80px 80px 0;
            bottom: 2px;
            position: relative;
            right: 55px;

            &.active .header-button.settings {
                background-image: url(../img/pretty/gear.svg);
            }
            a.settings {
                height: 50px;
            }
        }
        .mkt-tray {
            border-radius: 80px 0 0 80px;
            bottom: 0;
            position: absolute;
            right: -60px;

            a.back-to-marketplace {
                background: url(../img/pretty/marketplace-icon.svg) 50% 50% no-repeat;
                background-size: 30px auto;
                display: block;
                height: 50px;
                position: absolute;
                width: 50px;
            }
        }
        .account-links {
            display: none;
        }
    }

    .navbar {
        display: inline-block;
        opacity: 1;
        padding: 8px 0;
        position: absolute;
        top: 0;
        transition: right .5s ease-out, left .3s ease-in;
        user-select: none;
        white-space: nowrap;
        width: 100%;

        &.nav-mkt {
            visibility: hidden;
            right: -100%;

            &.active {
                right: -65px;
                visibility: visible;
            }
        }
        &.nav-settings {
            visibility: hidden;
            right: 100%;

            &.active {
                right: 0;
                visibility: visible;
            }
        }
    }

    .tab-item {
        top: 2px;
    }

    .tab-link {
        color: $navbar-text;
        height: 38px;
        line-height: 32px;
        padding: 0 10px;
    }

    .desktop-cat-link {
        display: none;
    }
}

@media $base-tablet {
    .navbar.nav-settings,
    .act-tray,
    .mkt-tray {
        display: none;
    }
    .site-nav {
        background-color: #E0E0E0;
        margin: 0 auto;
        z-index: 25;
    }
    .navbar {
        display: inline-block;
        margin: 0 auto;
        left: 0;
        height: 100%;
        opacity: 1;
        position: absolute;
        right: 0 !important;  // navbar.js sets rule on `style`, so override.
        text-align: center;
        top: 0;
        user-select: none;
        white-space: nowrap;
        width: fit-content;
    }

    .tab-item {
        line-height: 50px;
        padding: 0 60px;

        &.active > .tab-link {
            color: $breezy-blue;
        }
    }
    .tab-link {
        display: block;
        outline: 0;
        height: $header-height;
    }

    .mobile-cat-link {
        display: none;
    }

    .desktop-cat-link {
        display: inline;

        &:after {
            border: 4px solid transparent;
            border-top: 7px solid $dark-gray;
            content: "";
            margin-left: 8px;
            position: absolute;
            top: 20px;
        }

        &:hover {
            border-bottom-color: transparent;
        }
    }

    .tab-categories {
        cursor: pointer;

        // `link-clicked` class gets set in JS when a category link is clicked.
        // When a category link is pressed, "Categories" no longer is blue.
        &:hover {
            padding-bottom: 30px;  // Increase hover area.
        }
        &:not(.link-clicked):hover {
            .tab-link {
                color: $breezy-blue;
            }

            .desktop-cat-link:after {
                border-top-color: $breezy-blue;
            }
        }
    }

    [data-page-type~=settings] .header-button.settings {
        background-image: url(../img/pretty/settings_gear.svg);
    }

    [data-page-type~=categories] [data-tab=categories] {
        &:hover .tab-link,
        .tab-link:hover {
            border-bottom-color: transparent;
        }
    }
}

@media $wide-desktop {
    .site-nav {
        top: 0;
    }
}
