@import 'lib';

$arrow-size = 10px;

.newsletter-footer {
    background: $navbar-gray;
    display: none;
    padding: 20px;
}

.newsletter {
    position: relative;
    text-align: center;

    form,
    .success {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        max-width: $desktop-ftr;

        +ltr() {
            text-align: left;
        }
        +rtl() {
            text-align: right;
        }
    }
    .submitted-once input:invalid {
        box-shadow: 0px 0px 2px 2px $action-error;
    }
    .processing-hidden {
        visibility: hidden;
    }
    .success,
    .processing {
        display: none;
    }
    .success p {
        margin-top: 5px;
        line-height: 1.3;
    }
    .processing {
        height: 100%;
        position: absolute;
        right: 0;
        text-align: center;
        top: calc(unquote('50% - 30px'));
        width: 100%;
    }
    .spinner {
        display: inline-block;
        margin: 0;
    }
    h3 {
        color: $greyscale-black;
        font-size: 20px;
        padding: 5px 0 20px;
    }

    .privacy {
        clear: left;
        max-width: 450px;

        label {
            color: $black;
            display: inline;
            font-weight: 400;
        }

        input {
            margin: 0;
        }
    }

    .error-message {
        background-color: $action-error;
        border: 1px solid darken($action-error, 50%);
        border-radius: 5px;
        color: $white;
        display: inline-block;
        margin-bottom: $arrow-size;
        padding: $arrow-size;
        position: relative;

        &:after {
            background-color: $action-error;
            border: 1px solid darken($action-error, 50%);
            border-radius: 2px;
            border-width: 0 1px 1px 0;
            bottom: ($arrow-size / 2) * -1 - 1;
            content: '';
            display: inline-block;
            height: $arrow-size;
            position: absolute;
            transform: rotate(45deg);
            width: $arrow-size;

            +ltr() {
                left: $arrow-size;
            }
            +rtl() {
                right: $arrow-size;
            }
        }
    }
}

.newsletter-signup-page {
    background: $white;
    padding: 10px;

    h3 {
        margin-bottom: 20px;
    }
    .newsletter-details {
        transition: none;
    }
}

.newsletter-email-field,
.newsletter-select {
    background: $white;
    height: 36px;
    padding: 5px 6px;
}

.newsletter-email-field {
    +ltr() {
        margin-right: 5px;
    }
    +rtl() {
        margin-left: 5px;
    }
}

.expanding.newsletter-details {
    opacity: 0;
}

.newsletter-details {
    display: block;
    opacity: 1;
    transition: .3s;
    width: 100%;
}

.expanded.newsletter-details {
    transition: none;
}

.newsletter-desktop {
    display: none;
}

.newsletter-email-field,
.newsletter-select,
.newsletter-signup-button,
.newsletter-cancel-button {
    width: 100%;
}

.newsletter-cancel-button,
.newsletter-signup-button {
    margin: 15px 0 0;
}

.newsletter-details {
    margin-top: 20px;

    input,
    select,
    button {
        margin: 0 20px 20px 0;
    }
    select {
        +rtl() {
            margin-right: 0;
        }
    }
}

@media $base-desktop {
    .newsletter-email-field,
    .newsletter-select {
        width: 350px;
    }
    .newsletter-email-field {
        +rtl() {
            margin: 0;
        }
    }
    .newsletter-select {
        +rtl() {
            margin-right: 0;
        }
    }
    .newsletter-details.collapsed,
    .newsletter-mobile {
        display: none;
    }
    .newsletter-desktop {
        display: inline-block;
    }
    .newsletter-signup-button,
    .newsletter-cancel-button {
        width: auto;
        margin: 0;
        border-radius: 5px;
    }
    .newsletter-footer {
        border-bottom: 1px solid $footer-border;
        border-top: 1px solid $footer-border;
        display: block;
    }
}
