@import "lib";

.pretty-select {
    background-color: $primary-blue;
    border: 1px solid darken($primary-blue, 10%);
    border-radius: 5px;
    font-weight: normal;
    font-size: 20px;
    height: 40px;

    // Above styles are defined separately in Transonic.
    cursor: pointer;
    display: inline-block;
    padding: 0;
    overflow: hidden;
    position: relative;

    &:before {
        // Custom dropdown arrow
        dropdown();
        background: none;
        color: #fff;
        content: '\25BC';
        font-size: 10px;
        top: 14px;
        right: -2px;
        z-index: 2;
    }
    &:after {
        // Hide the native `<select>` arrow.
        background: $primary-blue;
        border: 0;
        content: "";
        display: block;
        height: 100%;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 75px;
        z-index: 1;
    }
    select {
        -moz-padding-start: 10px;
        appearance-none();
        background: none;
        border: 0;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        height: 40px;
        max-width: none;
        min-width: 229px;
        outline: 0;

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #fff;
        }
    }
    option {
        background: #fff;
        color: $text;
        padding: 5px;
    }
}
