@import 'lib';

$dot-size = 13px;
$triangle-size = 20px;

.listing.grid-if-desktop .tray,
.listing.grid-if-desktop .tray img {
    display: none;
}

// Previews tray.
.expanded .tray {
    display: block;
}

.tray {
    background: $salt-flat-white;
    border-radius: 0 0 10px 10px;
    display: none;
    height: 230px;
    overflow: hidden;
    padding: 21px 0 0;
    position: relative;

    &.single {
        // No dots so make it smaller. Leave 15px from bottom of screenshot to bottom of tray.
        height: 201px;
    }
    &.single .dots {
        display: none;
    }
    .slider {
        margin-top: 15px;
        overflow: hidden;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }
    ul {
        height: 150px; // 150 + 15
        list-style-type: none;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }
    li {
        float: left;
        margin-left: 15px;
        text-align: center;
        width: 150px; // Max height/width of image.
        &:first-child {
            margin-left: 0;
        }
        // The following creates a square container
        // that is as tall as the li is wide and
        // positions the img vertically and
        // horizontally center.
        .thumbnail {
            display: block;
            padding-bottom: 100%;
            position: relative;
            width: 100%;
        }
    }
}
.tray img {
    -moz-user-select: none;
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.mkt-tile + .single li {
    width: 100%;

    img {
        position: static;
    }
}

.tray {
    .dots {
        margin-top: 13px;
        height: $dot-size;
        text-align: center;
        width: 100%;
    }
    .dot {
        background: $salt-flat-white;
        // Don't use shorthand, we do transitions.
        border-color: $cloud-gray;
        border-radius: ($dot-size/2);
        border-style: solid;
        border-width: 3px;
        cursor: pointer;
        display: inline-block;
        height: $dot-size;
        margin: 0 3px;
        transition-duration: 0.15s;
        transition-property: border-color, border-width;
        width: $dot-size;

        &.current,
        &:hover,
        &:active {
            border-color: $sailor-blue;
        }
        &.current {
            background: $sailor-blue;
        }
    }
}

.shots .next,
.shots .prev {
    display: none;
}

.purchases .tray {
    display: none;
}

.search-listing .tray {
    border-radius: 0 0 5px 5px;
}

.expanded .tray {
    &:before, &:after {
        border-bottom: $triangle-size solid $salt-flat-white;
        bottom: 0;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        top: 0;
        width: 50%;
        z-index: 5;
    }
    &:before {
        // dotted gets rid of strange edge rendering in b2g.
        border-right: $triangle-size dotted transparent;
        left: -($triangle-size);
    }
    &:after {
        border-left: $triangle-size dotted transparent;
        right: -($triangle-size);
    }
}
.expanded .tray:before,
.expanded .tray:after {
    background: #fff;
}
.product-details .tray {
    border-radius: 0;
}

[data-page-type~="detail"] .tray {
    // Offset div padding.
    right: 10px;
    width: unquote('calc(100% + 20px)');
}

@media $base-desktop {
    .listing li .tray {
        border-radius: 0 0 5px 5px;
    }
    .tray {
        border-radius: 0;
    }
    .listing.product-details {
        .mkt-tile {
            + .tray:after,
            + .tray:before {
                background-image: none;
            }
        }
    }
    .search-listing .tray {
        border-radius: 0 0 10px 10px;
    }
    .shots {
        position: relative;

        .next, .prev {
            border-radius: 0 30px 30px 0;
            border: 15px solid rgba(#252525,.7);
            height: 60px;
            margin-top: -30px;
            outline: 0;
            position: absolute;
            top: 50%;
            transition(all .2s linear);
            width: 0;
            z-index: 16;

            &:after {
                background: url(../img/icons/slider_arrow.png) no-repeat;
                content: "";
                float: right;
                height: 22px;
                left: 7px;
                position: relative;
                top: 4px;
                width: 15px;
            }
            &:hover {
                border-color: rgba(#252525,.9);
                border-left-width: 22px;
            }
            &:active {
                border-color: rgba(#777,.9);
            }
        }
        .next {
            border-radius: 30px 0 0 30px;
            right: 0;

            &:after {
                transform(scaleX(-1));
            }
            &:hover {
                border-left-width: 15px;
                border-right-width: 22px;
            }
        }
        .prev {
            left: 0;
        }
    }
    #lightbox {
        .next, .prev {
            box-shadow: 0 0 4px #fff;
        }
    }
}

@media $retina {
    .shots .next, .shots .prev {
        &:after {
            background: url(../img/icons/slider_arrow-2x.png) no-repeat;
            background-size: 15px auto;
        }
    }
}
