@import 'lib';

$bar-height = 3px;
$tray-height = 170px;
$thumbnail-height = 150px;
$full-shot-height = 520px;
$desktop-tray-height = 540px;

// Previews tray.
.previews-expanded .previews-tray {
    display: block;
}

.previews-tray {
    background: $greyscale-grey;
    display: none;
    height: $tray-height + $bar-height;
    overflow: hidden;
    position: relative;
    top: 20px;

    ul {
        height: $thumbnail-height;
        list-style-type: none;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }
    li {
        float: left;
        margin-left: 10px;
        text-align: center;
        width: $thumbnail-height;

        &:first-child {
            margin-left: 0;
        }
    }
    // The following creates a square container
    // that is as tall as the li is wide and
    // positions the img vertically and
    // horizontally center.
    .previews-thumbnail {
        display: block;
        outline: 0;
        padding-bottom: 100%;
        position: relative;
        width: 100%;
    }
    img,
    video {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.previews-slider {
    disable-user-select();
    overflow: hidden;
    padding-top: 10px;
}

.previews-bars {
    background: $white;
    display: flex;
    margin-top: 10px;
    height: $bar-height;
    text-align: center;
    width: 100%;

    b {
        flex-grow: 1;
        height: $bar-height;
        margin: 0;

        &.current {
            background: $action-positive;
        }
    }
}

.previews-slider {
    position: relative;

    .arrow-btn {
        display: block;
        margin-top: -10px;
        outline: 0;
        position: absolute;
        top: 50%;
        z-index: 16;
    }
    .arrow-btn-prev {
        left: 20px;
    }
    .arrow-btn-next {
        right: 20px;
    }
}

[data-page-type~="detail"] .previews-tray {
    height: $tray-height + $bar-height;
    margin-left: -10px;
    position: relative;
    top: 0;
    width: unquote('calc(100% + 20px)')

    +rtl() {
        margin-right: -10px;
    }
    .previews-bars {
        margin-top: 10px;
    }
}

.loading .previews-bars {
    display: none;
}

.previews-tray[data-previews-desktop] {
    display: none;
}

[data-page-type~="detail"] .previews-tray[data-previews-desktop] {
    // Make it bigger on desktop detail.
    height: $desktop-tray-height + $bar-height;
    margin: 0 auto;
    margin-left: 0;

    .previews-content {
        height: $full-shot-height;

        li {
            height: $full-shot-height;
            width: $full-shot-height;
        }
    }
}

@media $base-desktop {
    [data-page-type~="detail"] .previews-tray {
        &:not([data-previews-desktop]) {
            display: none;
        }
        &[data-previews-desktop] {
            display: block;
        }
    }
}
