@import 'lib';

$bar-height = 3px;
$tray-height = 170px;
$thumbnail-height = 150px;
$full-shot-height = 520px;
$desktop-tray-height = 540px;

// Previews tray.
.expanded .previews-tray {
    display: block;
}

.previews-tray {
    background: $greyscale-grey;
    display: none;
    height: $tray-height + $bar-height;
    overflow: hidden;
    position: relative;
    top: 20px;

    ul {
        height: $thumbnail-height;
        list-style-type: none;
        margin: 0 auto;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }
    li {
        float: left;
        margin-left: 10px;
        text-align: center;
        width: $thumbnail-height;

        &:first-child {
            margin-left: 0;
        }
        // The following creates a square container
        // that is as tall as the li is wide and
        // positions the img vertically and
        // horizontally center.
        .thumbnail {
            display: block;
            outline: 0;
            padding-bottom: 100%;
            position: relative;
            width: 100%;
        }
    }
    img {
        bottom: 0;
        display: block;
        left: 0;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.previews-slider {
    disable-user-select();
    overflow: hidden;
    padding-top: 10px;
}

.mkt-tile + .single-preview li {
    width: 100%;
}

.single-preview .previews-desktop-content > li {
    width: 100%;

    .thumbnail {
        height: $full-shot-height;
        padding: 0;
    }
}

.single-preview .previews-content {
    width: 100%;

    > li {
        width: 100%;
    }
    .thumbnail {
        height: 150px;
        padding: 0;
    }
}

.previews-bars {
    background: $white;
    display-flex();
    margin-top: 10px;
    height: $bar-height;
    text-align: center;
    width: 100%;

    b {
        flex-grow(1);
        height: $bar-height;
        margin: 0;

        &.current {
            background: $action-positive;
        }
    }
}

.previews-desktop-content,
.previews-tray .arrow-button {
    display: none;
}

.single-preview .previews-content {
    width: 100%;

    > li {
        width: 100%;
    }
    .thumbnail {
        height: 150px;
        padding: 0;
    }
}

[data-page-type~="detail"] .previews-tray {
    height: $tray-height + $bar-height;
    margin-left: -10px;
    top: 0;
    width: unquote('calc(100% + 20px)')

    .previews-bars {
        margin-top: 10px;
    }
}

@media $base-desktop {
    .previews-slider {
        position: relative;

        .arrow-button {
            display: block;
            margin-top: -10px;
            outline: 0;
            position: absolute;
            top: 50%;
            z-index: 16;
        }
        .next {
            right: 20px;
        }
        .prev {
            left: 20px;
        }
    }
    [data-page-type~="detail"] .previews-tray {
        height: $desktop-tray-height + $bar-height;
        margin: 0 auto;
        margin-left: 0;
        position: relative;

        .previews-content {
            display: none;
        }
        .previews-desktop-content {
            display: block;
        }
    }
    .previews-tray .previews-desktop-content {
        height: $full-shot-height;
    }
    .previews-desktop-content li {
        height: $full-shot-height;
        width: $full-shot-height;
    }
}

.loading .previews-bars {
    display: none;
}
