@import 'lib';

.no-results {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
    opacity: .5;
    padding: 20px;
    text-align: center;
}

#search-results {
    margin-top: -6px;
}

@media $base-desktop {
    #search-results {
        margin-top: 0;

        .listing > li {
            .shots .next,
            .shots .prev {
                opacity: 0;
            }
            &:hover {
                .shots .next,
                .shots .prev {
                    opacity: 1;
                }
            }
        }
    }
}
