@import 'lib';

.no-results {
    color: $action-neutral;
    font-weight: 500;
    padding: 50px;
    text-align: center;
}

.search-results-header b {
    font-weight: 400;
}

.search-results-header .app-list-filters-expand-toggle {
    position: relative;
    top: -2px;
}

#search-results {
    margin-top: -3px;
}

.empty-search .app-list-filters {
    bottom: -5px;
}

.empty-search .app-list-filters-expand-wrapper {
    display: none;
}

.search-results-header-desktop {
    display: none;
}

@media $base-tablet {
    .empty-search .app-list-filters {
        bottom: inherit;
    }
    .search-results-header-mobile {
        display: none;
    }
    .search-results-header-desktop {
        display: block;
    }
}

@media $base-desktop {
    #search-results {
        margin-top: 0;
    }
}
