/*
    Settings hover dropdown for at least tablet that displays account links.
    .header-settings-wrap wraps the settings icon and dropdown.
    On mouseover/tap, an .active class will be applied to display the dropdown.
*/
@import 'lib';


.site-header nav .header-settings-wrap {
    display: none;
}

@media $base-tablet {
    .site-header .search {
        margin-right: 0;
    }
    .site-header nav .header-settings-wrap {
        display: block;
    }
    .header-settings-wrap.active {
        .icon {
            background-image: url(../img/pretty/settings_gear_active.svg);
        }
        .triangle,
        .settings-hover-desktop {
            display: block;
        }
    }
    [data-page-type~=settings] {
        .header-settings-wrap .icon {
            background-image: url(../img/pretty/settings_gear_active.svg);
        }
    }
    // The hover dropdown.
    .settings-hover-desktop {
        cursor: pointer;
        display: none;
        position: absolute;
        right: 25px;
        top: 50px;
        width: 240px;
        z-index: 2;

        ul {
            background: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 1px 0px $cloud-gray;  // Bottom box-shadow.
            line-height: 20px;
            list-style-type: none;
            padding: 5px 20px;
        }
        li {
            position: relative;

            + li {
                border-top: 1px solid $cloud-gray;
            }
        }
        a {
            color: $text;
            display: block;
            font-size: 14px;
            padding: 10px 0;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
        .email {
            color: $primary-blue;
            display: block;
            font-weight: 300;
        }
    }
    .header-settings-wrap {
        height: 80px;
        right: 0;
        top: 0;
        width: 80px;

        &.settings.active {
            margin-left: -60px;
        }
        .triangle {
            display: none;
            position: relative;
            margin: 62px 54px;

            &:after {
                border: 10px solid #fff;
                border-color: transparent transparent #fff #fff;
                box-sizing: border-box;
                box-shadow: -1px 1px 0 0 $faint-gray;
                content: "";
                height: 0;
                left: 50%;
                position: absolute;
                transform-origin: 0 0;
                transform: rotate(135deg);
                width: 0;
            }
        }
    }
}
