@import 'lib';

// Site-wide or structural styles only in this file.
// Can't find a better file for your style? Create one!
// This is not your diaper.

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    //text-rendering: optimizeLegibility;
    word-wrap: break-word;
}

.js-hidden, .hidden {
    display: none;
}

.emaillink-wrapper {
    /* Necessary when emaillink is in a paragraph. */
    display: inline-block;
}

span.emaillink {
    direction: rtl;
    unicode-bidi: bidi-override;

    .i {
        display: none;
    }
}

noscript {
    background: $salt-flat-white;
    display: table;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;

    p {
        background: url(../img/pretty/marketplace_logo.png) 50% 48% no-repeat;
        background-size: auto 60px;
        display: table-cell;
        font-weight: bold;
        height: 100%;
        padding-top: 60px;
        text-align: center;
        vertical-align: middle;
    }
}

a {
    text-decoration: none;
    color: $sailor-blue;

    &:hover {
        text-decoration: underline;
    }
    &:not([href]) {
        cursor: pointer;
    }
}

body {
    background: $seavan-salt-white;
    color: $castle-skull-gray;
    // min-height needed so ff b2g/android can scroll to 0 (bug 872622).
    min-height: 300px;
    overflow-x: hidden;
    transform-origin: 50% 400px;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
}

#site-header, #page {
    min-width: 320px;

    section.main {
        margin-left: auto;
        margin-right: auto;
        position: relative;

        &:after {
            content: '';
            display: block;
            clear: both;
        }
        &.full {
            width: 100%;

            > div {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

#page {
    position: relative;
}

.row {
    clear: both;
}

.detailed-error, .fragment-error {
    background: #fff;
}

.detailed-error {
    padding: 15px;
}

.fragment-error {
    display: block;
    padding: 15px;

    b {
        display: block;
    }
}

.main {
    margin: 0 auto;

    .fragment-error {
        padding: 0;
    }
}
#page > .overlay {
    max-width: 100%;
}

.two-up {
    width: 50%;
    float: left;

    &:nth-child(2n+1) {
        padding: 0 5px 0 0;
    }
    &:nth-child(2n) {
        padding: 0 0 0 5px;
    }
    .button {
        display: block;
    }
}

#site-footer,
.only-logged-in,
.logged-in .only-logged-out {
    display: none;
}

.only-logged-out,
.logged-in .only-logged-in {
    display: block;
}

.spinner {
    spinner();
    &.alt {
        spinner-alt-image();
    }
    &.btn-replace {
        spinner-abs();
        top: 24px;
    }
    &.spaced {
        margin: 70px auto;
    }
    &.padded {
        padding: 70px 0;
    }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0turn); }
    to { -webkit-transform: rotate(1turn); }
}
@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

.roll {
    animation(unquote('0.9s spin 1 steps(30)'));
}

.hampster {
    background: url(../img/icons/eggs/h1.gif);

    #site-header {
        background: #fff url(../img/icons/eggs/h4.gif);
    }
}

@media $narrower-than-desktop {
    .hide-on-mobile {
        display: none;
    }
}

@media $at-least-desktop {
    .hide-on-desktop {
        display: none !important;
    }

    html, #footer {
        background: #fff;
    }

    #page {
        padding-top: 18px;
    }

    #footer,
    #directory-footer {
        padding: 48px 0;

        ul {
            list-style: none;
        }
    }

    #newsletter-footer {
        border-bottom: 1px solid $cloud-gray;
        border-top: 1px solid $cloud-gray;
    }

    #directory-footer {
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;

        .links a {
            margin-top: 8px;
            + a {
                margin-top: 10px;
            }
        }
        .devhub {
            width: 290px;

            // TODO: Get Michael to vectorize this as an SVG.
            &:before {
                background: url(../img/pretty/rocket.png) 0 50% no-repeat;
                background-size: 20px auto;
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: top;
                width: 28px;
            }
        }
        .group {
            float: left;
            min-height: 48px;
            position: relative;

            a {
                display: block;
            }
            + .group {
                padding-left: 68px;
                max-width: 200px;
            }
        }
        .group.language {
            max-width: 230px;
            width: 230px;
        }
    }

    #page .main,
    .main {
        max-width: $desktop-content;
    }

    .container {
        &.product-details,
        &.results {
            margin: 50px 0;
        }
        &.prose,
        &.form-grid {
            padding: 25px;
        }
    }

    #footzilla {
        background: url(../img/logos/footzilla.png) 0 3px no-repeat;
        float: left;
        width: 100px;

        a {
            display: block;
            height: 26px;
            hidetext();
            width: 80px;
        }
    }

    #footer {
        border-top: 1px solid $cloud-gray;
        color: $note-gray;
        overflow: hidden;
        padding: 20px 0;
        width: 100%;

        .pad {
            margin: 0 auto;
            padding: 0;
            width: 1024px;
        }
        p, ul {
            border-left: 1px dotted $light-gray;
            font-size: 11px;
            line-height: 1.3;
            margin: 0;
            padding-left: 1em;
        }
        p {
            float: left;
            width: 60%;
        }
        ul {
            float: right;
            line-height: 1.2;
            width: 20%;

            a {
                display: block;
            }
        }
        li + li {
            margin-top: 2px;
        }
    }

    #site-footer {
        display: block;
    }

    @media $retina {
        #footzilla {
            background-image: url(../img/logos/footzilla-2x.png);
            background-size: 81px auto;
        }
    }
} // End of Desktop.

.region {
    background-repeat: no-repeat;
    background-size: 20px auto;
    color: $medium-gray;
    display: inline-block;
    margin-top: 6px;
    min-height: 20px;
    overflow: visible;
    padding: 2px 0 2px 28px;
    text-overflow: normal;
}

for region in ar bd br cl cn co cr cz de ec es fr gr gt hu "in" it jp me mx ni pa pe ph pl rs ru sv uk us uy ve za restofworld
    .region-{region} {
        background-image: url(unquote('../img/icons/regions/' + region + '.png'));
    }

@media $retina {
    .spinner {
        spinner-base-image('retina');
        &.alt {
            spinner-alt-image('retina');
        }
    }
}

/* For Firefox for Android. */
button:not([disabled]):active,
input:not([disabled]):active,
select:not([disabled]):active,
textarea:not([disabled]):active,
option:active,
label:active,
a:active {
    background: transparent;
}

// Hide the regular UI for standalone pages.
[data-page-type=standalone-loading] {
    > * {
        display: none !important;
    }

    #splash-overlay {
        display: block !important;
        opacity: 1 !important;
    }

    #splash-overlay .throbber {
        display: inline-block !important;
    }
}
