/*
    Site-wide or structural styles ONLY. This is not your diaper.
    section.full - section that visually expands full width, with top
                   and bottom padding, and margins in between other
                   full sections.
*/
@import 'lib';

* {
    box-sizing: border-box;
    //text-rendering: optimizeLegibility;
    word-wrap: break-word;
}

body {
    background: $tile-border;
    color: $castle-skull-gray;
    // min-height needed so ff b2g/android can scroll to 0 (bug 872622).
    min-height: 300px;
    overflow-x: hidden;
    padding-bottom: 60px; // Fixed mobile bottom nav spacing.
    transform-origin: 50% 400px;
    transition: transform 1s;
    // When the mobile nav is open the body width becomes 340px when the screen
    // is 320px wide. I don't know why that happens. This fixes it. (mstriemer)
    width: 100%;
}

#page {
    position: relative;
}

#site-header,
#page {
    min-width: 320px;
}

.main {
    margin: 0 auto;

    .fragment-error {
        padding: 0;
    }
}

.mobile-margined {
    margin-bottom: 10px;
    margin-top: 10px;
}

section.main {
    margin-left: auto;
    margin-right: auto;
    position: relative;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

section.full {
    background: $white;
    max-width: 100%;
    width: 100%;

    > div {
        margin-left: auto;
        margin-right: auto;
        padding: 30px 10px;
    }
    + section.full,
    + .placeholder section.full {
        margin-top: 10px;
    }
}
.placeholder + .placeholder section.full,
.placeholder + section.full {
    margin-top: 10px;
}

section.full + section.full {
    margin-top: 10px;
}

// Faster way to toggle show/hide than $.show()/$.hide()
.js-hidden {
    display: none !important;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: $action-positive;

    &:hover {
        text-decoration: underline;
    }
    &:not([href]) {
        cursor: pointer;
    }
}

.emaillink-wrapper {
    /* Necessary when emaillink is in a paragraph. */
    display: inline-block;
}

span.emaillink {
    direction: rtl;
    unicode-bidi: bidi-override;

    .i {
        display: none;
    }
}

noscript {
    background: $salt-flat-white;
    display: table;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;

    p {
        background: url(../img/pretty/marketplace_logo.png) 50% 48% no-repeat;
        background-size: auto 60px;
        display: table-cell;
        font-weight: bold;
        height: 100%;
        padding-top: 60px;
        text-align: center;
        vertical-align: middle;
    }
}

.row {
    clear: both;
}

.detailed-error, .fragment-error {
    background: #fff;
}

.detailed-error {
    padding: 15px;
}

.fragment-error {
    display: block;
    padding: 15px;

    b {
        display: block;
    }
}

.error-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 85vh;

    > * {
        max-width: 70%;
    }
}
.error-page-heading {
    font-weight: 100;
    margin: 0 0 15px;
    position: relative;

    &:before {
        background: url(../img/pretty/alert_triangle.svg) no-repeat 0 0 / 60px 60px;
        content: "";
        height: 60px;
        left: 50%;
        position: absolute;
        top: -75px;
        transform: translate(-50%, 0);
        width: 60px;
    }
}

#page > .overlay {
    max-width: 100%;
}

.two-up {
    width: 50%;
    float: left;

    &:nth-child(2n+1) {
        padding: 0 5px 0 0;
    }
    &:nth-child(2n) {
        padding: 0 0 0 5px;
    }
    .button {
        display: block;
    }
}

.only-logged-in,
.logged-in .only-logged-out {
    display: none;
}

.only-logged-out,
.logged-in .only-logged-in {
    display: block;
}

.spinner {
    spinner();
    &.alt {
        spinner-alt-image();
    }
    &.btn-replace {
        spinner-abs();
        top: 24px;
    }
    &.spaced {
        margin: 70px auto;
    }
    &.padded {
        padding: 70px 0;
    }
}

@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

.roll {
    animation: 0.9s spin 1 steps(30);
}

@media $retina {
    .spinner {
        spinner-base-image('retina');
        &.alt {
            spinner-alt-image('retina');
        }
    }
}

/* For Firefox for Android. */
button:not([disabled]),
input:not([disabled]),
select:not([disabled]),
textarea:not([disabled]),
option,
label,
a {
    &:active:not([data-no-transparent]) {
        background: transparent;
    }
}

// Hide the regular UI for standalone pages.
[data-page-type=standalone-loading] {
    > * {
        display: none !important;
    }
    #splash-overlay {
        display: block !important;
        opacity: 1 !important;
    }
    #splash-overlay .throbber {
        display: inline-block !important;
    }
}

.hide-on-mobile {
    display: none;
}

@media $base-tablet {
    .hide-on-mobile {
        display: block;
    }
    .hide-on-tablet {
        display: none !important;
    }
    html {
        background: $white;
    }
    section.full {
        padding: 0 0 50px 0;
    }
    .mobile-margined {
        margin-bottom: 0;
        margin-top: 0;
    }
}

@media $base-desktop {
    .hide-on-desktop {
        display: none !important;
    }
    #page {
        padding-top: 18px;
    }
    .main {
        max-width: $desktop-content;
    }
    section.full > div {
        padding: 30px 0;
        width: $max-site-width;
    }
    .container {
        &.product-details {
            margin: 50px 0;
        }
        &.prose,
        &.form-grid {
            padding: 25px;
        }
    }
    // Add padding for 1050px to 1100px.
    section.main > div {
        padding-left: 30px;
        padding-right: 30px;
    }
    body {
        // Remove padding for fixed mobile bottom nav.
        padding-bottom: 0;
    }
}

@media (min-width: 1100px) {
    // Remove the padding that we applied for 1050px to 1100px.
    section.main > div {
        padding-left: 0;
        padding-right: 0;
    }
}
