/*
    /standalone
*/
@import 'lib';

.standalone {
    ul {
        list-style: none;
    }
    li {
        padding: 3px 0;
    }
    h3 {
        text-transform: uppercase;
        margin-bottom: 15px;
    }
}
