@import 'lib';

$icon-size = 60px;
$detail-icon-size = 64px;
$info-height = 112px;
$info-width = 220px;

// Detail page.
$app-title-size = 20px;

// Currently used in author truncation.
$greater-than-mobile = unquote('(min-width: 330px)');


.mkt-tile {
    color: $castle-skull-gray;
    display: block;
    overflow: hidden;
    position: relative;
    // Any layer may overlap this.
    // https://bugzilla.mozilla.org/show_bug.cgi?id=1118367
    z-index: 1;

    &:hover {
        text-decoration: none;
    }
    .icon {
        align-self: flex-end;
        height: $icon-size;
        width: $icon-size;
    }
    .heading {
        display: flex;
        height: $info-height;
        padding-top: 12px;
        position: relative;
    }
    .tile-footer {
        clear: both;
        font-size: 14px;
        line-height: 20px;
        margin-left: -5px;
    }
    .preview-container {
        height: 150px;
        margin: 0 0 -15px -10px;  // To ignore parent's padding.
        overflow: hidden;
        padding-bottom: 5px;
        width: 300px;

        +rtl() {
            margin-right: -15px;
        }
        &.vertical {
            height: 240px;
        }
        > div {
            margin-top: 5px;
        }
    }
    .app-tile-categories {
        color: $action-neutral;
        font-size: 13px;
        list-style: none;
        margin-top: 2px;
    }
    +detail() {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    +detail--wide() {
        display: flex;
        height: 240px;
        justify-content: center;
        padding-bottom: 50px;
        position: relative;
        margin: 0 auto;
        width: 50%;
    }
    +website-detail--wide() {
        height: auto;
        width: 75%;
    }
}

[data-content-type="website"] .preview-container {
    display: none;

    +media--base-tablet() {
        display: block;
    }
}

.mkt-tile-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: unquote('calc(100% - 65px)');
    padding-right: 10px;

    +rtl() {
        padding-left: 10px;
    }
    +detail--wide() {
        flex-direction: row;
        margin-top: 65px;
        max-width: none;
    }
    + .bad-app {
        padding-top: 8px;
    }
}

.mkt-product-name {
    color: $tile-title;
    ellipsis();
    font-size: $app-title-size;
    font-weight: 200;
    line-height: 21px;
    width: 100%;

    +detail() {
        font-size: $app-title-size;
        font-weight: 300;
        line-height: 1;
        width: 100%;
    }
    +detail--wide() {
        desktop_mega();
        line-height: 40px;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
    }
    +website-detail() {
        no-ellipsis();
    }
}

.mkt-product-author {
    color: $greyscale-dark-grey;
    ellipsis();
    font-size: 15px;
    line-height: 18px;
    margin-top: 5px;
    width: 100%;

    +detail() {
        padding-left: 1px;
        width: auto;
    }
    +detail--wide() {
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        max-width: 410px;
        width: 100%;
    }
}

// Detail page.
.detail {
    .bad-app {
        padding: 14px 0 10px;
    }
    .icon {
        height: $detail-icon-size;
        width: $detail-icon-size;
    }
    .rating-link .long {
        +ltr() {
            margin-left: 12px;
        }
        +rtl() {
            margin-right: 12px;
        }
    }
    .unrated .long {
        +ltr() {
            margin-left: 0;
        }
        +rtl() {
            margin-right: 0;
        }
    }
}

.mkt-app-rating {
    color: $sailor-blue;
    display: inline-block;
    font-size: 12px;
    padding: 8px 0 16px;

    +detail() {
        margin-bottom: 2px;
        padding-bottom: 20px;
        width: fit-content;
    }
    +detail--wide() {
        font-weight: 300;
        font-size: 20px;

        +ltr() {
            margin-right: auto;
        }
        +rtl() {
            margin-left: auto;
        }
    }
    a {
        display: flex;
        text-decoration: none;

        +media--base-tablet() {
            flex-direction: row-reverse;
        }
        +rtl() {
            justify-content: flex-end;
        }
        &:hover .cnt {
            text-decoration: underline;
        }
    }
    .cnt {
        position: relative;
    }
    &.unrated, &.unrated a {
        color: $earl-gray;
    }
}

.app-header {
    .works-offline {
        background: url(../img/pretty/no-connection.svg) 0 10px no-repeat;
        background-size: auto 18px;
        display: block;
        font-size: 12px;
        line-height: 20px;  /* 18px for icon height + 2px for alignment */
        padding: 10px 10px 0 34px;  /* 34px = 24px for icon width + 10px padding */
    }

    .bad-app {
        color: $maroon;
        display: block;
        font-size: 11px;
        line-height: 12px;
    }
}

// TODO: Remove this once bug 1093264 is resolved.
// Targets "new" and "popular" pages.
.mkt-tile[data-type] > .info {
    padding-left: 0;
    position: static;
}

// Feed.
.feed-layout-list .mkt-tile {
    margin-bottom: 10px;
}

.mkt-product-heading {
    display: flex;
    flex-wrap: wrap;

    +detail--wide() {
        flex-wrap: wrap;
        width: 100%;
    }
}

// Language packs
.mkt-tile.langpack {
    align-items: center;
    display: flex;

    h3 {
        display: inline;
        flex-grow: 2;
        overflow: visible;
        white-space: normal;
    }
}

@media $base-tablet {
    .mkt-product-name {
        top: 75px;
    }
    .detail {
        .rating-link .long {
            +ltr() {
                margin-left: 0;
            }
        }
        .mkt-tile .info {
            width: 100%;
        }
    }
}

@media $base-desktop {
    .mkt-tile .rating .cnt {
        top: 1px;
    }
    .detail .mkt-tile {
        padding: 15px;

        .heading,
        .info {
            height: $detail-icon-size;

            +website-detail() {
                height: auto;
            }
        }
        .info {
            padding-left: $detail-icon-size + 10;
        }
    }
}
