@import 'lib';

$icon-size = 60px;
$detail-icon-size = 64px;
$info-height = 96px;

// Detail page.
$app-title-size = 20px;

// Currently used in author truncation.
$greater-than-mobile = unquote('(min-width: 330px)');


// Base class.
.mkt-tile {
    color: $castle-skull-gray;
    display: block;
    overflow: hidden;
    position: relative;
    // Any layer may overlap this.
    // https://bugzilla.mozilla.org/show_bug.cgi?id=1118367
    z-index: 1;

    &:hover {
        text-decoration: none;
    }
    .icon {
        float: left;
        height: $icon-size;
        width: $icon-size;
    }
    h3,
    .subdetail {
        // subdetail contains .author
        color: $tile-title;
        ellipsis();
        font-size: $app-title-size;
    }
    h3 {
        font-weight: 200;
        line-height: 20px;
    }
    .author {
        color: $greyscale-dark-grey;
        font-size: 15px;
        line-height: 18px;
        margin-top: 5px;
        width: 120px;
    }
    .heading,
    .info {
        height: $info-height;
        padding-top: 12px;
    }
    .heading {
        position: relative;
    }
    .info {
        padding-left: $icon-size + 10;
        position: absolute;
        width: 100%;

        + .bad-app {
            padding-top: 8px;
        }
    }
    .tile-footer {
        clear: both;
        font-size: 14px;
        line-height: 20px;
        margin-left: -5px;
    }
    .preview-container {
        height: 150px;
        margin: 0 0 -15px -10px;  // To ignore parent's padding.
        overflow: hidden;
        padding-bottom: 5px;
        width: 300px;

        &.vertical {
            height: 240px;
        }
        > div {
            margin-top: 5px;
        }
    }
}

// Detail page.
.detail {
    .mkt-tile {
        padding-top: 10px;
    }
    .mkt-tile h3 {
        font-size: $app-title-size;
        font-weight: 300;
        line-height: 1;
    }
    .author {
        // Vertically aligns app author to app title on the detail page.
        // TODO: Explore font rendering properties to address this.
        padding-left: 1px;
        width: auto;
    }
    .rating {
        margin-bottom: 2px;
    }
    .bad-app {
        padding: 14px 0 10px;
    }
    .icon {
        height: $detail-icon-size;
        width: $detail-icon-size;
    }
    .heading,
    .info {
        height: $detail-icon-size;
        padding-top: 0;
    }
    .info {
        padding-left: $detail-icon-size + 10;
    }
    .rating-link .long {
        margin-left: 12px;
    }
}

// Listing
// name + icon + price + rating in a vertical listview.
// also used as standalone "card" on detail pages.
.mkt-tile .rating {
    color: $sailor-blue;
    display: inline-block;
    font-size: 12px;
    padding: 8px 0;

    a {
        display: flex;
        flex-direction: row-reverse;
        text-decoration: none;

        &:hover .cnt {
            text-decoration: underline;
        }
        +rtl() {
            justify-content: flex-end;
        }
    }
    .cnt {
        position: relative;
        top: -2px;
    }
    &.unrated, &.unrated a {
        color: $earl-gray;
    }
}

.app-header {
    .works-offline {
        background: url(../img/pretty/no-connection.svg) 0 10px no-repeat;
        background-size: auto 18px;
        display: block;
        font-size: 12px;
        line-height: 20px;  /* 18px for icon height + 2px for alignment */
        padding: 10px 10px 0 34px;  /* 34px = 24px for icon width + 10px padding */
    }

    .bad-app {
        color: $maroon;
        display: block;
        font-size: 11px;
        line-height: 12px;
    }
}

// TODO: Remove this once bug 1093264 is resolved.
// Targets "new" and "popular" pages.
.mkt-tile[data-type] > .info {
    padding-left: 0;
    position: static;
}

// Feed.
.feed-layout-list .mkt-tile {
    margin-bottom: 10px;
}


// Language packs
.mkt-tile.langpack {
    align-items: center;
    display: flex;

    h3 {
        display: inline;
        flex-grow: 2;
        overflow: visible;
        white-space: normal;
    }
}

@media $greater-than-mobile {
    .mkt-tile .author {
        width: auto;
    }
}

@media $base-tablet {
    .detail .rating-link .long {
        margin-left: 0;
    }
}

@media $base-desktop {
    .mkt-tile .rating .cnt {
        top: 1px;
    }
    .detail {
        .mkt-tile {
            padding: 15px;

            .heading,
            .info {
                height: $detail-icon-size;
            }
            .info {
                padding-left: $detail-icon-size + 10;
            }
        }
        .author {
            width: auto;
        }
    }
}
