{% include "_macros/feed_item.html" %}
{% include "_macros/market_tile.html" %}

{% defer (url=api('feed-shelf', [slug]), id='shelf', as='feed-shelf', key=slug) %}
  <section class="main feed feed-landing shelf-landing">
    {{ feed_shelf(this, true) }}
    <p class="desc">{{ this.description }}</p>

    {% if this.apps %}
      <ol class="container c">
        {% for app in this.apps %}
          <li class="item result app c">
            {{ market_tile(app, link=true, src='shelf', tray=False) }}
          </li>
        {% endfor %}
      </ol>
    {% else %}
      {# L10n: Please do your best to capture the essence of Scooby Doo. #}
      {{ _("Ruh roh! No apps here, Shaggy!") }}
    {% endif %}
  </section>
{% placeholder %}
  <p class="spinner alt spaced"></p>
{% except %}
  <div class="detailed-error">
    <h2>{{ _('Oh no!') }}</h2>
    <p>{{ _('We could not load that operator shelf. Please try again later.') }}</p>
  </div>
{% end %}
